[2021-07-01 13:53] #15 closed

[2021-07-01 13:53] #213 closed

[2021-07-01 13:54] jakearchibald commented on #244
The tab title might be enough

[2021-07-01 13:55] jakearchibald commented on #1089
Happy to hear others' opinions on this, but I'd consider this low priority for the web site. Chrome already has an AVIF decoder, and Firefox will have one soon. Safari will get one eventually.

[2021-07-01 13:57] kosamari commented on #80
closing this as clean up. let's add new issues about better offline support

[2021-07-01 13:57] #80 closed

[2021-07-01 13:59] kosamari commented on #1079
Let's continue this on #1084

[2021-07-01 13:59] #1079 closed, assigned to nobody

[2021-07-01 14:23] kosamari commented on #1089
Removing help wanted label for now until we land on how we go about it :)

[2021-07-01 14:32] kosamari commented on #1040
Note: we need to discuss design work with @argyleink & this may be a larger project that needs to be broken down

[2021-07-01 14:35] kosamari commented on #1009
@surma please weigh in if this is something we want to do, if so we can make this "help wanted"

[2021-07-01 14:41] kosamari commented on #984
I do agree up and down arrows are very subtle.

![up](https://user-images.githubusercontent.com/4581495/124143014-c0b50c80-da58-11eb-8ada-e4549a0f88be.png)
![down](https://user-images.githubusercontent.com/4581495/124143027-c3176680-da58-11eb-9514-ce6dcc92febc.png)

I think this is a good suggestion - @argyleink can you chime in on UI design? :)

[2021-07-01 14:44] kosamari commented on #978
Note: This would likely be more of code investigation work. If you like that sort of work :)

[2021-07-01 14:47] surma commented on #1009
I think it is a good idea, but likely to be blocked on #900. Ideally, the man page and the README share a common source so that we don’t have to manually keep them in sync.

[2021-07-01 14:48] surma commented on #1089
I think @RReverser was looking into this on the promise that ravif was faster than the ref implementation.

[2021-07-01 14:57] kosamari commented on #975
Implementation for this button is <a> with download attribute. Which means it'll download image into disk on every click.

While I understand that it might be frustrating to see duplicate download, we are avoiding to run custom JS.
I think <a> is a good solution for us here, and this might be a browser UX issue.

[2021-07-01 14:57] #975 closed, assigned to nobody

[2021-07-01 15:05] kosamari commented on #974
Prompt showing up over save button seems not optimal and we should look at UI.

On issue of not getting update prompt again:
(@jakearchibald correct me if I'm wrong) our prompt for "update" happens when service worker received new asset, and the prompt is for "reload" to update the currently rendered version.

It should happen again if the app was reopened (in a sense that the PWA instance was ini

[2021-07-01 15:10] kosamari commented on #955
adding @surma to weigh in on if we should add this option or should be fixed in userland.

[2021-07-01 15:13] kosamari commented on #950
Merging this to #1087

[2021-07-01 15:13] #950 closed, assigned to nobody

[2021-07-01 15:14] kosamari commented on #1087
Please see use case rationale in #950

[2021-07-01 15:15] #904 closed, assigned to nobody

[2021-07-01 15:24] kosamari commented on #902
Hi, thanks for the feedback (and sorry it took us while to get back).
This is a bit of UX puzzle.

Yes, the percentage shows diff from original, but it also list the would-be size of an image based on different codec you select. So you can sort of see the size difference. I believe current set up is simplest.

[2021-07-01 15:24] #902 closed, assigned to nobody

[2021-07-01 15:26] kosamari commented on #903
Note: anyone working on this will need iOS device to test it

[2021-07-01 15:28] kosamari commented on #854
Note to contributors: this maybe investigative work

[2021-07-01 15:30] kosamari commented on #824
Note: anyone working on this will need a mouse with 3 buttons

[2021-07-01 15:38] kosamari commented on #762
Hey ya - with release of libSquoosh, you can now run squoosh programatically. Closing this for now.

[2021-07-01 15:38] #762 closed, assigned to nobody

[2021-07-01 15:42] argyleink commented on #1087
I'm thinking:
- only show this when zooming is above 100% (nice to have)
- showing an antialiasing toggle to the left of the zoom controls

i'll find an icon and make a design comp soon 👍🏻

[2021-07-01 15:45] argyleink commented on #1040
put some time on my calendar and we can chat it out 👍🏻

[2021-07-01 15:49] kosamari opened #1091 "Cap maximum zoom %"
Current app lets zoom in without max.

sort of low priority, nice-to have.

[2021-07-01 15:50] kosamari commented on #700
moving this to #1091 1091

[2021-07-01 15:50] #700 closed

[2021-07-01 15:50] Yash-Singh1 commented on #1009
Maybe a GitHub workflow using `pandoc`?

[2021-07-01 15:54] kosamari opened #1092 "Add TIFF support"
Related #687
nice-to-have

[2021-07-01 15:54] #687 closed

[2021-07-01 15:59] kosamari commented on #593
probably render message on the same position as error dialogue

[2021-07-01 16:00] kosamari commented on #585
Closing this as out of bound for the purpose of web app. I agree this is a good web app idea!

[2021-07-01 16:00] #585 closed

[2021-07-01 16:01] kosamari commented on #580
I believe this was improved with v2

[2021-07-01 16:01] #580 closed

[2021-07-01 16:04] kosamari commented on #573
I believe this one is fixed now with V2

[2021-07-01 16:04] #573 closed

[2021-07-01 16:04] Calinou commented on #824
If you don't have a 3-button mouse, you can likely use the OS' 3-button mouse emulation to emulate middle mouse button clicks (such as holding both the left and right mouse buttons at the same time). There might also be third-party software to do this.

[2021-07-01 16:05] kosamari commented on #564
Closing this issue since this is old and setup has changed significantly.

[2021-07-01 16:05] #564 closed

[2021-07-01 16:11] kosamari commented on #530
this bug still exist in v2, adding as good first issue.

[2021-07-01 16:13] kosamari commented on #516
Even though it wasn't solved with overlay, I believe V2 design made a lot clear when the image is processing, closing this now.

[2021-07-01 16:13] #516 closed

[2021-07-01 16:13] kosamari commented on #503
closing this one for now,

[2021-07-01 16:13] #503 closed

[2021-07-01 16:16] kosamari commented on #553
Closing this issue for now.
With V2 release and libSquoosh release, we've been consistent with removing EXIF data, and I'd say no-EXIF output is the direction we chose for this project.

[2021-07-01 16:16] #553 closed

[2021-07-01 16:21] kosamari commented on #272
Closing this issue since it's been open for long time. consolidate to large photo issue to #298

[2021-07-01 16:21] #272 closed

[2021-07-01 16:21] kosamari commented on #335
let's track large photo issue with #298

[2021-07-01 16:21] #335 closed

[2021-07-01 16:26] kosamari commented on #257
In V2, the spinner circles forever. It should stop and say `codec unavailable` error message.

<img width="652" alt="Screen Shot 2021-07-01 at 12 25 06 PM" src="https://user-images.githubusercontent.com/4581495/124158140-8c951800-da67-11eb-8a0d-7888818b5c2f.png">

[2021-07-01 16:29] kosamari commented on #7
adding help wanted label incase anyone wants to tackle supporting this.

[2021-07-01 16:33] kosamari commented on #84
closing this one for now.

[2021-07-01 16:33] #84 closed

[2021-07-01 16:35] kosamari commented on #101
Probably there is room for this in UI
<img width="324" alt="Screen Shot 2021-07-01 at 12 34 27 PM" src="https://user-images.githubusercontent.com/4581495/124159125-c4508f80-da68-11eb-8a98-322a13158223.png">

[2021-07-01 16:39] kosamari commented on #102
I believe this is fixed in V2.

[2021-07-01 16:39] #102 closed

[2021-07-01 16:42] kosamari commented on #130
Closing this one since component is in separate repo

[2021-07-01 16:42] #130 closed

[2021-07-01 16:42] kosamari commented on #132
closing this since the component is on separate repo

[2021-07-01 16:42] #132 closed

[2021-07-01 16:43] kosamari commented on #137
I believe we don't have this issue anymore

[2021-07-01 16:43] #137 closed

[2021-07-01 16:47] kosamari commented on #225
This one still exists ... did we ever find out if this was browser bug or our bug?

[2021-07-01 16:51] kosamari commented on #258
We haven't see: #257
We are also discussing making user choose codec as the app gets bigger.
I think we should pick "initial set" codec, and once those are ready, show installed prompt?

[2021-07-01 16:53] kosamari commented on #267
Closing this for now since UI have changed in V2

[2021-07-01 16:53] #267 closed

[2021-07-01 16:56] kosamari commented on #293
web app links to github which has sufficient license info

[2021-07-01 16:56] #293 closed

[2021-07-01 18:18] RReverser commented on #1089
It's an encoder, not a decoder.

Yeah, this.

[2021-07-01 19:51] kosamari commented on #1020
Hi all!
First of all, thank you for your patience while we set things up for this.
I've just updated our wiki with [detailed guide](https://github.com/GoogleChromeLabs/squoosh/wiki/Getting-started-on-contribution). But here is TL;DR on next steps.

1. please look at our [repo walk through](https://youtu.be/9hKJdsVqM6M) this will show you where things are and how we manage our code.
2. Pick a proje

[2021-07-01 20:25] atjn commented on #1060
That's true, but for this signal it's a clear definition of whether the encoding algorithm itself is lossy or lossless, and nothing else. This is not only the easiest classification to make, it is also the most intuitive IMO, and the correct way to do it if you want to use it to set default encoder settings.

Why is it the correct way for default encoder settings? Well, because original images tha

[2021-07-01 20:30] atjn commented on #1060
@jakearchibald I noticed you added `[lib]` to the title. I just want to make it clear that while I am implementing this for `libSquoosh` right now, the intention is that it could also be used in the webapp.

[2021-07-01 20:37] atjn commented on #951
Consider using something like [pwa-asset-generator](https://github.com/onderceylan/pwa-asset-generator) to automate this.

[2021-07-02 08:45] jakearchibald commented on #1089
Ohhhh, my bad! I didn't realise it was an encoder. Sorry.

[2021-07-02 11:27] surma commented on #7
There is nothing speaking against providing multiple PNG encoders, so this one is definitely up for grabs.

[2021-07-02 11:30] surma commented on #1092
Note: We need to check if there’s any licensing around TIFF that might prevent us from shipping support.

[2021-07-02 11:30] surma commented on #1009
I think it might be enough to add a `publish` script.

[2021-07-02 11:33] surma commented on #955
I am not sure I want the auto-increment. But I think we should error when the CLI is about to overwrite the input file, unless an `--overwrite` flag or something is defined.

[2021-07-02 15:08] AshreneRoy commented on #998
Hi! This sounds like a good issue to explore. I'd like to pick it up 🙂

[2021-07-05 11:44] RReverser commented on #1089
No worries. I'm adding the "help wanted" label back then.

[2021-07-07 06:23] otakustay commented on #1065
A singleton global `ImagePool` can prevent out of memory issue, but in some cases like webpack loader, a single global object has problem to find a suitable change to dispose, I'm afraid this can cause memory leak

[2021-07-07 19:00] fparedlo opened #1094 "Bad memory management"
**Describe the bug**
Memory and virtual memory full usage causes the process to crash.

**Expected behavior**
I would expect a better usage of the memory to avoid this issue, maybe a memory limit cap.

**Version:**
 - OS w/ version: Windows 10
 - Browser w/ version : not applicable -  squoosh/cli
 - Node version: v14.16.0
 - npm version: 6.14.11

**Additional context, screenshots, screencasts**
[y

[2021-07-07 22:10] styfle commented on #1056
@surma Which version of Node.js was it fixed in?

I was still able to reproduce with Node.js `v17.0.0-nightly202107074de6f207dc` that was built today.

[code]

[2021-07-07 22:27] surma commented on #1094
Duplicate of #1012

[2021-07-07 22:27] #1094 closed, assigned to nobody

[2021-07-08 12:06] surma commented on #1056
It was fixed is _no_ version of Node as of yet. I thought it was fixed in *v8* v9.3 (you can see your v8 version via `process.versions.v8`). But they found another bug related to this on M1, so my hunch is that we have to wait for v8 v9.4.

[2021-07-08 12:08] trm217 commented on #1056
Are these issues tracked somewhere that are publicly accessible?

[2021-07-08 14:07] surma commented on #1056
Sure: https://crbug.com/1224882

[2021-07-09 08:01] dogayuksel commented on #1092
Here is [libtiff](https://gitlab.com/libtiff/libtiff/-/tree/master)'s license/copyright: https://gitlab.com/libtiff/libtiff/-/blob/master/COPYRIGHT

libtiff's terms sound similar to [libavif license](https://github.com/AOMediaCodec/libavif/blob/master/LICENSE). Does that work for `squoosh`?

[2021-07-09 11:19] mjpieters opened #1095 "libsquoosh: Don't take the whole buffer from a view, respect byteOffset and byteLength"
**Describe the bug**
libsquoosh accepts [buffer views](https://nodejs.org/api/buffer.html), and unwraps these:

https://github.com/GoogleChromeLabs/squoosh/blob/ad5002c79cccab7291b7bbb5d9f6270087ca6d4e/libsquoosh/src/index.js#L13-L15

Tools like webpack work with these kinds of buffers, where the typed array is a view on a _larger_ buffer. However, the way libsquoosh converts views is problematic:

[2021-07-09 12:10] mjpieters commented on #1057
I can reproduce this by using https://www.fnordware.com/superpng/pngtest16rgba.png as the input; presumably it's the alpha channel that is causing issues?

[2021-07-09 17:05] argyleink commented on #218
a scroll hint can be a great way to signal an area is overflowing yep, Lea's got a great solution with local background images https://lea.verou.me/2012/04/background-attachment-local/

[2021-07-09 17:18] argyleink commented on #244
tab title is great, hard to tell if it's enough or not unless we did some user testing..

I like @kosamari's type display idea [here](https://github.com/GoogleChromeLabs/squoosh/issues/101#issuecomment-872391602). This issue (and #101) could adopt her idea by adding the file name and type, like this:

![Screen Shot 2021-07-09 at 10 14 13 AM](https://user-images.githubusercontent.com/1134620/125114

[2021-07-09 17:21] surma commented on #1056
Opened a bug on Node to backport the fix to Node 16: https://github.com/nodejs/node/issues/39327

[2021-07-09 17:49] argyleink commented on #984
Chimed! 🙂

[2021-07-09 17:53] styfle commented on #1084
Are you looking to make `@squoosh/cli` work on the web, or just `@squoosh/lib`?

[2021-07-09 19:04] surma commented on #1084
The CLI would remain a thing wapper for the command line around `@squoosh/lib`  :)

[2021-07-10 02:53] styfle commented on #1084
Great! What are the steps to get it working on the web?

[2021-07-10 03:04] styfle opened #1097 "Add function to cleanup wasm memory"
We found that Next.js had a memory leak when pooling squoosh workers.

This was patched in https://github.com/vercel/next.js/pull/23565 with this:

[code]

Then cleanup would be called in `codecs.ts`.

Any interest in adding this patch to `@squoosh/lib`?

[2021-07-11 01:41] nohe427 commented on #988
@surma - I am trying to follow along with the JSVU script you mentioned I should write, but what I feel like I want to do is import the `squoosh_resize.js` file and run that with my inputs. The challenge I am having is that the TextDecoder is not defined (I believe because its a V8 runtime rather than browser) and I am curious if this is the right approach to take with writing the jsvu script. Any

[2021-07-11 07:36] theKashey opened #1098 "ImagePool closes itself if inactive"
**Describe the bug**
Any _delay_ between `new ImagePool()` and `imagePool.ingestImage` will cause poll termination

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Pool closes only when user calls `imagePool.close()`

**Version:**
@squoosh/lib: 0.3.1

**Additional context, screenshots, screencasts**
After being created `ImagePool` enters `_readLoop` and if no comman

[2021-07-14 14:10] chromaniac2 commented on #900
Is wildcard on powershell working now? they are still giving me the error...

[code]

[2021-07-14 18:40] trm217 commented on #1056
The underlying issue is reported to be fixed as of Node 16.5.
Ref:
https://github.com/vercel/next.js/issues/24421#issuecomment-880060070

[2021-07-14 18:40] #1056 closed, assigned to nobody

[2021-07-14 18:55] blimmer opened #1101 "Default `--output-dir` to overwrite the old image"
**Is your feature request related to a problem? Please describe.**
I was surprised when the CLI tool didn't overwrite the files it was optimizing. Instead, it wrote the files to the root of my directory, where I was running the command from.

In referencing the document, I see that the `--output-dir` defaults to `.`, the location where you're running the tool from.

The current behavior is as foll

[2021-07-15 21:47] styfle opened #1102 "Corrupt webp output from png input"
**Describe the bug**
Converting a png to webp corrupts the image.

**To Reproduce**
1. Create a new directory, called `example`
2. Download [teamviewer.png](https://user-images.githubusercontent.com/229881/125861296-74f99605-b9a5-4259-8591-5e52f8c815a7.png) to `example/teamviewer.png`
3. Create `example/index.js` with the following code:
[code]
4. Change directory to `example` and run `node index.

[2021-07-16 08:38] rianadon opened #1103 "SIGBUS/SIGSEGV memory errors when resizing plus converting in some codecs"
**Describe the bug**
Running squoosh with both `--resize` and `--webp` produces a SIGBUS (Misaligned address error) on MacOS. I've reproduced this with multiple images and with different options.

With avif, I get SIGSEGV (Address boundary error) or SIGBUS, depending on how my OS if feeling.

However, I can use the resize options with `--mozjpeg` without any segfaults.

If I run without `--resize`

[2021-07-16 09:52] surma commented on #1103
Can you do me a favor and re-try on Node v16.5? An important bug fix for Wasm on arm64 landed in the last update that caused seg faults.

[2021-07-16 09:58] surma commented on #1084
Sorry for taking so long to reply.

cc @atjn as he might have opinions on this.
Also cc @ergunsh, who is working on TypeScriptifying libSquoosh, in case he has thoughts/concerns.

---

To get libSquoosh running on the web I was thinking something along these lines:

- _Remove_ the capabilities to pass file paths to `ImagePool`. Loading from the file system should be the responsibility of the CLI,

[2021-07-16 15:21] designarti commented on #301
Seems everybody willing to settle onto CLI. Since no news since December last year, I assume I'm going to stick to the ol' good ImageOptim.

[2021-07-16 15:36] atjn commented on #1084
That seems good to me. One quick note:

Being able to pass a file path directly to `ImagePool` is a pretty big nice-to-have IMO. If we have to build separate versions anyway, I would consider using the `fs.readFile` function to load images in Node, which has a lot of Node-specific nice-to-haves, including loading files directly from a path :)

I also have two questions that I think could be good t

[2021-07-16 16:48] rianadon commented on #1103
Silly me. That fixed it. Thanks!

[2021-07-16 16:48] #1103 closed, assigned to nobody

[2021-07-17 10:04] PetrusVermaak opened #1104 "squoosh cli windows conversion stuck"
Installed on Windows 10 with following cmd: `npm i -g @squoosh/cli`
Ran `squoosh-cli --webp auto pic.png`, which created pic.webp (but it was larger than original png
Then tried `squoosh-cli --webp '{"quality":75}' pic.png`
It starts but is stuck on 1 thread, even after 30 min:
0/1 | ▐▨▨▨▨▨╌╌╌╌╌▌ Encoding (8 threads)
 pic.png: 15.66KB(node:13288) UnhandledPromiseRejectionWarning: Cannot use 'in' o

[2021-07-18 02:03] theKashey opened #1105 "Display Butteraugli value in app"
The `auto` compression feature is pretty neat, but it's quite hard to understand which butteraugli target value is required to archive the desired output.

I was playing with it a little, and first of all the default `1.4` results in might be a little too high quality images, almost without any compression. Values _somewhere_ between 2 and 4 play better, but target number can be different dependin

[2021-07-18 15:58] hyoretsu commented on #1077
Bump, trying to use this to replace [imagemin](https://github.com/imagemin/imagemin) with TypeScript, but it doesn't have types so I can't even IntelliSense what options/properties are available.

[2021-07-18 22:39] surma commented on #1077
That’s more a question of documentation than TypeScript tbh. Feel free to take a look at the options object in [`codecs.ts`](https://github.com/GoogleChromeLabs/squoosh/blob/ad5002c79cccab7291b7bbb5d9f6270087ca6d4e/libsquoosh/src/codecs.ts#L251-L427).

[2021-07-18 23:47] hyoretsu commented on #1077
Having a list of properties/arguments (that work with IntelliSense) and their types is sorta documention, but also one of the purposes of TS. Some even go as far as adding a description to everything, making it even more like a built-in documentation.

Linking to that specific object does help way more than what's currently in the docs though.

[2021-07-19 10:15] surma commented on #1077
Yeah, we know documentation is a weak point and we are working on that. Fwiw, we do link to `codecs.ts` from the README of libsquoosh.

[2021-07-19 10:21] surma commented on #1104
What is your Node version? Can you make sure you are using the latest Squoosh CLI by using `npm i -g @squoosh/cli@latest`? Does the problem still occur?

[2021-07-19 11:54] PetrusVermaak commented on #1104
Hi @surma
My node version is v14.15.4. I ran `npm i -g @squoosh/cli@latest`, but still get the same error.

[2021-07-19 12:10] surma commented on #1098
Hey @theKashey,

what Node version are you using? I can’t reproduce this bug. Even waiting for a whole second does not break the library for me. I used this code to test:

[code]

The code snippet you linked to, where `_terminateAll()` is called, is only called once the `jobQueue` is _closed_. If there is no job in the queue, await `reader.read()` will block. So there is no auto-closing.

[2021-07-19 12:14] surma commented on #1104
Thanks, @PetrusVermaak.

I can’t reproduce this on MacOS or Linux. So I guess this is an issue with Windows. I don’t have a machine at hand, so if anyone wants to help here, that’d be awesome.

[code]

[2021-07-19 12:16] surma commented on #988
Ah, that’s a good point @nohe427. Didn’t think about that.

I have actually learned since that Node exposes the same flags! So you can just do `node --no-liftoff` etc. Maybe that’s a way forward?

[2021-07-19 12:17] surma commented on #1097
Interesting! Definitely interested in patching the leaks. While this is not an ideal solution, it’s better than leaving the leaks. So happy to accept an PR for this, although we should open a separate issue to investigate where we are leaking at some point.

[2021-07-19 22:30] jcao219 commented on #1104
Windows here!

Funny, I tried first to reproduce on Powershell and there was no issue.

[code]

Then, I opened a regular Command Prompt and found that I could reproduce it.

The problem `TypeError: Cannot use 'in' operator to search for 'lossless' in {quality:75}`:
* does not occur in powershell (weird!)
* also occurs in node version 16.4.0
* has the full stack trace:

[code]

Hmm, so further inve

[2021-07-19 22:40] jcao219 commented on #1104
It appears that in the Windows Command Prompt, single quotes are simply parsed as an ordinary character. So the command is the equivalent of doing in Powershell or even a POSIX Shell something like:  `npx @squoosh/cli --webp "'{quality:75}'" heaps.png` which reproduces the original error, `Cannot use 'in' operator to search for 'lossless' in {quality:75}`

We should do better CLI arg validation in

[2021-07-20 00:23] theKashey commented on #1098
Yep, you are absolutely right
- created a sandbox(`node 14` and squoosh 0.3.1) https://codesandbox.io/s/frosty-tree-r669m?file=/src/index.js and it's working perfectly
- Running the same locally with `node 16` - working perfectly
- Running again [the code which caused the problem](https://github.com/theKashey/holistic-image/blob/e9825c94731e03138bc7dd41710df0475118f612/src/generator/derive-images.

[2021-07-20 07:11] PetrusVermaak commented on #1104
@jcao219 PowerShell!! That worked!! Still cannot get your `npx @squoosh/cli --webp "{\"quality\":75}" heaps.png` to work on Windows cmd, but happy that I can get `squoosh-cli --webp '{"quality":75}' heaps.png` to work on PowerShell.

Sorry for asking, but how would I convert all jpg and png and output them in the same folder? I tried: `squoosh-cli --webp '{"quality":75}' ./*.*` but no go. Am new t

[2021-07-20 07:13] PetrusVermaak commented on #1104
And just a big thank you to @surma and @jcao219 for the awesome support and helping a total noob. Much appreciated!!!! :D

[2021-07-21 15:00] surma commented on #1102
Quick update: Can reproduce the bug in our PNG decoder that we use in Node (on the web we can ask the browser to decode the image for us). Our decoder doesn’t handle 16-bit images, which is why this one is getting corrupted.

[2021-07-21 16:03] #1102 closed, assigned to nobody

[2021-07-21 16:19] surma commented on #1102
Fixed in v0.4.0 of libsquoosh :)

[2021-07-21 22:36] styfle commented on #1084
I think puppeteer would be too bloated. Instead, we should strive to make libSquoosh to work on both the web and node.js using isomorphic/universal JS.

[2021-07-22 09:17] ergunsh commented on #1084
Sorry for taking a late look 😅

I think there is one more thing we need to consider while making libSquoosh available on web: usage of `worker_threads` which is only available in NodeJS. So, we'll need to replace it with web workers on web.

[2021-07-22 13:36] styfle commented on #1084
Without looking at the code, it might make more sense to reduce the scope of libsquoosh be the bare minimum for optimizing images. Meaning no workers, just plain JS thats compatible everywhere (as opposed to polyfilling each possible runtime).

Then it can serve as the foundation for which node, deno, web, etc wrap around and provide features like workers, etc.

Although I admit I might be misunde

[2021-07-22 14:09] atjn commented on #1084
I believe we have talked about maybe releasing every encoder/decoder as its own package. Those packages could probably work across all runtimes.

Other than that, I don't think you can produce any meaningful piece of code that can run across all runtimes. Even just loading the encoders/decoders will require runtime-specific APIs.

[2021-07-22 17:12] jcao219 commented on #1104
@PetrusVermaak Wildcards are not quite working yet on Windows, see #973.

[2021-07-23 12:31] surma commented on #1084
I can see that. In retrospect, my envisioned API actually covers this quite easily. So let’s keep that for now :D

I don’t _think_ it does. See below! But please continue voicing your concerns, if there are any!

Very very long term, _maybe_. For now, no.

+1

---

Let’s iterate with a concrete API proposal:

I like the idea of providing very thin convenience wrappers from Deno, Node and Web out o

[2021-07-23 21:56] styfle commented on #1084
I'm curious, if the website isn't using libSquoosh, then what is it using today?

Like this? https://github.com/cyrilwanner/wasm-codecs

[2021-07-25 09:33] shohinrahmonov opened #1108 "Integrate with graphql api"
**Describe the bug**
tried to integrate with my backend graphql api but i got the following error
<img width="687" alt="Screenshot 2021-07-25 at 5 31 15 PM" src="https://user-images.githubusercontent.com/22424923/126894535-528b2720-2ac7-4693-93bd-b398b974802e.png">

[2021-07-25 10:08] PetrusVermaak commented on #1104
For those who want to batch on Windows 10:
Finally managed to get macOS going on vmware, installed node.js from [https://nodejs.org/en/download/](url) and batch cmd `squoosh-cli --webp '{"quality":75}' ./*.*` is working!! Yea it's ugly but it works...

@surma & @jcao219 When wildcards are fixed on Windows 10, please let us know! :D

[2021-07-25 17:12] surma commented on #1108
Can you put a reproduction sample in a gist?

[2021-07-25 21:57] atjn commented on #1060
@surma I found a different solution to my own use case that I think works just as well. I still think this feature would be useful for Squoosh itself, so I'm happy to complete it if you want me to, but otherwise feel free to close this issue :)

[2021-07-25 22:38] atjn commented on #1084
The website is using the same wasm codecs as libSquoosh, but it bypasses libSquoosh and uses the codecs directly. If it was to instead ask libSquoosh to compress the images, then we wouldn't have to write separate logic for both web and lib for instantiating and controlling a compression process (which would, at least in theory, be easier to understand and maintain).

Exactly like that, although i

[2021-07-25 23:06] brigazvi opened #1109 "jxl effort slide give unpredictable results"
on jxl, effort 1 beats effort 6, in a lot of scenarios, in terms of file size (especially in progressive decoding mode). even in lossless. it takes much less time but it gives smaller files.

**To Reproduce**
Steps to reproduce the behavior:
1. open an image.
2. choose jxl.
3. turn progressive rendering on.
3. choose effort 1.
4. choose effort 6.
5. compare them.
6. fill the difference.
7. ask you

[2021-07-25 23:31] surma commented on #1109
cc @jonsneyers @veluca93

[2021-07-25 23:34] surma commented on #1109
Note that this is only reproducible with “Progressive Rendering” enabled, which I _believe_ is a known bug in the current JPEG XL encoder.

[2021-07-26 11:08] surma commented on #1084
The main reason that the PWA does not use libSquoosh is that the PWA came first :D

Another reason is that the PWA has different constraints: We are only ever processing exactly one image, one worker per side of the split view, and each worker only ever processes one compression job. If a change comes in, the worker gets hard-interrupted and a new one gets created. We also make extensive use of la

[2021-07-26 14:10] shohinrahmonov commented on #1108
@surma here please https://gist.github.com/shohinrahmonov/5f25629ee4ac10dde5f692078fa8f564

[2021-07-26 14:31] styfle commented on #1084
The purpose of this issue, "Make it run on the web", would have many of the same constraints and https://squoosh.app

I think its imperative to get https://squoosh.app using the same code published here.

Otherwise, other consumers whether thats web/node/deno will not match squoosh.app because its not truly [dogfooding](https://en.wikipedia.org/wiki/Eating_your_own_dog_food).

Sounds good to me 👍

[2021-07-26 15:23] surma commented on #1108
That’s not a reproduction sample. That’s a code snippet. I need something I can run to reproduce the error locally. What Node version are you running?

[2021-07-26 15:27] surma commented on #1084
In the long term, I agree. But step one for me would be to just make it run on the web. Then make it “right”. Then integrate it with the PWA. I don’t want to take all these steps at once to avoid extensive mental gymnastics in the code reviews.

[2021-07-26 16:40] styfle commented on #1084
Ok I can implement the [proposed API](https://github.com/GoogleChromeLabs/squoosh/issues/1084#issuecomment-885605209) 👍

Do I need to wait for the "[TypeScriptifying libSquoosh](https://github.com/GoogleChromeLabs/squoosh/issues/1084#issuecomment-881328237)" PR to land first?

[2021-07-26 16:47] surma commented on #1084
Amazing. Thank you so much, @styfle.

I am not sure if @ergunsh is _currently_ actively working on the Typescriptification, but I’d say get going! We can always resolve the conflicts. Don’t want to block either of you :)

[2021-07-27 02:43] styfle commented on #1084
I converted the remaining JS to TS in PR #1110

[2021-07-28 20:34] LucaDCS commented on #916
For me, works without the star, just like these:

npx @squoosh/cli --mozjpeg {"quality":60} -d NEW ./

![image](https://user-images.githubusercontent.com/77304273/127391713-01318ae3-cd92-46e5-a5fc-5a3db2d79d3d.png)
![image](https://user-images.githubusercontent.com/77304273/127391735-a2766d85-6a73-438e-b5e9-4cfca169bad5.png)
Windows 10.
Node v14.15.1
Squoosh CLI version:  v0.7.2

[2021-07-28 20:55] LucaDCS commented on #916
For me works without the star, just like these:

npx @squoosh/cli --mozjpeg '{"quality":60}' -d NEW ./

![image](https://user-images.githubusercontent.com/77304273/127394406-f06ef2da-9f61-49d8-92d9-689a68757fb9.png)

To do it from .bat you have to do it without the single quotes, like this:

npx @squoosh/cli --mozjpeg {"quality":60} -d NEW ./
![image](https://user-images.githubusercontent.com/7730

[2021-07-28 21:00] LucaDCS commented on #916
For me works without the star, just like these:

npx @squoosh/cli --mozjpeg '{"quality":60}' -d Squooshed ./

![image](https://user-images.githubusercontent.com/77304273/127395223-c0ffef4d-9807-4da4-962a-c84dd3a53ec0.png)

BTW, To do it from .bat you have to do it without the single quotes, like this:

npx @squoosh/cli --mozjpeg {"quality":60} -d Squooshed./
![image](https://user-images.githubuser

[2021-07-28 21:02] LucaDCS commented on #916
For me works without the star, just like these:

npx @squoosh/cli --mozjpeg '{"quality":60}' -d Squooshed ./

![image](https://user-images.githubusercontent.com/77304273/127395475-ceb8c9c7-f9a1-43c2-aff1-ac19e35f8a0d.png)

BTW, To do it from .bat you have to do it without the single quotes, like this:

npx @squoosh/cli --mozjpeg {"quality":60} -d Squooshed ./

![image](https://user-images.githubus

[2021-07-29 08:02] ChucKN0risK commented on #1057
I have the same issue.

[2021-07-29 09:22] surma commented on #1057
@mjpieters Your image seems to be 16bit. This should have been fixed in the most recent release of the Squoosh CLI.

@datacorruption Does your problem still occur with the most recent release of the Squoosh CLI?

@ChucKN0risK Can you provide a sample image?

[2021-07-29 09:40] ChucKN0risK commented on #1057
Sample image
![2021_07_29-sources-light](https://user-images.githubusercontent.com/3913276/127469527-aaa72150-de93-4b08-9856-08a304098b55.jpg)

Bug screenshot
![CleanShot 2021-07-29 at 11 38 57](https://user-images.githubusercontent.com/3913276/127469553-971105dc-8c80-45e6-b2f3-bc5bf27c1b5e.jpg)

[2021-07-29 10:34] surma commented on #1057
@ChucKN0risK Thank you! I think your CLI invocation might be slightly incorrect.
Can you try again and replace `--webp --mozjpeg` with `--webp '{}' --mozjpeg '{}'? If that fixes it, then it’s “just“ a matter of parameter parsing that needs fixing.

[2021-07-29 14:10] Monkey1GIt commented on #1104
I can work  on cmd of Windows 10 as @jcao219 said, using the command like:
`npx @squoosh/cli --mozjpeg "{\"quality\":80,\"baseline\":false,\"arithmetic\":false,\"progressive\":true,\"optimize_coding\":true,\"smoothing\":0,\"color_space\":3,\"quant_table\":3,\"trellis_multipass\":false,\"trellis_opt_zero\":false,\"trellis_opt_table\":false,\"trellis_loops\":1,\"auto_subsample\":true,\"chroma_subsam

[2021-07-29 18:30] datacorruption commented on #1057
@surma Updated to the latest version of the squoosh cli and re-ran the command from my initial post on the exact same file that was originally causing this issue. Can confirm that it is now working!

Looking through this thread, after seeing the comment from @mjpieters and your response, I checked and it appears that the file that was giving us a problem was also a 16-bit png.

Also tested with th

[2021-07-29 18:30] #1057 closed, assigned to nobody

[2021-07-29 23:15] ChucKN0risK commented on #1057
@surma It works thanks. However errors still show up.
![image](https://user-images.githubusercontent.com/3913276/127577182-1ab3f239-1dea-44d1-b184-4d5268cf7531.png)

[2021-07-30 16:03] NoamRa commented on #1064
Started digging into this and it doesn't look like the problem is with how `setTransform`.
* [This matrix](https://github.com/GoogleChromeLabs/squoosh/blob/d526877147990cf71e4dc4c0ff02797e034f586e/src/client/lazy-app/Compress/Output/custom-els/PinchZoom/index.ts#L208) contains very low negative numbers for x and y values ( matrix's content example: `a: 9.99999985098839, b: 0 ,
c: 0 , d: 9.99999985

[2021-07-31 16:50] chenaski opened #1111 "AVIF multithread error & performance"
**Describe the bug**

`@squoosh/lib@4.0.0`

- Total time: ~5s (30 images)
- Error when the number of images exceeds 34: `"WebAssembly.Memory(): could not allocate memory"`

`@squoosh/lib@0.3.1`

- Total time: ~1s (30 images)

Everything works fine if I comment these lines: https://github.com/GoogleChromeLabs/squoosh/blob/d526877147990cf71e4dc4c0ff02797e034f586e/libsquoosh/src/codecs.ts#L340-L346

[2021-07-31 18:51] surma commented on #1111
This is likely a dup of #1012

[2021-08-03 07:55] chenaski commented on #1111
Yes, it looks like, but in my case, I process the images one by one and I still get a memory error. And even if I found a workaround, it is still very slow on my local machine. With threads support for avif the speed should have increased, maybe the problem is specific to my working machine/os?

[2021-08-03 11:48] surma commented on #1111
Seems like we might have a memory leak in our AVIF encoder then. cc @RReverser

In Node 16.4+ it should have, yeah :-/

[2021-08-03 16:08] RReverser commented on #1111
I'm not very familiar with libsquoosh API. Does the above snippet look correct otherwise e.g. there is no need to explicitly free `image` or remove it from the pool or anything like that?

Is this issue reproducible on squoosh.app too?

[2021-08-04 14:59] chenaski commented on #1111
I tried to disable threads in squoosh.app and the AVIF encoding time increased from 7 to 20 seconds 😕

[2021-08-04 15:18] surma commented on #1111
Turns out threads are useful :D

The code is alright. The `image` is a copy of the compression result in the worker. The web app often kills workers. libSquoosh re-uses the same wasm instance over and over. So the PWA is working around the leak, if there is any.

[2021-08-09 11:03] PaulKinlan opened #1116 "Add link rel canonical to the rendered HTML"
When checking the Search Console for seeing how y'all are doing, I see about 9,000 duplicated pages and when I look at the results it's because there are heaps of query strings being used to launch squoosh.  If they don't generate different output it might be worthwhile putting `<link rel="canonical" href="https://squoosh.app">` in the head element.

[2021-08-09 12:21] surma commented on #1116
cc @mikedelgaudio do you fancy adding this to your PR?

[2021-08-09 14:11] mikedelgaudio commented on #1116
@surma sounds good

[2021-08-12 13:49] Draghmar opened #1119 "Cannot find module: avif_node_enc_mt.worker-be931951.js [Windows]"
**Describe the bug**
I wanted to try running cli on Win10 but I got error:
[code]
I did try to run `npm i -g @squoosh/cli@latest` and `npx @squoosh/cli`. In both cases the result was the same.

**Version:**
 - OS w/ version: Win10 Pro
 - Node version: v16.6.2
 - npm version: 7.20.5

[2021-08-12 22:01] surma commented on #1119
@jcao219 Do you think you can take a look at this?

[2021-08-12 22:16] jcao219 commented on #1119
Interesting bug! I'm able to reproduce this on Windows 10 also. The same line works on WSL. I'll look deeper into it tomorrow.

[2021-08-13 15:50] jcao219 commented on #1119
The problem may come from this line:

https://github.com/GoogleChromeLabs/squoosh/blob/816d1f92fdd60c4492cf55d75d729db40f64bb0e/libsquoosh/src/emscripten-utils.ts#L22

`workerJS` is something like `file:///C:/some/windows/stuff/worker.js`

This is valid, but `new URL(workerJS).pathname` becomes `/C:/some/windows/stuff/worker.js` which gets wrongly interpreted as `C:\C:\some\...` (notice the double

[2021-08-14 09:19] j-maas commented on #1084
I just ran into a tricky bug with the pool when used with another library that uses workers (an `ImagePool` worker picked up a message from the `parentPort` that was supposed to go to another worker). So forked the lib and stripped out the `ImagePool` which resolved the issues (it's a pretty brute force solution, admittedly).

But I thought that it might be worth providing a pool-less API and not

[2021-08-14 09:31] j-maas commented on #1084
If you're curious about my changes, they are available at https://github.com/Y0hy0h/squoosh/commit/3e1759613e8f7e1a07eb63beb323110fd1e832e0.

[2021-08-14 09:31] Y0hy0h commented on #1084
If you're curious about my changes, they are available at https://github.com/Y0hy0h/squoosh/commit/3e1759613e8f7e1a07eb63beb323110fd1e832e0.

[2021-08-14 21:47] Nantris commented on #1101
Would love to see this feature! I don't think it should be the default output source though, too easy to accidentally overwrite. Maybe a flag, like `--overwrite-inputs`.

[2021-08-14 23:05] Nantris commented on #973
Any update on glob support? I had thought it was already supported from reading some other comment, but I guess not.

Even being able to do `./icons/*.png` would be a huge help, and a lot easier than full glob support. Implementing Squoosh for even our simple use case was very difficult due to the rigidness of the API.

It's a great project, I really hope this is added!

[2021-08-15 00:20] Nantris commented on #1076
@surma it would be great if Squoosh supported (visually imperceptible) lossy PNG compression as some other tools do. They only save a 2-5% more in file size (in my very limited testing,) but that's roughly on par with what the lossless compression so together they're pretty potent.

[2021-08-15 07:35] jakearchibald commented on #1076
@Slapbox can you give an example of one of these tools? Are you sure it's not just palette reduction?

[2021-08-15 14:36] K0-RR opened #1121 "Some help / Better docs / Usage examples needed."
I tried `squoosh-cli --oxipng -arvZt8 -o max --strip all --fix 'dir'` and got `error: unknown option '-arvZt8'`.
Then tried `squoosh-cli --oxipng [-arvZt8 -o max --strip all --fix] 'dir'` - `error: unknown option '-o'`.

Using oxipng standalone like that (`oxipng -arvZt8 -o max --strip all --fix 'dir'`) works fine.

What did I do wrong?

[2021-08-15 21:55] surma commented on #1121
Closing this as it’s effectively a dupe of #900.

Squoosh is not the same as OxiPNG, just uses OxiPNG under the hood. For an example invocation of the CLI, I recommend using the [web app](https://squoosh.app) and clicking the “Copy NPX command” button:

<img width="301" alt="Screenshot 2021-08-15 at 22 53 11" src="https://user-images.githubusercontent.com/234957/129493904-2547548f-6d34-4f28-beb9-4

[2021-08-15 21:55] #1121 closed, assigned to nobody

[2021-08-16 08:24] jakearchibald commented on #1076
I've seen tools that try and make the image more predictable for non-paletted PNG (kinda like WebP's 'slight loss'), but the results are pretty bad. However, if folks are aware of a tool that does it well, speak up, and we'll take a look.

[2021-08-16 09:29] surma commented on #1119
@jcao219 Probably an oversight? Me trying to be clever? Either way, we should fix it. Do you fancy whipping up a PR (allowing you to make sure it’s actually fixing the problem at hand)? Thanks for looking into this!

[2021-08-16 10:27] yogeshbeniwal opened #1122 "Integrate with WordPress media upload"
Such an amazing tool Squoosh is, can do so much help for huge numbers of users if integrated with WordPress media upload workflow

**Is your feature request related to a problem? Please describe.**
Currently users have to do extra 1-2 steps before uploading images to WordPress

**Describe the solution you'd like**
Integrate Squoosh with WordPress media upload for automatic conversion on upload, vi

[2021-08-16 10:51] surma commented on #1122
cc @adamsilverstein :)

[2021-08-16 17:31] ghost commented on #1065
Is there any release/commit which we can revert to, to mitigate this? If not, this needs to be fixed as soon as possible. I personally am experiencing this on Node 16 on the latest release to npm as well as the commit here on the dev branch. This is  preventing me from transcoding images from PNG to WebP/AVIF in webpack and seriously hindering my development plans. (There are other libraries for i

[2021-08-16 18:19] Nantris commented on #1076
@jakearchibald for now all I can offer is the "Expert mode" on https://kraken.io. For our particular use case, which is logos/icons/other in-app media, setting a PNG quality of 80 yielded an additional 34.3% savings compared to Squoosh alone. Using their default "Lossy" option saves nothing though.

The quality level of 80 is probably not good for photos, but for our use case I can't tell a differ

[2021-08-16 18:49] jakearchibald commented on #1076
Can you give me a PNG optimised with that service?

[2021-08-16 18:56] Nantris commented on #1076
@jakearchibald here's an Imgur album with before/after https://imgur.com/a/CahsJOs

For reference, I believe that before Squoosh the original file was 246kb.

[2021-08-16 19:10] jakearchibald commented on #1076
Can you share it on GitHub (just drag it into the comment field)? Imgur is recompressing it.

[2021-08-16 19:29] Nantris commented on #1076
Ah I was concerned Github would recompress so I tested on Imgur and it didn't seem to. Something, something, the best laid plans of mice and men.

**Here are the files:**

### Squoosh + Kraken - Quality 80:

![icon-1024x1024-@5x](https://user-images.githubusercontent.com/6835891/129618765-0d42f1f6-bbc4-41ab-a855-40061d989ca6.png)

### Squoosh only:

![icon-1024x1024-@5x](https://user-images.github

[2021-08-16 19:35] jakearchibald commented on #1076
Yep, this looks like palette reduction to me, which Squoosh can already do.

[2021-08-16 19:36] jakearchibald commented on #1076
Here's a version from Squoosh that's only 80kb:

![129618765-0d42f1f6-bbc4-41ab-a855-40061d989ca6 (1)](https://user-images.githubusercontent.com/93594/129619779-f10d9e70-a2d2-459c-8384-fa904aa39220.png)

[2021-08-16 19:47] xfalcox commented on #1122
Kinda what we did in Discourse:

https://blog.discourse.org/2021/07/faster-user-uploads-on-discourse-with-rust-webassembly-and-mozjpeg/

[2021-08-16 19:55] Nantris commented on #1076
Ah apologies for the misunderstanding @jakearchibald. I thought the savings we were already seeing were from palette reduction, especially since other automated tools that rely on palette reduction weren't reducing the size any further.

Can you possibly point me to the docs for Squoosh or Oxipng that relate to enabling that? I'm probably overlooking some obvious source, but can't find any particu

[2021-08-16 19:57] Nantris commented on #1076
Agh nevermind, `--quant`. Found it via the `squoosh-cli --help` feature, but didn't see it mentioned anywhere on the web. Thank you again for your help and sorry again about that.

[2021-08-16 20:29] Nantris commented on #976
@jakearchibald - confirming this issue. Passing `maxNumColors` has no effect on the output. `numColors` works as expected.

[2021-08-16 20:53] styfle commented on #1084
@surma I created #1123, but we can't use a async `loadFile()` unless we want to make `ingestImage()` async as well.

[2021-08-16 21:31] #1076 closed, assigned to nobody

[2021-08-17 08:57] jakearchibald commented on #1076
Confirmed, the version from kraken has 20 colors, whereas the original has 251.

Of course, the best way to optimise an image like this is to make it smaller. It's currently 5120x5120. A 1700x1700 version of this, encoded as AVIF (without palette reduction) is less than 8kb https://cdn.glitch.com/2f4b4e08-395c-470d-aad5-9ba01f7c4597%2Fsquoosh.avif?v=1629190647484

[2021-08-17 11:09] jakearchibald opened #1124 "Double building while in dev mode"
I noticed double builds when editing `Intro/index.tsx`. I need to track down why & fix it.

[2021-08-18 06:45] lx1054331851 opened #1125 "npm run build error"
[code]

[code]

[2021-08-18 10:10] jakearchibald commented on #1125
Can you build with node 14.15.1? (that's the version in our nvmrc)

[2021-08-18 10:22] chris-kruining commented on #430
by extension it would also be awesome to be able to batch convert in the UI, like open 10 images for example and convert all of them to webp with the same settings

[2021-08-20 21:01] styfle commented on #1077
@ergunsh Thoughts on this one?

I think we can do something like `tsc --declaration --emitDeclarationOnly --declarationDir build` to generate the `.d.ts` files and publish those to npm.

[2021-08-22 19:25] Vishalghyv opened #1129 "Subsample chrome by input causes processing error when changed"
**Describe the bug**
Subsample chrome by input causes processing error when value changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any image in squoosh app
2. Deselect Auto subsample chroma
3. Change 'Subsample chrome by' value
4. See error

**Expected behavior**
No error should be shown and Even if there is it should not be [object Object]

**Version:**
 - Ubuntu 18.04
 - Chrom

[2021-08-23 08:38] jakearchibald commented on #1129
I can recreate this. It only happens with subsample values of 3 or 4.

[2021-08-23 08:46] jakearchibald commented on #1129
Looks like this bug was introduced in 912c1fac0865cc708476057ccadb82c3289e7245.

[2021-08-23 13:02] jakearchibald commented on #1125
Closing. Happy to reopen if more details are given.

[2021-08-23 13:02] #1125 closed, assigned to nobody

[2021-08-23 13:03] jakearchibald commented on #1091
Fixed in https://github.com/GoogleChromeLabs/squoosh/pull/1128

[2021-08-23 13:03] #1091 closed, assigned to nobody

[2021-08-23 16:23] nohe427 commented on #988
@JNavas2 - Are you still able to repro? I am not able to on my Pixel 5

[2021-08-23 16:24] adamsilverstein commented on #1122
Hey @yogeshbeniwal thanks for the issue. I've been thinking along the same lines, in part to get support for more modern formats into WordPress installs where the backend doesn't support those formats.  I am tracking the work here: https://github.com/adamsilverstein/modern-images-wp/issues/18

@xfalcox Very cool! In WordPress we always upload the user's original image because the system may need t

[2021-08-23 16:43] JNavas2 commented on #988
I checked, and I still get the error on my Pixel 4a 5G.
I also get the error in Edge.

[2021-08-24 13:55] jakearchibald commented on #905
Fixed in 14c3d190e9c7c0d324e0ce9c3b6c60ec904cdf3a

[2021-08-24 13:55] #905 closed, assigned to nobody

[2021-08-25 08:08] #1116 closed, assigned to nobody

[2021-08-25 08:25] #903 closed, assigned to nobody

[2021-08-25 12:45] MorganSchmiedt opened #1135 "Squoosh no longer works"
**To Reproduce**
1. Go to https://squoosh.app (page loads fine)
2. Load an image (or click on one of the demo images)
3. Page hangs

This issue occurs both on Firefox v99 and Chrome v92.
Firefox console says : `Uncaught (in promise) TypeError: this.observer is undefined [...] componentWillUnmount`
Chrome console says : `Cannot read property 'disconnect' of undefined [...] at ne.componentWillUnmoun

[2021-08-25 13:08] jakearchibald commented on #1135
Aha! This happens if you have `prefers-reduced-motion: reduce`. Thanks for reporting. Fix out soon.

[2021-08-25 13:11] #1135 closed, assigned to nobody

[2021-08-25 13:14] jakearchibald commented on #1135
Thanks for reporting. The fix has deployed. Next time you visit Squoosh, it'll tell you there's an update available. When you press "reload", it'll give you the version with the fix. Let me know if it doesn't work.

[2021-08-25 15:29] argyleink commented on #1087
![alias-icon](https://user-images.githubusercontent.com/1134620/130819831-ce75ba84-1330-4a76-b51a-24877abdcf5e.png)

[2021-08-26 13:29] #1129 closed, assigned to nobody

[2021-08-28 00:17] ziemek99 commented on #85
You're right, MozJPEG disables it at qualities >= 90. You can use [this image](https://user-images.githubusercontent.com/15923635/131199794-8691214a-52dc-42bd-af9c-1fecbae7297d.png) to make sure, it'll get **darker** if chroma subsampling is enabled.

[2021-08-28 00:42] ziemek99 commented on #1109
This is known JPEG XL bug, see: [wg1/jpeg-xl#204](https://gitlab.com/wg1/jpeg-xl/-/issues/204), libjxl/libjxl#235.
I suggest closing this issue since [libjxl](https://github.com/libjxl/libjxl) is here at fault, not Squoosh.

[2021-08-28 06:59] #1109 closed, assigned to nobody

[2021-08-29 23:12] TheWay33 opened #1137 "Help"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2021-08-29 23:13] TheWay33 commented on #1137
Thanks

[2021-08-29 23:57] christiananagnostou commented on #1020
Hey there!
I'm interested in contributing to UI and CLI issues. I can work comfortably with JS, Node, TS, and React. Looking forward to improving such an awesome app.

[2021-08-30 07:22] #1137 closed, assigned to nobody

[2021-08-30 12:37] Th3S4mur41 commented on #973
Same here...
`squoosh-cli --webp auto icons/android*.png` works fine when executed directly in bash/WSL but not on Windows (e.g. from a script in package.json)

[2021-08-30 20:39] jcao219 commented on #1119
Sorry for the delay! My PR should fix it: #1138

[2021-08-31 12:34] #1119 closed, assigned to nobody

[2021-08-31 13:55] Vishalghyv commented on #1087
Fixed by #1132

[2021-08-31 13:59] #1087 closed, assigned to nobody

[2021-08-31 14:08] jakearchibald commented on #736
I'm going to write "set background color" to this issue to make it easier to search for

[2021-08-31 14:34] jakearchibald commented on #736
For the first version of this, let's stick to setting a background image.

This would be a 'processor', similar to "resize" and "reduce palette". In the UI it would appear before "resize", and the processing would happen in that order too (so the background would be set before resizing).

The UI for this would use `<input type="color">`.

I think it's ok for the initial implementation to use a `<c

[2021-08-31 14:39] jakearchibald commented on #819
This can reuse the current palette reducer, but before it's called, create a copy of the image and set all the RGBs to a single color. Then apply the alpha channel of the result back to the original image.

[2021-09-01 12:31] beaufortfrancois opened #1139 "Remove WebAssembly SIMD origin trial token"
Since WebAssembly SIMD origin trial ended, it is no longer useful to have this token in https://squoosh.app.

![image](https://user-images.githubusercontent.com/634478/131671354-1f0d0773-6aae-4634-8a1a-301c5ffdeaee.png)
*DevTools Screenshots*

Note that WebAssembly SIMD has shipped in Chrome 91 according to https://www.chromestatus.com/feature/6533147810332672

[2021-09-01 12:35] surma commented on #1139
Assigning to @RReverser. Not urgent, but we should fix this eventually.

[2021-09-01 12:40] beaufortfrancois commented on #1139
I have a quick PR for this at https://github.com/GoogleChromeLabs/squoosh/pull/1140

[2021-09-02 15:45] BuyMyMojo commented on #795
Added in #1132

[2021-09-02 15:45] #795 closed, assigned to nobody

[2021-09-03 12:12] ergunsh commented on #1077
Totally @styfle! :)

I was a bit skeptical to expose the types before improving the type definitions for `preprocess` and `encode` functions since those take some complicated parameters and providing ts types without them felt a bit meaningless.

So, I created a PR to add the parameter types to those https://github.com/GoogleChromeLabs/squoosh/pull/1141 and created another PR to expose the types h

[2021-09-03 20:24] SteiveSteive opened #1143 "squoosh-cli exits in between batch file"
Hi!
I do not know if its a bug report or a feature request so just posting here.

node -v
v14.17.5

npm -v
6.14.14

npm ls -g | find "squoosh"
+-- @squoosh/cli@0.7.2
| +-- @squoosh/lib@0.4.0

OS : Win 10 Pro Ver. 10.0.19043.1165

Normal usage when typing inside the cmd.exe command prompt works fine as follows:

`squoosh-cli --mozjpeg {quality:90} image.jpg
`
What does not work is when the above co

[2021-09-03 22:45] surma commented on #1143
My _hunch_ is that it is actually printing the “HELLO” but it gets lost through terminal movement commands. Can you re-try your experiment but instead of printing to the console you create a file or something as a marker that the command was executed?

[2021-09-04 04:12] SteiveSteive commented on #1143
Hi Surma,

Thank you for the reply.

Actually it was created as batch.cmd and executed but the HELLO did not print out on the screen.

I actually got it to work as below after I posted here with some addition.

I modified it afterwards and came out as the image below. (batch name is a6b4.cmd)
![command-prompt-image](https://user-images.githubusercontent.com/90020778/132081786-efa3945c-444a-42ed-b8

[2021-09-04 11:21] #1143 closed, assigned to nobody

[2021-09-06 07:51] chromaniac2 opened #1144 "Let user set his own default on the pwa app"
**Is your feature request related to a problem? Please describe.**
By default, Squoosh offers MozJPEG at 75% optimization. If I prefer to output WebP for a bunch of images, I have to change the setting on every image load.

**Describe the solution you'd like**
A new option that lets the user define a new default image output setting which is saved on the PWA.

**Does other service/app have this fe

[2021-09-06 09:06] jakearchibald commented on #1144
Dupe of https://github.com/GoogleChromeLabs/squoosh/issues/430

[2021-09-06 09:06] #1144 closed, assigned to nobody

[2021-09-06 14:00] #1139 closed, assigned to RReverser

[2021-09-07 04:46] Nooshu opened #1145 "PNG to WebP colourful artifacts in FF 91.0.2"
**Describe the bug**
Converting this PNG to WebP in latest FF (91.0.2) generates a whole bunch of colouful artifacts in the image. I've tested Chrome and it works fine.

**To Reproduce**
Steps to reproduce the behavior:
- Drag original PNG onto app and select WebP.

**Expected behavior**
Output image look similar to JPEG / AVIF versions.

**Version:**
 - MacOS: Big Sur - 11.5.2 (M1)
 - Browser: Fi

[2021-09-07 05:04] edent commented on #1145
Also occurs on Android Firefox 91.4.0 (Build #2015831131)
Tried various levels of compression etc - all produce these weird artefacts.

[2021-09-07 11:10] jakearchibald commented on #1145
Huh, it doesn't happen for me on OSX, but it does happen on my Pixel 5.

Given that M1 Macs (which @Nooshu has) and the Pixel 5 are ARM-based, I wonder if that's the common element here.

[2021-09-07 11:15] surma commented on #1145
- I cannot reproduce this on my x86_64 iMac in FF 91
- I can reproduce this on my M1 MacBook Air in FF 91, but not in Chrome 93
- I can reproduce this on my Pixel 5 in FF91, but not in  Chrome 93

Saving the WebP with the artifacts to disk and opening it in Chrome also shows the artifacts, implying that the generated WebP is in fact broken (and not just FF’s built-in decoder).

This kinda implies

[2021-09-07 11:16] rik commented on #1145
On my M1, I can confirm it reproduces on Firefox but not Chrome nor Safari.

[2021-09-07 11:18] jakearchibald opened #1146 "Pinch-zoom broken on Firefox Android"

[2021-09-07 11:18] jakearchibald commented on #1145
I see that the pinch zoom UI is broken on Firefox Android, so I'll go fix that. https://github.com/GoogleChromeLabs/squoosh/issues/1146

[2021-09-07 11:22] surma commented on #1145
On further inspection, the bug goes away if I disable Wasm SIMD in `about:config`, so it seems to be specifically about SIMD instructions on arm64.

[2021-09-07 11:43] surma commented on #1145
Built a reproduction case: https://sedate-entertaining-card.glitch.me/

This seems to be fixed in Firefox Nightly, so it’s a matter of waiting :)

[2021-09-07 11:53] jakearchibald commented on #1145
I realise it probably means adding a UA-sniff, but should we bypass SIMD in Firefox for a bit?

[2021-09-07 12:03] rik commented on #1145
I think it's already fixed in Firefox 92 which will be released later today. (I can only say "I think" because I could only test once on 92 before my Firefox Beta switched to 93)

[2021-09-07 12:16] surma commented on #1145
[FF 93 ships today](https://wiki.mozilla.org/Release_Management/Calendar). If that fixes it, that’s good enough. If not, we might wanna ship a workaround.

<img width="863" alt="Screen Shot 2021-09-07 at 13 15 14" src="https://user-images.githubusercontent.com/234957/132342825-19ce9d6d-8c3a-4aed-8c18-4e28dc24c01e.png">

(I’m also wondering if we should add some debug flags to Squoosh that force-en

[2021-09-07 12:40] Krinkle commented on #1145
Was the upstream fix backported to 91ESR? Might be worth reporting to upstream still from that perspective (eg in case the fix was accidental or otherwise without knowledge of this glitch, thus perhaps not backported).

[2021-09-07 12:54] cadeyrn commented on #1145
It looks like https://bugzilla.mozilla.org/show_bug.cgi?id=1720650 (colored artifacts on ARM64 devices in connection with WASM/SIMD). If it has the same cause, then yes, it's fixed in Firefox ESR 91.1. Unfortunately I don't own such a device and can't verify.

[2021-09-07 13:17] jakearchibald commented on #1145
Good find @cadeyrn. I agree that's the same issue.

[2021-09-07 13:30] TheWay33 opened #1148 "Read Please Explain thanks"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2021-09-07 13:41] surma commented on #1148
Did read. Got nothing to explain.

[2021-09-07 13:41] #1148 closed, assigned to nobody

[2021-09-07 13:43] #1146 closed, assigned to jakearchibald

[2021-09-08 15:17] JNavas2 commented on #988
Issue persists in Edge Android 93.0.961.38

![Screenshot_20210908-080347 (Small)](https://user-images.githubusercontent.com/14850792/132537040-ef102dc2-65a4-435d-86a4-4198980a4ca8.jpg)

[2021-09-08 21:40] styfle commented on #1084
For those following along at home:

- #1123 has landed
- Jason is going to make a [follow up PR](https://github.com/GoogleChromeLabs/squoosh/pull/1123#issuecomment-914694991) to finish up the remaining work: using `web-worker` instead of `worker_threads`

After that, we should be ready to run `@squoosh/lib` on the web 🕸️

[2021-09-09 08:23] TheWay33 opened #1149 "Please help"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2021-09-09 09:06] #1149 closed, assigned to nobody

[2021-09-09 20:57] juan88 opened #1150 "[CLI] Problem identifying options from the webapp with the CLI version"
Is it possible to include and document the options that are available in the webapp in the same terms as in the CLI? I'm not able to find, for example, the lossless flag of the AVIF encoder to use in the CLI version.

Thanks!

[2021-09-11 22:49] aduh95 opened #1152 "libSquoosh declares a global `navigator` variable"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
A clear and concise description of what the bug is.

`import "@squoosh/lib"` add a global `navigator` variable in `codecs.ts`. The issue is that some librari

[2021-09-13 12:01] Th3S4mur41 opened #1153 "Run batch squoosh-cli jobs based on config file"
**Is your feature request related to a problem? Please describe.**
I'm running squoosh to batch resize, optimize and convert multiple folders of images.
Currently, I have to execute a single script for each size-format-folder combination.

Using the following folder structure as an example:
[code]

...and considering only 2 sizes and 2 formats, I would currently end up with the following scripts:

[2021-09-13 12:14] Th3S4mur41 commented on #1119
@surma is there already a plan to release a new cli version with this patch?

[2021-09-13 16:49] Paxatax opened #1154 "Squoosh website vs CLI compression size"
**Describe the bug**
When I use the Squoosh app to compress an image (OxiPNG, 40 width, 30 colors, everything else default) I get an output that is about 600-700 bytes in size. If I use the CLI, doing the same thing (or what I think should do the same thing, since I use the "Copy npx command" button), I get 2kb.

`npx @squoosh/cli output/*.png --resize '{"width": 40, "method": "lanczos3" }' --quan

[2021-09-15 14:49] strarsis opened #1155 "Import CLI command"
**Is your feature request related to a problem? Please describe.**
After having determined the optimal settings for a particular image, resolution and format, I save the CLI command and store in my build tasks. This also preserves all the settings, to make the result reproducible.
However, I can't find a way to import this CLI command back into Squoosh and get the settings back.

**Describe the so

[2021-09-16 08:23] shirokoweb commented on #1104
On Windows:

cd the folder containing images to optimize and run the command without single quotes around config parameters (keep curling braces):
`cd C:\Path\To\Folder\`
`npx @squoosh/cli --mozjpeg {qality:30} filename.png`

@surma I tried various commands without luck for batch optimization, including wildcard *.png ;  * ;  etc. no luck. Any hint ?

[2021-09-16 08:36] pekeq opened #1156 "libsquoosh: node will not exit unless ImagePool is closed."
Hello,

After creating an instance of ImagePool, node will not exit unless ImagePool is closed.
For example, nodejs does not terminate when it reaches the end of following code.

[code]

[code]

node will exit normally when instance of ImagePool is closed.

[code]

[code]

**Version:**
 - libsquoosh version: 0.4.0, 0.3.1
 - OS w/ version: macOS 11.5.2
 - Node version: v14.17.6, v16.9.1

[2021-09-16 10:28] surma commented on #1156
That is not really a bug. The ImagePool manages the workers and Node won’t exit if workers are still running. That’s also why every sample in the README explicitly closes the ImagePool.

At some point we might consider adding a `FinalizationRegistry` thing, but for now we are gonna keep it explicit.

[2021-09-16 12:09] pekeq commented on #1156
@surma Thank you for your reply.
I was also thinking that this behavior might be a specification(not a bug), but I wrote this issue to confirm.

My library depends on ImagePool without close()ing, so I try some workarounds.
Thanks,

[2021-09-16 12:09] #1156 closed, assigned to nobody

[2021-09-16 20:52] adamsilverstein commented on #1084
@styfle/@surma looks like this is almost ready for testing?

I'm trying to follow along on https://github.com/GoogleChromeLabs/squoosh/tree/dev/libsquoosh to add squoosh to my modern images [plugin](https://github.com/adamsilverstein/modern-images-wp/issues/18). Can I test this by building squoosh or do you plan an `npm` release soon with this included?

[2021-09-17 12:37] atjn commented on #1084
@adamsilverstein everything in [styfle's comment](https://github.com/GoogleChromeLabs/squoosh/issues/1084#issuecomment-915592530) is still true - there is still some work to do before a working npm release will be ready.
If you build from source, you might be able to hack your way to a working plugin :)

[2021-09-17 17:10] developit commented on #1084
There is still work to do to have WASM loading be cross-platform.

[2021-09-24 08:21] ivanshilo commented on #1104
@shirokoweb for me on Windows works:
`squoosh-cli src/images/ -d dist/images --mozjpeg '{qality:30}'`

[2021-09-24 08:40] shirokoweb commented on #1104
@ivanshilo cmd works like a charm, thanks for sharing.
Only thing is I'm getting a warning message and squoosh cli gets stucked:
[code]

[2021-09-24 10:03] ivanshilo commented on #1104
@shirokoweb Quick search shows something similar to your problem: https://stackoverflow.com/questions/50709059/maxlistenersexceededwarning-possible-eventemitter-memory-leak-detected-11-mess
By default there are maximum 10 event listeners in node.js 'event' module allowed. It sounds for me like a software issue in squoosh (either bug with unsubscribing from event or wrong initial code configuration

[2021-09-25 15:10] strarsis commented on #1101
+1! The current default behaviour can be destructive: The original file is overwritten with the compresed one!

[2021-10-01 16:13] JNavas2 commented on #988
**Issue persists.**
• Google Pixel 3a (sargo)
• Android 11 (RQ3A.210905.001)
• Chrome version 94.0.4606.71

[2021-10-01 16:17] JNavas2 commented on #988
The issue does **not** exist in Edge version 46.06.4.5161 (not Chromium based)
but does exist in Chromium based versions of Edge (as previously reported).
**Thus the issue is apparently caused by something in Chromium.**

[2021-10-07 04:53] SUPERCILEX opened #1159 "CLI requires explicitly passing in "true" to switch options"
This broke somewhere between 0.6.3 and 0.7.2. If you use the `--mozjpeg` option for example, squoosh will crash:

[code]

So `$ squoosh-cli ... --mozjpeg` fails, but `$ squoosh-cli ... --mozjpeg true` works. It looks to me like the default case is being parsed as an actual boolean whereas the explicit case returns a string.

[2021-10-11 04:58] vigneshrajj commented on #951
Can I work on this issue?

[2021-10-12 07:45] Moderpach opened #1161 "CLI could not run when the path have space."
**Describe the bug**
CLI could not recognize the path correctly when there ara spaces in it, but the web edition work fine.
For example, when I command the path is  './bug 1', CLI think the path is './bug'.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Find a picture which name has spaces.
2. Use CLI to handle the picture.

**Expected behavior**
CLI can handle files which name has

[2021-10-14 16:09] longxuewei opened #1163 "Android App"
hi, is there an android version of this app? I am eager to use this software on my mobile phone

[2021-10-14 16:16] jakearchibald commented on #1163
Just visit https://squoosh.app on your mobile phone.

[2021-10-14 16:16] #1163 closed, assigned to nobody

[2021-10-15 10:52] #951 closed, assigned to nobody

[2021-10-17 08:49] naisanzaa opened #1164 "Bus error: 10 on M1"
related: https://github.com/GoogleChromeLabs/squoosh/issues/1010

**Describe the bug**
Shows error after encoding `Bus error: 10`

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version:**
 - OS w/ version: 11.5.2 (20G95)
 - Node version: v16.9.1
 - npm version: 7.21.1

![PA175213](https://user-images.githubusercontent.com/58240560

[2021-10-17 08:49] naisanzaa commented on #1010
I seem to be having a bus error on M1 still

[2021-10-18 06:03] longxuewei commented on #1163
Thanks for your reply, and I want to know how can I integrate this project into my Android project。

[2021-10-20 11:14] TimvdLippe commented on #978
`node-gyp` has now been removed from the `package-lock.json` file, so I think this issue has been resolved.

[2021-10-20 11:14] #978 closed, assigned to nobody

[2021-10-20 13:55] surma commented on #1065
After investigating (massive thanks to @TimvdLippe), it seems to only occur if you create multiple `ImagePool`s. That is definitely an anti-pattern, as the `ImagePool` manages the worker pool etc. So make sure you create only one `ImagePool` and re-use it. @TimvdLippe will update the README to make this part of the documentation.  As of now, I wouldn’t consider this a bug in libSquoosh, so I’ll be

[2021-10-20 13:55] #1065 closed, assigned to nobody

[2021-10-20 14:00] tasty0tomato commented on #978
@TimvdLippe  Nice! And watching for the next release.

[2021-10-21 12:05] TimvdLippe commented on #1152
It seems like we can change https://github.com/GoogleChromeLabs/squoosh/blob/66ec7636675707e34e7991435b3a2df970d9ae62/codecs/cpp.Dockerfile#L7 to `-s PTHREAD_POOL_SIZE=\"globalThis[Symbol.for('squoosh.navigator')].hardwareConcurrency\" \` and that appears to work as expected. @surma WDYT?

[2021-10-21 13:02] surma commented on #1152
Seems reasonable to me.

[2021-10-21 13:05] RReverser commented on #1152
I'm not sure I understand the issue; in which circumstances the `navigator` is not defined?

[2021-10-21 13:06] RReverser commented on #1152
Ah I see - the problem is that we "polyfill" it in Node and that messes up checks in other libs?

[2021-10-21 13:09] TimvdLippe commented on #1152
The problem is that we set `PTHREAD_POOL_SIZE` to use a variable name that accidentally has a meaning in a different context (in this case web). However,`PTHREAD_POOL_SIZE` can take any string, so we could have chosen `PTHREAD_POOL_SIZE=foo.bar` and that would have worked as well. The solution then is to use a symbol to ensure uniqueness, which we can then refer to in JavaScript.

[2021-10-21 13:21] RReverser commented on #1152
Yeah but then we need to set that to number of CPUs on both Web and Node.

I can see how polyfilling navigator is bad for Node lib usecase though.

I have another suggestion: let's instead change it to

[code]

This should work correctly in both Node and browser environments that we build for, and I've verified that the condition check and unused branch are eliminated by Closure (which we use) whe

[2021-10-21 13:26] markstos opened #1175 "Wish: Accept input from STDIN, provide output to STDOUT"
**Is your feature request related to a problem? Please describe.**

I use `swappy` as a screenshot editing tool. Swappy accepts the image data on STDIN, so it's convenient to use it with `grimshot`, which saves screenshots to STDOUT. Together they are used like this:

      grimshot save area - | swappy -f -

**Describe the solution you'd like**

I'd like a variation of this to work:

    grimshot

[2021-10-21 13:50] TimvdLippe commented on #1152
Yes that appears to work, thanks for the suggestion :+1: PR incoming to make that change :smile:

[2021-10-21 18:12] Skandar opened #1178 "Pasted image from clipboard is not the same size as original"
When image pasted from cliapboard it has not the same size as original image.

**Steps to reproduce the behavior:**
1. Copy image to clipboard.
1. Click on button "Paste".
1. Save original image.
1. Size in app not equal to the original image size.

**Expected behavior**
Pasted image has same size as origin.

**Version:**
 - OS w/ version: Ubuntu 21.04 / Windows 10
 - Browser w/ version Chrome 95

[2021-10-21 18:20] surma commented on #1178
Going via clipboard is OS-dependent. The OS can choose to deliver the copied image as a raw bitmap (or even a PNG), so that’s not really a bug in Squoosh but just the nature of clipboards.

[2021-10-21 18:20] #1178 closed, assigned to nobody

[2021-10-25 06:29] whoisvadym commented on #244
@argyleink I really like the idea of reinforcing the file name + extension in the UI.
Would be glad to work on the implementation if other maintainers find it useful.

[2021-10-27 09:57] hybridherbst commented on #1161
Same here, e.g. when running squoosh from another directly (e.g. a batch droplet) and either the target file name or any directory in the path has spaces, squoosh will not work and instead print
```(node:22172) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, lstat ```.

[2021-10-27 12:39] hybridherbst opened #1179 "Can't compress content of directory when there's unsupported files inside"
**Describe the bug**
Being able to copy the squoosh CLI command from the website is very powerful (in theory) for batch processing.
However, it seems there's a couple blockers, such as squoosh stopping to do anything when it encounters unsupported files, or filter masks not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://squoosh.app/editor
2. Copy the command
3. Open a

[2021-10-27 12:47] hybridherbst opened #1180 "[Web App] Ability to paste copied npx command back in to get settings back"
**Is your feature request related to a problem? Please describe.**
It would be great if I could simply paste clipboard content into Squoosh that was created by copying the npx command.
This would allow for various out-of-app workflows such as "save my settings, edit later".

**Describe the solution you'd like**
Just press Ctrl + V to paste settings (if there's text in the clipboard)
Side note, if

[2021-10-27 12:52] hybridherbst opened #1181 "[CLI] SyntaxError: JSON5: invalid character with verbatim command copied from squoosh.app"
**Describe the bug**
Copying resize commands from squoosh.app and trying to use them results in SyntaxError and aborted processing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://squoosh.app/editor
2. Enable resize
3. Copy command
4. Open a terminal
5. Paste the command and append an image file name in that directory
6. Press Enter

**Expected behavior**
File is squooshed with

[2021-10-27 12:55] hybridherbst commented on #1104
Same issue, any problem in the input (file not found, json parse error, ...) causes an UnhandledPromiseRejectionWarning and Squoosh is then in an endless loop and will never return.
Also happens for #1181 and #1171 on Windows 10.

[2021-10-27 12:56] hybridherbst commented on #1179
Might be a duplicate of #973

[2021-10-27 13:09] hybridherbst opened #1182 "[Web] Dragging a new image into squoosh.app resets resize settings"
**Describe the bug**
When processing an image in Squoosh often one wants to process another one with the same or similar settings right aftwards.
However, it seems the Resize toggle is always turned off and the Resize settings are lost when a new image is dragged in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to squoosh.app
2. Drag image into editor
3. Turn Resize on, change to 512 w

[2021-10-29 16:57] C0braCommander opened #1183 "Offset is Out of Bounds"
**Describe the bug**
Worked great for a few months but all of a sudden I am getting [UnhandledPromiseRejection: This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). The promise rejected with the reason "offset is out of bounds".] {
  code: 'ERR_UNHANDLED_REJECTION'

**To Reproduce**
Steps to repro

[2021-11-02 16:54] C0braCommander commented on #1183
I solved it thank you everyone for all the help. The issue was my batch sizes were too big. You can solve this by running a bunch of small batches instead. I will be posting my solution once I get all the kinks worked out.

[2021-11-02 16:54] #1183 closed, assigned to nobody

[2021-11-03 00:31] joshunger opened #1184 "Add support for Node 17"
**Describe the bug**
Add support for Node 17

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Should be able to install with node 17.

[2021-11-05 18:21] argyleink opened #1185 "CLI running out of memory"
[this image](https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/frame.png) is running out memory with the cli command. i def have enough memory, and the image compresses/converts fine in the web app.

[code]

[2021-11-05 18:22] argyleink commented on #1185
<img width="732" alt="Screen Shot 2021-11-05 at 11 15 37 AM" src="https://user-images.githubusercontent.com/1134620/140559953-cc473b8d-9057-4dad-b71e-31d6c88b83e8.png">

[2021-11-05 19:28] surma commented on #1185
@argyleink Oh can you let me know your Node version and whether you are on an M1 or Intel?

[2021-11-08 12:35] surma commented on #1185
Damn, it works just fine on my machine with Node 16 and Node 17 😅

[2021-11-08 17:21] argyleink commented on #1185
Node 16, Intel

[2021-11-09 03:55] JBENEITEZ commented on #301
Good morning guys! May I ask how can we use the CLI for batch optimisation? My programming knowledge is very limited, any tutorial or example that could be shared? Many thanks for this amazing software

[2021-11-09 04:00] coelmay commented on #1185
Not working properly for me on an Intel iMac running node `v16.10.0`.
Runs fine on Chromebook running `v14.17.6`

[2021-11-13 08:35] cxp108 commented on #1181
I got same problem when using squoosh-cli in windows.

OS : Win10
node:  16.13.0
cmd :  squoosh-cli --mozjpeg atuo 1.jpg

[2021-11-14 10:25] meotimdihia commented on #1065
is it really necessary to close ImagePoll?

Isn't the script automatically close when it reaches to end? unless we use image pool in node server or something that runs forever.

[2021-11-16 11:03] pritkr opened #1186 "Selfhost Squoosh"
I am not able to access the official squoosh app from my web browser as I have Windows 7 in which Lets Encrypt certificate had expired recently and will be never updated. What I am asking for is Is there a way I can host the app in service like netlify or heroku. If yes, Please provide a short guide. Thank You in advance

[2021-11-16 12:31] surma commented on #1186
Just follow do `npm install && npm run build` and deploy the `build` folder whereever you like :)

[2021-11-16 12:31] #1186 closed, assigned to nobody

[2021-11-16 12:32] surma commented on #1065
The `ImagePool` manages the worker, and the worker won’t know when it is not getting any more messages. So yes, closing the pool is necessary for a clean teardown.

[2021-11-16 12:57] surma commented on #1181
Seems like there is `'` missing. I’ll take a look.

[code]

[2021-11-16 14:26] craftedsystems commented on #1159
Same with `--webp` option.

[cli/src/index.js#L176](https://github.com/GoogleChromeLabs/squoosh/blob/66ec7636675707e34e7991435b3a2df970d9ae62/cli/src/index.js#L176)
☝️ `encParam` is `true` (boolean) and not a string. 💥🙂

[2021-11-16 16:46] HugoGresse commented on #348
A temporary solution for anyone having this issue is to use Sharp with:
[code]

[2021-11-16 21:09] jcao219 commented on #1181
If you're using the Windows Command Prompt, keep in mind that single quotes are not valid for enclosing quoted values.

It must be something like:

[code]

Single-quotes should work in Powershell, though.

[2021-11-16 22:55] surma commented on #1181
Oh that would explain it... Yeah Squoosh definitely uses single quotes. That seems easy to fix tho :)

[2021-11-20 09:46] aaronth07 opened #1187 "Processing error: [object Object] When Compressing Large PNG"
**Describe the bug**
Processing a large PNG (307MB, 16384x13104), results in this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a large PNG in Squoosh
2. After loading, it doesn't compress, instead giving this error

**Expected behavior**
The PNG be compressed.

**Version:**
 - OS w/ version: Windows 11 22000.318
 - Browser w/ version Chrome: 96.0.4664.45 64 bit
 - Node version

[2021-11-20 09:51] aaronth07 opened #1188 "SBOX_FATAL_MEMORY_EXCEEDED When Using Resize Function on a Large PNG"
**Describe the bug**
When processing a large PNG, I get an "Aw Snap" error page, with the error message of SBOX_FATAL_MEMORY_EXCEEDED

**To Reproduce**
Steps to reproduce the behavior:
1. Open a large PNG in Squoosh
2. Enable the resize function
3. Change the resize from 100% to anything (in this case, 50% was used)
4. See error

**Expected behavior**
The image to be resize.

**Version:**
 - OS w/

[2021-11-20 23:22] izac3d opened #1189 "This app on google play is legit ?"
I found same app here

https://play.google.com/store/apps/details?id=com.vision.squoosh

developer Nebil ali

Is it a legit copy ?

![Untitled](https://user-images.githubusercontent.com/23438535/142743686-b2821d26-2cfa-426e-bfcd-5caa81e64008.jpg)

[2021-11-21 08:52] jakearchibald commented on #1189
It is not legit.

[2021-11-21 08:52] #1189 closed, assigned to nobody

[2021-11-21 18:39] izac3d commented on #1189
I reported the app many times but it still active !! what I can do ? I dont like to see amazing work like this used by a damn thieve

[2021-11-21 18:56] izac3d commented on #1189
If the app is not down please sue google.

[2021-11-25 13:52] joelanman commented on #10
In Safari, I get a compression option for 'Browser Gif' which I don't get in Chrome

[2021-11-25 14:00] jakearchibald commented on #10
Yeah, Safari has more compression formats built in. I'm not sure how useful it is, but figured we'd expose it anyway.

[2021-11-26 15:53] heddn commented on #978
tag `1.12.0` faces the issue with python. Can we get a new tagged release that doesn't require it?

[2021-11-26 16:22] heddn opened #1190 "Husky breaks npm install"
**To Reproduce**
As mentioned in https://github.com/GoogleChromeLabs/squoosh/pull/1170.

[code]

**Expected behavior**
I would expect the code could be compiled w/ or w/o .git folder existing.

**Version:**
 - OS w/ version: Linux
 - Browser w/ version n/a
 - Node version: v14.18.1
 - npm version: 6.14.15

**Additional context, screenshots, screencasts**
Error:
[code]

[2021-11-26 16:27] heddn commented on #1190
From looking at https://github.com/typicode/husky/issues/851, we have some options, including updating to a newer version of husky.

[2021-11-26 18:52] superfein opened #1191 "PNG image brightness and compression inconsistent between browsers"
**Describe the bug**

My business partner has a laptop running MacOS, and used squoosh.app in Firefox to compress a PNG with a transparent background. The original file size was 1.14MB. He used OxiPNG and Effect 3 to reduce the image to 252KB.

I have a Windows machine, and I used squoosh.app in Chrome with the same exact settings as my partner, but the compressed PNG came out darker for me. I tri

[2021-11-26 22:51] K0-RR opened #1192 "Wrong units on the main website"
**Describe the bug**
![image](https://user-images.githubusercontent.com/43277609/143659423-ebe0ff92-2010-4597-a3e9-8621fbf9f92c.png)

I doubt You wanted to show the file sizes in milibits (mb). After checking the size of these assets I confirmed the proper unit would be Megabyte (MB)
Also, the last file's size does not even have a unit - it's just 13k (k what?) - and the size is actually 10.7 kB,

[2021-11-26 22:56] K0-RR opened #1193 "Add support for the Leanify tool"
**Describe the solution you'd like**
Currently, the best way to compress png losslessly via Squoosh is to select oxipng. The tool linked below can provide slightly better results while being faster (in parallel mode).
https://github.com/JayXon/Leanify

**Does other service/app have this feature?**
No.

[2021-11-27 10:12] surma commented on #1192
PRs welcome :)

[2021-12-12 04:28] JeffersonQin opened #1195 "CLI error: abort(RangeError: WebAssembly.instantiate(): Out of memory: wasm memory)"
**Describe the bug**

For whatever command and image I run through cli, I always get

[code]

**Version:**
 - OS w/ version: Windows 10 and WSL 1 Ubuntu 18.04
 - Node version: 15.6.0
 - npm version: 7.4.0

[2021-12-13 08:28] Airkro commented on #10
There is [@wasm-codecs/gifsicle](https://github.com/cyrilwanner/wasm-codecs/blob/master/packages/gifsicle), but ...

[2021-12-13 16:08] Ayan-web commented on #1026
can I contribute to this issue. this will be my first PR.
where should start from
thank you

[2021-12-14 12:56] RReverser commented on #1026
I believe this issue was about re-enabling SIMD, and that was actually done a while ago now, so I'm going to go ahead and close it.

[2021-12-14 17:10] notiv-nt opened #1196 "Save compress options"
**Is your feature request related to a problem? Please describe.**
Can we somehow save these options, or at least only compression? It's frustrating to set the same parameters for every image.

![image](https://user-images.githubusercontent.com/10743009/146042203-0501a7af-e8bb-4e71-8886-3653d519aadc.png)

**Describe the solution you'd like**
A button with "save/reset current state" functionality,

[2021-12-14 22:51] #1026 closed, assigned to nobody

[2021-12-15 17:01] simonsarris commented on #1159
Same. To be clear for onlookers who are searching based on the `TypeError: encParam.toLowerCase is not a function` error,

`squoosh-cli --oxipng --quant 50 blah.png`

will fail, and:

`squoosh-cli --oxipng true --quant 50 blah.png`

will succeed.

[2021-12-15 17:22] heddn opened #1198 "API requirements"
**Is your feature request related to a problem? Please describe.**
Instead of shelling out from php, python, etc to squoosh, it would be nice to have a thin interface on top of Squoosh that let's someone interact with the application to do things via an API

**Describe the solution you'd like**
Let's document the requirements for such an API

**Does other service/app have this feature?**
From a PH

[2021-12-15 17:32] heddn commented on #1198
<img src="https://www.drupal.org/files/issues/2021-12-15/2021-12-15_08-11.png"/>

In Drupal, we upload the file one time and save it in its original form. Without any modifications. Then we create various sets of image transformations (called image styles). This lets us upload the same picture of a kitten once, then see that image as a small, medium and large file, depending on where we want to pl

[2021-12-15 17:35] morsssss commented on #1198
thanks for adding this here, @heddn !

@kosamari do we have a label or other way of tracking FR's for the API?

[2021-12-16 14:03] dannyFig commented on #301
I currently have about 2000 images to compress. 😅😳 Why? I export my After Effects compositions in "PNG Sequence" format so that I may re-import it to create a Lottie animation. I LOVE this app but don't think I have the proper sedation to make this happen. 🤪 @jakearchibald  ~ I'd be glad to pay for this app. 🙃

[2021-12-16 14:31] lefti696 commented on #301
use CLI
sample command:
`find . -name "*.png" -exec squoosh-cli --mozjpeg '{"quality":75,"baseline":false,"arithmetic":false,"progressive":true,"optimize_coding":true,"smoothing":0,"color_space":3,"quant_table":3,"trellis_multipass":false,"trellis_opt_zero":false,"trellis_opt_table":false,"trellis_loops":1,"auto_subsample":true,"chroma_subsample":2,"separate_chroma_quality":false,"chroma_quality":

[2021-12-16 16:10] kosamari commented on #301
@dannyFig :　
You can batch process this via CLI.
1. try out settings with one image on GUI Squoosh, click on `>_` button to copy CLI command
![copu](https://user-images.githubusercontent.com/4581495/146406836-064323bd-fbf0-4d9b-9b67-2f1cb7ed9e23.png)

2. it will give you somethin like `npx @squoosh/cli --resize '{"enabled":true,"width":1000,"height":669,"method":"lanczos3","fitMethod":"stretch","p

[2021-12-16 16:33] RReverser commented on #1198
So it sounds like what you want is a way to store options an image was compressed with, alongside the image, so that you could reproduce same compression in the future.

Are you familiar with our "copy CLI command button" in the UI?

![image](https://user-images.githubusercontent.com/557590/146410953-eeb269ac-7f6a-4fae-ab3e-c39e98913c18.png)

I wonder if that would be enough to solve the same use-

[2021-12-16 16:34] developit commented on #1198
It would make sense to expose this information when Squoosh is being controlled via the embedding API. I think we already fire an event for the "save/download" button? We could attach the metadata to that event.

[2021-12-16 17:05] morsssss commented on #1198
@developit , that would be nice! The goal is to allow a CMS or other front-end application to request and receive this information when it embeds the UI. (When the API's complete, of course.)

[2021-12-17 16:34] ptnik opened #1199 "Mistyping large number causes out of memory"
Is you mistype the resize dimension in the web version it can cause out of memory errors and even cause browser to crash.

For example, you intended on resizing to 1280 px wide, but instead enter 12800 px or 128000 px (easy on some types of keyboard).

In Chrome, even in cases when it doesn't crash, it can cause some kind of memory leak. Closing the tab and trying to reopen squoosh doesn't work, u

[2021-12-18 14:50] fili commented on #1195
+1 on Ubuntu 20.04

[2021-12-21 06:50] Airkro commented on #1152
It seems that it can't be resolved temporarily. try:

[code]

[2021-12-23 23:16] webds commented on #1101
who solves this problem?

[2021-12-28 12:03] soasada commented on #1056
Hi! I'm having the same error than this thread is talking about. My mac is an intel one x86. I'm using **@squoosh/lib** 0.4.0 and trying to do a simple webservice to optimize image size with express.js.

I'm getting: `zsh: bus error npm run start` error every time I try to encode an image.

**Steps to reproduce:**

1. Install Node 16 LTS, last version the time writing this is: 16.13.1.
2. Run the

[2021-12-28 17:38] rickbeacham commented on #1020
I would love to contribute to this project. I can help with documentation, UI and CLI issues.  I have experience in HTML, CSS, and the codecs.

[2021-12-28 23:36] badfeather opened #1200 "'npm WARN EBADENGINE Unsupported engine' warnings after installing @squoosh/cli"
**Describe the bug**
npm is throwing the following warnings after installing @squoosh/cli via the `npm install @squoosh/cli --save-dev` command:
[code]

**Version:**
 - OS w/ version: macOS 11.6.1
 - Node version: 17.0.1
 - npm version: 8.1.0

**Is your issue related to the quality of image compression?**
No

[2021-12-29 07:48] johnnyreilly commented on #1195
I also encounter this on Ubuntu 20.  A little more context; I was using https://github.com/webpack-contrib/image-minimizer-webpack-plugin with these options:

[code]

The error encountered was:

[code]

[2021-12-30 01:01] IrvinLara9 commented on #1196
I would like to work on this issue!

[2021-12-30 10:24] atjn commented on #1200
Duplicate of #1184 :)

[2022-01-03 09:00] honlapdavid opened #1202 "Source decoding error: Error: Couldn't decode image"
Only in Safari not working (v. 15.1). In google chrome working!

Error message:
Source decoding error: Error: Couldn't decode image

<img width="1624" alt="Snímka obrazovky 2022-01-03 o 9 57 47" src="https://user-images.githubusercontent.com/54839439/147913600-b11da451-eb49-445c-9e4e-f682274afb5a.png">

[2022-01-05 12:45] Mprogramavimai commented on #993
Any fix?

[2022-01-06 09:45] sjmach opened #1203 "Runtime Error Observed on Squoosh Website"
Test Case
1. Open squoosh.app on Firefox Web Browser (Any Browser)
2. Add a very high value for width and height options in edit menu on the right hand side
3.  Observer the error

Platform Details
1. Windows 10
2. Firefox Browser

[2022-01-06 09:45] sjmach commented on #1203
![squoosh-error](https://user-images.githubusercontent.com/303605/148363131-d80202d8-8141-4270-b4a5-0d6da115684e.JPG)
![squoosh-error2](https://user-images.githubusercontent.com/303605/148363136-1ce428bb-010b-4a36-9fa3-0997a132e1ef.JPG)

[2022-01-06 09:47] sjmach commented on #1203
Possibly related but this is observed on Firefox -  https://github.com/GoogleChromeLabs/squoosh/issues/988

[2022-01-08 11:13] asiontang commented on #968
[code]
this worked for me.

[2022-01-09 20:28] jtmcdole commented on #1195
I'm getting this same problem. The only version of node that squoosh runs seems to be 32bit v15.

[2022-01-11 14:29] lx1054331851 opened #1204 "Error: Could not load css"
[code]
windows 10 x64
npm 16

[2022-01-11 19:24] strarsis opened #1205 "Show already calculated outputs in UI controls (as quality)"
**Is your feature request related to a problem? Please describe.**
Some image compression operations take a significant time.
Comparing subjective image quality between different quality steps can be accomplished using the quality slider in the UI.
If the user drags the slider / sets the quality just slightly off (e.g. 89%) an already calculated quality value (e.g. 90%) (the user may already tried

[2022-01-12 18:02] badfeather commented on #1200
@atjn Got it. Closing issue. thanks.

[2022-01-12 18:02] #1200 closed, assigned to nobody

[2022-01-13 10:32] mivanyna commented on #1084
Hi. Any updates on this one?

[2022-01-13 19:05] pgnd opened #1206 "squoosh img compress ERROR: "MaxListenersExceededWarning: Possible EventEmitter memory leak detected.""
on
[code]

with
[code]

and
[code]

for random image
[code]

exec FAILs for both
[code]

[2022-01-18 15:48] meotimdihia commented on #1043
My Ubuntu server is happening this problem too.
![Code_2022-01-18_22-48-45](https://user-images.githubusercontent.com/300961/149970723-2bfdbe6a-d67b-43f1-929f-edd37f11c136.png)

[2022-01-19 07:04] javahook commented on #1181
I got the same error.
PS E:\temp> npx @squoosh/cli --resize '{"enabled":true,"width":1503,"height":1814,"method":"lanczos3","fitMethod":"stretch","premultiply":true}' --mozjpeg '{"quality":85,"baseline":false,"arithmetic":false,"progressive":true,"optimize_coding":true,"smoothing":0,"color_space":3,"quant_table":3,"trellis_multipass":false,"trellis_opt_zero":false,"trellis_opt_table":false,"trelli

[2022-01-21 21:16] gwacker opened #1207 "Module not found for AVIF compression"
Error: Cannot find module 'C:\C:\Users\myUser\AppData\Roaming\npm\node_modules\@squoosh\cli\node_modules\@squoosh\lib\build\avif_node_enc_mt.worker-be931951.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:

[2022-01-22 17:04] Parnot1 opened #1208 "ประณต ภูมิประพันธ์"

[2022-01-22 18:03] #1208 closed

[2022-01-24 11:47] ics-nishihara opened #1209 "fitMethod option doesn't work at libSqoosh"
**Describe the bug**
I set fitMethod  'contain', but image doesn't crop with libSquoosh.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Applying fitMethod option.

**Version:**
 - OS MacOS m1
 - Node version: 16.2.0
 - npm version: 8.3.0

**Is your issue related to the quality of image compression?**
Please attach original and output images (you can drag & drop to

[2022-01-28 16:35] PashaGeronimo opened #1210 "@squoosh/cli does not support GIF"
When I try to convert from GIF I get this error
_Binary blob has an unsupported format_
Other formats work fine (jpg, png)

Node v16.13.0

[code]

[2022-01-29 10:29] surma commented on #1210
Yeah you are absolutely fine. The CLI doesn’t support GIF. In the web app we can rely on the browser to decode GIFs. In Node we’d have to ship a decoder of our own and I completely forgot about this format. If anyone wants to add a wasm GIF decoder, that’d be welcome.

[2022-02-01 04:54] korenevskiy commented on #314
Cropping is a very good feature. From the interface point of view, this button can be added next to the rotation button at the bottom of the screen.

[2022-02-05 01:14] jonahsnider opened #1211 "@squoosh/lib missing types"
`@squoosh/lib` does not have a `types` or `typings` field which makes using it in TypeScript projects very unpleasant.

[2022-02-12 22:36] kirilloid commented on #968
I still have the same bug, worked with `--resize {'enabled':true,'width':360,...` as @Frank12-12 suggested
BTW @surma maybe, just create another button in UI: copy options for CLI on windows?
I can do the PR, but would like to know if this idea is accepted in general.

[2022-02-16 16:19] #1077 closed, assigned to nobody

[2022-02-17 19:46] dasa opened #1219 "Error in types included with 0.4.1"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**

`tsc` errors:

[code]

**To Reproduce**

Use package in a TS project.

**Expected behavior**

TypeScript does not error.

**Version:**
 - TypeScript version

[2022-02-18 10:30] jakearchibald commented on #1219
Please provide a way to reliably reproduce this error.

For example, I'm not seeing the error [here](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgSRAQwOYFMAKEIA2cAvnAGZQQhwDkAAgM4COArvgwBYD0BwARjQDcAKFCRY5BuUrUaZBlzAzgDLAyHDhAYwgA7BvFCZc+IgF44urAHcU6bHkIAKACwBKETv2H7WOBaMHUwA6YF1sA1RjJzRrNGB4eWCoLDQAEwAxYAIsJxpgxTQYbhgILkCsYLBwmjcPTS8DOCUsJQgtNQYAeTAYYD0pCwRhODguLgB1DixdOD4IYrhrYDTFt

[2022-02-18 10:30] #1219 closed, assigned to nobody

[2022-02-18 14:24] simon-peek-poke opened #1221 "Regression in 0.4.1: File has an unsupported format"
**Describe the bug**
Since the latest release (0.4.1) libsquoosh has stopped recognising PNG images. This seems to happen with all PNG images and they all worked with version 0.4.0. The encode step fails with error `File has unsupported format`. This may happen with other formats but this is the only one I am currently using. It seems there are around 7 months worth of changes in the latest releas

[2022-02-18 14:30] simon-peek-poke commented on #1221
Just as I posted this I noticed something in the docs - the ingestImage function takes an ArrayBuffer, not a path. Reading the file first then passing this to ingestImage works as expected.

I'm not sure if this changed recently but since it was working before, the current release probably shouldn't have been a patch release as it is a breaking change.

[2022-02-18 15:04] jakearchibald commented on #1221
Thanks for the report. I've deprecated 0.4.1, and will republish once I've figured everything out.

I wasn't aware that breaking changes were made since the last publish, sorry.

[2022-02-18 15:04] #1221 closed, assigned to nobody

[2022-02-18 15:52] jakearchibald commented on #1221
The breaking changes are from https://github.com/GoogleChromeLabs/squoosh/pull/1123.

Again, sorry about this.

[2022-02-18 15:56] simon-peek-poke commented on #1221
Thanks for looking into it. It's not too much of an issue now I know the problem and how to get around it.

Are we expecting going forward that `ingestImage()` will continue to take an `ArrayBuffer` instead of a path?

[2022-02-18 15:58] jakearchibald commented on #1221
Yeah, I'll land the changes as 0.5.0. The idea was to keep libsquoosh as free of node APIs as possible.

[2022-02-18 16:55] jakearchibald commented on #1219
Someone else provided a reduced test. This will be fixed in 0.5.0. I've deprecated 0.4.1.

[2022-02-19 01:01] raid opened #1222 "@squoosh/cli crash in conversion to jxl"
**Describe the bug**
Converting to JXL with cli crashes with error `JXL_CHECK: bytes_.get()`.  Input is a fully white PNG of the dimensions 4535 x 6307  Pixels (28.60 MPixels).

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run  `squoosh-cli.cmd --jxl "{}" .\weiß.png`

**Expected behavior**
A working conversion to jxl, like with cjxl or vips. Like the attached weiss-cjxl.

**Version

[2022-02-19 16:56] patrickkettner opened #1223 "publish 0.4.1/0.5.0?"
Hiya!
<s>Any chance version [0.4.1](https://github.com/GoogleChromeLabs/squoosh/tree/2238d1abaf89d662a87cce9f9724a77c761a3d97) and/or [0.5.0](https://github.com/GoogleChromeLabs/squoosh/commit/c24505230d85404104d3d843cacb372cbed2a6da) or libSquoosh is going to be published on npm?</s>

Update: found the deprecation note for [0.4.1](https://www.npmjs.com/package/@squoosh/lib/v/0.4.1), any chance th

[2022-02-22 20:26] darkkatarsis opened #1225 "Possibility to check if the image has transparency"
**Is your feature request related to a problem? Please describe.**
I would like to be able to decide if I want to generate jpg files when the source file is a png with transparency. The files generated in this way are unlikely to be of any use due to the generated background color. Summary: I would like to generate additional jpg, but only when the image has no transparency elements

**Describe th

[2022-02-22 22:28] hybridherbst commented on #530
This bug still exists. Not sure if it's a good first issue after all ;)
Currently this blocks converting SVG images to raster formats.

[2022-02-22 22:49] darkkatarsis commented on #1225
Edit: This can be easily solved with fs.

[2022-02-22 22:49] #1225 closed, assigned to nobody

[2022-02-26 10:35] aprilmintacpineda commented on #1095
I just experienced this now, seems hasn't been fixed yet.

EDIT:

Seems to only happen after I have uploaded the picture to S3 and then grabbed (`s3.getObject`) it in order to process it.
This is the image that I'm talking about. I tried to download it and I was able to replicate the issue on my local machine.

![IMG](https://user-images.githubusercontent.com/21032419/155840446-55699932-b382-47a5-

[2022-02-26 16:31] jakearchibald commented on #1095
Yeah, this seems like a bug, thanks for reporting.

[2022-02-27 13:05] 9201314 opened #1226 "Processing error: ReferenceError: WebAssembly is not defined"
Can't use it. When I upload a picture then give me this error message :

Processing error: ReferenceError: WebAssembly is not defined

System version : Windows 11 Pro 22000.527

Browser version : Microsoft Edge 98.0.1108.62

[2022-02-28 05:55] Semdevmaster commented on #1207
I confirm this issue. Incorrect path with "C:\C:"

[2022-02-28 18:35] jonahsnider commented on #1211
Duplicate of #1077

[2022-02-28 18:35] #1211 closed, assigned to nobody

[2022-03-16 09:36] cliffordfajardo opened #1227 "Bug - (Image Compression Squoosh.app ) `Processing error: RuntimeError: abort(undefined). Build with -s ASSERTIONS=1 for more info`"
## Describe the bug
When attempting to compress a png file that is 3.6mb large with 15000 × 19400 dimensions, squoosh web app on all major browsers is failing with the following error:

[code]

## To Reproduce
Steps to reproduce the behavior:
1. Attempt to compress this png file that is 3.6mb large
please visit the image URL and save this png image (15000 × 19400): https://www.fullcontextdevelopme

[2022-03-18 21:13] erikyo commented on #1227
Found this issue by searching generically on the web because i had the same exact message in browser console with a forked version of squoosh that I am working on, rebuilt in [webpack that works without node](https://erikyo.github.io/squoosh/)... I guess these kind of issues are related to codecs and not to squoosh, I solved it by recompiling libAvif codec with version [0.9.3](https://github.com/A

[2022-03-20 10:27] Viktova commented on #1226
+1 ; NodeJS needs to be updated on Google's end I guess.

[2022-03-21 00:37] 9201314 commented on #1226
Microsoft Edge can't use it. But other browsers are fine. Like Chrome or Firefox.

[2022-03-22 08:08] fgeierst commented on #733
from: https://en.wikipedia.org/wiki/High_Efficiency_Image_File_Format#Patent_licensing

Does that help?

[2022-04-01 23:09] valhuber opened #1233 "Unwanted Black Border"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
On Mac, a black border is added to a clean screen shot.

(Aside - thanks so much for doing this project... it's saving my bacon on DZone)

**To Reproduce**
S

[2022-04-06 16:57] atjn commented on #1233
This happens because your original PNG image has a border of transparent pixels, but JPG doesn't support transparency, so Squoosh simply transforms them into black pixels. If you choose any other compression format, you can preserve the transparent pixels. Alternatively, you can edit the original image to remove or fill the transparent areas.

[2022-04-07 08:16] Diti commented on #1233
You can take screenshots without the drop shadow on macOS by also holding the _option_ key before you click on the window. <kbd>⌘</kbd> + <kbd>⌥</kbd> + <kbd>4</kbd>. Now your JPEG images won’t get the black border.

[2022-04-07 14:56] Aloento opened #1234 "Do you consider to upgrade AVIF version?"
Now AVIF lib is 0.10.0 and it's newer than current 0.5.4.
So do you have any plan to upgrade it? or maybe is it unnecessary?

[2022-04-08 07:30] jakearchibald commented on #1234
It's on my TODO list 😀

[2022-04-08 08:13] coderiy commented on #1204
i have the same problem,have you solve it?

[2022-04-08 11:56] winstonma commented on #1234
I am not sure but seems to me that #1207 and https://github.com/GoogleChromeLabs/squoosh/issues/1119#issuecomment-918131701 is related to this issue. Please take a look if you have time thanks.

[2022-04-11 22:54] janof1 opened #1236 "how can i integrate squoosh to a blazor webassembly api"
hello friends I hope not to disturb, I would like to know if there is any way to integrate the Squoosh API in my Blazor WebAssembly API.
I appreciate any help you could give me.
thank you very much

[2022-04-12 16:58] svgeesus commented on #1191
[Maybe related: Firefox `gfx.color_management.mode` settings](https://github.com/GoogleChromeLabs/squoosh/issues/426#issuecomment-737502501)

[2022-04-15 18:18] nico opened #1237 "Consider adding a `'paste'` event listener so that Cmd-V can paste images without permissions prompt"
**Is your feature request related to a problem? Please describe.**

Currently, clicking "paste" triggers a clipboard permissions prompt. It'd be nice if just hitting Cmd-V (or Edit->Paste) in the browser would work too.

**Describe the solution you'd like**

Add something like this:

[code]

With this, I can Cmd-C a file in Finder on macOS and then Cmd-V it in webapps that have that snippet.

**Do

[2022-04-17 14:39] tamilcselvan commented on #1204
I have also faced the same issue. Do you have any solution to solve it?

`src/static-build/index.tsx → .tmp/build...
[!] (plugin css) Error: Could not load css:/Software/squoosh/src/shared/prerendered-app/colors.css (imported by initialCss): Cannot find \Software\squoosh\src\shared\prerendered-app\colors.css in pathToResult
Error: Could not load css:/Software/squoosh/src/shared/prerendered-app/col

[2022-04-21 19:54] cmarabate commented on #1207
I have the same exact issue! Any timeline on when this will this be fixed?
![image](https://user-images.githubusercontent.com/12236062/164542102-a99cf744-4602-466d-b061-36a806fed9b7.png)

[2022-04-23 13:29] yurylavrukhin opened #1238 "config "quality" setting for AVIF files doesn't affect generated file size"
**Before you start**

Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:
✅

**Describe the bug**
Squoosh CLI: quality setting doesn't affect AVIF file size output, but works with WEBP
<img width="1061" alt="Screen Shot 2022-04-23 at 20 12 15" src="htt

[2022-04-24 23:05] kota-yata commented on #1183
I got the same error. Can you elaborate what you mean by "batch size"?

[2022-04-25 20:02] marblewraith opened #1240 "Crazy throught: Squoosh as a VScode extension? 🤔"
**Is your feature request related to a problem? Please describe.**

Aside from designers doing format conversions, the most likely people to use Squoosh i'm sure we can agree are developers (concerned about file sizes).

Yes there is the CLI version which is particularly useful for doing batch processing, but it doesn't allow for any fine tuning / previews as the hosted Squoosh app does.

Which me

[2022-04-27 02:12] itsonlyfrans commented on #1207
I have the same issue as well as of 04-26-22 22:12

[2022-04-27 02:30] itsonlyfrans commented on #1207
I've found a temporary fix until it's updated.

1. Delete the **@squoosh** folder located in `C:\Users\**username**\AppData\Roaming\npm\node_modules\@squoosh\cli`
2. Open Powershell or whatever you use and type in `npm i -g @squoosh/cli@0.7.1`

This will download the old version 0.7.1 and that seems to be a working version.

[2022-04-29 06:56] F21 opened #1241 "Support node 18 with squoosh/lib"
**Is your feature request related to a problem? Please describe.**
Installing on node 18 currently shows the following warning:
[code]
**Describe the solution you'd like**
It would be nice if `package.json` was updated to include support for node 18.

**Does other service/app have this feature?**
n/a

**Additional context**
n/a

[2022-04-29 19:56] pumano opened #1242 "add support for node engine 18 for @squoosh/lib"
**Is your feature request related to a problem? Please describe.**
Problem when l need to use `--ignore-engines` flag for using `@squoosh/lib` with nodejs 18

**Describe the solution you'd like**
add support nodejs 18 to:

https://github.com/GoogleChromeLabs/squoosh/blob/dev/libsquoosh/package.json#L22-L24

**Does other service/app have this feature?**
Add any service you know/use that has this fe

[2022-05-03 15:37] kota-yata opened #1245 "Available file extension"
**Is your feature request related to a problem? Please describe.**
I tried to use libsquoosh for optimizing images that are the same hierarchy as non-image files (i.e. js files or plane text files). I wonder if there is a list of available file extensions to which I can refer in order to eliminate those non-image files from target files.

**Describe the solution you'd like**
I guess listing availa

[2022-05-03 22:32] msfragala commented on #1084
I'd love to use this for a side project. Seems like there hasn't been much activity lately — how can I help get this across the finish line?

[2022-05-04 00:24] donmccurdy commented on #1084
^Same — would love to help with anything (code, unit test, manual testing, etc.) if we can move this forward. It's been a [pretty popular request](https://twitter.com/AdaRoseCannon/status/1513485574438592518) to bring squoosh/lib into https://gltf.report/ for optimizing glTF 3D files. I've done the integration for [processing glTF files with squoosh](https://gltf-transform.donmccurdy.com/functions

[2022-05-04 16:47] Xiarno opened #1246 "A feature to compare two different images rather than compressing one."
**Describe the solution you'd like**
Another option to simply compare two images using this slider rather than compressing one.

**Does other service/app have this feature?**
Diffchecker is the only one I could find with this feature included in the web.

[2022-05-05 22:06] nicholasio commented on #1195
Same error for me. Has anyone found a solution? I don't get this issue locally but I'm getting it on Circle CI

[2022-05-07 16:28] masahase0117 commented on #1195
I got a same problem.

Environment:
nodejs-16.14.0-2.fc35.x86_64
Fedora 35 on WSL2 on Windows 10 build 19044.1645

I want to convert AVIF to PNG.
`npx @squoosh/cli --oxipng '{"level":3,"interlace":false}' 00001.avif`

Output;
[code]

[2022-05-12 19:52] emmanuelmavely opened #1247 "Preserving Metadata of the image."
I'm a photographer and I'd like to keep archiving my JPGs of previous shoots and lately I'm running out of space.
So I'm now going through a two-step process to first compress with Squoosh, and then use [EXIFTOOL ](https://exiftool.org/)to copy the metadata to the compressed JPGs.
`exiftool -TagsFromFile %f.JPG "-all:all>all:all" <FolderName>`
I actually found this code from some blog. I don't kno

[2022-05-12 23:26] dasa commented on #1242
This change may be need too: https://github.com/emscripten-core/emscripten/pull/16917

[2022-05-18 22:41] MadeBaruna commented on #1226
Turning on "Enhance your security on the web" (https://support.microsoft.com/en-us/microsoft-edge/enhance-your-security-on-the-web-with-microsoft-edge-b8199f13-b21b-4a08-a806-daed31a1929d) feature on Edge caused this.

[2022-05-19 00:52] petercr commented on #1240
Oh yeah this would definitely be handy to have in VS Code 👍🏻

Great idea

[2022-05-19 14:35] theborakompanioni commented on #1033
Same here using `@squoosh/lib@0.4.0`:

[code]

Same as above, file `node_modules/@squoosh/lib/build/imagequant_node-a4aafbae.wasm` exists..
Any hints or pointers would be very appreciated.

[2022-05-22 06:06] techieshark commented on #1122
Amazing idea, I had similar thoughts. @yogeshbeniwal did you progress this in any way by any chance?

[2022-05-22 08:30] yogeshbeniwal commented on #1122
@techieshark Not yet, I think it tracked here for further considerations https://github.com/WordPress/performance/issues/17

[2022-05-23 18:08] zcraber commented on #1204
Any solution to this?

[2022-05-24 03:18] F21 commented on #1033
Suddenly seeing this upon building a project that was last worked on 2 weeks ago. The only thing that has changed for me was node 18 being upgraded to a newer version, so perhaps that's the root cause.

[2022-05-25 00:58] thechiefalone opened #1248 "Prevent renaming JPEG files to JPG"
I am trying to bulk convert my images but I realized that CLI converts the JPEG extensions to JPG.
Is there any parameter that I can prevent conversion?

I used below command.

[code]

Also I used this one to find from all subdirectories and convert them.

`find . -name "*.jpeg" -exec bash -c 'file="{}"; squoosh-cli --mozjpeg auto "$file"' \;
`

**Version:**
 - OS w/ version: MacOS Monterey 12.3.1

[2022-05-25 12:17] Necko1996 commented on #1238
Have the same issue...

[2022-05-30 13:43] AforDesign commented on #1154
I can confirm I ran into the same issue.

cli-command:
`npx @squoosh/cli --quant '{"enabled":true,"zx":0,"maxNumColors":64,"dither":0}' --oxipng '{"level":3,"interlace":false}' *.png -d png8_64c`

Squoosh-cli: version ? (latest 30 May 2022, -V parameter not working)
OS: OSX 12.4
NodeJS: 16.14.0
NPM: 8.5.5

Output via CLI is 1.5 - 3 x the size of the output of the app.
I'm using the 'copy npx comma

[2022-05-30 13:47] AforDesign commented on #1155
Importing CLI-commands and/or saving presets in the app would be a huge improvement.

Especially when working with AVIF which has many parameters to set.

[2022-05-30 14:51] theborakompanioni commented on #1033
Forr anyone running into the same problem: Temporarily downgrading to node >=v16 when using `@squoosh/lib@0.4.0` is a successful workaround. Thank you :muscle:

[2022-05-31 06:12] JolyneAnasui opened #1249 "'has an unsupported format' happen to specific avif image"
**Describe the bug**
i have an test.avif converted by [Convertio](https://convertio.co/), i want to use squoosh-cli to compress it but get an error
[code]
but it work when the image is converted by squoosh itself
[code]

**To Reproduce**
1. convert a png image to avif using [Convertio](https://convertio.co/)
2. run `squoosh-cli --avif '{}' test.avif`

**Version:**
 - OS w/ version: Windows10
 - Br

[2022-06-01 13:24] lonix1 commented on #1043
I am also on ubuntu, and also get this problem.

Some of my files were CMYK. I converted to sRGB and the problem went away. Thanks @Abromeit !

[2022-06-02 03:23] F21 commented on #1241
Closing in favor of #1242

[2022-06-02 03:23] #1241 closed, assigned to nobody

[2022-06-02 14:27] zdnk commented on #988
Any solutions yet?

[2022-06-02 16:26] JNavas2 commented on #988
New tests:
- does **still** exist in Google Chrome for Android 102.0.5005.78
- does **not** exist in Microsoft Edge for Android (Chromium based) 101.0.1210.53

So:
- It's a Chrome problem.
- Yet another reason to use Edge instead of Chrome.

[2022-06-10 20:54] renzhezhilu commented on #10
hey guys
I'm done [gifsicle-wasm-browser](https://github.com/renzhezhilu/gifsicle-wasm-browser)

<img src="https://cdn.jsdelivr.net/gh/renzhezhilu/gifsicle-wasm-browser@master/demo/ui.jpg" >

[2022-06-11 02:49] JalinWang opened #1254 "CLI misses the -V option"
The CLI 0.72 has no -V option
![image](https://user-images.githubusercontent.com/20621784/173169755-5047eab0-3e70-4fd5-a994-77005fcc9362.png)

![image](https://user-images.githubusercontent.com/20621784/173169695-814ac9a2-18f0-43a5-ac2b-fc4343e65d91.png)

However, -V has been claimed in the README.
![image](https://user-images.githubusercontent.com/20621784/173169742-e58c46d4-6481-48e4-8c03-4c0c53

[2022-06-11 03:05] JalinWang commented on #1195
Do these warnings matter?

Win10 21H1
node v14.18.0

![image](https://user-images.githubusercontent.com/20621784/173170242-222cbec2-4999-40a4-9f23-6b401c1d41b9.png)

[2022-06-23 16:24] nhattran998 commented on #1195
+ 1 with the same problem on MacOs 12.3.1, node 16.15.0.
Hope your team can fix that <3

[2022-07-02 05:03] tamilcselvan commented on #1204
Any solution?

[2022-07-04 15:14] CantCode4JackShit opened #1257 "Photographer needs help installing"
Hello there, I'm a photographer trying to install squoosh on a MAC via terminal and I'm getting the response below. Any assistance on pushing forward would be greatly appreciated.

LVHQWS-EDIT-503:admin rbrian$ npm i -g @squoosh/cli
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm ERR! code EACCES
npm ERR! syscall mkdir
npm ERR! path /usr/local/lib/

[2022-07-04 19:46] nucliweb commented on #1257
Hi @CantCode4JackShit 👋🏼

The problem is that the command don't have permissions. You can see the message `permission denied`, so to install globally you need to use the root permissions.

Try to run next command in your terminal:
[code]

And enter your system password, let me know if this command fix the problem.

[2022-07-04 20:41] CantCode4JackShit commented on #1257
That worked. Thank you very much!

There is one more thing I cant figure out now.  When I'm trying to save a batch to a folder on my desktop I'm getting the message below. I'm trying to save the images to a folder on my desktop and putting in this code after the CLI command then this;

-d ‘../optimize_images *.jpg

[Error: ENOENT: no such file or directory, lstat 'optimize_images'] {
  errno: -2,

[2022-07-04 20:58] digiage commented on #1104
can you please share how?

[2022-07-04 20:59] digiage commented on #1104
can you please share how?

[2022-07-04 21:04] digiage commented on #973
@Th3S4mur41  can you please share how did you make it work on WSL? Thanks

[2022-07-04 21:12] nucliweb commented on #1257
I'm not sure if is a typo in the comment or you have a `'` in the command.

Btw, to have more context, can you share the foldet structure, and the complete command?

[2022-07-04 21:37] nucliweb commented on #1257
I just tried this command, and works fine for me

[code]

[2022-07-04 22:40] CantCode4JackShit commented on #1257
I'm going to try it later and I'll let you know. Thanks for the assist here!

[2022-07-04 23:38] CantCode4JackShit commented on #1257
this is what i got after trying the command you sent. I was promoted for a password but not sure If it was properly installed. I'm still not able to run the action.

Last login: Mon Jul  4 19:36:31 on ttys000
LVHQWS-EDIT-503:~ rbrian$ sudo npm install -g @squoosh/cli
Password:
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

changed 37 packages, and au

[2022-07-05 05:54] nucliweb commented on #1257
Ok, this command install the Squoosh in your system.
What is the command that you are running to compress de images?

[2022-07-05 08:19] Th3S4mur41 commented on #973
@digiage starting my Ubuntu WSL in Windows Terminal then navigating to my icons folder and ran the script as seen in the screenshot. Nothing special
![image](https://user-images.githubusercontent.com/5543595/177282933-cb5be158-9e02-464e-8067-01c546876cfa.png)
Does that answer your question or do you have a specific problem making it work?

[2022-07-05 08:20] nucliweb commented on #1238
The correct quality parameter for AVIF image format is `cqLevel` and the range is between [0 and 63](https://github.com/GoogleChromeLabs/squoosh/blob/dev/codecs/avif/enc/avif_enc.cpp#L9-L12).

The best way to get the config parameters is to export them with `Copy npx command` feature.

## Squoosh app

![squoosh](https://user-images.githubusercontent.com/1307927/177281488-14ee64b4-a3f9-4caa-ac58-3e

[2022-07-05 08:43] digiage commented on #973
@Th3S4mur41 thanks. I was getting the "bash\r: No such file or directory" error (which was totally incomprehensible for me), but in the end I did make it work by installing Node 16.15.1 (v18 did not work) on WSL. I did not realize at first that Node installed on my Windows machine is not enough.

[2022-07-05 09:10] Th3S4mur41 commented on #973
Right, I remember that one... Faced it too when I updated my WSL to Ubuntu 22 😅

[2022-07-05 14:20] CantCode4JackShit commented on #1257
i nucliweb, So I did have someone of a success processing a batch today. The folder I'm attempting to batch is 41 images and only shot out 3 processed.  See my comand lines below.  I'm getting closer.

Last login: Tue Jul  5 10:15:33 on ttys000
LVHQWS-EDIT-503:ARCHITECTURE_SAMPLES rbrian$ npx @squoosh/cli --resize '{"enabled":true,"width":1920,"height":1181,"method":"lanczos3","fitMethod":"stretch

[2022-07-05 15:30] nucliweb commented on #1257
Can you check if the rest of the images have the extension `.jpg` or `.JPG` and not `.jpeg` or `.JPEG`?

Btw, after install `squoosh` globally, you can use the command `squoosh-cli` instead of `npx @squoosh/cli`

[2022-07-06 05:51] jakearchibald commented on #1204
What's your use-case here? Does it not work if you go to squoosh.app?

[2022-07-06 08:37] nichitapavel commented on #1195
Similar problem here, I tested on 3 devices, but only get this problem on one of them.
OK devices are `Ubuntu 20.04.4 LTS` and `Ubuntu 22.04 LTS`, the device with the problem is `Ubuntu 20.04.4 LTS`. All of them have the same node and npm versions `node v16.15.1` and `npm 8.13.2`.
The device with the problem is a 32 core/64 threads and 128GB of memory, I doubt that memory is an issue here, so I am

[2022-07-06 17:24] klesniewicz commented on #976
This is still erroneous and would be nice to see fixed. Why not just rename/refactor all usage of the string “maxNumColors” in the codebase to “numColors”? As far as I can tell, that would eliminate the passing of incorrect argument names through the CLI and should also generate the correct string on Copy/clipboard. This would, of course, mean that the form field used in the web app would be renam

[2022-07-06 21:07] strarsis opened #1258 "Add relative zoom (to resized image)"
**Is your feature request related to a problem? Please describe.**
Often I resize an image in different steps (for `<srcset`s, as there is no widely supported, responsive image format at the moment), and for each step I compare the image to an image of same size and 100% quality as control so I can better judge the compromises. Currently the zoom is absolute (to the original image dimensions), not

[2022-07-07 07:35] DukeBJ commented on #1181
~~on Windows delete keys "method":"lanczos3","fitMethod":"stretch" at JSON~~

UPD:
**OS:** windows 10
**SMD:** powershell 7.2.1
**NODE:** 14.19.3

If you have keys with string parameters, like `"method":"lanczos3"` or `"fitMethod":"stretch"`. You need to escape quotes from the key value, like `"method":\"lanczos3\"` or `"fitMethod":\"stretch\"`. It's work!

UPD2:

It's work only on squoosh-cli _(s

[2022-07-11 08:51] rdragomir opened #1259 "Batch / Bulk process"
It is well known that the photos taken with a smartphone are not well optimized / compressed and take a lot of space in the phone.
Storage is never enough so it would be great if we could have a tool for batch / bulk compressing all photos from a folder.

- it would be great if squoosh.app will be able to process ALL images within a designated folder.
- the processed images can be saved in the out

[2022-07-11 20:28] Cyclic opened #1260 "./public/images/avatar.jpg TypeError: Failed to parse URL from /node_modules/next/dist/server/lib/squoosh/mozjpeg/mozjpeg_node_dec.wasm"
**Describe the bug**
Error running `yarn build`.
[code]

info  - Need to disable some ESLint rules? Learn more here: https://nextjs.org/docs/basic-features/eslint#disabling-rules
info  - Disabled SWC as replacement for Babel because of custom Babel configuration ".babelrc" https://nextjs.org/docs/messages/swc-disabled
info  - Creating an optimized production build
Failed to compile.

./public/imag

[2022-07-11 21:52] Cyclic commented on #1260
Oddly, I came back to my computer after stepping away, and VS code had this output at terminal:
`ol modedecodeCorrupt JPEG data: bad Huffman codeBogus input colorspaceBogus JPEG colorspacevoidBacking store not supportedIDCT output block size %d not supportedSorry, arithmetic coding is not implementedQuantization table 0x%02x was not definedHuffman table 0x%02x was not definedWrite to XMS failedRea

[2022-07-14 06:43] drcmda commented on #1242
Can somebody confirm if this mean that when a package is published relying on squoosh it will crash the package on the client if they don't have node 14 or 16? I was about to use squoosh in a published gltf converter.

[2022-07-14 15:13] donmccurdy commented on #1260
Maybe related:

- https://github.com/GoogleChromeLabs/squoosh/issues/1242

[2022-07-15 20:01] Cyclic commented on #1242
Any updates on this? Is there a workaround for now? Thank you in advance.

[2022-07-15 21:41] donmccurdy commented on #1242
Please let us know if a PR would be welcome for this issue. Thanks! 🙏

[2022-07-16 09:38] BuyMyMojo opened #1261 "JXL Butteraugli distance in web UI"
**Describe the solution you'd like**
An option to use Butteraugli distance as the quality slider when compressing with jxl from the browser.

**Does other service/app have this feature?**
FFMPEG's jxl implamentation has this option along with the offical cjxl cli implamentation.

**Additional context**
While we can do this with the Squoosh CLI having the option to do it in browser and easily compa

[2022-07-16 13:10] stevehomer opened #1262 "Indication of formats supported on website and/or here"
Firstly UNBELIEVABLY excellent program (I refuse to say app). My only quibble is no indication of supported import formats.

I tried a PDF which just hung. (Is PDF supported?)

While the trimmed down website and Readme file are great in their clarity and brevity could we pls just have a tiny bit more info.

Once again great work and a million thanks. (Yippee my brother can now get his Ugandan visa

[2022-07-16 14:37] jhildenbiddle commented on #736
Ran into this today while trying to generate a JPG image from a PNG source with transparency.

This seems like such an obvious need when generating images from sources with transparency to formats that do not support transparency (e.g PNG to JPG). The workaround is to create a separate source image without transparency which, while easy enough to do, is a step that could easily be removed with thi

[2022-07-18 20:12] jpchatt commented on #1033
Seeing this too with node 18

[code]

[2022-07-18 20:15] jpchatt commented on #1242
Upvote this

[2022-07-20 18:09] devinmatte opened #1265 "@squoosh/lib is out of date on npm compared to `dev`"
**Is your feature request related to a problem? Please describe.**
`@squoosh/lib` is at `0.5.0` in the `dev` branch but the latest published version on npm is `0.4.0`.

**Describe the solution you'd like**
Publish a newer version of `@squoosh/lib`

**Additional context**
Was running into issues using the package on node `18.6.x`, not sure if that's related to the package or not, but figured the fa

[2022-07-20 19:31] devinmatte commented on #1242
I filed https://github.com/GoogleChromeLabs/squoosh/issues/1265 but I suspect my issue is actually related to using Node 18

[2022-07-26 04:51] rudolphos commented on #553
I've been using Squoosh for some time, compressing lots of jpegs with EXIF (never really checked whether it's still there), but now knowing that EXIF is purposefully still removed without an option to enable it I'm kind of disappointed. Gonna have to use XnView converter...

[2022-07-26 04:58] rudolphos commented on #1247
https://github.com/GoogleChromeLabs/squoosh/issues/553
https://github.com/GoogleChromeLabs/squoosh/issues/419

If you want to keep EXIF in batch conversions, I can recommend XnView, it even preserves file creation dates.
![image](https://user-images.githubusercontent.com/4366810/180926985-27407727-e6f9-4edc-82bb-833fe0a75c05.png)
It's not as good for singular image conversions though since you can

[2022-07-26 05:10] rudolphos commented on #1257
@CantCode4JackShit FYI, if you ever plan to organize or search your compressed photo collection based on date taken, ISO, lens, etc parameters, you can forget about it since Squoosh removes EXIF and other metadata and there is no way to preserve it.

[2022-07-27 07:51] wojtekmaj opened #1267 "[CLI] Crash when given invalid parameters"
**Describe the bug**

Running a squoosh-cli command with (seemingly) invalid parameters results in a crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute e.g. `squoosh-cli *.jpg --mozjpeg --resize 960 --output-dir ./output`

**Expected behavior**
A clear message on what I'm missing, e.g. "expected 'mozjpeg' param to have value"

**Version:**
 - OS w/ version: [e.g. iOS 12] macOS 12

[2022-07-29 17:22] Zombobot1 opened #1268 "Please save settings on website"
**Is your feature request related to a problem? Please describe.**
I need to process a set of images (resize, turn to webp, change quality). I have to set these settings for every image I upload.

**Describe the solution you'd like**
Save last selected options to localStorage.

[2022-07-30 14:43] radulle opened #1269 "Web library for Squoosh"
In `@squoosh/lib` description in `package.json` says `A Node library for Squoosh`.

Would having `A Web library for Squoosh` make sense?

I see there might be a need for good quality client side resize, rotate, crop and compression (WebP, MozJPEG, Avif, etc). Usage example would be resizing and compression of photos prior to uploading them to server thus reducing server load and bandwidth usage.

[2022-08-03 15:32] schickling commented on #1211
Has this already been released by any chance?

[2022-08-05 02:39] Amethystafyy282 commented on #1211
Its been a long time. :(

[2022-08-06 09:54] flowhub-team opened #1270 "squoosh-cli killed without error log"
![image](https://user-images.githubusercontent.com/99722769/183243964-332b6a0c-a7ac-418c-8022-f8e813936b42.png)

[2022-08-06 15:24] Ben-Mack commented on #1269
Big +1 for this, there's currently no JS image compression lib nearly as good as what Squoosh is providing.
Related: https://github.com/GoogleChromeLabs/squoosh/issues/1084

[2022-08-07 23:22] haxcop commented on #1259
Here you go

1. you choose the path on the first line or folders including the file type (*.jpg)
2. depending of the file type you choose the correct "flag" in this case I'm using (--mpzjpeg)
3. You welcome

`for f in *.jpg
do
  echo "Processing $f file..."
  npx @squoosh/cli --mozjpeg auto $f
done`

here you can do it

[2022-08-08 04:25] radulle commented on #1084
I would like to help too. How could we organise to make this happen?

Sqoosh does seem to have been abandoned? https://github.com/GoogleChromeLabs/squoosh/graphs/commit-activity

I found this effort of bringing squoosh to web https://github.com/myeveryheart/squoosh-browser.

[2022-08-08 04:36] radulle commented on #1269
Thank you for pointing this issue. I see there has been very little progress for a long time :(

There is this https://github.com/kleisauke/wasm-vips alternative library but it's size makes it unusable on web.

On a sidenote I found this good use of Squoosh codecs https://github.com/discourse/discourse/pull/13432 & https://blog.discourse.org/2021/07/faster-user-uploads-on-discourse-with-rust-webas

[2022-08-08 07:17] jakearchibald commented on #1269
I'm happy for someone else to use the wasm codecs in this repo to make a web library, but it isn't something I have time to take on personally right now.

[2022-08-08 07:17] #1269 closed, assigned to nobody

[2022-08-10 04:44] cchavez opened #1271 "Image successful converted using the web app but not in the command line"
I have some image that is converted to **webp** or **avif** in the **web app** but it get stuck in the **command line**, also in some code that I wrote the error displayed is **Unsupported color conversion request** and the application get stuck as well.

For the web app I did:
- Downloaded the latest code.
- Built the web application: `npm install`, `npm run build`.
- Ran the web app: `npm run de

[2022-08-12 13:51] cwaj400 commented on #1209
Just looking at this as I too have encountered this bug.

Is it the case that "fitMethod" needs to be added in ResizeOptions, line 38, as well as the relevant areas where ResizeOptions is used, such as line 191? All in file:

https://github.com/GoogleChromeLabs/squoosh/libsquoosh/src/codecs.ts

[2022-08-15 06:29] aisgbnok opened #1272 "Last button in button group is missing right border"
### Describe the bug
The last button in a button group is missing it's right border. This affects the two button groups that makeup the "controls" in the center of the screen. (Zoom, Rotate, etc.)

### To Reproduce
Steps to reproduce the behavior:
1. Go to [https://squoosh.app/](https://squoosh.app/)
1. Add an image, to get to [https://squoosh.app/editor](https://squoosh.app/editor)
1. See error

[2022-08-15 07:38] #1272 closed, assigned to nobody

[2022-08-15 11:36] cristianvasquez commented on #1271
I also get this error, `Unsupported color conversion request`, but in a Web application.

The problem is that this error cannot be caught,  and crashes the application.

[2022-08-16 20:05] Ktr4ks commented on #1268
It would be cool if we could save presets

[2022-08-18 07:02] aisgbnok opened #1274 "Safari buttons have a 2px margin"
### Describe the bug

On Safari buttons seem to have a 2px margin in-between them. The affects the center "controls" which contains two groups of buttons. I think it looks weird, and I don't believe this is expected behavior?

### To Reproduce
Steps to reproduce the behavior:
1. Go to [https://squoosh.app/](https://squoosh.app/)
1. Add an image, to get to [https://squoosh.app/editor](https://squoo

[2022-08-18 07:21] aisgbnok opened #1276 "No vertical gap/margin between button groups"
### Describe the bug

This isn't really a bug, but a possible UI improvement. When the button groups wrap into a stacked layout there is no margin between them vertically. This is most apparent when the viewport's width is small, and when using a mobile device.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [https://squoosh.app/](https://squoosh.app/)
1. Add an image, to get to [https

[2022-08-18 11:44] #1276 closed, assigned to nobody

[2022-08-18 11:45] #1274 closed, assigned to nobody

[2022-08-18 12:28] Kristinita commented on #1033
**Status: Same problem** :pensive:

### 1. Environment

1. Microsoft Windows [Version 10.0.19041.1415]
1. Node.js v18.7.0
1. @squoosh/cli@0.7.2
1. @squoosh/lib@0.4.0

### 2. Console output

[code]

[code]

[code]

I get the same result for different images in different formats.

Thanks.

[2022-08-22 16:09] gregbenz opened #1279 "HDR support"
**Is your feature request related to a problem? Please describe.**
Squoosh clips HDR data.

**Describe the solution you'd like**
Conversion from a valid HDR source image (32-bit TIF ideally to support Photoshop, as well as 16-bit PNG) to a valid HDR for mat (AVIF and JXL support ideal)

**Does other service/app have this feature?**
avif fence will support at least 16-bit PNG to a valid HDR AVIF. S

[2022-08-30 15:42] GorvGoyl opened #1280 "better compression ratio for png images ( preserve transparency)"
**Is your feature request related to a problem? Please describe.**
problem: I need to compress png images with output as png to preserve transparency. Squoosh tool is quite good at compressing images when the output is a jpeg but not a png.

**Describe the solution you'd like**
better compression option for png images (preserve transparency)

**Does other service/app have this feature?**
below too

[2022-08-30 16:31] surma commented on #1280
Squoosh does support PNG (select “OxiPNG”!). Does that not work for you?
![Screenshot 2022-08-30 at 17 31 43](https://user-images.githubusercontent.com/234957/187491080-e778843f-d392-42f1-97a4-41e43b744ab5.png)

[2022-08-30 16:46] jakearchibald commented on #1280
WebP and AVIF also support transparency, and are supported in Squoosh.

To improve compression in PNG and lossless WebP, also use "reduce palette".

[2022-08-31 10:17] GorvGoyl commented on #1280
reduce palette did the trick!

[2022-08-31 10:39] #1280 closed, assigned to nobody

[2022-08-31 10:40] jakearchibald commented on #1280
Cool, that's what https://compresspng.com/ and https://tinypng.com/ are doing, but Squoosh gives you more control.

[2022-08-31 16:28] aisgbnok opened #1281 "Scrubber arrow svg is large and oversized on Chrome 105+"
### Describe the bug

The arrows on the scrubber for comparing the side by size images is large and oversized.

### To Reproduce
Steps to reproduce the behavior:
1. Update to Chrome 105
1. Go to [https://squoosh.app/](https://squoosh.app/)
1. Add an image, to get to [https://squoosh.app/editor](https://squoosh.app/editor)
1. See error

### Expected behavior

Scrubber arrows should be sized correct

[2022-09-01 07:20] azanatta commented on #1281
We're having the same issue with 105 and svg icons displayed in flex, I've reproduced it in jsfiddle and opened a bug in Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=1358807

[2022-09-01 07:45] jakearchibald commented on #1281
Thanks both. I can reproduce this issue. I'll get a fix together shortly.

[2022-09-01 07:50] #1281 closed, assigned to nobody

[2022-09-01 09:53] xiaotiandada commented on #1183
Suppose I have 400 files, divided into N*20 chunks.
A pool is created each time the loop is completed, and the guan dao is closed after the loop is completed
Resume execution after hibernation

``[ [20...], [20...] ]``

[code]

[2022-09-01 17:41] aisgbnok commented on #1281
@jakearchibald, thank you for fixing this so quickly!

[2022-09-02 12:38] Martinligabue opened #1282 "IPFS support"
**Is your feature request related to a problem? Please describe.**
The website is now hosted in a single server, a serverless approach would make this website more resilient.

**Describe the solution you'd like**
It would be nice to have an IPFS fallback or redirect for who supports it

**Does other service/app have this feature?**
It would be something like this app https://share.ipfs.io/#/

**Ad

[2022-09-07 14:52] AlexZhong22c commented on #1204
same problem. And I solve it by use node version of v14

[2022-09-07 23:00] donmccurdy commented on #1279
A couple other thoughts on HDR images — for web developers working with WebGL and WebGPU textures, OpenEXR (.exr) and .hdr are probably the most common input formats. OpenEXR is the better of the two as outputs go.

KTX2 (BC6H, RGBA16, RGBA32) (related: #1017) would also be an excellent, future-proof output target for WebGL/WebGPU, but is not widely supported today.

[2022-09-10 12:28] enzoferey commented on #1259
An example bash script with what @haxcop has hinted for (using oxipng as an example):

[code]

On MacOS, you can create some `file.sh`, give it execution permision via `chmod +x file.sh`, and then run it `./script.sh`.

[2022-09-13 07:12] t1gor commented on #1248
@thechiefalone have you been able to find the solution?

[2022-09-13 15:04] chrisui commented on #1164
Also have the same error on Mac M1 Pro

[code]

[2022-09-14 09:44] mindaugasvcs commented on #1259
The CLI version should have a directory & subdirectory option as this feature is useful for web developers.
Good starting point of how this could be implemented could be Nunjucks-cli https://www.npmjs.com/package/nunjucks-cli
Basically images/**/* should be accepted as source option or just **/*.jpg as a search pattern and a source folder and a destination folder.

[2022-09-16 10:41] rawriddims opened #1284 "SyntaxError: JSON5: invalid"
I'm running on Windows10 PowerShell:

[code]
Does it depend on my node_module or is my command wrong? Thanks.

[2022-09-17 07:46] rawriddims commented on #1284
If you have keys with string parameters, like "method":"lanczos3" or "fitMethod":"stretch". You need to escape quotes from the key value, like "method":\"lanczos3\" or "fitMethod":\"stretch\". As said [here](https://github.com/GoogleChromeLabs/squoosh/issues/1181#issuecomment-1177198132), and it works:

`npx @squoosh/cli --resize '{"enabled":true,"width":3840,"height":2160,"method":\"lanczos3\","f

[2022-09-17 09:48] johnnyreilly opened #1285 "Did you know about Squoosh.net?"
Heya,

Not a bug report - but rather a report of something surprising/possibly nefarious. I discovered that there's a squoosh.net site out there that looks very similar to squoosh.app but appears to be something different.

I don't know if you're aware of this, but it struck me as peculiar and potentially worrying. I'm guessing there's nothing to do about this, but people should probably be aware

[2022-09-17 10:09] surma commented on #1285
It’s a Chinese translation for Squoosh v1.

Is there anything specifically that you makes you worry or call it malign?

[2022-09-17 10:16] johnnyreilly commented on #1285
Ah my apologies. I worried because it was not squoosh.app address wise and it looked slightly different from squoosh.app when I compared the two. Given Squoosh creates files, I wondered if this was someone using nearly the same domain, but not quite and perhaps generating files which contained something unwanted.

When I noticed that squoosh.net was not squoosh.app I closed the browser tab and did

[2022-09-17 10:18] #1285 closed, assigned to nobody

[2022-09-20 19:29] message commented on #1242
bump

[2022-09-20 19:33] message commented on #1260
Same issue with Node v18.8.0

[code]

Downgrading to Node v16 fixed the issue temporarily.

[2022-09-22 01:11] guiguicdd commented on #1204
Same here

[2022-09-23 16:37] NotWoods opened #1288 "Expose OxiPNG interlacing flag"
**Is your feature request related to a problem? Please describe.**
I'd like to quickly add interlacing to a PNG. Interlacing can help with perceived load times since it renders something onto the page sooner, even though the overall image becomes larger.

**Describe the solution you'd like**
OxiPNG has an existing CLI flag to add or remove interlacing from a PNG file. (The default option is to mat

[2022-09-23 19:11] jakearchibald commented on #1288
It's already there?

[2022-09-23 22:42] NotWoods commented on #1288
Wow, I can't see. Thanks!

[2022-09-23 22:42] #1288 closed, assigned to nobody

[2022-09-27 08:21] dev0652 commented on #916
@LucaDCS,
Thank you, your solution worked for me, too.

[2022-09-27 09:08] dev0652 commented on #916
@surma,

two issues:

1.
Specifying all files in a directory as `*.jpg` used to work before, but now it produces the following error:

![Знімок екрана 2022-09-27 103119](https://user-images.githubusercontent.com/113797010/192474305-ed5f05c1-6143-4550-abea-c347a2d811f9.png)

Same thing happens when I try  `./*.jpg`. Is this intended behavior?

2.
When I run the command from PowerShell, it works OK.

[2022-09-28 19:49] LudovicEvrard commented on #1209
Hello still have this issue. Do you have any idea when it's fix?

Thanks you,

[2022-09-29 09:56] biosocket commented on #1209
Also still having this issue.

[2022-10-04 10:45] AzariasB commented on #1260
Worked fine for me with node 18.0. Seems like the bug was introduced in a minor version of node 18

[2022-10-13 19:01] toufali commented on #1206
Hi!  I'm encountering the same – Any explanation/update/workarounds for this?

[2022-10-25 12:48] oz-tagbox opened #1289 "Specific AVIF file isn't supported using @squoosh/lib but is supported on https://squoosh.app/"
**Description**
a specific AVIF file isn't supported using @squoosh/lib
when trying to decode we get 'Binary blob has an unsupported format' error message
but when uploaded to https://squoosh.app/ is supported

trying to decode and work on other avif files **works** using @squoosh/lib

**To Reproduce**
Steps to reproduce the behavior:

import { ImagePool } from '@squoosh/lib';
const imagePool = ne

[2022-10-26 08:48] koseki commented on #1271
This will be the same problem with
 * #1043

The CMYK image causes a hang-up.

[code]

[code]

[2022-10-31 19:55] rodoabad commented on #1242
Are we just thinking of updating the engine rules? No changes needed from squoosh itself?

Switching to Node 18, I get this error.

[code]

[2022-10-31 21:02] rodoabad commented on #1242
Found the issue - https://github.com/GoogleChromeLabs/squoosh/issues/1033.

[2022-10-31 23:48] goutham05 commented on #1104
is still wildcards an issue using windows ? I am facing the same   @squoosh/cli@0.7.2 and node js 14.13.2 windows 11

[2022-11-04 07:49] chgi opened #1290 "Oxipng AlphaOptim setting should be disabled by default"
**Describe the bug**
In [codecs/oxipng/src/lib.rs](https://github.com/GoogleChromeLabs/squoosh/blob/97d13de273b67ee01a80cb32161f1bb2103b73cb/codecs/oxipng/src/lib.rs), alpha optimization enabled.
This breaks the lossless promise of PNG and actually makes a difference for certain use cases like packed textures.
Please see donmccurdy/glTF-Transform#704 for a real world example.

**Expected behavior*

[2022-11-04 10:30] jakearchibald commented on #1290
I don't think it should be off by default, but making it configurable sounds good. Probably the same for lossless webp.

[2022-11-05 11:17] sefirosweb commented on #1270
Same for me, I tried CLI and LIB and both i have samme issue

Maybe the computer no have enough resources? or the picture is to huge?

[2022-11-05 17:22] meotimdihia commented on #1242
I am getting this error too.
[code]
Node.js 18

[2022-11-10 02:27] charliecen opened #1292 "How to specify the image size to calculate the quality"
For example, I want to compress the image from 1.7M to 200KB. How to calculate the quality of compression is 8 when the preset is unchanged ？？？

<img width="1457" alt="quality" src="https://user-images.githubusercontent.com/6268321/200985447-cc1dd79f-d868-46f3-9c60-e8645d7d803f.png">

[2022-11-16 09:29] #1292 closed, assigned to nobody

[2022-11-16 09:32] charliecen opened #1296 "Calculate the quality according to the specified size of the compression"
For example, I want to compress the image from 1.7M to 200KB. How to calculate the quality of compression is 8 when the preset is unchanged ？？？

[2022-11-17 04:18] ivorafael commented on #1209
+1

[2022-11-18 07:57] charliecen commented on #1296
I have compared the compressed file size by dichotomy and can solve it

[2022-11-18 07:57] #1296 closed, assigned to nobody

[2022-11-18 14:37] benfrain opened #1297 "Displayed file size of 'Original Image' vastly different to file size reported on file system"
Unsure if I am misunderstanding what 'Original Image' size should be representing. I had assumed the file size before Squoosh does anything with it?

**Describe the bug**
Displayed file size of 'Original Image' vastly different to file size reported on file system

**To Reproduce**
Steps to reproduce the behavior:
1. Grab a largish jpg from your file system and paste it into Squoosh
2. Note 'Origi

[2022-11-19 20:25] Mandelag opened #1298 "Tutorial building squoosh for browser / integrating with other react framework (Next.js)"
My user story:
 - Existing react project developer want to integrate squoosh library on their web page, to take advantage of image compression capabilities. But "@squoosh/lib" cannot be imported directly to browser app, since have dependencies (such as `fs`).
 - Current build system is specific to this project. My case uses `Next.js`, and there is no beginner friendly tutorial to integrate them (I

[2022-11-20 21:59] strelec opened #1299 "2 ideas: 4-way compare, copy&paste the settings"
**Is your feature request related to a problem? Please describe.**
2-way compare is sometimes not enough, especially given the amount of parameters to tune.

**Describe the solution you'd like**
2-way compare is sometimes not enough. It can be easily extended into 4-way compare, by having a horizontal and a vertical line.

Also, a way to copy&paste settings (JSON) would be a very useful feature. I

[2022-11-22 20:10] DasWordNerd commented on #1248
Have you tried changing the config for mozJPEG to export .jpeg as the extension instead of .jpg? I don't know if that will resolve your issue, but you can probably test it quickly.

I'd try changing [this line](https://github.com/GoogleChromeLabs/squoosh/blob/2bf0b904cd3ebf831c9b47e6f59ab508ae968f81/src/features/encoders/mozJPEG/shared/meta.ts#L21) `export const extension = 'jpg';` first. If that

[2022-11-23 05:53] chr33s commented on #1242
work around for node >= 18, run `node --no-experimental-fetch ./script.js`

[2022-11-23 15:20] xavierfoucrier commented on #1242
Hello @GoogleChromeLabs team!
cc @surma @jakearchibald 😸

Any news about `NodeJS 18` support? This is a serious issue.
I was surprised that the latest version of Squoosh was published more than a year ago..

[2022-11-25 08:17] ErKeLost opened #1300 "global navigator sass and @squoosh/lib in web"
**Describe the bug**
Does not work properly when sass is used with @squoosh/lib

**To Reproduce**
Steps to reproduce the behavior:
1. [unplugin-imagemin](https://github.com/ErKeLost/unplugin-imagemin)
2. pnpm install
3. cd playground
4. pnpm build

**Expected behavior**
 ### Normally, it performs very well.

![image](https://user-images.githubusercontent.com/66500121/203934552-9b02e896-a833-462c-a

[2022-11-29 14:06] xfalcox opened #1301 "wee_alloc used by resize is unmaintained and has a memory leak"
Per https://github.com/advisories/GHSA-rc23-xxgq-x27g, the wee_alloc optional-but-default dependency of the resize is not maintained anymore, plus has an unbounded memory leak.

This triggered some automatic vulnerability scanners for projects using Squoosh, so it may be a good idea to evaluate using the default allocator / some other library.

[2022-11-30 12:06] surma commented on #1301
Our wasm modules are fairly short lived and contained in the wasm sandbox, so I don't think this is a concerning problem here for now, and the smaller file size matters