[2018-03-26 10:01] jakearchibald opened #2 "Create PR for pinch zoom branch"

[2018-03-26 10:02] jakearchibald opened #3 "Create separate project for pinch-zoom"
Don't do this until we've successfully used it in this project.

[2018-03-26 10:03] jakearchibald opened #4 "Create separate project for touch/pointer event helper"
Don't do this until we've figured out if it's useful.

[2018-03-26 10:03] jakearchibald opened #5 "Create accordion component"
For the compression settings.

[2018-03-26 10:04] jakearchibald opened #6 "Merge mozjpeg & webp wasm codecs along with build scripts"

[2018-03-26 10:05] jakearchibald opened #7 "WASM AdvanceComp"
http://www.advancemame.it/download

[2018-03-26 10:05] jakearchibald opened #8 "WASM pngquant"
https://github.com/kornelski/pngquant

[2018-03-26 10:05] jakearchibald opened #9 "WASM zopfli-png"
https://github.com/subzey/zopfli-png

[2018-03-26 10:06] jakearchibald opened #10 "WASM gifsicle"
https://github.com/kohler/gifsicle

[2018-04-15 13:49] jakearchibald opened #13 "ES classes being transpiled"
This is breaking web components.

See https://github.com/GoogleChromeLabs/squoosh/tree/components-merge where I've tried to merge components in.

[2018-04-15 13:53] jakearchibald opened #14 "Some styles not getting typescript definitions"
https://github.com/GoogleChromeLabs/squoosh/tree/components-merge I've started trying to merge components in here.

* `src/components/app/style.scss` - definitions generated
* `src/components/output/custom-els/PinchZoom/styles.css` - definitions generated
* `src/components/output/style.scss` - **no definitions generated**

I can't figure out why definitions are missing for that last resource. Any

[2018-04-15 13:56] jakearchibald opened #15 "Build progress bar - more trouble than it's worth?"
I feels like we're disabling useful features (like showing address and port number of dev server) because the progress bar doesn't handle it correctly.

If this isn't fixable, we should just get rid of the progress bar.

[2018-04-17 17:45] developit opened #16 "async/await for critters"
continuing on from #12

[2018-04-18 00:32] developit commented on #15
Agreed - it actually is separate from the progress bar. I'll PR re-adding the server info.

[2018-04-18 00:43] developit commented on #14
This should work as of the `prerendering` branch. The issue was that `ts-loader` was running prior to the `typings-for-css-modules-loader`.

[2018-04-18 00:45] jakearchibald commented on #14
It isn't working in https://github.com/GoogleChromeLabs/squoosh/pull/22, which is based on preloading.

[2018-04-18 01:05] developit commented on #15
There's also the built-in `--progress` option, which shows a textual progress indicator and doesn't eat newlines (if the above doesn't work).

[2018-04-18 01:34] #16 closed

[2018-04-24 11:02] jakearchibald commented on #14
I've uncommented the line in #22 that triggers the build error.

[2018-04-24 11:02] jakearchibald commented on #14
https://github.com/GoogleChromeLabs/squoosh/pull/22/commits/552beb5fb8d57f1a3d890388697b763b21034a5a

[2018-04-24 14:36] kosamari commented on #5
WIP code (branch off of components branch) pushed as `multi-panels` branch .
Likely to be manually moved once build process is set and merged.

[2018-05-03 19:04] #13 closed

[2018-05-04 16:14] jakearchibald commented on #14
Update: It's only working if you use the import, and even then it fails the first time.

[2018-05-04 17:43] jakearchibald opened #25 "Bring compressors into master"
Right now the project loads an image and displays it in a canvas. It'd be a good first step to output a second canvas that's the same image but put through one of our compressors.

[2018-05-04 17:44] jakearchibald opened #26 "Merge pinch-zoom component into master"
Make the canvas pinch-zoomable.

[2018-05-04 19:04] jakearchibald commented on #26
Fixed https://github.com/GoogleChromeLabs/squoosh/pull/27

[2018-05-04 19:04] #26 closed

[2018-05-15 14:40] jakearchibald commented on #25
This should include integrating the codec build steps into the main build. Rope @developit into helping with that if you want 😄

[2018-05-15 14:43] jakearchibald opened #30 "Create config component"
It'll need:

* A drop-down select, to select the codec.
* Toggles.
* Range sliders (eg "quality").

This will be a good point for us to review and test the material design implementation, and decide if the off-the-shelf solution is good enough.

No need hooking the form up to anything until https://github.com/GoogleChromeLabs/squoosh/issues/25 is complete, then we can look at how to define configs

[2018-05-15 15:27] surma opened #31 "[mozjpeg] Is `free()` the right thing to do?"
Introduced with #28

Our current binding to MozJPEG call `free()` on the result (see `codecs/mozjpeg_emc/mozjpeg_enc.c`), as MozJPEG doesn’t seem to provide a custom `free` call.

We should double-check that this is actually the right thing to do. At some point. Nobody cares about memory leaks, right?

[2018-05-15 15:29] surma commented on #25
Will get on this as soon as #28 lands

[2018-05-15 16:07] surma opened #32 "Merge in testing stuff"

[2018-05-15 16:11] jakearchibald opened #33 "WASM webp decoder"
Some browsers will need it.

[2018-05-15 16:18] #6 closed

[2018-05-22 09:52] jakearchibald commented on #30
Since @surma has started merging in the codecs, this can now involve looking at the actual options the codec provides, and creating a realistic form.

[2018-05-22 10:30] surma commented on #30
Should we figure out some kind of self-description per codec?

Like `getOptions()` and that returns some sort of JSON that describes the available options from which when then generate the options panel?

[2018-05-22 12:24] surma opened #36 "Move image encoder off-thread"

[2018-05-22 12:45] developit commented on #30
@surma either that or just have components that implement each codec's settings so we can customize as-needed. Not sure about you but every time I've done form generation from a schema, I've always ended up regretting it, haha.

[2018-05-22 13:06] jakearchibald commented on #30
I've also experienced the schema-form-generation pain. However, the form should be 'close' to the codec, so we remember to update one if we update the other.

[2018-05-22 13:20] jakearchibald opened #37 "Build codecs as part of post-install"
If this proves super-painful, we can just check them in.

[2018-05-24 11:34] developit commented on #36
I ended up toying with workers when trying to get the options UI set up, but moved on to other things. Here's my sloppy commit if it contains anything potentially useful:
https://github.com/GoogleChromeLabs/squoosh/compare/options...worker-encode

[2018-05-29 12:51] jakearchibald opened #40 "Install codec dependencies as part of root install"
This may be swallowed by #37.

If I `npm i` in the root, it only installs stuff needed by the main project. That means `npm run build:codecs` will fail, as `codecs/mozjpeg_enc/node_modules/…` hasn't been created yet.

[2018-05-29 12:53] jakearchibald opened #41 "Document codec build dependencies"
I'm guessing it's `automake` and `docker` for mozjpeg?

[2018-05-29 13:02] surma commented on #41
Correct. After #37, I’m hoping that `docker` will be the only dependency.

(Side note: I think I might end up committing the wasm modules after all because the testing story just gets unwieldy. Running docker within docker and stuff.. eugh)

[2018-05-29 13:03] jakearchibald commented on #41
Yeah, I think the complexity of the wasm build means it's the best way forward.

[2018-05-29 14:21] #37 closed

[2018-05-29 14:21] #41 closed

[2018-05-31 12:20] jakearchibald opened #44 "Open example image"
On the initial screen we'll give the option to load an example image. I'm thinking:

* A photo.
* A photo with alpha.
* A graphic with gradients and alpha.
* A graphic that's mostly solid colour with alpha.

…since that covers a few typical cases. However, we shouldn't worry too much about the particular images yet, but the interface to select and load one of these images would be great.

[2018-05-31 12:21] jakearchibald opened #45 "Drag and drop file loading"
This feature will be available on all screens of the app, not just the intro screen.

There should be some kind of drop indicator, but we shouldn't worry too much about the specific design yet.

[2018-05-31 12:23] jakearchibald opened #46 "Generic notification component"
Something we can display errors in, such as image encode/decode errors.

A material snackbar would do https://material.io/design/components/snackbars.html#anatomy.

[2018-05-31 12:26] jakearchibald opened #47 "Download image link"
For each compressed image, we need a button that downloads the compressed image.

[2018-05-31 12:27] jakearchibald opened #48 "Image size info"
For each image, some human readable information on the size vs the original size.

[2018-06-01 07:51] #32 closed

[2018-06-01 13:07] jakearchibald opened #49 "Mouse wheel scrolling fails when mouse is over two-up handle"
It's right that we prevent other mouse events here, but it feels like the wheel should continue to zoom.

[2018-06-13 22:45] surma opened #51 "Update webp modules to libwebp 1.0.0"
They released v1.0.0 of libwebp end of April. We should update.

[2018-06-14 10:59] jakearchibald commented on #51
I'm really interested to see how easy this is, as it'll indicate how much of a PITA this project will be to maintain 😄

[2018-06-14 11:01] surma commented on #51
A quick test while writing the decoder seemed to imply no API changes. So it should just be a matter of bumping the version number.

I’ll test this once #50 has landed.

[2018-06-14 11:02] surma commented on #51
That being said, if it works, it’s okay for us to pin these kind of dependencies to a version that works,  unless we are missing out on crucial features/fixes

[2018-06-14 11:07] jakearchibald commented on #51
Agreed, but it'd be nice to stay reasonably up to date. I don't keep SVGOMG as up to date as I'd like because integration is a bit of a ballache.

[2018-06-14 12:39] #51 closed

[2018-06-17 12:11] surma opened #53 "Potentially migrage to wasm-tool"
https://twitter.com/svensauleau/status/1008319046717198337

https://github.com/wasm-tool/emscripten

[2018-06-17 12:50] developit commented on #46
do we want this one to be a web component?

[2018-06-19 12:41] jakearchibald commented on #46
Initially I thought this would just be a preact thing, since the problem is mostly state management and events. But yeah, I guess it could be a custom element. A bit messy without shadow dom though.

[2018-06-20 12:56] surma opened #55 "Allow to rotate images in 2up"

[2018-06-22 14:58] PaulKinlan commented on #45
I'll be taking this one. Likely going to make a web component out of it, that accepts drops and does all the magic... innit.

[2018-06-22 14:59] surma commented on #45
Unexpected Paul Kinlan in bagging area.

[2018-06-22 15:00] PaulKinlan commented on #45
I'm a sucker for dragndrop.... silos innit

[2018-06-22 15:00] PaulKinlan commented on #45
also, I need to learn typescript and preact and stuff.

[2018-06-22 15:06] PaulKinlan commented on #45
@jakearchibald @surma do we use ShadowDOM and slots etc?

[2018-06-22 15:07] jakearchibald commented on #45
How I see `<file-drop>` working:

Applies a class to itself once it detects file(s) over it.

Fires enter and exit events.

Fires drop event. That event should have a `files` property.

The web component shouldn't have any design. Users should use the change in class name to apply visual changes.

Avoid shadow DOM. We're sticking to the stuff that can be easily pollyfilled.

[2018-06-22 15:09] PaulKinlan commented on #45
ok cool..

So I was thinking something like
Note will change to 'file-drop' more explicit.

[code]

[2018-06-22 15:13] jakearchibald commented on #45
I wouldn't bother with `bindTo`. The element itself is the drop target.

Instead of `fileType` go with `accepts` and try to be compatible with https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#Limiting_accepted_file_types.

[2018-06-22 15:14] surma commented on #45
Not an attribute? (also why is [`:drop`](https://css4-selectors.com/selector/css4/drop-pseudo-class/) still not implemented anywhere?)

[2018-06-22 15:15] PaulKinlan commented on #45
You know, we could just make the <input type=file> 100% of the screen size and just use the default system drop target for file inputs...

[2018-06-22 15:19] jakearchibald commented on #45
@PaulKinlan that would catch clicks too, which we don't want

[2018-06-22 15:20] jakearchibald commented on #45
@surma

Attributes aren't really used for state. In a perfect world we would define a pseudo-class for this (which part will eventually give us), so a class feels like the next best thing.

[2018-06-22 15:22] PaulKinlan commented on #45
true.

[2018-06-22 15:23] PaulKinlan commented on #45
re: bindTo - I was thinking of having the element watch for events on developer defined targets vs this element ultimately being a fullscreen (documentElement), that being said, I'm going to start simple.

[2018-06-22 15:29] jakearchibald commented on #45
@PaulKinlan I went the same way initially, but events can be easily used to change the appearance of the different element.

For Squoosh, I imagine `<drop-target>` will be the root element, with everything else inside it.

[2018-06-22 16:53] PaulKinlan commented on #45
Issues so far before I even get to testing my code....

* Unable to build the codecs it seems - that it's error with autoconf 'configure.ac:23: error: possibly undefined macro: AC_PROG_LIBTOOL
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.'  cc @surma
* Unable to get webpack to, well, pack via npm run build. It just comes back with

[2018-06-22 17:00] surma commented on #45
If you are on master, you shouldn’t need to build the codecs, the build artifacts are commited, as mozjpeg is non-trivial to build (and I haven’t put _everything_ into docker yet).

`npm i && npm run build` is all you need.

[2018-06-22 17:00] PaulKinlan commented on #45
hmm - @jakearchibald said to fork from Options branch ;)

[2018-06-22 17:01] PaulKinlan commented on #45
I'll bring in the master branch...

[2018-06-22 17:03] jakearchibald commented on #45
Combine the two 😄

[2018-06-22 17:03] surma commented on #45
Well, alternatively just pull the .js and the .wasm from master and remove `npm run build:codecs` or whatever from the build steps 😄

[2018-06-22 17:04] PaulKinlan commented on #45
It turns out npm run start - starts, and seems to have Js, but it errors on the CLI like crazy about being unable to compile.

[2018-06-24 14:59] PaulKinlan commented on #47
I can take this on. I'm on a roll (and listening to F1 at the same time.)

[2018-06-24 15:02] PaulKinlan opened #57 "Create separate project for file-drop element"
I'm quite proud of it, we should abstract it as a deliverable for the project so a lot of developers can use it.

[2018-06-24 16:27] PaulKinlan commented on #47
Note: We don't currently store the type of image (extension mostly.)

[2018-06-25 11:13] jakearchibald opened #59 "Agree on code style & fix linting"
At the start we agreed to semistandard, but it seems like nobody particularly likes it, especially the rule that requires a space between a function name and `()`.

Is anyone using a set of linting rules for this project right now? Might make a good starting point. @developit it looks like you're using one, care to share?

[2018-06-25 11:19] surma commented on #59
FWIW, I have good experiences with `prettier`. We could just have it format the stuff for us. There’s a couple things that some mighty not like (like double quotes over single quotes), but at least you can just write your code however you like and prettier fixes it.

[2018-06-25 11:56] PaulKinlan opened #60 "file-drop element improvements"
There are a number of improvements that we can make to the file-drop element that are not directly related to the needs of the app. (see https://github.com/GoogleChromeLabs/squoosh/pull/56 for more context)

* [ ] Add enter and leave events
* [ ] Add .files support to ondrop (filter...)
* [ ] Add valid/in-valid events that map to the css class changes.

[2018-06-25 14:02] PaulKinlan opened #61 "What should happen if we drop multiple images in to the page?"
Right now, if we drop multiple images on to the page the app will find the first image in the FileList object and it will open that.

I think the user's expectations would that it the app should handle multiple files 'somehow'.

Here are a couple of potential solutions:

* Keep it as it is.
* Show a selector with a list of all valid image files, letting the user select only one.
* For each image,

[2018-06-25 15:46] jakearchibald commented on #61
I'm fine with picking the first item for V1. We can revisit this if/when we have batch processing.

[2018-06-26 11:50] PaulKinlan opened #63 "UI state should not be reset when dragging on a new image."
Brought up via. https://github.com/GoogleChromeLabs/squoosh/pull/56#discussion_r198078059

Currently we reset everything when you drag on a new image, but we should keep the options around.

[2018-06-26 14:16] surma opened #64 "[tslint] make underscore on private members mandatory"
https://github.com/ajafff/tslint-consistent-codestyle/blob/master/docs/naming-convention.md

[2018-06-26 14:41] developit commented on #59
I'd like to try Prettier as well. I wasn't using any special configuration, just the eslint VSCode plugin and the [rules from our package.json](https://github.com/GoogleChromeLabs/squoosh/blob/79dfe399789860119345a4df505c34815b13b9cf/package.json#L13-L32).

[2018-06-26 14:45] developit commented on #46
Could just use this:
https://material.preactjs.com/component/snackbar

[2018-06-26 14:49] surma commented on #59
FWIW, `tslint` has _some_ fixing functionality, which can now be run with `npm run lintfix`.

Can this be closed now that #62 has landed?

[2018-06-27 11:18] jakearchibald commented on #46
Our snackbar will need to be able to contain buttons. Eg "New version available [refresh]".

[2018-06-29 15:37] #45 closed

[2018-06-29 17:08] kosamari opened #66 "[webpack]Cannot find module './style.scss'. error"
1. npm install
1. npm run build
1. errors in finding './style.scss'
1. npm run build again
1. -> no more error (why ???)

Error message
[code]

[2018-06-29 20:58] PaulKinlan opened #68 "Clean up linting issues"

[2018-06-30 17:34] developit commented on #66
One tip we could use in the instructions for now as a workaround is to recommend running `npm start` - it'll technically emit an error the first time, but will immediately rebuild and correct itself:

[code]

It also probably makes more sense to recommend this since most people clone and want a development server, not a production app.

[2018-07-01 10:43] surma commented on #66
Even more sneaky: Run `build` as a `postinstall`?

I’m guessing there’s no easy way to fix this, like, properly?

[2018-07-02 08:18] #49 closed

[2018-07-02 14:18] developit commented on #66
@jakearchibald but only with `npm run build`, right? `webpack-dev-server` via `npm start` should always just build twice and continue.

[2018-07-02 14:37] jakearchibald commented on #66
Hmm, I'll provide recreation steps if I run into it again.

[2018-07-02 18:04] #47 closed

[2018-07-03 10:02] jakearchibald commented on #63
I fixed this \o/

[2018-07-03 10:02] #63 closed

[2018-07-03 10:03] jakearchibald commented on #60
Marking as V1, as I think the element needs to support these things to be useful externally.

[2018-07-03 10:04] jakearchibald commented on #59
Yep, done!

[2018-07-03 10:04] #59 closed

[2018-07-03 10:04] jakearchibald commented on #48
This is mostly done, just haven't hooked up the % yet.

[2018-07-03 10:06] jakearchibald commented on #36
Is this done?

[2018-07-03 10:08] jakearchibald commented on #30
I think this is done in terms of its own issue. We'll create additional issues per codec.

[2018-07-03 10:08] #30 closed

[2018-07-03 10:08] #14 closed

[2018-07-03 10:10] #2 closed

[2018-07-03 10:14] surma commented on #36
Yeah, comlink-loader got merged with #39

[2018-07-03 10:14] #36 closed

[2018-07-03 10:17] jakearchibald opened #75 "Integrate WebP"
This is a little more involved than MozJPEG, as some browsers will need the decoder too.

* [x] WASM the decoder.
* [ ] Integrate the decoder & enable the encoder for all browsers.

When integrating the decoder, it should be done in a reusable way, so we can do a similar thing for FLIF & AV1.

[2018-07-03 10:18] jakearchibald opened #76 "Integrate design"
Parts of the design are coming together, we should start integrating it so we can iterate on it.

[2018-07-03 10:21] jakearchibald opened #77 "On-demand loading of codecs"
As we land more codecs we should think about user expectations around large downloads.

Maybe load the codecs on-demand when they're first selected? This would involve two steps: 1. The user selects the codec in the dropdown. 2. Instead of options, they get a bit of text explaining the download size, and a button to download. 3. Once downloaded, they get the options.

We'd probably want a "downloa

[2018-07-03 10:27] jakearchibald opened #78 "Remember settings on tab sleep/crash"
When the user changes settings for a codec, these should be saved somewhere. When they select that codec later, those settings should be restored.

Because of this, we probably want a "reset" button.

Settings should be remembered for each side of the screen. So side * codec.

The codec selected on each side should be remembered between page loads too.

[2018-07-03 10:38] jakearchibald opened #79 "Integrate PNG"
1. [x] WASM PNG Quant #8
1. [ ] Integrate PNG Quant

After that, PNG has a slightly different flow to the other encoders, as it has 'crushers', and sometimes there's a benefit of passing the image through multiple crushers.

1. [ ] WASM two crushers #7 #9
1. [ ] Integrate 'crush' as a checkbox to PNG encoders, which passes the output through PNG crushers.

The main codec may be "Browser PNG" or "P

[2018-07-03 10:39] jakearchibald opened #80 "[offline/SW] Make worky offline"
Later in the project, we need to add a service worker to make the whole offline thing happen.

#77 needs to be considered along with this, as it'll involve a code-update flow that may be out of step with updating the main app.

[2018-07-03 10:40] jakearchibald opened #81 "Vertical two-up"
Current mobile designs show the two-up working vertically, so this needs to be a feature of the two-up.

[2018-07-03 10:42] jakearchibald opened #82 "Copy settings to other side"
I don't know if this should be V1 or not…

Once we have multiple options, it seems likely that you'll want to compare the difference one setting makes.

Being able to copy a configuration from the left to the right (and vice versa) seems like an easy way to achieve this.

[2018-07-03 10:43] jakearchibald opened #83 "Add more MozJPEG options"
We need to expose additional MozJPEG options:

1. [ ] Via WASm.
1. [ ] Via UI.

[2018-07-03 10:44] jakearchibald opened #84 "Add more WebP options"
We need to expose as many WebP options as we can.

[2018-07-03 10:46] jakearchibald opened #85 "MozJPEG lossless transform"
I don't know if this should be V1 or not…

Some JPEG encoders support lossless transforms, such as MozJPEG. We should enable this.

Currently our encoders take image data, so we need to figure out when it's acceptable to pass through the source file directly.

The options UI may need to be aware of when lossless transforms are possible.

[2018-07-03 10:47] jakearchibald opened #86 "JPEG crushers?"
I don't know if this should be V1 or not…

Similar to #85, are there other JPEG lossless transforms we can make use of? Maybe a system like #79 would be useful, even if the input isn't JPEG.

[2018-07-03 10:49] jakearchibald opened #87 "Cache n previous outputs"
I don't know if this should be V1 or not…

When toggling an options switch, it'd be nice if it didn't have to re-encode. To achieve this, we could cache the previous n encodes, and if the settings match something we already have, just pull the item out of the cache.

The size of the cache may be dependent on image size.

[2018-07-03 11:05] mathiasbynens opened #88 "Use .mjs for JavaScript modules"
Squoosh is mostly using TypeScript (`.ts`), but it also uses `.js` for https://github.com/GoogleChromeLabs/squoosh/blob/master/src/lib/fix-pmc.js despite it being a module.

Let's [follow our own advice](https://developers.google.com/web/fundamentals/primers/modules#mjs) and use `.mjs` to denote JS modules as opposed to classic scripts.

If this is a problem for our current toolchain, it would be

[2018-07-03 11:08] surma commented on #79
I’d vote for punting that to v2. For v1 we should definitely ship a PNG encoder, but maybe with a predefined set of crushers? If we have time left before CDS, we can pull that into v1, but I am not sure the architecture and UI can be done in time. My 2¢

[2018-07-03 11:16] jakearchibald commented on #79
@surma I've edited the OP. Does this sound more reasonable?

[2018-07-03 11:23] surma commented on #79
sg!

[2018-07-03 11:49] surma commented on #75
WebP decoder is already on master :)

[2018-07-04 13:52] developit commented on #88
Grabbing this since it's a quick change.

[2018-07-04 14:03] developit opened #90 "Automatically deploy from master"
We can set up travis to auto-deploy master builds if tests pass.

[2018-07-04 19:07] kosamari commented on #80
Question: assuming we'll use workbox or similar and not roll our own ya?

[2018-07-06 21:47] sendilkumarn commented on #48
I would like to take a crack at this one. It would it be better if we show it something like this on both the sides.

<img width="789" alt="screen shot 2018-07-06 at 23 46 27" src="https://user-images.githubusercontent.com/12471122/42401630-da6ad094-8176-11e8-8d68-fa0e9a48917b.png">

[2018-07-07 06:35] jakearchibald commented on #48
We're waiting to figure out the design of this (the implementation is easy). Something like your screenshot doesn't quite work as it isn't clear what the % is of.

We're throwing around "85% of original" in a design.

[2018-07-07 06:44] sendilkumarn commented on #48
Yeah agree it is kinda confusing (but it is just the % difference between left/right and viceversa) , but do you think it would be better to say `85% of left image` rather than `original`.

[2018-07-07 07:23] jakearchibald commented on #48
I think it should be "% of original" rather than % of left/right, else one just ends up being 1/x of the other, which isn't as useful.

[2018-07-09 19:45] #88 closed

[2018-07-09 20:21] mathiasbynens commented on #88
Thanks Jason!

Hmm, https://github.com/webpack/webpack/blob/7aa1efb70e038b720b902b8b27094e4e02a7e4b8/lib/WebpackOptionsDefaulter.js#L313 seems to support `.mjs` already. But then there’s https://github.com/webpack/webpack/blob/master/lib/DelegatedModuleFactoryPlugin.js#L18 which doesn’t have `.mjs`. I’m not familiar with this part of the webpack code base, but I’ll take a look.

[2018-07-10 17:52] PaulKinlan opened #97 "Let user's paste content into squoosh"
Handle onpaste, if there is an image on the clipboard that we can read then replace the current contents of the app.

Open question: Should we alert the user so that they know something destructive is about to happen (unlike drag there is UI visible interaction)

[2018-07-16 10:51] jakearchibald opened #101 "When showing 'original', indicate the type"
In some cases, the type of the original isn't clear to the user, especially when it comes to pasting an image.

The type of the original should be indicated.

We should do this by the same mechanism we use to decide which decoder to use (https://github.com/GoogleChromeLabs/squoosh/pull/91#discussion_r201663191).

For formats with broad browser support, I wonder if the mimetype is already populated

[2018-07-16 10:54] jakearchibald opened #102 "Onpaste: Issues when input has focus"
1. Select image using file picker.
1. Paste new image.

Pasting fails.

1. Open image (any mechanism)
1. Adjust quality.
1. Paste new image.

Pasting fails.

In both cases this fails because an `<input>` has focus, which swallows the paste. This is especially problematic since it's difficult to unfocus the input. Clicking on the canvas doesn't change focus as the mouse events are captured.

We eit

[2018-07-16 14:10] jakearchibald commented on #75
I'm going to take on integrating the encoder

[2018-07-17 09:33] surma opened #104 "Evaluate Embind"
https://kripken.github.io/emscripten-site/docs/porting/connecting_cpp_and_javascript/embind.html#classes

[2018-07-17 09:37] jakearchibald commented on #104
I looked at this a little in https://github.com/GoogleChromeLabs/squoosh/compare/webp-encode-integrate...webp-encode-options.

The tricky bits were getting c++ to compile along with the c, although I got that working in the end. The next bit is figuring out the right way to get the data in and out of c++. Emscripten hates that I'm passing pointers around, so I guess I should be doing something dif

[2018-07-17 09:49] jakearchibald opened #105 "Two-up: react to element resizing"
Right now you can move the divide to the far right, make the window smaller, and you lose the divider.

On resize, we should move the divide so it's positioned at the same percentage of the parent, so if it was in the middle before resizing, it ends still in the middle.

Resize observer helps a lot here. For other browsers we need to use an iframe (eww) or maybe falling back to `window.onresize` i

[2018-07-18 08:23] mathiasbynens commented on #88
Follow-up: https://github.com/webpack/webpack/pull/7691 landed in webpack. \o/

[2018-07-19 20:07] kosamari opened #106 "Multi-Panel : Expanding/Hiding in case of element insertion"
(related #95)

Case : if new element was inserted (thus changing state of heading/panel pair) while user has a panel open. Should it be re-set and collapse or should it stay open?

[2018-07-19 20:09] kosamari opened #107 "Multi-Panel: Overall a11y test with tab navigation."
TODO: Put real UI controls inside of Multi-Panel component and make sure tabindex handling does not mess with user action/intent.

[2018-07-20 08:30] jakearchibald opened #108 "Investigate native webp encoder behaviour without options param"
Shower thought: it might switch to lossless mode without this param. If so, we should offer that as an option.

[2018-07-20 10:13] #75 closed

[2018-07-20 11:07] jakearchibald opened #109 "Review codec defaults"
Right now we've picked some fairly arbitrary defaults for our codecs. Instead we should come up with defaults that are roughly equivalent.

I guess we pick a reference image and make it look "acceptable" in each lossy codec by only changing the quality setting.

For lossess, we should just go with the defaults.

[2018-07-20 14:08] jakearchibald commented on #104
This should be evaluated too https://github.com/charto/nbind. Looks like it generates TS, which is a big win. It also looks like it might make passing memory around, but I don't fully understand it.

[2018-07-24 14:42] jakearchibald opened #111 "Explain what each of the WebP options do"
I'll throw something together, then throw it @mustafa-x's way so he can help us think of a clean way to present it.

[2018-07-24 14:57] jakearchibald opened #112 "Abort previous compression job"
Currently, if I change a few options, I have to wait for each of the jobs to complete. Ideally it should abort anything in progress and compress at the latest settings.

Not sure what's the best way to do this, but `AbortController` is available in some browsers, and pretty easy to polyfil.

[2018-07-24 15:06] surma commented on #112
I don’t know if we can abort running wasm code short of `terminate()`-ing the worker it is running in

[2018-07-24 15:56] surma commented on #112
Need to investigate how `comlink-loader` deals with that, tho ;)

[2018-07-24 16:11] developit commented on #112
indeed.

[2018-07-24 16:15] jakearchibald commented on #81
Done!

[2018-07-24 16:15] #81 closed

[2018-07-26 23:20] PaulKinlan commented on #90
I'll look at this, right now I'm going to assume tests pass... until that bit lands.

[2018-07-27 01:11] PaulKinlan commented on #66
https://github.com/Jimdo/typings-for-css-modules-loader/issues/33

[2018-07-28 15:32] #97 closed

[2018-07-30 13:10] surma opened #114 "Create “Reset zoom” button"

[2018-07-31 15:16] jakearchibald opened #116 "A "secret" encoder/decoder"
ZX spectrum anyone? The code exists already.

[2018-08-01 11:23] jakearchibald opened #117 "Check worker usage"
Ideally we should have two image processing (preprocessing and encoding) workers, one for the left & one for the right.

[2018-08-01 11:49] surma opened #118 "Find a generic abstraction over preprocessor change events"
See #115

[2018-08-01 11:53] jakearchibald opened #119 "Expose liq_set_speed for quantisation?"
https://pngquant.org/lib/#liq_set_speed

[2018-08-01 12:46] jakearchibald opened #120 "Preprocessing and "original image" don't mix"
They appear to work (takes up processing time) but the output doesn't change.

We need to either apply the preprocessing to the output, which may be weird since it's no longer the "original image", or hide the preprocessing options.

My vote goes for hiding.

[2018-08-02 14:53] jakearchibald opened #121 "Enabling quantization on one side enables it on the other"
It shouldn't.

[2018-08-06 09:16] #121 closed

[2018-08-06 09:17] #120 closed

[2018-08-06 21:10] #90 closed

[2018-08-07 11:18] jakearchibald opened #126 "Better type checking for cleanMerge/cleanSet"
It'd be nice to enforce calling `cleanMerge<MergeObjType>(obj, keyPath, mergeObj)` and ensure that `mergeObj` is a partial of `MergeObjType`.

I couldn't get that to work in TypeScript, but maybe there's a way in TypeScript 3?

[2018-08-07 16:10] developit opened #127 "Memory allocation fails after ~20 encodes"

[2018-08-07 16:21] developit opened #128 "Allow PinchZoom to be "controlled" via property changes"
right now we have to use a `componentDidUpdate()` hook to invoke `PinchZoom.setTransform({ scale })`. It would be lovely to be able to re-render `<pinch-zoom scale={newScale}>` and have it update in-place.  For property-driven changes to transform, it'd be good to assume centering (#129).

[2018-08-07 16:27] developit opened #129 "Expose a way to set scale/transform while preserving perspective/pan"
Right now invoking `PinchZoom.setTransform({ scale })` uses a transform origin of `0,0`.  It might be nice to expose either a way to scale around a given center, or assume a default of the center of the `PinchZoom` region.

[2018-08-07 16:28] PaulKinlan opened #130 "Switch to DomMatrix/WebkitCSSMatrix Expose a transform matrix on the pinch-zoom"
I had to read x, y and scale properties and work out how the transforms were applied... I believe if we expose the DOM Matrix of the transform it will be easier to reason what has happened to the image and not have to worry about how all the transforms were applied.

Thoughts from meeting... Make it readonly for now so people can't apply rotations and skews etc to the image.

[2018-08-08 09:38] jakearchibald commented on #116
I'll leave this open in case we want to add SCR encoding, but I'm pretty happy with that we have now.

If we have SCR encoding we'd need resizing too, but that's a pretty important preprocessor.

[2018-08-08 09:51] jakearchibald opened #131 "Resize preprocessor"
Not for V1, but resizing is an important part of image optimisation, and there are multiple techniques available.

We should do bilinear, bicubic, lanczos, and one or two of the pixel-art scalers https://en.wikipedia.org/wiki/Pixel-art_scaling_algorithms.

For the comparison to work, we'd set the width/height of the image to be equal to the original, so the left/right appear the same size.

[2018-08-08 09:52] jakearchibald commented on #127
It's worth finding out why this happens, but #112 would probably work around it if it turns out to be a WASM bug.

[2018-08-09 16:01] jakearchibald opened #132 "PointerTracker: Gets 'stuck' if dragged outside an iframe"
https://codepen.io/jaffathecake/pen/pZqzLw?editors=0010

This isn't needed for Squoosh.

[2018-08-09 16:32] jakearchibald opened #133 "PointerTracker: Expose changed pointers and getCoalescedEvents"
I ticked the tyres of PointerTracker by making a little painting 'app' https://codepen.io/jaffathecake/pen/pZqzLw?editors=0010.

I'm overdrawing because I'm doing stuff with pointers that haven't moved, and I have to jump through hoops to get to `getCoalescedEvents`.

I think this could be fixed by adding `changedPointers`

[code]

Where `changed` is an array of pointers that moved. To get the pre

[2018-08-09 16:32] jakearchibald commented on #133
This isn't an problem for Squoosh btw.

[2018-08-09 16:47] jakearchibald commented on #133
Before:

[code]

After:

[code]

[2018-08-10 15:58] developit commented on #132
I think I'm seeing this when double-clicking buttons overlaid onto pinch-zoom (not sure).

[2018-08-10 16:04] developit opened #137 "Dragging zooms after a wheel event on right pane of two-up"
Steps to reproduce:

1. open the app, load an image.
2. drag it via the left pane
3. zoom via mouse wheel over the right pane
4. drag in the right pane
5. drag in the right pane again

[2018-08-10 16:30] jakearchibald commented on #137
I can't recreate this on https://squoosh-beta.firebaseapp.com/, can you?

On Fri, 10 Aug 2018 at 17:04, Jason Miller <notifications@github.com> wrote:

[2018-08-10 16:41] surma commented on #137
Can’t repro either

[2018-08-11 19:54] developit commented on #137
Hmm, no. I have no idea what the UI branch would have to do with this though..

[2018-08-15 11:34] jakearchibald opened #138 "SVG fails to load"
I'm not sure how much we care about this for V1. There are some weird edge cases here due to SVG not requiring an intrinsic size, although we could try and parse it out of the viewbox in that case. I think that's what I do in SVGOMG.

We'd have to jump through an extra hoop here if we do #131 a resize preprocessor, as the transformation should be lossless.

[2018-08-15 14:14] #133 closed

[2018-08-16 09:30] jakearchibald commented on #130
Can you go into a little more detail on why this is useful?

Right now I use an SVG matrix because it has better browser support, but I'd like to move to DOMMatrix at some point. Exposing it publicly might make that harder.

Either that, or I polyfill DOMMatrix, but that seems like a jump in complexity.

[2018-08-16 09:49] jakearchibald commented on #117
@developit are you happy to take this? Since it involves the internals of the comlink webpack thing.

[2018-08-16 09:51] jakearchibald commented on #112
@surma are you happy to look at this at some point? It feels like this might need to be a comlink thing. As in, you call terminate() through some comlink API, and it rejects any unresolved promises, then terminates the worker.

Then feel free to assign to @developit to look at the comlink-loader bits.

[2018-08-16 11:45] surma commented on #112
I’ll coordinate with @developit. Not sure where this logic belongs. Gut says `comlink-loader`

[2018-08-16 12:27] jakearchibald commented on #112
The bit that made me think that there'd be a root comlink part is aborting (rejecting with `AbortError`) in-flight promises.

[2018-08-16 14:48] developit commented on #117
Yup yup.

[2018-08-17 12:53] jakearchibald commented on #131
https://github.com/ImageMagick/ImageMagick/blob/master/MagickCore/resize.c - this looks like a good place to start. `ResizeImage()`

[2018-08-17 13:10] jakearchibald commented on #131
Some pretty amazing docs too https://www.imagemagick.org/Usage/filter/.

[2018-08-17 15:23] jakearchibald opened #141 "Use "memory views" for C++"
https://kripken.github.io/emscripten-site/docs/porting/connecting_cpp_and_javascript/embind.html#memory-views

On the surface, this looks better than what we're doing now.

[2018-08-17 15:25] #83 closed

[2018-08-17 16:03] jakearchibald commented on #141
https://github.com/GoogleChromeLabs/squoosh/compare/memory-view this works! cc @surma.

I wonder if there's a nicer way to get a Uint8Array into C++. @surma any idea who'd know off the top of their head?

[2018-08-20 09:18] jakearchibald commented on #114
Do we need this, given how easy it is to type 100?

[2018-08-20 09:22] jakearchibald opened #142 "Range input: implement 'disabled'."
In the WebP options "Auto adjust filter strength" disables the subsequent range. The range input in https://github.com/GoogleChromeLabs/squoosh/pull/136 doesn't support this.

[2018-08-20 09:34] surma commented on #114
On any touch-screen device with software keyboard I’d find typing tedious.

Something we could do is similar to how android handles it: Double tap the image to set to 100%, another double tap to fit the screen.

[2018-08-20 09:35] jakearchibald commented on #141
Ok, https://github.com/GoogleChromeLabs/squoosh/compare/memory-view is in reasonable shape now. I need to do the same for webp and update usages in the app.

[2018-08-20 12:38] mustafa-x opened #143 "Design Review"
Refresh:
It would be great to have the image still loaded if the browser was accidentally refreshed. We might need to consider "load new image ui". Maybe as a modal? So if the browser reloads we ask the user to either continue or upload new image.

**Settings options & Webp:**
Make the accordion menu a checkbox, as it is a setting rather than an expanded menu option.
<img width="253" alt="screen s

[2018-08-20 12:43] developit commented on #143
@mustafa-x the zoom mouse thing is a bug, still tracking down what is causing it.

[2018-08-20 13:08] jakearchibald commented on #143
This is great! Lots to chew through.

I'm slightly nervous about this as it means storing the image data locally. It raises some privacy questions, from a storage perspective, but also user expectation. Eg, if you encoded something private, then closed the site, then opened the site to show a colleague how the site works, would you expect to be presented with the previous, private data?

[2018-08-20 13:30] mustafa-x commented on #143
Why not have a time limit of 5 minutes?

[2018-08-20 13:33] mustafa-x commented on #143
Also the loading screen needs some design love, the loading text in the far top hand corner looks broken.
<img width="1520" alt="screen shot 2018-08-20 at 2 32 38 pm" src="https://user-images.githubusercontent.com/1212513/44343506-03230600-a486-11e8-86f9-8467b79871a9.png">

[2018-08-20 14:45] jakearchibald commented on #141
https://github.com/GoogleChromeLabs/squoosh/pull/144 PR

[2018-08-21 08:27] jakearchibald commented on #141
I'm leaving this open to cover doing the same for our WASM code that's C rather than C++.

[2018-08-21 12:29] #141 closed

[2018-08-21 16:00] jakearchibald opened #146 "Copy to other side"
Take the settings & result from one side, and copy it to the other.

Ideally this should be instant, as we've already got the result.

[2018-08-21 16:29] jakearchibald opened #147 "Should reflection be a native feature for web components"
HTML defines different kinds of reflection between attributes and values. It feels like these should be exposed in a way that could be used on web components.

We should talk to folks to see if this has been investigated, and what the blockers are.

[2018-08-21 16:29] jakearchibald commented on #146
If we have some kind of encodeds cache, we might get "instant" for free.

[2018-08-22 12:28] surma commented on #8
@jakearchibald This can be closed since we got imagequant, right?

[2018-08-22 12:40] jakearchibald commented on #8
Yeeep!

[2018-08-22 12:40] #8 closed

[2018-08-22 13:52] jakearchibald opened #149 "Pinch-zoom: Add min/max scale values"
Currently I've hard coded a min scale value to prevent it going to zero. I've also prevent the entire transform if scale is below the minimum, otherwise it causes drift as it scales around a point but then doesn't do the actual scaling.

Anyway, min/max-scale should be attributes, properties, and if something is outside the min/max it shouldn't abort the whole setting operation unless it makes sen

[2018-08-22 20:27] PaulKinlan opened #151 "Remove Travis and Firebase"
It appears that we like netlify. We should clean up the travis config and firebase config if we are not using.

[2018-08-28 10:19] jakearchibald opened #154 "File renaming broken if name includes ."
Seems like we trim after the first `.`. It should be the last.

[2018-08-29 10:04] surma commented on #104
I’m gonna close this for now. nbind scares me and I’d like to stick to Emscripten as that’s a team we can directly work with. (Feel free to re-open if you disagree)

[2018-08-29 10:04] #104 closed

[2018-08-29 10:15] jakearchibald commented on #104
Works for me.

[2018-08-29 11:18] #154 closed

[2018-08-30 09:29] jakearchibald opened #157 "Support Lepton"
V2+ idea.

https://github.com/dropbox/lepton.

Lepton is a lossless packaging of a JPEG. So, from an encoding perspective, it's a kinda post-processor available to the JPEG encoders.

We'd support it as a decoder, which would unpack to jpeg then use the browser's jpeg decoder.

[2018-08-30 14:14] jakearchibald commented on #157
There are other complications here, as you may want to package/unpackage the original image.

[2018-09-04 11:29] developit commented on #151
Travis is still required for tests.

[2018-09-04 13:08] developit commented on #143
It's not broken, just has no design at all.

One note on the suggested changes - I believe the misaligned "Enable Quantization" triangle was due to your margin-top customization. It's aligned properly in the other screenshots.

[2018-09-04 14:17] jakearchibald opened #159 "Expose additional OptiPNG options"
https://github.com/GoogleChromeLabs/squoosh/pull/156/files#r213959192

Although this may be redundant if we plan on switching to advpng.

[2018-09-04 15:02] surma opened #160 "Switch all codecs to -Os"

[2018-09-04 15:51] jakearchibald commented on #160
It'd be good to get numbers on size vs speed for O3 vs Os before we land this.

[2018-09-05 07:10] jakearchibald opened #161 "Flatten CSS"
We're using the cascade, but with CSS modules it's mostly unnecessary.

This is ok:

[code]

…although we may consider just giving the labels their own class. However, we should avoid this:

[code]

The benefit of the above is we can target `.bar` within `.foo`, therefore avoid affecting `.bar` outside `.foo`. But with CSS modules we don't have that problem. Class names will be renamed so we don't

[2018-09-05 07:11] jakearchibald commented on #161
I did some of this in https://github.com/GoogleChromeLabs/squoosh/pull/150.

[2018-09-05 07:29] #87 closed

[2018-09-05 08:39] #129 closed

[2018-09-05 08:50] jakearchibald opened #162 "Update build:codecs"
In the root `package.json` we have a codec-building script, but it only handles mozjpeg right now. We should either remove this, or update it for the other codecs (and the quantizer).

Any preference @surma?

[2018-09-05 08:54] surma commented on #162
I’ll remove it with the update PR. Since we are committing the wasm build artifacts now, we don’t need a top-level build target.

[2018-09-05 10:02] jakearchibald opened #163 "Centre image on load"
Right now, if you load a small image, it appears in the top left. Ideally it should appear in the middle of the viewport.

[2018-09-05 12:46] jakearchibald opened #164 "Image load feels slow as it's blocked on compression"
Once you drop an image, it seems like it takes a while to get to the main UI.

It feels like we should get to the main UI quickly using the original image on either side, but with a loading state until the image reflects the settings.

[2018-09-05 12:47] jakearchibald commented on #82
Closed via https://github.com/GoogleChromeLabs/squoosh/pull/150

[2018-09-05 12:47] #82 closed

[2018-09-05 12:50] jakearchibald commented on #78
This gets really tricky when it comes to multiple tabs. Which settings are remembered? Tab A, or tab B? I guess it would be whichever's changed last. Or could you end up with the left settings from A, and the right settings from B?

This makes me wonder if we should only remember settings using session storage.

[2018-09-05 14:47] jakearchibald commented on #131
I've added browser resizing, but we should add third-party resizing at some point.

[2018-09-06 02:05] developit commented on #161
Yes - old habit I let slip in. Generally there's not much of a reason to nest classnames here.

[2018-09-07 12:49] jakearchibald opened #166 "Investigate flickering issues on Android"
https://bugs.chromium.org/p/chromium/issues/detail?id=870222

Seems like this bug might end up in stable versions (if it hasn't already). Looks like there's a workaround, just gotta implement and test.

[2018-09-12 13:58] jakearchibald opened #167 "Integrate MultiPanel"
Now we have multipanel, we can integrate it into the app.

It seems like we only need it at mobile sizes. Are you happy to take a look at this @kosamari?

[2018-09-18 05:29] #105 closed

[2018-09-24 12:30] jakearchibald opened #173 "Resize broken"
Resize doesn't appear to be working.

[2018-09-25 09:05] jakearchibald opened #174 "Add analytics"

[2018-09-26 08:51] jakearchibald opened #176 "OptiPNG throwing in Safari"
You need https://github.com/GoogleChromeLabs/squoosh/pull/175 to see the issue, otherwise Safari fails due to a lack of `createImageBitmap`.

[2018-09-26 09:26] jakearchibald opened #178 "Firefox bug: "An attempt was made to use an object that is not, or is no longer, usable""
To reproduce:

* Check out https://github.com/GoogleChromeLabs/squoosh/pull/177
* Load an image
* Select WebP
* Select lossless

I've got a funny feeling it's something to do with revoking the blob URL.

[2018-09-26 09:27] jakearchibald commented on #178
Firefox 62.0.2 fwiw.

[2018-09-26 10:15] jakearchibald commented on #178
Ok, this is due to a bug in the image sniffing. Filed https://bugs.chromium.org/p/chromium/issues/detail?id=889420. Fix incoming.

[2018-09-26 10:59] jakearchibald opened #181 "Edge: two-up's legacy-clip-compat doesn't appear to work"
I think Edge might be failing with the @supports rule.

[2018-09-27 13:44] #173 closed

[2018-10-01 12:57] #163 closed

[2018-10-02 10:30] #178 closed

[2018-10-02 13:54] jakearchibald opened #182 "Review UI issues from Mustafa"
https://github.com/GoogleChromeLabs/squoosh/pull/172#issuecomment-425140127

[2018-10-05 12:43] jakearchibald opened #183 "Resize broken again"
I need to figure out why this is so fragile.

[2018-10-07 15:39] surma commented on #53
I rather not touch this part and I think we are currently doing well with what we got.

[2018-10-07 15:39] #53 closed

[2018-10-07 15:40] surma commented on #31
It is.

[2018-10-07 15:40] #31 closed

[2018-10-09 12:34] #183 closed

[2018-10-10 07:40] jakearchibald opened #186 "Link to CDS video"
After CDS we'll add some blurb to the homepage stating why we built it, and link to the video.

[2018-10-11 11:28] surma commented on #176
(also works in TP 66 for me)

[2018-10-11 11:30] surma commented on #160
Numbers have shown that `-Os` gives no performance penalty and no to small size wins compared to `-O3`. I also learned about `-Oz`, but they size wins are just as small as with `-Os`, but actually slower, lol.

[2018-10-11 12:41] jakearchibald opened #190 "Keep SVG sharp while zooming"
If the input file is SVG, and the view is "Original image", then keep it sharp during zoom.

The easiest way to do this would probably be to use the `<img>` directly instead of the canvas.

[2018-10-11 13:05] #164 closed

[2018-10-11 13:15] #138 closed

[2018-10-12 09:46] surma opened #194 "Programmatically determine if emscripten docker image is out of date"

[2018-10-12 09:53] #160 closed

[2018-10-12 09:53] #162 closed

[2018-10-12 13:19] developit commented on #137
I keep seeing this.  It seems to happen if I double-click the right side of two-up and drag on the second click (similar to the android single finger zoom gestures).

[2018-10-12 13:20] developit commented on #127
This is fixed by #192.

[2018-10-12 13:45] developit commented on #182
**toggle button:** which one,  "toggle background"?

**preloading UI:** I was thinking a spinner for each side? or we could just use a brightly coloured indeterminate progressbar hugging the top of the viewport.  I threw one together here:
http://jsfiddle.net/developit/nz1robh3/

**black buttons:** agreed. the UI with all dark buttons would resemble a darkroom, which seems pretty fitting.  For the

[2018-10-13 20:06] PaulKinlan opened #199 "Extract file-drop custom element to a package and include"
We need to create small custom elements that we can just include in the project so that others can use our work and it's easier to maintain

[2018-10-14 08:32] jakearchibald opened #205 "Snackbar disappears too quickly"
For errors we should probably leave it on screen until dismissed, which will require a dismiss button.

If we don't have time for that, extending the time would improve things.

[2018-10-14 08:35] #151 closed

[2018-10-14 08:41] jakearchibald commented on #146
Done!

[2018-10-14 08:41] #146 closed

[2018-10-14 08:42] jakearchibald commented on #128
I think we addressed this with additional methods and events. Reopen if not.

[2018-10-14 08:42] #128 closed

[2018-10-14 09:10] jakearchibald commented on #126
As @developit said, https://github.com/mweststrate/immer/ is the right solution here. I wonder how big it is without the older-browser parts.

Not needed for v1 though.

[2018-10-14 09:11] jakearchibald commented on #116
\*cough\*

[2018-10-14 09:11] #116 closed

[2018-10-14 09:19] #46 closed, assigned to nobody

[2018-10-14 11:31] PaulKinlan commented on #130
Yep. It's totally not needed for v1, it would be nice to add when we make
this a standalone WC

On Sun, Oct 14, 2018, 10:04 Jake Archibald <notifications@github.com wrote:

[2018-10-14 13:10] #127 closed

[2018-10-14 13:11] #181 closed

[2018-10-14 14:14] jakearchibald commented on #130
I was against doing this because of the lack of `DOMMatrix` support, and I didn't want to expose the old SVG type. However, it looks like support is good for the Webkit version. https://caniuse.com/#feat=dommatrix

[2018-10-15 11:58] jakearchibald opened #209 "Snackbar appears under output controls"

[2018-10-15 11:59] jakearchibald opened #210 "Browser compressors fail in Edge"

[2018-10-15 22:41] jakearchibald opened #213 "Zoom controls are broken"
The buttons & input. They zoom around the wrong origin.

I probably regressed this when fixing pinch-zoom.

[2018-10-15 23:39] jakearchibald commented on #213
I've fixed the "container" scaleTo, but not "content".

[2018-10-18 08:47] PaulKinlan opened #215 "Move JSX typings for preact from WC back in to the project."
See: https://github.com/GoogleChromeLabs/file-drop/issues/5

[2018-10-19 07:27] jakearchibald opened #217 "OptiPNG cannot run twice"
It fails with "file exists". I guess free_result needs to also delete the file from the virtual filesystem.

[2018-10-19 10:35] jakearchibald opened #218 "It isn't clear when options can be scrolled"
I want to experiment with one of those scrolling highlight/shadows. But it feels like other things have priority right now.

[2018-10-19 10:50] jakearchibald opened #219 "<Expander> should deal with switching elements."
Right now <Expander> does a good job if changing from content to no content & vice versa. It should also handle when the content changes key, and provide some transition between the do.

I'm thinking the old content fades out, new content fades in, meanwhile the height transitions.

This would be useful when changing compressor.

[2018-10-19 11:07] #217 closed

[2018-10-19 12:30] jakearchibald commented on #142
Dropping this from v1, as we no longer use disabled ranges.

[2018-10-19 13:28] jakearchibald opened #221 "Load main script in head, deferred"
It's currently async & at the bottom of the body.

[2018-10-19 17:03] developit commented on #221
I'm working on this.

[2018-10-20 11:51] #142 closed

[2018-10-20 15:02] surma opened #223 "Add social headers"

[2018-10-20 15:05] jakearchibald opened #224 "Optimise expanding areas"
Use containment. Push stuff onto the GPU.

[2018-10-20 15:11] surma opened #225 "Changine one slider makes the other sliders repaint, too"
<img width="385" alt="screen shot 2018-10-20 at 4 09 14 pm" src="https://user-images.githubusercontent.com/234957/47257195-a1c9e400-d482-11e8-955b-e29e8429f33d.png">

[2018-10-20 15:34] jakearchibald commented on #225
That kinda feels like a Chrome bug. Will see if I can reduce it.

On Sat, 20 Oct 2018, 16:11 Surma <notifications@github.com wrote:

[2018-10-21 14:30] PaulKinlan commented on #215
@jakearchibald I am going to do this after launch.

[2018-10-28 09:48] #210 closed

[2018-10-28 09:49] #209 closed

[2018-10-28 09:49] jakearchibald commented on #167
I've done this in the mobile view.

[2018-10-29 09:18] jakearchibald opened #230 "Expose chroma subsampling & chroma quality in MozJPEG"
I didn't understand the argument format of subsampling when I first looked at this, but thanks to @kornelski I now do.

[2018-10-29 09:28] jakearchibald opened #231 "Check caching headers on deploy"

[2018-10-29 09:30] jakearchibald commented on #231
We need to generate one of these: https://www.netlify.com/docs/headers-and-basic-auth/

[2018-10-30 12:57] jakearchibald commented on #230
https://github.com/GoogleChromeLabs/squoosh/pull/235

[2018-10-30 12:58] jakearchibald commented on #224
This is a nice-to-have for V1. Performance isn't too bad.

[2018-10-30 13:00] #117 closed

[2018-10-30 13:01] jakearchibald commented on #114
I don't think we need this for V1.

[2018-10-30 13:01] #112 closed

[2018-10-30 13:02] #109 closed

[2018-10-30 13:02] jakearchibald commented on #79
I'll split this into seperate issues

[2018-10-30 13:02] #79 closed

[2018-10-30 13:03] jakearchibald opened #237 "Add another PNG crusher"
OptiPNG doesn't seem to do as well as AdvPNG. We should look at porting AdvPNG over.

[2018-10-30 13:04] #77 closed

[2018-10-30 13:04] #76 closed

[2018-10-30 13:05] #66 closed

[2018-10-30 13:05] #60 closed

[2018-10-30 13:08] jakearchibald commented on #55
We should add this as a preprocessor.

[2018-10-30 13:08] #48 closed

[2018-10-30 13:09] #5 closed

[2018-10-31 18:16] dandv opened #239 "Add a website and description for this repo"
![image](https://user-images.githubusercontent.com/33569/47809556-63dc8380-dcfe-11e8-93ab-cca88caa752b.png)

[2018-11-01 13:54] jakearchibald commented on #80
Ended up rolling my own. Wasn't exactly the plan, but with the deadline looming I didn't have time to learn workbox.

[2018-11-01 13:57] jakearchibald commented on #80
In addition to https://github.com/GoogleChromeLabs/squoosh/pull/234, I'm going to:

* [ ] Alert the user when the app is first available offline.
* [ ] Auto-reload the app if an update is installed before the user interacts.
* [ ] Otherwise, alert the user to the update.
* [ ] Create a changelog.
* [ ] Show the user the changelog the first time they load a particular version. The changelog will be

[2018-11-01 14:32] jakearchibald commented on #239
Not yet 😀

[2018-11-03 16:43] jakearchibald opened #241 "It's possible to lose the two-up handle under the options"
On desktop, wide, "advanced settings".

We should prevent the options going full-height to prevent this.

[2018-11-05 11:31] jakearchibald opened #243 "Add back/close button"
Something to get from the compress page back to the home page.

This is especially important for the PWA view on mobile, where there's no refresh button.

[2018-11-05 11:32] jakearchibald opened #244 "Display file name somewhere"
Some feedback:

Seems like a good idea. A quick win would be to change the page title, but we could do something in the main UI too. Maybe think about this along with https://github.com/GoogleChromeLabs/squoosh/issues/243.

[2018-11-06 13:41] #166 closed

[2018-11-06 13:44] #205 closed

[2018-11-06 15:06] kosamari commented on #111
Closing this issue because we have UI for v1.
Please reopen if need :)

[2018-11-06 15:06] #111 closed

[2018-11-06 15:09] #106 closed

[2018-11-06 15:13] kosamari commented on #84
@jakearchibald do you think have enough options in V1 ?

[2018-11-06 15:18] kosamari commented on #61
closing this issue for now.

[2018-11-06 15:18] #61 closed

[2018-11-06 15:29] kosamari commented on #57
dupe of #199

[2018-11-06 15:29] #57 closed

[2018-11-06 15:35] kosamari commented on #239
closing this issue for now as we are in the process of github clean up before launch,

[2018-11-06 15:35] #239 closed

[2018-11-06 16:52] #199 closed

[2018-11-06 16:52] jakearchibald commented on #199
This one's done

[2018-11-07 08:59] #241 closed

[2018-11-07 11:42] kosamari opened #248 "Add better Readme"
Things to discuss :
- where the app is
- how to build locally
- staging ?

[2018-11-07 11:43] jakearchibald commented on #248
Probably not staging, but yeah the rest. We might also add a bit of detail about what data goes to our servers (basically none, aside from analytics which we'll list). Waiting to hear back from privacy on that.

[2018-11-08 11:47] dandv commented on #248
Would help to mention dependencies. Starting from scratch on Chrome OS, I needed to `sudo apt install -y make g++`.

[2018-11-08 11:54] dandv commented on #248
Also, precise usage instructions. The typical `npm install; npm start` failed. I had to run `npm run build` in between.

[2018-11-08 11:58] jakearchibald commented on #248
@dandv yep. We're trying to fly a little under the radar right now until launch. The README page intentionally left blank right now.

[2018-11-08 23:51] jakearchibald opened #251 "Fix css.d.ts double-build issues"
It'll half our deploy time 😄.

The answer is to use https://github.com/Quramy/typed-css-modules rather than (or in addition to) the webpack plugin.

[2018-11-09 14:55] jakearchibald opened #252 "Keeping the site fast"
What can we do to ensure the site doesn't regress performance wise?

My suggestion:

Each PR contains an autogenerated table containing all asset sizes before/after/delta. That way we can keep an eye on the impact of changes.

[2018-11-09 16:01] #221 closed

[2018-11-09 16:53] jakearchibald opened #255 "All tabs refresh on update"
When you accept a service worker update, all tabs to the site refresh. Should we do something better here?

[2018-11-09 18:53] #174 closed

[2018-11-10 00:10] jakearchibald opened #257 "No error message if codec fails to load"
1. Open app in new profile
1. Let service worker install
1. Go offline
1. Open SVG icon image

The jpeg encode appears to hang indefinitely, but in reality the codec has failed to load. We should report some form of error.

[2018-11-10 00:22] jakearchibald opened #258 "[offline/SW] "ready to work offline" message appears too early"
We show it on the initial screen, but we haven't cached the codecs yet. We should probably show this message once the codecs are cached.

[2018-11-10 03:53] dandv opened #259 "npm start fails on Chrome OS"
Getting this even after running `npm build start` twice.

[code]

[2018-11-10 04:02] surma commented on #259
Which node version are you on?

[2018-11-10 04:15] dandv commented on #259
v11.1.0

[2018-11-10 04:16] mathiasbynens commented on #259
It would be good to codify the expected Node.js version in an `.nvmrc` file in the root of the repository.

[2018-11-10 04:32] dandv commented on #259
I've removed node 11 and installed v10.13.0. Then I cloned the repo in a different directly, ran `npm install` and `npm run build`. `npm start` fails with the same error. The installation worked yesterday on a different Pixelbook, with node v11.1.0. I've just retried it on that same Pixelbook, and it failed with the error above, so there's hope for a commit to blame.

[2018-11-10 04:46] dandv commented on #259
921268ec58e72dd549a5bbeb3f3399f08bf3d654 worked.

[2018-11-10 05:01] dandv commented on #259
The breaking commit was 7616d3388369b0c195efc76700ff5f3b8d7aa44b.

[2018-11-10 05:10] dandv opened #260 "Squoosh doesn't initialize the UI on Android browsers on Chrome OS"
P0 because demo-ing opening Squoosh from Android browsers on Chorme OS at CDS.

When opening the locally-running version of squoosh, SW works if the host is `localhost`, but due to http://crbug.com/848063, we need to specify the IP of the Linux container. That's no a secure origin, so Squoosh doesn't load.

[2018-11-10 05:31] surma commented on #259
@dandv `npm run build` works for me, `npm start` is throwing the error. Are you seeing the same behavior on your end?

[2018-11-10 05:33] surma commented on #260
Squoosh doesn’t fail when the ServiceWorker doesn’t load. I just tested it with an alias for localhost where SW will fail to install and squoosh keeps working fine for me. What error are you seeing?

[2018-11-10 05:46] surma commented on #259
FWIW, it does seem like it’s `prerender-loader` that is breaking here. If I remove `prerender-loader` from `webpack.config.js`, the build works.

@developit you’ll have to take this one.

[2018-11-10 06:32] surma commented on #260
You reported this as an issue for Chrome OS. Please include this sort of stuff in your issues in the future. Especially when time is tight and things are labelled as “P0” it is important that we don’t spend time on guessing conditions under which an error occurred.

I don’t have mobile Chrome at my disposal right now, but Squoosh works for me on desktop Firefox with a non-secure origin.

[2018-11-10 15:57] jakearchibald commented on #260
@dandv with Chrome Dev Summit on Monday, everything's P0 right now. Right now I'm having trouble seeing how a service worker install failure would lead to Squoosh not loading. Squoosh doesn't depend on a service worker, so without it everything should just work, but not offline.

Without detailed recreation steps there's not a lot we can do here.

[2018-11-10 19:38] dandv commented on #259
@surma: as of a1a00f0bfb9f7434f00d218adb66d152add82337, I still can't get `npm start` to run on Chrome OS 70.0.3538.76 beta, with node node 10.13.0. `npm run build` fails on a fresh checkout, but succeeds the second time. Then `npm start` fails with the error above. Here's the [full log](https://gist.github.com/dandv/7c79fdeb79dadac7a4269bd20bbea729). What can I try?

[2018-11-10 19:49] dandv commented on #260
Sorry for being insufficiently clear about the platform. I'm trying to get Squoosh to run on Chrome OS 70.0.3538.76 (Official Build) beta (64-bit), using node v10.13.0. At the moment `npm start` doesn't launch the server due to #259, but if I check out 3c757bb2b2f47eef43bad15094dcc3dfad9c1619, I can run the server.

The problem at that point is that I see the checkerboard screen in both Android Ch

[2018-11-10 23:53] dandv commented on #260
Managed to connect Chrome Dev Tools running on Crostini to Android Chrome Dev (thanks @smibarber). Here's what's happening when trying to load the local instance (at commit 3c757bb2b2f47eef43bad15094dcc3dfad9c1619) from the Crostini IP:

![image](https://user-images.githubusercontent.com/33569/48307392-a3764d00-e500-11e8-9b19-49cb69fa6c7e.png)

[2018-11-11 00:18] surma commented on #260
That error is expected and does not break the app (I see it locally as well over a non-secure origin). I can not reproduce this behavior on my end with Firefox or Chrome, so not quite sure what to do.

What version are you running?

[2018-11-11 01:41] dandv commented on #260
2ca97ef5866f66b1baaa3655f4a66427190f732a fixed it, thanks!

[2018-11-11 01:41] #260 closed

[2018-11-11 01:44] dandv commented on #259
This works as of 2ca97ef5866f66b1baaa3655f4a66427190f732a.

[2018-11-12 01:43] dandv opened #265 "No service worker on Chrome OS"
![image](https://user-images.githubusercontent.com/33569/48321838-3b476a00-e5d9-11e8-9908-2f89e3b6db3c.png)

The environment is the same as described in #259, but at the latest commit (9c85618aff8c487406db6868e16c56930c3c64dc) and node v11.1.0.

[2018-11-12 03:06] surma commented on #265
Is this on squoosh.app or are you on the dev server with a insecure origin?

[2018-11-12 07:26] kosamari opened #266 "before and after result share link"
A url that contains all of the options setting, that can be shared, to show what exactly one person was looking at.

(@jakearchibald please edit if this does not make any sense)

[2018-11-12 19:22] SignpostMarv opened #267 "request for UI tweak on checkboxes that toggle adjacent form controls"
If one isn't familiar with the equivalent cli tools, it's not immediately obvious that a given checkbox will activate/disable an additional option or set of options- a couple of examples:

* "Separate chroma quality" opening toggling the chroma quality slider
* "pointless spec compliance" slides up an already-enabled "Optimize Huffman table" over "Progressive rendering" rather than visually indica

[2018-11-13 00:47] Timbets opened #268 "Android app install"
When installed to homescreen/as pwa app the app no longer works in landscape orientation. There is no rotation of the screen. Problem with tablets etc.

[2018-11-13 01:19] surma commented on #268
You are correct. Thanks for filing. For some reason we are locking to portrait in the manifest, we should fix that :)

[2018-11-13 12:51] paperboyo opened #270 "Some UI feedback (mostly)"
Hello,

This is absolutely amazing and the codec options surfaced are very exhaustive – thank you all!
Some random thoughts, feel free to close whenever!

1. While fluid zooming may seem cool (and being fast – even useful), there is no replacement for seeing an image at multiples of 100%, hence: a quick way to reset zoom to 100% (doubleclick on an image? on a zoom control?) and plus and minus butt

[2018-11-13 13:42] shrpne opened #271 "Quality metrics"
Would be great to add some quality metrics like [ssim](https://github.com/obartra/ssim)

[2018-11-13 14:11] barna21 opened #272 "On big image - crash"
when upload  image file 8mb, webpage crash...

[2018-11-13 15:52] GifCo opened #274 "Accidental click & drag on home screen loads logo image."
If you accidentally click and drag the logo on the home screen it will load the logo into the image comparison module.

Not sure if this is desired behavior? If not should have an `e.preventDefault()` on the logo img tag.

[2018-11-13 16:11] markstos opened #276 "wish: command line interface (CLI)"
I would love to be able to use on on the command line.

It would be great to be able to  point it at a whole folder of images at once and see what the result is.

[2018-11-13 16:20] TimvdLippe opened #277 "Smoothing selection bar creates jank"
Using the smoothing option selection bar and drag it around is really janky on Chrome (on Mac). When I load the large image and grab the slider and move it around, the following performance jank happens:
![image](https://user-images.githubusercontent.com/5948271/48427091-e0b72680-e71c-11e8-907b-970aa56d80e6.png)

[2018-11-13 16:26] surma commented on #274
That’s definitely not intended, but I can‘t click-n-drag the logo. Which browser and OS are you on?

[2018-11-13 17:15] eballeste opened #278 "squoosh.app blocked by google"

[2018-11-13 17:17] #278 closed

[2018-11-13 18:59] GifCo commented on #274
@surma Im on Win10 and I can recreate the behavior on Edge 42.17134.1.0
I could have swore it was doing the same in Chrome but I literally just updated to newest version (70.0.3538) 20min ago and I can no longer see the behavior.

[2018-11-13 20:18] onigoetz opened #280 "Release codecs on NPM"
Hi,

do you consider releasing the codecs ( optiping / mozjpeg ...) as npm packages ?
I've tried to build them myself in the past but failed to do so.

I use imagemin in my toolbelt to compress images at build time, but as it relies on binaries downloaded on install, it's very painful on a corporate environment without internet access on build machines.

I'm pretty sure more people than just me wo

[2018-11-13 23:41] alexszilagyi opened #281 "Any API documentation?"
Is there any API documentation somewhere available?

Just curious if could use it more like an tinypng in house alternative for personal apps.

[2018-11-14 05:49] g2ice87 opened #282 "Build fails on Windows 10"
Seems to be an issue with the webpack, any guidance?

$ npm run build

   76 modules

ERROR in ./src/codecs/processor-worker.ts (./node_modules/worker-plugin/dist/loader.js?{"name":"processor-worker"}!./src/codecs/processor-worker.ts)
Module build failed (from ./node_modules/worker-plugin/dist/loader.js):
ModuleNotFoundError: Module not found: Error: Can't resolve 'fs' in 'C:\Squoosh\squoosh\codec

[2018-11-14 06:37] trueqap commented on #276
That would be awesome

[2018-11-14 07:53] trananhmanh89 commented on #282
same here

`λ npx webpack serve
i ｢wds｣: Project is running at http://localhost:8080/les
i ｢wds｣: webpack output is served from /
i ｢wds｣: Content not from webpack is served from E:\laragon\www\squoosh\src
i ｢wds｣: 404s will fallback to /index.html
× ｢wdm｣:    146 modules

ERROR in ./src/codecs/processor-worker.ts (./node_modules/worker-plugin/dist/loader.js?{"name":"processor-wor
ker"}!./src/code

[2018-11-14 07:58] thibaultmol opened #284 "Automatically convert to the other formats in the background"
I'd be nice if, in the background, it would already convert to the other formats. And then give you a view like this:
![image](https://user-images.githubusercontent.com/1010226/48468171-6dc8b100-e7eb-11e8-9847-f6fa9ef45051.png)

So you can easily see which one is the smallest for your specific image

[2018-11-14 10:14] temran commented on #272
Reproducable crash of Chrome Version 70.0.3538.102 (Offizieller Build) (64-Bit), Windows 10 Pro 64 bit - November 13, 2018—KB4467708 (OS Build 17763.134), Memory 16 GB, Nvidia GTX 680, latest Driver
with big jpg-image of 73,4 MB.
File cannot be attached: "Yowza, that's a big file. Try again with a smaller file than 10 MB."
Would be helpful to give this information on the Homepage.

[2018-11-14 11:18] JamieFarrelly commented on #274
Same here on Windows 10 and Edge. Even adding "pointer-events: none" to the image seems to fix it.

[2018-11-14 11:30] oliviernt opened #285 "Invalid image on all images"
I'm using Brave 1.0.61 (Chromium 70.0.3538.80) on Android 7 and everytime I try to select an image from my phone, I get the "Invalid image" error.

[2018-11-14 11:33] oliviernt commented on #285
Example image that doesn't work: ![img-20181109-wa0001](https://user-images.githubusercontent.com/162120/48480044-70d29a00-e809-11e8-8e41-0d2847ae2476.jpg)

[2018-11-14 15:40] surma commented on #284
I totally see where you are coming from, but spinning up all these encoders would cost a significant amount of battery on mobile devices and would actually take quite a lot of time.

Additionally, the overview is not that useful considering every image format has many options to change how effective/lossy the encoding is.

We are thinking about exposing a client-side API for squoosh, so once we ha

[2018-11-14 15:40] #284 closed

[2018-11-14 15:43] surma commented on #282
This seems to be related worker-plugin: I’m assuming it’s assuming `/` when Windows needs `\`.

@developit You mind taking this?

@trananhmanh89 @g2ice87 Just for completeness sake: Can you give use your node and npm versions please?

[2018-11-14 15:45] surma commented on #276
I don’t think it makes a lot of sense to build a CLI for squoosh, considering squoosh is just running already existing CLIs via webassembly 😄

So for now, I’d defer y’all to [OptiPNG](http://optipng.sourceforge.net), [MozJPEG](https://github.com/mozilla/mozjpeg) and [WebP](https://developers.google.com/speed/webp/). (IIRC, these are available via Brew, too).

We are, however, talking about buildin

[2018-11-14 16:06] g2ice87 commented on #282
$ node --version
v10.13.0

$ npm --version
6.4.1

I have tried with the most recent release as well. Thanks for checking into it @surma

[2018-11-14 16:21] surma commented on #285
I can reproduce not being able to load this image in Chrome and Brave. I can also successfully load  other images in Brave. So this issue seems unrelated to Brave and more related to the image at hand.

[2018-11-14 16:25] #268 closed

[2018-11-14 16:31] abqnm opened #286 "When installed on Android, pressing the back button completely exits the app, discarding all work, causing the app to start over anytime you use the Android back button."
This feels like I'm using a ported iOS app with this behavior. Using the Android standard navigation keys shouldn't cause the app to completely forget its place and start over, but rather just move back one page within the app, and if at the top level already, then exit the app. But exiting and forgetting all data the first time you tap the back button makes this quite unusable in a serious fashio

[2018-11-14 16:38] oliviernt commented on #285
Could you provide me with one of your images so I can test it? I've tried with multiple images from different sources but was unable to get it to work on my phone. It did work on my laptop though with that same image.

[2018-11-14 16:52] surma commented on #285
Do the demo images not work for you either?

[2018-11-14 17:18] jakearchibald commented on #286
What do you expect the back button to do in this case? If anything, I figured it'd go back to the main screen, so you'd still be losing your settings.

[2018-11-14 17:20] jakearchibald commented on #285
I can open the above image in Chrome Android fwiw.

[2018-11-14 17:23] jakearchibald commented on #281
The app is a GUI for various command line encoders such as MozJPEG, WebP, and OptiPNG.

Right now, the best way to automate encoding is to use those tools directly.

[2018-11-14 17:24] jakearchibald commented on #280
Yeah, this is a good idea & something we planned from the start.

The codecs are currently in their own folders and with their own readmes.

We just need to figure out the best way to extract them and provide them separately.

[2018-11-14 17:28] jakearchibald commented on #274
This sounds like a fun issue to fix. Thanks for reporting!

[2018-11-14 17:31] abqnm commented on #286
I expect it to go back to the previous page, like the back navigation key is supposed to in every Android app.

PWAs should follow the same navigation structure as the OS they're used on, so the back navigation key should step back one view within the app, and then if on the top level view, THEN it should exit the app. Having it just exit the app and discard everything without any sort of warning

[2018-11-14 17:46] surma commented on #277
Yeah. Let’s denounce range inputs. Everybody hates them.

[2018-11-14 17:46] oliviernt commented on #285
@surma no. No image has worked so far on my phone...

[2018-11-14 17:49] surma commented on #286
“previous page” — do you mean the landing screen with the squoosh logo?

So:

1. Open app, get landing screen (the one with the logo)
2. Load an image
3. Do a couple of settings and compression jobs
4. Press back button
5. Be back on landing screen

Is that the behavior that you’d expect? (I think I’d agree with that and it could be solved with a simple `pushState()` when an image is loaded.)

[2018-11-14 17:51] jakearchibald commented on #286
Given that Squoosh only has two views, you mean "go back from the compression screen to the home screen" then?

That would also lose your compression settings.

[2018-11-14 18:05] abqnm commented on #286
@surma, yes, that is what would be expected.

@jakearchibald, yes, that's correct. I realize it is losing changes still when using the software back button (which could be addressed by adding a warning before discarding the changes), but the real point is not the specific actions with just this PWA, but a significant issue with all PWAs, web wrappers, and ported iOS apps—inconsistent navigation. I

[2018-11-14 20:16] onigoetz commented on #280
Thanks for the quick reply, looking forward to it then :) Is there anything I can help with ?

P.S. Thanks for everything you presented at Chrome Dev Summit, didn't watch everything yet, still catching up :)

[2018-11-14 21:55] jakearchibald commented on #243
Done & shipped

[2018-11-14 21:55] #243 closed

[2018-11-14 21:56] jakearchibald opened #288 "Browser back button should go from compression screen back to home screen"
Uh oh it's `pushState` time.

[2018-11-14 21:56] jakearchibald commented on #286
Issues filed under https://github.com/GoogleChromeLabs/squoosh/issues are intended to be specific to Squoosh, not all PWAs.

Filed https://github.com/GoogleChromeLabs/squoosh/issues/288 to cover the Squoosh-specific case.

[2018-11-14 21:56] #286 closed

[2018-11-14 22:13] JamieFarrelly commented on #274
Sorry for the multiple pull requests but I've opened a pull request to fix this #290. The sample images on the homepage had the same issue.

[2018-11-14 22:45] jakearchibald commented on #285
Same version of Brave, I can open all the demo images. But I'm on Android 9. Guess I need to find a test device.

@surma

Is this a typo, or can you reproduce the issue?

[2018-11-14 23:38] surma commented on #285
No, the attached image from @oliviernt does indeed not load for me on mobile (it does on desktop 🤔)

[2018-11-15 00:37] fstanis opened #291 "Add information about how long compression took"
Maybe put number of milliseconds the operation took right under compressed image size?

Would be nice for (rough) comparison of WASM performance across browsers / devices.

[2018-11-15 00:45] fstanis opened #292 "Prevent image from being too far from splitter"
I find it a bit annoying that zooming out can put the image in some awkward corner.

Perhaps it's a good idea to prevent the image from going too far, e.g. ensure it's (1) always visible (so you can't scroll in a way which puts it off-screen) and (2) image edges snap to splitter if taken too much to the left or right.

So if the zoom or pan results in something like this:

![image](https://user-im

[2018-11-15 01:20] mathiasbynens commented on #292
FWIW, this happened with several CDS attendees that tried to use Squoosh for the first time while visiting our forum space booth.

[2018-11-15 01:31] neewbee commented on #282
Fedora 29
[code]

[code]

[2018-11-15 02:06] fstanis commented on #292
+1 same happened with our Pixelbook booth as well. People would get confused when they zoomed and panned the image and it disappeared somewhere.

True - maybe snap to image edge + some margin to account for handle?

Or maybe an easier / simpler to implement solution is to just:

- Ensure minimum zoom level is such that picture always takes at least 10-20% of the viewport.
- Ensure the picture is n

[2018-11-15 02:19] fstanis commented on #288
Does it also make sense to serialize the compression options in the URL somehow (e.g. `https://squoosh.app/compress?left_codec=original&right_codec=MozJPEG&right_quality=40&right_etc=...`? This could solve the aforementioned issue of losing them when going back.

Not sure what to do with the loaded image though. Some ideas:

- Save last used to cache, load from cache
- Load second view without ima

[2018-11-15 02:20] surma commented on #292
Yeah, I talked to @mathiasbynens offline.

I think snapping to the handle is the wrong solution. Something like a minimum zoom-level so that an image occupies at least 10px by 10px or something.

I think we can do better by making it harder to lose the picture, but I don’t think we can reliably prevent it 100%.

I was wondering if we should add a double-tap gesture on the zoom percentage to reset

[2018-11-15 02:39] fstanis commented on #251
I tried playing around with this, but it seems https://github.com/Quramy/typed-css-modules doesn't quite work since it doesn't support Sass and tackling that is going down the rabbit hole.

I'm not quite clear why `typings-for-css-modules-loader` is causing this. My understanding is that it's generating the typings asynchronously and TS isn't waiting for it? Also, possibly unrelated, but [there's

[2018-11-15 03:21] pawseytj opened #293 "Copyright & Fair Use Policies"
Please add details on Copyright & Fair Use Policies for use of squoosh?  Eg. Can I freely use squoosh to reduce image sizes for images I own & add those reduced size images to a website?

[2018-11-15 04:14] developit commented on #282
Hmm - looks like it's not ignoring `fs` imports on Windows. Perhaps this line is the issue:

https://github.com/GoogleChromeLabs/squoosh/blob/0502d70cdfba54973cecc905d97b072445e3ff8d/webpack.config.js#L172

[2018-11-15 06:07] g2ice87 commented on #282
Got it to compile finally. Replacing all entries in webpack.config.js that contain '\/' like '/\/codecs\//' with '/\\codecs\\/'. Thanks for pointing me in the right direction!

Here is the config file that allowed for successful compiling on Win 10:
`const fs = require('fs');
const path = require('path');
const webpack = require('webpack');
const CleanPlugin = require('clean-webpack-plugin');
cons

[2018-11-15 06:12] oliviernt commented on #285
I'm on a Honor 5x with a Lineage OS custom ROM if this is of any help. Maybe it's possible to reproduce in a virtualized environment!? I'll see of I find time to setup something...

[2018-11-15 07:53] sachk commented on #293
squoosh is really good for figuring out settings, but it's not a compressor in itself, and other programs are more suited to mass compressing a bunch of files especially for web use.

[2018-11-15 10:05] juristr opened #294 "<Enter> key makes app jump to the image selection screen"
To reproduce:

- select an image s.t. the optimization screen opens
- click the quality number to activate the textbox
- change the number
- press <kbd>Enter</kbd>

Expected would be that the textbox disappears again and the number is processed. However, the whole app jumps to the main screen instead :)

[2018-11-15 12:15] kosamari commented on #294
Reproduced on Mac Chrome 70.

[2018-11-15 12:16] bhavayAnand9 commented on #294
It only happens on selecting MozJPEG and OptiPNG.

[2018-11-15 12:16] kosamari commented on #293
Thanks for your suggestion! We'll discuss this after little break/traveling back from CDS this week :)

[2018-11-15 12:21] #281 closed

[2018-11-15 12:46] kosamari opened #295 "Using number input for zoom level moves image off screen"
Repro steps
1. select image (logo was my test case)
2. use input field to set zoom %
3. change numbers to something like 50
4. image disappears from screen
5. pinch zoom out
6. image found in off screen 🤔

Haven's tried enough to know what condition cause this (i.e for smaller number like 5%, image stay in place) feels like positioning logic for pinch zoom gets confused?

[2018-11-15 12:47] kosamari opened #296 "Issue template ?"
Now that we are getting contributions and questions 😌 shall we have issue templates?

[2018-11-15 13:00] kosamari opened #297 "Add message about how image compression works ONLY in client-side."
Given some comments seen about "no thank you, I don't want my image data to be tracked/uploaded" ... we should have some fun message on UI to assure users that their image data is not getting out of client-side app ever ✨

(related #186)

[2018-11-15 13:07] aaronth07 opened #298 ""Something Went Wrong With This Webpage" when trying to upload a very large photo."
I am trying to upload a 163MB image that is 16817 x 21808 pixels large, yet I keep getting the issue "Something Went Wrong With This Webpage".

[2018-11-15 13:20] Haprog opened #299 "Image orientation/rotation is wrong for some images"
I tried compressing a photo taken with my Samsung Galaxy S8 (in portrait orientation) but the image shows up in wrong orientation (rotated 90 degrees) in https://squoosh.app/ and there also didn't seem to be any option to rotate the image.

The photo shows in correct orientation if I view it e.g. in image preview of macOS Finder. If I save the compressed image from squoosh then it will show up in

[2018-11-15 13:31] Haprog commented on #299
This might be useful for implementing a fix: https://github.com/exif-js/exif-js

[2018-11-15 13:39] Haprog commented on #299
I just found some info about a kind of related issue in Chrome: https://stackoverflow.com/q/42401203/1362634

Though that's probably not relevant to implementing a fix for this.

[2018-11-15 14:26] andrejarh opened #300 "batch optimize"
Not really an issue, just a question?

Is it possible to optimize a whole folder in terminal using local node install?
Are there any dev docs available?

[2018-11-15 14:29] mortalgav opened #301 "Ability to upload multiple image files"
This is a fantastic tool, however as a feature request for v1.* I would hope that it was possible to upload multiple images based on a set of previously defined variables.

I would suggest the UI would work similar to what you have defined however once you have set the encoding & quality settings there would be an option to drag additional images into page and have them all compressed and availabl

[2018-11-15 14:40] kosamari commented on #300
thanks for the question! Currently the app does not batch(folder) processing.

As for using it on terminal, this app is a GUI app built on top of codecs compressors (WebP, OptiPNG, MozJPEG) so you may experiment the options with Squoosh > process them using existing program on command line.

[2018-11-15 14:40] #300 closed

[2018-11-15 14:43] kosamari commented on #301
Thanks for the suggestion @mortalgav.
Yes, batch process is something we've been discussing and something we'll definitely consider for v2.

Would be great to get feedback on usecase so we can design appropriate interaction... how would you imagine using Squoosh in your workflow? Would you use it for your website/app building or something else?? Any feedback welcome :)

[2018-11-15 16:42] dpramani opened #302 "Using it for website development"
Are there any API documentations available for this ? What are my options for using this for website development ?

Thanks

[2018-11-15 17:03] merfire commented on #301
Hi @kosamari, really great application and presentation 🥇

It would be really great if we could set compression settings and drag multiple images for optimization.
For example [jpeg.io](https://www.jpeg.io/) but with custom compression settings. Because jpeg.io doesn't have custom settings I sometimes have to use [jpeg-optimizer](http://jpeg-optimizer.com/) which is great when I find compression l

[2018-11-15 17:06] developit commented on #282
Makes sense to me! That plugin operates on real filesystem paths, so it bypasses wevpacks usual normalization.

[2018-11-15 17:10] callaginn commented on #248
So does anyone know how to install this on Mac OS X yet? Running `npm install; npm run build` fails with the following alerts:
<img width="100%" alt="screen shot 2018-11-15 at 11 06 38 am" src="https://user-images.githubusercontent.com/2430211/48569203-b903c200-e8c6-11e8-83df-f8164226235e.png">

I should also mention that the `/Sites/squoosh/node_modules` folder is completely empty after running t

[2018-11-15 17:56] surma commented on #248
That’s a big indicator that something is wrong :D Your `npm install` command immediately fails, saying that `har-validator` could not be found (but it [does exist](https://www.npmjs.com/package/har-validator)). Not sure what is going on there. Which version of node and npm are you running? Are you on a protected/corporate network?

[2018-11-15 17:57] surma commented on #296
I’m gonna create one to cover some basics. Everyone in the team should feel free to add stuff or make suggestions here.

[2018-11-15 17:58] surma commented on #296
I think we should also add a `FAQ.md` or maybe re-enable the wiki with an FAQ for stuff like “I can haz batch?”

[2018-11-15 18:38] DevonJSmith commented on #282
Would modifying these lines to include both cases, such as
`new webpack.IgnorePlugin(/(fs|crypto|path)/, /\/codecs\/|\\codecs\\/),`
Work in order to maintain the previous functionality while still accounting for the Windows file structure?

[2018-11-15 18:44] surma commented on #282
I think at that point I’d prefer something like

[code]

[2018-11-15 20:48] callaginn commented on #248
I'm running node v8.11.4 and npm 6.4.1 on my local machine, outside of any corporate network.

[2018-11-15 20:49] DevonJSmith commented on #282
Ah, `path.sep` would work for this, right?

[code]

[2018-11-16 01:08] alexey1312 commented on #298
+ 1 is the same problem. Thank you

[2018-11-16 10:44] alex-saunders commented on #219
Hey @jakearchibald , I was looking at `<Expander>` and was wondering if it's worth moving away from animating height, instead opting for a keyframes animation (generated on-the-fly) that transitions `transform: scale` (like is explained [here](https://developers.google.com/web/updates/2017/03/performant-expand-and-collapse)).

I'd be happy to pick this up if it's something you deemed worth it!

[2018-11-16 11:24] seguri opened #310 "Drag image from another tab"
It would make the process faster if it worked by dragging an image from another tab.
Test: Open a tab with squoosh; open another tab with amazon and choose a random item from the store, just to access its description; open the big image of that item and drag it to the squoosh tab. Result: squoosh compresses the dragged image

[2018-11-16 11:27] seguri opened #311 "Add a bookmarklet"
It would be nice to have a bookmarklet to drag images to and either have squoosh.app to open with that image compressed or get it directly copied into clipboard, ready to be pasted.

[2018-11-16 11:56] mortalgav commented on #301
I agree with merfire - an better version of the 2 links above would be quite suitable.

EG: have the ability to:
* Have the ability to upload multiple files
* Define the optimisation settings of the files (this could be done using the existing UI eg - to optimise the first uploaded image in the batch)
* Ability to start the optimisation process.
* Ability to download the compressed files.

AS A US

[2018-11-16 18:22] kurtommy commented on #280
Yeah @jakearchibald and @surma are working on this!
After reading the article about this project the first thing i've done was search on npm i'd like to add a prebuild script to optimise our Anuglar /assets/imgs folder that would be great, the online version is nicce and handy but it doesn't work for bulk optimisations
... looking forward the npm lib!

you know jake today i've been to visit one of

[2018-11-16 22:30] sopacultural opened #312 "Problem in Resize"
When resizing the photo, the image loses a lot of quality!

[2018-11-17 01:31] kosamari commented on #312
@sopacultural yes, image will loose quality & appear blurry in preview when you resize it down. You can experiment with choosing different method for resize and it'll give you slightly different look.

<img width="955" alt="screen_shot_2018-11-17_at_10_28_53_am" src="https://user-images.githubusercontent.com/4581495/48654853-a66ac380-ea53-11e8-80ab-2bb67314bc6c.png">

Resize it down = loosing pixe

[2018-11-17 01:34] kosamari commented on #311
Hi ya @seguri - I like this idea and will put in v2 plan meeting (which we are planning on doing in early December)

[2018-11-17 01:34] sopacultural commented on #312
At least with me, when I resize the image, it turns out really bad ...
Unlike direct reduction by Wordpress or Photosop! Anyway, thank you for the
attention!

Em sex, 16 de nov de 2018 às 23:32, Mariko Kosaka <notifications@github.com>
escreveu:

--
*Jorge Luis Rodrigues*
jorgeluisrodrigues@gmail.com
Tel.: (21) 9259-7774

[2018-11-17 01:44] kosamari commented on #312
Ah yes! different approach is taken when resizing & different app has different secret sauce. Squoosh expose what browser provides.

Left image is original photo reduced to 200px width using "Preserve details 2.0" option in Photoshop. Right is using Squoosh with "browser high quality" option.
<img width="1216" alt="squoosh_resize_and_photoship_resize_jpg_and_squoosh" src="https://user-images.githu

[2018-11-17 01:44] #312 closed

[2018-11-17 02:37] kosamari commented on #302
Hi ya @dpramani Sqoosh is an application to test and experiment with efficient codec like MozJPEG, WebP, OptiPNG. We basically exposed things you can do with those codecs on command line and put  UI on top.

We thought it would be used to experiment with codec/option setting, then you can take that to put it into your build process (like batch converting images on deploy).

Does this answer your q

[2018-11-17 02:41] kosamari commented on #310
Hey @seguri thanks for suggestion - can you help me understand "make the process faster" bit?
We had assumption that while you are say, developing website, you'd have raw asset on local folder, and never really thought of asset living in different tab. What's your work flow like? (trying understand it so we can design best interaction)

Thanks!

[2018-11-17 02:43] kosamari opened #313 "Write tests"
something something... testing is good... something.

[2018-11-17 02:47] kosamari commented on #291
Hi @fstanis, hmm but wouldn't the result vary depending on the machine?

I don't think target use case for Squoosh is WASM performance testing, and if someone need to get those data from squoosh, they'd probably better off with browser trace?

[2018-11-17 02:50] kosamari commented on #271
Hi @shrpne interesting! Is it something you use in your development? (I haven't worked in a project that had quality metrics 🙈)  Would appreciate if you could share how you use metrics like ssim.

[2018-11-17 03:03] fstanis commented on #291
I agree it wouldn't work well for any serious performance testing, but I'm still often curious how much time it takes to do e.g. quant vs mozjpeg.

I don't think it's that important for the project, but might be a good first issue and some users might find it interesting, that's all :)

[2018-11-17 05:49] jakearchibald commented on #312
@sopacultural to ensure we're talking about the same thing, can you upload a picture you resized in Wordpress/Photoshop, along with the image uploaded in Squoosh, and the original image?

[2018-11-17 06:18] jakearchibald commented on #312
Related https://github.com/GoogleChromeLabs/squoosh/issues/131

[2018-11-17 06:32] jakearchibald commented on #297
We've already got the privacy link, but I guess we need text in the intro page itself?

[2018-11-17 06:51] jakearchibald commented on #294
Need to prevent default on form submit. Quick fix.

[2018-11-17 06:54] jakearchibald commented on #291
The hard part here is UI. On mobile we're already overflowing the results data.

[2018-11-17 10:11] juristr commented on #294
Yep, guessed it must be something like that. I was on the flight back home
from the Chrome Dev Summit so I didn't triage the bug.
But I can send a PR if u wish

On Sat, Nov 17, 2018, 07:51 Jake Archibald <notifications@github.com> wrote:

--
Juri Strumpflohner
Google Developer Expert in Web Tech • https://juristr.com • @juristr on
Twitter

[2018-11-17 13:29] seguri commented on #310
Hi @kosamari, the flow I'm thinking to is the one I described in the second line of my opening post as "Test". Should I reformulate it?
@jakearchibald myabe on Monday I can learn how browser interpret dragged images. At the moment I can't help you

[2018-11-17 13:42] surma commented on #310
@seguri I think, currently, if you drag-and-drop an image from another page all we get is the URL. We can’t read, let alone compress that image as it’s most likely blocked by CORS.

[2018-11-17 14:25] nop1984 opened #314 "Crop with frame by mouse"
Please add a feature to crop image with mouse by moving frame borders
This will let to work with screenshots fast without any desktop software, just by pasting from clipboard.
Also would be nice to have option not only to download result, but to copy result back to clipboard or upload to some image hosting without downloading to client.

[2018-11-17 14:43] kosamari commented on #314
Hi @nop1984 thanks for the suggestion - will discuss with team for "crop" feature for v2

We'll discuss "click to copy to clipboard button" as well.  But for now, you can copy image to your clipboard via native options. (the gif below ends with me `ctrl+v` to paste from clipboard).

![clipboard](https://user-images.githubusercontent.com/4581495/48662194-d2249280-eac1-11e8-825f-17742ea62520.gif)

[2018-11-18 06:35] motss opened #316 "Numbers cannot start with 1 when editing colors for OptiPNG"
Steps to reproduce:
1. In `Compress` mode, switch to `OptiPNG`.
2. Toggle to check on `Reduce palette` checkbox.
3. Focus on or click the `input[type=number]` element of `Colors:`
4. And type `17` and see the value 'jumps' to `27` instead.

Because of the input validation that only allows a minimum value of `2`, this breaks the final value when user tries to enter anything starts with `1` but less

[2018-11-18 10:31] jakearchibald commented on #299
We need to watch out for browsers that apply rotation automatically (Safari) and how we might detect this. I guess we could create a 2x1 JPEG with the orientation exif, and measure what size it appears on the page.

[2018-11-18 11:56] Haprog commented on #299
That doesn't necessarily matter. When the user selects an image you could just immediately remove the EXIF data (or at least the Orientation property) and apply the rotation specified by it to the binary data and display that image. Then all browsers should display it correctly. At least this is not a concern for the modified/compressed images, right?

But if you want to be strict about being able

[2018-11-18 11:58] Haprog commented on #299
Or maybe there could be a separate polyfill for `image-orientation: from-image;` CSS. https://developer.mozilla.org/en-US/docs/Web/CSS/image-orientation ?

[2018-11-18 12:43] jakearchibald commented on #299
That might be a lot harder/slower than simply passing the image to the browser's decoder.

That would be harder still. There isn't really a hook into style calculation and rendering. Not even sure if we can do this with the layout/paint APIs.

[2018-11-18 12:58] surma commented on #299
Personally, I’d prefer to keep it simple. I’d vote for ignoring EXIF data completely and just offering a “Rotate by 90 degree” button.

[2018-11-18 15:33] tobiasdubois commented on #9
Why not zopflipng: https://github.com/google/zopfli

[2018-11-18 18:15] surma commented on #9
The repo linked by @jakearchibald is literally zopfli but applied to PNGs.

It kinda applies to all PNG codecs, so it’s something that we’d have to re-think in terms of UI, but we definitely want to ship it.

[2018-11-18 19:16] tobiasdubois commented on #9
What I meant was that there is already a zopflipng tool inside the official zopfli git. It is the tool I use, it compresses very well, but is very slow.

[2018-11-18 19:39] eobeda opened #317 "Image to base64 data uri string option"
**New Feature:** An option to "save" the image in a data url format would be nice. From comments on other services that just do that, support for HTML tags and CSS usage of the output appears to be an additional desire as well.
--Ed

[2018-11-18 21:35] kosamari commented on #317
@eobeda thanks for the suggestion. Can you link to other service that does base64 encoding as export? Would love to look at UI design.

[2018-11-18 22:01] jakearchibald commented on #9
Yeah, I probably meant to link to the Google one.

[2018-11-19 02:55] #296 closed

[2018-11-19 05:19] kosamari opened #319 "CI fails on Node 10 and Node 8"
**Describe the bug**
Looks like every CI test after commit [`5c5b001fc73f44111254d2aeade447c0977d0fc5`](https://github.com/GoogleChromeLabs/squoosh/commit/5c5b001fc73f44111254d2aeade447c0977d0fc5) is failing.

i.e : https://travis-ci.org/GoogleChromeLabs/squoosh/builds/456811287

[2018-11-19 05:21] kosamari opened #320 "Add "This PR adds X kb to initial bundle" check"
Just taking note of what we discussed in person.
We should have some reminder on build/test about how much byte an PullRequest will add to initial page load.

[2018-11-19 05:37] chiamakaikeanyi opened #321 "Image size rises from 159kB to 673kB when the lossless option is checked"
**The Bug**
Image size rises from 159kB to 673kB when the lossless option is checked.

**To Reproduce**
1. Launch the app and upload an image
2. Take note of the compression rate.
3. Select the lossless option

**Expected behavior**
The original image size is 159kB. It will be cool to have the new image size less than the original size irrespective of the option chosen (Lossy or Lossless).

**Vers

[2018-11-19 06:01] chiamakaikeanyi commented on #321
**The Bug**
Image size rises from 159kB to 673kB when the lossless option is checked.

**To Reproduce**
1. Launch the app and upload an image
2. Take note of the compression rate.
3. Select the lossless option

**Expected behavior**
The original image size is 159kB. It will be cool to have the new image size less than the original size irrespective of the option chosen (Lossy or Lossless).

**Vers

[2018-11-19 07:05] jakearchibald commented on #321
Unfortunately this is how image compression works.

If you take a lossy image (I'm pretty certain the original is lossy) and compress it in a lossless format, you'll get an exact copy of the lossy image, including the lossy artifacts.

Lossless compressions naturally take up more bytes than lossy ones, else they'd be no point in lossy compressions.

[2018-11-19 07:05] #321 closed

[2018-11-19 07:06] jakearchibald commented on #320
Dupe of https://github.com/GoogleChromeLabs/squoosh/issues/252?

[2018-11-19 07:08] kosamari commented on #320
oh, my bad!

[2018-11-19 07:08] #320 closed

[2018-11-19 08:10] Haprog commented on #299
I agree that it would already improve the situation a lot if there just was a manual rotation tool. But the best UX would be to use the Exif rotation info properly.

But there are 2 problems.

1. Does the browser display the selected original image in correct orientation?
2. When the user saves the compressed image, is the rotation of the output image as expected (the same as what you saw in brows

[2018-11-19 08:38] Haprog commented on #299
Btw I just tested my image (the one above) by loading it into https://squoosh.app/ in these browsers.

Tested on macOS Mojave 10.14.1
- Chome 70.0.3538.102 (64-bit)
- Chrome Canary 72.0.3614.0 (64-bit)
- Firefox 63.0.3 (64-bit)
- Firefox Beta 64.0b10 (64-bit)
- Firefox Nightly 65.0a1 (2018-11-18) (64-bit)
- Safari 12.0.1 (14606.2.104.1.1)
- Safari Technology Preview Release 70 (Safari 12.1, WebKit

[2018-11-19 08:59] Haprog commented on #299
Also tested in a virtual machine running Internet Explorer 11.0.9600.19155 (update versions: 11.0.90, KB4462949) on Win 8.1. The result was the same when viewing GitHub issue but the image in a separate tab also shows in wrong orientation. I was unable to test on https://squoosh.app/ on IE 11 since it seems to be unusable on IE 11. Drag & drop doesn't work (just opens the dragged image in the tab

[2018-11-19 09:02] jakearchibald commented on #299
@Haprog

Our JPEG output doesn't include exif data, so the pixels are stored in the order they appear.

We're only targeting modern browsers.

[2018-11-19 11:52] surma commented on #319
On it

[2018-11-19 12:10] jakearchibald commented on #301
This seems reasonable, and not hard from a code perspective. As always, the hard part is UI. We'll throw around some ideas.

[2018-11-19 13:03] jakearchibald commented on #299
I've got a PR open for a "rotate" option https://github.com/GoogleChromeLabs/squoosh/pull/322 (https://deploy-preview-322--squoosh.netlify.com/).

[2018-11-19 15:58] callaginn commented on #248
*Updates Fixed Build Issue*
This weekend's updates allowed me to finally build it locally -- albeit with a few new issues related to `index.tsx` and `styles.css`. Either way, it now works. Tested the local build with a quick image this morning.

[2018-11-19 16:10] magic-akari opened #324 "Feature request: Support HEIF"

[2018-11-19 18:55] bkizzy opened #325 "Add support to animated webp"
1. Upload animated webp
2. Apply squoosh compression
3. Download webp

result: Only 1st frame of animated webp is preserved.

expected result: Entire webp is downloaded

[2018-11-19 19:03] surma commented on #325
Yeah, we don’t support animation at all currently.

Not sure if we are ever gonna fix that considering the amount of work we’d have to go through to decode and show animated formats via wasm.

[2018-11-19 20:31] pewstiepoll commented on #244
Hello!
Please feel free to check out my first step to implement the solution #326
Awaiting for your feedback!

[2018-11-19 20:59] jakearchibald commented on #324
Unfortunately we can't due to its non-free licence.

(Please reopen this if I'm missing something)

[2018-11-19 20:59] #324 closed

[2018-11-20 07:49] RobertUsg commented on #316
Thanks for the info. Good job

[2018-11-20 08:17] #302 closed

[2018-11-20 08:46] jakearchibald commented on #294
Hah, yeah. I wonder why. Let's find out…

[2018-11-20 10:30] jakearchibald commented on #310
https://static-misc.glitch.me/drop-test/ - little demo that logs whatever you drop on the page.

Yeah, unfortunately the browser only gives us the URL.

I'm going to close this, but hopefully Share Target V2 can give us what we need to implement something similar. https://bugs.chromium.org/p/chromium/issues/detail?id=885313

[2018-11-20 10:30] #310 closed

[2018-11-20 15:44] dartrax commented on #301
I'm looking for an image compressor for our company's internal knowledge wiki.
Our employees mainly have digicam or smartphone photos that often do not need _that_ big resolution that would waste our server's storage. They are encouraged to compress the pictures before uploading, and squoosh makes a very good job showing them what setting will have what impact to photo quality and file size, while

[2018-11-21 07:14] #294 closed

[2018-11-21 16:07] rvbyron opened #330 "Allow an image URL as a parameter to open squoosh with an image already loaded on the screen."
I'd like to open squoosh with a link. I can do that easy enough, but it would make it far better if I could pass a parameter to allow squoosh to open with an image that I know is in need of compression. It would make the flow a lot easier.

https://squoosh.app#image=https://upload.wikimedia.org/wikipedia/commons/3/3f/Grand_Prismatic_Spring_and_Midway_Geyser_Basin_from_above.jpg

[2018-11-21 16:10] rvbyron commented on #330
I'd like to open squoosh with a link. I can do that easy enough, but it would make it far better if I could pass a parameter to allow squoosh to open with an image that I know is in need of compression. It would make the flow a lot easier.

[2018-11-21 22:57] Offirmo opened #332 "Unclear options = hard to make choices"
I don't understand the choices. for example
- what is the difference between "WepP" and "Browser WebP"?
- what is "browser JPG"? is that a format? An encoder?
OptiPNG and MozJPEG are distinctive name, they are google-able. But "browser WebP" is not.

**Describe the solution you'd like**
2 solutions:
- turn those options into links (or add a link icon) pointing to explanations. Could be a GitHub wi

[2018-11-22 00:13] kosamari commented on #330
Thanks for your suggestion @rvbyron we'll discuss new features at meeting in coming week.

[2018-11-22 00:17] kosamari commented on #332
Thanks for the suggestion @Offirmo

Explaining the different compressions is a task we have for v2 and will take your suggestion at planning. (hard part is UI, if you know other apps that do it well, please let me know :) )

[2018-11-22 05:59] biovolt commented on #285
I get this when the ext is png but it is actually a jpg

[2018-11-22 07:12] jakearchibald commented on #330
Although this is technically easy, the destination would need to support CORS, and so few images do, so I'm not sure it's worth it.

[2018-11-22 07:14] jakearchibald commented on #332
I'd like to add tootips for all the options, and a sentence or two about each codec once selected.

[2018-11-22 11:06] surma commented on #285
Oh, interesting. That is surprising, because [we really on sniffing](https://github.com/GoogleChromeLabs/squoosh/blob/adf6d3c60d41f2ebe9a1fe65b505fe37c2784a6c/src/codecs/decoders.ts#L8) rather than file extensions...

[2018-11-22 11:21] #282 closed

[2018-11-22 13:44] aliaburas80 opened #334 "Server side"
Hi,
Can we use this as micro-service on server side only without UI
Thanks

[2018-11-22 14:17] surma commented on #334
No, squoosh is just a wrapper around already existing CLIs. So for server-side you are all good to go with tools like ImageMagic, cwebp, MozJPEG et al.

[2018-11-22 14:18] #334 closed

[2018-11-23 02:40] Zoiberg1984 opened #335 "4k compression"
When trying to compress 4k images in 100% quality, an error occurs.
When using a local copy of the site, a message appears about the lack of memory.
if you use the web version with an internet connection, you receive this error message:

Processing error (type=mozjpeg): Error: ExitStatus: Program terminated with exit(1) Error at https://squoosh.app/process-mozjpeg-enc.d4eb5.worker.js:1:29707 at e

[2018-11-23 05:13] biovolt commented on #285
It works in chrome but fails in Firefox Quantum 63.0.3 64bit
This is the image.
![3e1b35180899e8a5aa51e18864af0a2d576dd5d0_ft banner 1](https://user-images.githubusercontent.com/1982739/48929213-2e871800-eeef-11e8-87e0-a3eb70fc4d61.png)

[2018-11-23 06:31] jakearchibald commented on #285
Might be fixed in Firefox nightly https://bugzilla.mozilla.org/show_bug.cgi?id=1497925

[2018-11-23 06:33] jakearchibald commented on #324
I'm keen to add that one it's ready. We might add a preview of it, but right now it doesn't support things like alpha channel.

[2018-11-23 19:34] i-fail opened #336 "OptiPNG isn't optimal"
OptiPNG is okay, but you can do better. I keep track of lossless PNG optimizers here:
https://olegkikin.com/png_optimizers/
Pingo and PNGOut and ZopfliPNG are the best so far.

[2018-11-24 00:34] kosamari commented on #336
Hi @i-fail we welcome PR to add more codecs. Please see https://github.com/GoogleChromeLabs/squoosh/tree/master/codecs for more.

[2018-11-24 09:38] jakearchibald commented on #336
Yeah, I'd like to add zopfli & advcomp. My preference would be advcomp because it's fast, but the project is a bit of a mess and didn't turn out easy to compile.

[2018-11-25 07:05] jakearchibald commented on #336
It looks like a wrapper around existing tools like zopflipng & optipng, or am I missing something original there?

[2018-11-26 09:10] egorkaru commented on #251
just replace
`        loader: 'typed-css-modules-loader',
`
with
`        loader: ['typed-css-modules-loader', 'sass-loader'],
`

[2018-11-26 09:43] jakearchibald commented on #9
Merging into #237

[2018-11-26 09:43] #9 closed

[2018-11-26 09:43] jakearchibald commented on #336
Merging into #237

[2018-11-26 09:43] #336 closed

[2018-11-26 09:47] jakearchibald commented on #237
Candidates:

* https://github.com/google/zopfli (slow but high compression. Not sure if it switches palette modes, so may need to be run through another crusher first).
* https://github.com/shssoichiro/oxipng Multithreaded and Rust version of optipng.
* AdvPNG - Old messy project but seems to be a good trade off in terms of speed and size reduction.
* https://github.com/fhanau/Efficient-Compressio

[2018-11-26 14:06] fstanis commented on #251
That's already working that way. The idea here (I think) was to try to replace `typed-css-modules-loader` in webpack with `typed-css-modules` which is an (unrelated?) CLI that does a similar thing and have it be a separate step in the build. However, because this CLI doesn't support Sass, we'd also need to use the Sass CLI to get that to work, making it too convoluted as a solution IMO.

[2018-11-26 21:36] rvbyron commented on #330
@jakearchibald You make a strong argument by the mere mention of CORS. I didn't think about that aspect. However, I still believe this is a worthwhile case to implement. Allowing an image as a parameter on the URL makes too much functional sense when trying to make comprehensive site performance improvements. I'm sure you have thoughts on how one might get around the CORS issue, but here are a sev

[2018-11-26 21:38] rvbyron commented on #330
@jakearchibald You make a strong argument by the mere mention of CORS. I didn't think about that aspect. However, I still believe this is a worthwhile case to implement. Allowing an image as a parameter on the URL makes too much functional sense when trying to make comprehensive site performance improvements. I'm sure you have thoughts on how one might get around the CORS issue, but here are a sev

[2018-11-27 08:46] DanielRuf opened #339 "(security) flatmap-stream was removed"
`flatmap-stream` was completely removed due to security reasons.

See https://github.com/dominictarr/event-stream/issues/116 and https://www.npmjs.com/package/flatmap-stream

So there will be issues.

[code]

[2018-11-27 08:57] jakearchibald commented on #339
Thanks for the heads-up.

Just in case: this isn't a security threat to Squoosh. The malicious code targeted a particular Electron (native) app.

Although the compromised flatmap-stream is in our dependency chain, it's part of our build system, and has no negative impact on the code running on squoosh.app.

Today we'll find the dependency that's using it, and update/remove it.

We should also cons

[2018-11-27 09:56] DanielRuf commented on #339
Exactly. Unfortunately so far no AV vendor detects the files. Would be interested to see solutions for such cases.

Not sure if Skantek would have helped here: https://twitter.com/pmarquees/status/1035497062614401024

https://medium.com/adyen/skantek-securing-nodejs-at-adyen-f944283ce7c9

[2018-11-27 10:07] jakearchibald commented on #339
I get it. I just wanted to make it clear to anyone else reading the thread that the code running on https://squoosh.app (which was built before the module was wiped from NPM) is not compromised.

[2018-11-27 10:30] DanielRuf commented on #339
Pinning to `event-stream: "3.3.4"` might be a temporary solution.

[2018-11-27 11:53] jakearchibald commented on #339
Fixed in https://github.com/GoogleChromeLabs/squoosh/pull/340

[2018-11-27 11:53] #339 closed

[2018-11-27 11:54] jakearchibald commented on #339
Thanks for reporting, @DanielRuf!

[2018-11-27 12:00] DanielRuf commented on #339
Thanks too for the fast reaction. 👍
Not yet sure if I provide issues and PRs for more projects (like I did with cli-table2 - https://github.com/cli-table/cli-table3/issues/17 ).

Because there are much more (and probably many private ones and not published on npmjs too).

https://www.npmjs.com/package/event-stream?activeTab=dependents

At least GitHub is sending notifications to all affected repo

[2018-11-27 13:44] jakearchibald opened #341 "Brotli compression"
We should be able to get the size even lower by making use of brotli. I'm not sure if it's something Netlify will let us do, though.

[2018-11-27 14:33] TimvdLippe opened #342 "TypeError in offliner.ts"
**Describe the bug**
On load, I receive the following TypeError:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start devserver
2. Load the webpage

**Expected behavior**
No error

**Version:**
 - OS w/ version: Linux
 - Browser w/ version Chrome 70
 - Node version: 10.9.0
 - npm version: 6.4.1

**Is your issue related to the quality of image compression?**
No

**Additional context,

[2018-11-27 14:41] rvbyron commented on #330
And the Squoosh extension could also register a protocol such that `web+squoosh://` could be used.

[2018-11-27 14:58] jakearchibald commented on #330
I'm not really keen on running a proxy server (maintenance, cost, & legality issues), using a third party one (privacy issues), or building a browser extension (doesn't work on mobile, maintenance cost, development cost, it's no longer a web app it's something else).

A general disable-CORS extension creates a huge security issue for every user, so it isn't something we'd ever recommend.

When we

[2018-11-27 18:56] kosamari commented on #330
We've had meeting today and concluded that this feature is out of scope for this project. Thank you very much for the suggestion and discussion!

[2018-11-27 18:56] #330 closed

[2018-11-27 19:00] kosamari commented on #325
Hi @bkizzy thanks for the feature suggestion! We had meeting today & concluded that this is nice-to-have-but-not-now feature.

We think this will be great addition but a lot to sort out (both UX & tech). We'll keep this issue open but probably not be able to get to it in foreseeable future.

[2018-11-27 19:15] kosamari commented on #314
This feature is in-consideration for v2 as part of input(pre) processor like discussed #322

[2018-11-27 19:29] kosamari commented on #292
At meeting today, we discussed that there should be
- one button to reset position (move to center)

Leaving this issue open & tagging as good first issue. We welcome contribution if someone want to take it!

[2018-11-27 19:32] kosamari commented on #335
Hi @Zoiberg1984 could you please add original file that result in error?

[2018-11-27 19:36] kosamari commented on #271
We had meeting today & concluded that this is out of scope for this project.
Squoosh's goal and focus was always about "you can see👀 the difference" & we'd like to stay with that as product.

[2018-11-27 19:36] #271 closed

[2018-11-27 19:41] kosamari commented on #266
Closing this issue. Sharing image data as dataURI is bad idea (also probably size limiting).
We can perhaps create something like Glitch app based on Squoosh that takes pre-set setting.

[2018-11-27 19:41] #266 closed

[2018-11-27 19:51] kosamari commented on #317
Thanks for your suggestion @eobeda! we've had V2 meeting today & concluded that this is out of scope for squoosh project. Perhaps something that can be layered on top as micro tool.

[2018-11-27 19:51] #317 closed

[2018-11-27 19:55] kosamari commented on #335
probably related to #298

[2018-11-27 19:57] kosamari commented on #55
related to issue #299 and should be solved with PR #322

[2018-11-27 20:54] kosamari commented on #137
@developit I know we worked on bunch before CDS, does this bug still happen to you in currently deployed version of Squoosh?

[2018-11-27 20:56] #161 closed

[2018-11-27 20:56] #167 closed

[2018-11-27 20:56] #190 closed

[2018-11-27 20:59] kosamari commented on #215
closing this issue since WCs are split into different repo

[2018-11-27 20:59] #215 closed

[2018-11-27 21:00] #230 closed

[2018-11-27 21:02] Kayo99 opened #343 "Hey is it possible to add videos support too ?"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
just to convert videos to correct format like MPEG and WEBM and OGV.

**Does other service/app have this feature?**
i dont know

[2018-11-27 21:02] kosamari commented on #274
closing the issue since PR was merged.

[2018-11-27 21:02] #274 closed

[2018-11-27 21:07] kosamari commented on #343
hi @Kayo99 thanks for the suggestion! Squoosh is focused on image files and we consider videos are out of scope.

[2018-11-27 21:07] #343 closed

[2018-11-27 21:20] kosamari commented on #4
🎉 https://github.com/GoogleChromeLabs/pointer-tracker

[2018-11-27 21:20] #4 closed

[2018-11-27 21:20] kosamari commented on #3
🎉 https://github.com/GoogleChromeLabs/pinch-zoom

[2018-11-27 21:20] #3 closed

[2018-11-27 21:21] kosamari commented on #80
re-tagging this for V2

[2018-11-27 21:23] kosamari commented on #131
Closing this issue for now since V1 shipped with resize.
Adding line item for V2 for third-party resizing

[2018-11-27 21:46] kosamari opened #344 "Implement undo/redo feature for compression work"
Splitting issues from #270

```Being able to quickly toggle between different options to compare them visually is very important. Since results are cached (absolutely amazing), it would be great to have at least undo/redo to quickly swap between two recent settings (possibly, more). Ideally, hovering over different dropdown options would switch results, too.```

[2018-11-27 21:49] kosamari opened #345 "Add better zoom interaction"
Splitting from issue #270

-------

While fluid zooming may seem cool (and being fast – even useful), there is no replacement for seeing an image at multiples of 100%, hence: a quick way to reset zoom to 100% (doubleclick on an image? on a zoom control?) and plus and minus buttons to always go back to clearly defined steps (25% both ways off 100%?) would be cool to have.

[2018-11-27 21:53] kosamari opened #346 "Add better interaction for split bar"
Splitting from issue #270

-------

Doubleclicking a separator should move it between three positions: left view, right view and middle point. There should be a keyboard shortcut for switching between first two. And maybe another one to return to middle (split) view. Rationale for one shortcut to not go through all three states, but only two is to have an unambiguous and quick way to see before/af

[2018-11-27 21:55] kosamari opened #347 "Add ability to sett matte color for transparent/opaque image"
Splitting from issue #270

--------

Can’t find where one can set matte colour in transparent>opaque scenarios.

[2018-11-27 21:55] kosamari commented on #347
We should discuss if we want to support this feature.

[2018-11-27 21:57] kosamari opened #348 "Support better color management (RGB profile etc)"
Splitting from issue #270

-------

[may belong to codecs’s repos, but Sqoosh could surface some control] Colour management behaviour is inconsistent. At times broken/dangerous. For PNGs, all input is converted to sRGB , but the sRGB chunk is not set (questionable, although browsers got better at assuming sRGB). For JPGs, RGB profiles are converted, while CMYK ones are a problem, again output is,

[2018-11-27 22:07] kosamari commented on #270
I have created smaller issues splitting this one. Thank you very much for your suggestions!
1. created #345
2. created #344
3. We terminate stale jobs (contained in worker) so triggering recompress should not be issue too much.
4. adressed in #316
5. adressed in #316
6. created #346
7. created #348
8. created #347

[2018-11-27 22:07] #270 closed

[2018-11-27 22:10] kosamari commented on #132
@developit would you be able to move this issue to https://github.com/GoogleChromeLabs/pointer-tracker repo? I don't seem to have access to "transfer this issue [beta]" btn

[2018-11-27 22:10] kosamari commented on #130
@developit would you be able to move this issue to https://github.com/GoogleChromeLabs/pinch-zoom repo? I don't seem to have access to "transfer this issue [beta]" btn

[2018-11-27 22:12] kosamari commented on #118
closing this since PR was merged

[2018-11-27 22:12] #118 closed

[2018-11-27 22:13] kosamari commented on #114
Related to #345 let's think about larger zoom interaction for V2

[2018-11-27 22:13] #114 closed

[2018-11-27 22:14] kosamari commented on #107
closing this issue. This should be done in multi-panel repo once we set that up.

[2018-11-27 22:14] #107 closed

[2018-11-27 22:17] kosamari commented on #78
Probably this is part of "save user defined setting" idea we've been discussing.

[2018-11-27 22:22] kosamari commented on #143
I think most of todo items above is addressed already or has separate issue. Closing this issue now.  Please reopen if you feel otherwise!

[2018-11-27 22:22] #143 closed

[2018-11-27 22:23] kosamari commented on #149
@developit would you be able to move this issue to https://github.com/GoogleChromeLabs/pinch-zoom repo? I don't seem to have access to "transfer this issue [beta]" btn

[2018-11-27 22:23] #182 closed

[2018-11-27 22:29] kosamari commented on #248
closing this issue. Thanks @surma who added more info in readme

[2018-11-27 22:29] #248 closed

[2018-11-28 10:34] jakearchibald commented on #341
Confirmed that this isn't something Netlify currently supports.

[2018-11-28 15:56] jakearchibald commented on #251
I managed to get it working https://github.com/GoogleChromeLabs/squoosh/pull/350. Bypassed the webpack plugin entirely, but that's mostly because I don't understand webpack plugins.

[2018-11-28 16:04] tobiasdubois commented on #237
Maybe something like pngquant (https://pngquant.org/) can be interesting for lossy PNG compression. It feels like squoosh is especially good for lossy compression since it makes it easy to compare the before and after pictures.

[2018-11-28 16:06] jakearchibald commented on #237
@tobiasdubois the "reduce palette" preprocessor uses libquant which powers pngquant. We seperated it so you can use it with webp lossless too (you can also use it with jpeg, but there isn't a lot of point).

[2018-11-28 16:09] #251 closed

[2018-11-28 17:49] rvbyron commented on #330
Oh well, thanks for considering it. 👍

[2018-11-28 23:38] tracker1 commented on #237
Would love to see a quantization option with palette reduction on the output... huge benefits in many cases.

[2018-11-29 00:00] surma commented on #237
@tracker1 Squoosh already offers that. It’s under “Reduce palette”

[2018-11-29 18:18] jakearchibald commented on #347
Hmm doesn't it make more sense as a preprocessor?

[2018-11-29 18:19] jakearchibald commented on #347
Eg, I might want to compare the size of a jpeg with a close-enough background to transparent PNG.

[2018-11-29 20:39] petele opened #354 "Update available/reload causes data loss"
**Describe the bug**
Opened Squoosh, dragged an image on, and got the "update available, reload?" toast. Hit reload, and I lost all my work. I should be prompted to either save my work, or told that I'm about to lose my work.

[2018-11-29 21:38] nop1984 commented on #314
@kosamari @jakearchibald Thanks, outstanding pack of features 322!

[2018-11-29 21:49] jakearchibald commented on #354
I was thinking about this earlier whilst talking a shower.

Session storage is the right place for this stuff, but it only takes strings, which is stupid. I guess we could base64 the content, but we may run into storage limitations.

My understanding is most browsers place septate limits on local/session storage to IDB etc.

[2018-11-29 22:01] surma commented on #354
How does SessionStorage work wrt. Page Lifecycle API. If SessionStorage is memory only, will we lose content on mobile if a page gets frozen?

[2018-11-30 01:31] aakreidler opened #355 "Electron app version"
It would be nice to have an Electron app version of Squoosh to run natively.

Also, it would be nice to have the ability to work with multiple files (#301) in this native version.

I love Squoosh because it can convert between formats while showing the size and quality impact. I think it could be even more powerful as a native app with support for drag and drop, opening files, and a multi-file wor

[2018-11-30 06:10] jakearchibald commented on #355
Why does it need to be an Electron app?

[2018-11-30 14:00] jakearchibald commented on #299
This has landed. But I'd still like to consider reading exif data and auto-applying the "correct" rotation.

[2018-11-30 14:00] jakearchibald commented on #55
Landed #322

[2018-11-30 14:00] #55 closed

[2018-11-30 14:03] jakearchibald commented on #314
This could be a straight-forward pre-processor too, meaning you could have a different crop on either side. Dunno if that's useful.

[2018-11-30 18:46] jespertheend commented on #310
I guess you could host a [CORS proxy](
https://github.com/Rob--W/cors-anywhere) but that kind of takes away the whole point of an app like this doesn’t it.

[2018-11-30 19:29] jakearchibald commented on #310
Yeah, I don't want to get into the maintenance, cost, & legal issues of that.

[2018-12-03 00:04] benfredwells opened #358 "Would be nice to have a button to install Squoosh"
**Is your feature request related to a problem? Please describe.**
Some users probably don't realise they can install this app on Chrome, via Chrome's three dot menu.

**Describe the solution you'd like**
Squoosh can use the beforeInstallPrompt event to have an install button.

**Does other service/app have this feature?**
Santa Tracker, Spotify,

**Additional context**
I'm happy to add the button

[2018-12-03 13:40] jakearchibald commented on #355
Closing. Feel free to reopen with more info.

[2018-12-03 13:40] #355 closed

[2018-12-03 22:09] vicks1008 opened #359 "JPEG Image Preview Too Far to the Right"
After a .jpeg image is resized to be smaller, the image preview (right side) goes far off to the right and cannot be seen properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag & drop an image from your computer's Finder/File Explorer and drop onto the squoosh browser window.
2. Click on 'Resize' and resize the image width to 1080px.
3. Change format to 'Browser JPEG'.
4. Drag the "i

[2018-12-04 09:20] jakearchibald commented on #359
Thanks for the detailed report. I'll take a look.

[2018-12-04 10:44] jakearchibald commented on #359
I can reproduce something similar to this. Investigating…

[2018-12-04 10:46] jakearchibald commented on #359
This is a regression that happened in the rotate PR. The pinch-zoom target is losing `flex-shrink: 0`. Should be a quick fix.

[2018-12-04 10:49] jakearchibald commented on #359
Yeah, it's kinda obvious looking at https://github.com/GoogleChromeLabs/squoosh/pull/322/files#diff-e3ab5d0fa21a380d44a9cecb40bead88 now. My bad. Fix incoming…

[2018-12-04 10:52] jakearchibald commented on #359
https://github.com/GoogleChromeLabs/squoosh/pull/360

[2018-12-04 10:55] #359 closed

[2018-12-04 10:58] jakearchibald commented on #359
@vicks1008 thanks for spotting this! The fix is deploying now & should be available in a couple of minutes.

[2018-12-05 22:32] RobbyCowell commented on #10
Gif support would be amazing!

[2018-12-07 10:39] sja1n opened #361 "Possible support for GIF"
Can we have support for gif as well ?

**Describe the solution you'd like**
Compressing gifs should be similar i my knowledge as there are services from where images can be extracted from gifs and probably compressed/optimised and then can be stitched back together to ake gif again.

**Does other service/app have this feature?**
for extracting the images out of gif [ezgif](https://ezgif.com/split)

[2018-12-07 10:40] jakearchibald commented on #361
Is it animated gifs you're interested in compresing, or just static ones?

[2018-12-07 10:49] sja1n commented on #361
just static ones

[2018-12-07 11:11] jakearchibald commented on #361
That's a lot easier in our current architecture 😄.

I think this is a duplicate of https://github.com/GoogleChromeLabs/squoosh/issues/10.

(however, I don't think gif is ever smaller than png)

[2018-12-07 11:11] #361 closed

[2018-12-07 13:54] jakearchibald opened #362 "0 rotation optimisation happens too late."
The rotation method just passes the input back for a 0 rotation, but in order to do that, it has to start the worker & load the module within the worker.

That's kinda silly, and not great for performance. It also isn't great for memory, as the worker is being brought to life to do, well, nothing.

The 0 rotation check should happen before the worker.

[2018-12-07 14:56] jakearchibald opened #364 "Problem with css.d.ts generation"
One of the travis builds in https://github.com/GoogleChromeLabs/squoosh/pull/363 failed because the CSS types weren't there.

So, either I'm not awaiting properly, or the package isn't.

[2018-12-07 14:56] jakearchibald commented on #364
It's a race condition. I restarted the build and it worked.

[2018-12-09 07:11] #362 closed

[2018-12-10 20:51] seguri commented on #310
I sometimes drop images from a tab to another tab opened on images.google.com. Do you know how that feature works?

[2018-12-11 00:39] benfredwells commented on #358
If I don't hear back I'll assume this is a good idea and look into adding an install button....

[2018-12-11 00:40] benfredwells commented on #358
(Oops hit button too soon)

... So please let me know if it isn't a good idea for some reason 🙂

[2018-12-11 06:01] jakearchibald commented on #310
I guess a server component downloads the image.

[2018-12-11 08:15] em92 opened #367 "Incorrect link in optipng/README.md"
https://github.com/GoogleChromeLabs/squoosh/blob/master/codecs/optipng/README.md
Incorrect link: https://sourceforge.net/project/optipng
Probably correct link: http://optipng.sourceforge.net/

[2018-12-12 10:15] jakearchibald commented on #358
Seems like a good idea. Just needs prioritised, designed, and implemented. PRs welcome as always.

[2018-12-13 14:07] alisaitbilgi commented on #313
Is there an active test branch? If not, which technologies and tools do you think to use for testing?

[2018-12-13 20:31] ronjouch commented on #355
@jakearchibald I'm not the original poster, but I was looking for something like it too, so here's my input.

1. I'd love an offline version of the tool. Currently I do my image crushing with a set of pngquant and guetzli/mozjpeg scripts. But (as you know), an interactive UI helps fine-tune parameters. The closest I know is GIMP/Photoshop's "export with preview" screen, but your UI is better.
2. S

[2018-12-14 16:23] styfle opened #391 "Add guetzli jpg compression"
**Is your feature request related to a problem? Please describe.**
I would like to try guetzli but I don't want to install it.

**Describe the solution you'd like**
I would like squoosh to provide a guetzli option in the dropdown.

**Does other service/app have this feature?**
I found www.guetzli.it but it's blocked by my workplace (probably outside the USA).

**Additional context**
https://github

[2018-12-17 09:26] Ser-Gen opened #392 "WebP encoder: can't use_sharp_yuv"
`use_sharp_yuv` option is not affects an image.

**To Reproduce**
I use checkbox in app.
Also download codec from this repo.
Any combinations of settings can't force encoder to use sharp subsampling.

**Expected behavior**
Colors of output image should be close to source.

**Versions**
OS: win 10
Browsers: Chrome Canary 72.0.3623.0, FF Developer 65.0b4

**Source**

![unilever](https://user-images.

[2018-12-17 10:06] jakearchibald commented on #392
Here's a fix https://github.com/GoogleChromeLabs/squoosh/pull/393.

Going to check with the webp folks before deploying, as I'm not sure what `use_argb` is for.

[2018-12-17 10:23] jakearchibald commented on #392
@Ser-Gen thanks for reporting this. Hopefully we can deploy the fix today.

[2018-12-17 10:59] #392 closed

[2018-12-17 11:01] jakearchibald commented on #277
https://github.com/GoogleChromeLabs/squoosh/pull/394

[2018-12-17 11:54] #277 closed

[2018-12-17 19:15] #367 closed

[2018-12-19 09:01] tomayac opened #401 "Add support for the Web Share Target API - Level 2"
[Squoosh](https://squoosh.app/) would be an ideal candidate to explore the [Web Share Target API - Level 2](https://wicg.github.io/web-share-target/level-2/). This would allow Squoosh to act as a share target for any to-be-squooshed image files.

[2018-12-19 09:03] surma commented on #401
We are already working on that :D

https://github.com/GoogleChromeLabs/squoosh/tree/share-target?files=1

[2018-12-19 09:38] jakearchibald commented on #401
Blocked on https://bugs.chromium.org/p/chromium/issues/detail?id=916070 right now, but aside from that we're close to having something demoable.

[2018-12-28 04:49] newhow opened #416 "instruction on how to embed squoosh into H5 webpage"
I am developing a website for mobile browsers. The visitors may store some pictures on the web server. To save the bandwidth and storage space, I hope those pictures could be compressed before being uploaded.

Could someone instruct me how to do that? I don't know how to embed squoosh (jpeg/png compression only, no webp or UI staff) into my own project.

[2018-12-28 06:14] k79e opened #417 "Quality bar bug"
When using mozjpeg with
subsample chroma set to 1 (seems this is not necessary)
Quantization set to flat
Then quality bar bug appears!!!
Slide it to 90 watch file size then slide it to 91 92 ... 100
You can see file size just don't change between some quality.
90-92 file size is all same as 90
93-95 from 92-93 file size increase but stop from 93-95
96-100 file size just increase from 95-96 but 96-

[2018-12-28 15:08] surma commented on #417
I don't think it's a bug. We pass the quality number straight to mozjpeg. Changing the quality setting will not always change resulting file size.

[2018-12-29 05:14] kxmp commented on #417
If size is same then the content should be different.
I checked the hash of two file and they are same.

[2018-12-29 05:32] surma commented on #417
I tried to reproduce this with your image and I can’t. I get different file sizes for every quality setting between 90 and 100.

In terms of file size I don’t think that is a bug. Consider this image (yes, that’s a black square):
![carbon 18](https://user-images.githubusercontent.com/234957/50533825-79a0d600-0b00-11e9-9010-8af1f6f23965.png)

Literally all quality settings between 0 and 69 yield th

[2018-12-29 05:45] kxmp commented on #417
Have you set the Quality in advanced settings to flat.
I used your black picture and got same hash from 90-92

[2018-12-29 15:47] surma commented on #417
Oh you mean the quantizer settings. Sorry I missed that.

Well, I think that could still be expected behavior, but I think we might indeed have a bug: [We seem to be ignoring the quantizer setting unless it is unset](https://github.com/GoogleChromeLabs/squoosh/blob/6fbdc65ad0d50b442565ccb1a005756711db78d5/codecs/mozjpeg_enc/mozjpeg_enc.cpp#L128-L130).

@jakearchibald WDYT?

[2019-01-02 15:02] seanchayes opened #419 "Image metadata lost during squoosh"
It might be pertinent to remind squoosh users that image metadata is lost upon squooshing.

Or, if possible, include and option to retain image metadata the Edit / show advanced settings dialog box during squooshing or upon save.

[2019-01-09 23:28] surma opened #425 "Update codecs wasm build with ENVIRONMENT flags"
A couple of flags have been added to Emscripten to make the glue code smaller. I should wait for the next Emscripten release and do a rebuild.

[2019-01-10 14:24] jms21852 opened #426 "All PNGs uploaded are experiencing color shifts, even "originals""
All PNGs uploaded to Squoosh are experiencing color shifts and loss of color, even the "originals" - it appears to most affect neutral grays, removing them entirely or replacing them with a pink tint.

Tried in latest builds of Chrome 71 and Firefox 64 for OSX 10.14.2

<img width="1662" alt="01 original image compared to original image in squoosh 2x" src="https://user-images.githubusercontent.com/

[2019-01-10 14:40] surma commented on #426
Are the screenshots on the left from Mac OS’s Preview app? Maybe it enforces some kind of color profile?

[2019-01-10 15:08] jms21852 commented on #426
They are from the Preview app. I've used Squoosh in the past and had no issues. I've attached an image that was optimized with Squoosh on December 31st. The colors are all accurate.

![cs_anywhere_discovery](https://user-images.githubusercontent.com/6922799/50977148-a3260e00-14bf-11e9-8682-b18c72188340.png)

[2019-01-10 15:19] jakearchibald commented on #426
We haven't changed the PNG encoders recently. I'm pretty sure this is colour profile related too.

[2019-01-10 15:36] jms21852 commented on #426
Thanks, I will take up the issue with Sketch.

[2019-01-10 16:18] jms21852 commented on #426
Hello again, there seems to be no color profiles issues that I can find. The same image that was run through Squoosh on December 31st and the colors were fine I ran through Squoosh again just now. This time the colors shifted. Since the image has not been changed since it was last optmized in Squoosh on December 31st, it appears Squoosh is now interpreting it differently.

[2019-01-14 21:53] OliverJAsh commented on #299
We're hitting the same issue as this over at Unsplash.

The best solution seems to be along the lines of:

1. Read orientation from Exif, e.g. [exif-js](https://github.com/exif-js/exif-js) or https://stackoverflow.com/a/40867559/5932012
2. Apply orientation to image, e.g. https://stackoverflow.com/a/40867559/5932012

And browsers with support for `image-orientation: from-image`, which is only Fire

[2019-01-15 20:41] tracker1 commented on #299
Orientation is a bane of my existence it feels like at times...  Especially since a lot of mobile camera apps lock the phone orientation and set the photo relative.  I'm pretty sure it will become more common as time goes on.

[2019-01-16 09:11] jakearchibald commented on #299
@OliverJAsh

The problem case is iOS Safari. It seems to be the only browser that applies EXIF orientation data to an `<img>`. Test: https://output.jsbin.com/wamevelupa/.

I guess you'd need to feature-detect it by creating a 1x2 JPEG with a 90 deg rotation via EXIF, and see what the width is when it'd decoded.

[2019-01-16 14:01] OliverJAsh commented on #299
Good idea. We can keep it small with a tiny image, e.g. 1x2 px.

I had a go at doing this with in https://stackblitz.com/edit/feature-detect-img-orientation?file=index.ts.

I created the test `File` by drawing a 1x2 black pixel in an editor, saving as JPEG, and then using an Exif editor to adjust the orientation. Is there a better way to do this? I'm sure it could be smaller.

Note in my testing i

[2019-01-16 14:38] jakearchibald commented on #299
Also, it seems like `img.naturalWidth` and `img.naturalHeight` refer to the no-EXIF dimensions.

Of course this doesn't help for 180 deg rotations, or square images.

[2019-01-16 14:40] jakearchibald commented on #299
Might be worth passing it to a JPEG minifier (but retaining EXIF of course). It might be tricky to minify since JPEG includes EXIF by including a whole TIFF (but without the image data).

[2019-01-17 17:50] SignpostMarv opened #428 "Request for "profile this device", to put soft limits on codec options"
**Is your feature request related to a problem? Please describe.**
Took a screenshot of a webpage on my android device, intending to post it on twitter.
See also any other scenario where a screenshot or recently-taken photograph is to potentially be loaded over a connection with flaky/metered uploads, or scenario where uploading a photo is time sensitive.

**Describe the solution you'd like**
An o

[2019-01-17 21:53] Kayo99 opened #429 "mac/windows/chromeOs...etc app with extended features like optimize all pictures in folders"
**Is your feature request related to a problem? Please describe.**
Yes , its so slow optimizing one picture by one in any browser.

**Describe the solution you'd like**
Create an app for mac and others OS so we can save time.

**Does other service/app have this feature?**
no.

[2019-01-17 22:00] #429 closed

[2019-01-17 22:19] rmtsrc opened #430 "User Presets"
Would be nice to have user customisable and savable presets so that I can quickly pick between my favorite settings, allowing faster batch editing. Presumably, this would also need a way to title, edit and delete presets. Similar to #78.

P.S. Keep up the good work! 👍

[2019-01-18 09:19] jakearchibald commented on #430
Yeah, this is a good idea. Thanks for the suggestion (and long time no speak)!

[2019-01-18 09:22] jakearchibald commented on #428
I'm not sure this is possible. The only way to know if an operation is going to take "a long time" is to start the operation and see if it's yet-to-complete after "a long time" has passed.

[2019-01-18 09:53] SignpostMarv commented on #428
"Effort" from WebP and OptiPNG encoders are both known "this will take longer the higher the value" options, and any multipass option such as "Trellis quantization passes" from MozJPEG.

I'd not be suggesting profiling every option or combination of options, but if an option (or sub option) is *known* to increase encoding time, I'd suggest flagging it so it could be used for profiling how the enco

[2019-01-18 10:13] jakearchibald commented on #428
What would the flag be? "This might take a while"? Image size and device speed are also factors here.

[2019-01-18 10:32] SignpostMarv commented on #428
"This might take a while"- pretty much, although something more technically to the effect of "contributes >= X% to encoding time", for example whacking MozJPEG's "Trellis quantization passes" all the way to 50 makes the "Trellis quantization passes" option have the most contribution to the encoding time.

Device speed is entirely the point- I'd prefer let squoosh profile my device to let squoosh s

[2019-01-18 10:36] SignpostMarv commented on #428
to put it another way; if a given option or set of options creates uncertainty in the user over "is it still going" or "did it crash" (because a spinner isn't a progress bar), it's something to consider flagging.

although on that thought, if an option to profile the user's device isn't feasible, adding a progress bar with a cancellation button would probably be good enough for the purposes of "si

[2019-01-19 17:10] goyuix opened #433 "Add colors count near reduce pallete"
It would be helpful to see the count of colors in the source image when reducing the pallete, and when checking the box to reduce pallete to default it to the same number of colors in the source image.

[2019-01-21 18:44] goyuix commented on #433
I find myself often using it for PNG images that already have less than 256 colors. If the slider would default to the number of colors in the source image I wouldn't have to guess or look up another way what would be likely be the optimal number of colors in the final palette. I might choose to further reduce it for additional gains, but it would give me a great starting point.

I guess displayin

[2019-01-22 18:43] tracker1 commented on #430
Agreed on the presets... maybe a first path using localStorage, then an option to use something like Google Drive and/or dropbox for persistance?

[2019-01-24 02:44] paperboyo commented on #426
https://github.com/GoogleChromeLabs/squoosh/issues/348

[2019-02-04 11:33] jakearchibald opened #446 "Layout broken in stable Chrome"
On Chrome mobile:

1. Open any image.
1. Expand mozjpeg options.
1. Expand advanced options.

The settings overflow.

![squoosh app_ pixel 2 xl](https://user-images.githubusercontent.com/93594/52205865-68ba5180-2870-11e9-9cb2-f3b944849a5c.png)

This is due to a recent behaviour change in Chrome. It happens in Firefox too, so my guess is we were previously relying on a browser bug & Chrome fixed it

[2019-02-04 13:34] #446 closed

[2019-02-05 21:13] sobujbd commented on #282
I'm also Unable to build Squoosh app on Windows 10.
Is there anyone get success?

[2019-02-06 22:47] benfredwells commented on #358
FWIW I've started working on this and will hopefully have something up soon. Just wrapping my head around all this react stuff.

[2019-02-08 12:05] Camilo517 opened #454 "Edit 100 images"
Hello, I would like to know if there is any way to edit about 100 images without having to go one by one. I want to give a same parameter to all. Thank you

My idea is to compress all the images of my WordPress

[2019-02-08 12:40] jakearchibald commented on #454
Duplicate of https://github.com/GoogleChromeLabs/squoosh/issues/301

[2019-02-08 12:40] #454 closed

[2019-02-09 17:26] TimvdLippe commented on #342
Seems to be fixed.

[2019-02-09 17:26] #342 closed

[2019-02-12 13:29] TomasSestak opened #460 "Can't reach the web"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
Can't connect to the web
This site can’t be reached.
squoosh.app’s server IP address could not be found.

**Expected behavior**
to connect

**Version:**
macO

[2019-02-12 13:49] surma commented on #460
It works for me.

Is there any chance this is related to your ISP or your device's setup?

[2019-02-12 14:30] jakearchibald commented on #460
@TomasSestak What browser were you using?

[2019-02-12 14:48] TomasSestak commented on #460
Safari, Firefox, Chrome, also in private windows. It has to do something with my Mac because as I stated before it works on my phone or other devices even on the same network

[2019-02-12 14:56] jakearchibald commented on #460
Can you access http://www.spritecow.com/?

[2019-02-12 15:00] TomasSestak commented on #460
yes, I can

[2019-02-12 15:22] jakearchibald commented on #460
Hm, so they're both hosted on Netlify, so it's not that.

[2019-02-12 15:34] surma commented on #460
Could it be the TLD?

@TomasSestak Can you reach https://web.dev?

[2019-02-12 15:45] TomasSestak commented on #460
Yes, I can

[2019-02-12 16:15] TomasSestak commented on #460
you might be right, https://get.app/ doesn't work for me

[2019-02-14 14:26] TomasSestak commented on #460
Does anybody know how to fix it?

[2019-02-14 15:30] jakearchibald commented on #460
Have you checked your hosts file for things that might block .app?

[2019-02-14 23:40] TomasSestak commented on #460
127.0.0.1	localhost
255.255.255.255	broadcasthost
::1             localhost
192.168.99.100	local.test

this is all I have there.
![safari](https://user-images.githubusercontent.com/27310585/52824759-30a9de80-30ba-11e9-94cd-5250a6cfd5b0.png)
this showed up in Safari, but I can't seem to reproduce it

[2019-02-15 00:13] TomasSestak commented on #460
<img width="554" alt="screenshot 2019-02-15 at 01 08 24" src="https://user-images.githubusercontent.com/27310585/52825873-c47da980-30be-11e9-92aa-9d9e614b8527.png">

It might be from laravel valet I used to use, but I cant't find any records :/

[2019-02-15 00:33] TomasSestak commented on #460
I found it in etc/resolver, file called app, deleted, works now, thank you for help

[2019-02-15 08:51] surma commented on #460
Glad you figured it out!

[2019-02-15 08:51] #460 closed

[2019-02-15 13:21] marvinpoo commented on #301
Over here, we use it to optimize a whole set of photos for our estates photos before uploading and spreading them out on the web. Our assistants love the feature but it consumes a lot of time if you try to reduce the size for 20, 30 or even 40 images.

[2019-02-16 16:06] DevonJSmith opened #465 "Build Fails on Windows 10 - Invalid RegEx in webpack.config"
**Describe the bug**
Squoosh fails to build on Windows 10 because of an Invalid RegExp in webpack.config.js, issue could perhaps be related to #282
**To Reproduce**
Steps to reproduce the behavior:
1. clone repo from master
2. run `npm run build` after `npm install`

generated error is as follows:
[code]

**Version:**
 - Windows 10
 - Node version: 10.13.10
 - npm version: 6.4.1

[2019-02-18 11:03] mvishnu071194 opened #466 "Need support for Lossy Compression of PNG like pngquant since OptiPNG isn't sufficient."
* Compression tools like pngquant compresses the png image to maximum extend compromising the quality, though the comprised quality is sufficient for most website viewing than the compression made by OptiPNG

* Integrating tool like pngquant which uses quantisation technique for compression will serve better compressed png images.

[2019-02-18 11:44] jakearchibald commented on #466
We already use libimagequant (which is a the quantisation library used by pngquant). Access it using the "Reduce palette" setting.

![screenshot 2019-02-18 at 11 42 14](https://user-images.githubusercontent.com/93594/52948838-7ee90700-3372-11e9-8275-974ff1fa292a.png)

[2019-02-18 11:44] #466 closed

[2019-02-18 11:46] mvishnu071194 commented on #466
Thanks. This worked well.

[2019-02-18 13:58] jakearchibald commented on #465
https://github.com/GoogleChromeLabs/squoosh/compare/windows-build-fix should fix it. Can you let me know if that branch builds?

[2019-02-19 16:47] jakearchibald commented on #401
https://github.com/GoogleChromeLabs/squoosh/pull/469

[2019-02-21 01:49] DevonJSmith commented on #465
'npm run build' still fails with the error below (albeit different from the invalid regex error). These errors seem very similar to the problems originally reported in #282. I think that these lines (152 and 156) also need to make use of this path separator:
[code]
[code]
However, I know this isn't the full issue, because when I hard-code the windows file separator, the build still fails.

Current

[2019-02-21 15:04] jakearchibald commented on #465
Give it another go, I've fixed more paths.

[2019-02-22 00:04] DevonJSmith commented on #465
Still fails, I've included the result of running npm install and npm build, in case there's something else that's the matter here:

[code]

[2019-02-26 01:50] ac-lakshmikanth commented on #465
Unable to fix windows build issues. Tried to resolve early errors reported in console. But more errors are coming.  Please provide a complete windows build working to help learning web assembly.

[2019-03-04 13:25] alisaitbilgi opened #493 "Rotation change doesn't work on Safari."
Since [WebAssembly.instantiateStreaming](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/instantiateStreaming) method has no support on Safari, changing the rotation of an image on Safari causes an error being thrown.

**Steps to reproduce the behavior:**
1. Open the app in Safari browser.
2. Select an image.
3. Click rotation-change button.

**Versions

[2019-03-04 13:43] surma commented on #493
Wait, `instantiateStreaming` is _not_ in Safari??! I thought all browsers shipped that. That’s on oversight by me then! Thanks for flagging.

[2019-03-04 14:50] #493 closed

[2019-03-05 15:58] surma opened #496 "Bette resizing algorithms"
We want more control over how images get resized (because some browsers do it badly).

Let’s use this issue to collect some libraries that we can use:

- https://github.com/PistonDevelopers/resize (Rust, Lanczos3 & Mitchell)

[2019-03-05 16:10] surma commented on #131
We wanna tackle this again, so reopening.

Also found this:

https://github.com/PistonDevelopers/resize (Rust, Lanczos3 & Mitchell)

[2019-03-05 16:10] surma commented on #496
Closing in favor of #131

[2019-03-05 16:10] #496 closed

[2019-03-05 16:15] jakearchibald commented on #131
Ohh that's very handy. Lanczos3 & Mitchell are the ones I wanted too.

[2019-03-05 23:29] surma commented on #131
I got that Rust library working in wasm. Will PR once I have done the rest of the plumbing.

(Yes, I got bored.)

[2019-03-06 13:01] surma commented on #131
Jake and I are working on this on the `rust-resize` branch.

[2019-03-06 17:49] jakearchibald commented on #131
Closed in https://github.com/GoogleChromeLabs/squoosh/pull/498

[2019-03-06 17:49] #131 closed

[2019-03-06 18:15] jakearchibald opened #499 "Issues with resize and transparency"
https://github.com/PistonDevelopers/resize/issues/23

If they can't fix this, we may want to look at other implementations.

cc @surma

[2019-03-06 18:26] frlinw opened #500 "[Question] rotation UX"
**Is your feature request related to a problem? Please describe.**
When you rotate an image, the original image and the compressed one can be out-of-sync for a short delay.

**Describe the solution you'd like**
Fake the rotation with css for an instant feeling until the rotation is done then reset the css rotation and replace non rotated image with rotated one ?

[2019-03-07 02:58] jondavidjohn opened #502 "Use packtracker.io for bundle size reporting"
Hi!

This is a really neat project and in particular does a lot of interesting webpack configuration around asset optimization!  Would you have any interest in reporting asset size changes to your pull requests, and maybe even set javascript and css asset budgets that can fail any PR that exceeds them?

Also thinking this might help be a guard against unanticipated size gain due to automatically b

[2019-03-07 07:28] jakearchibald commented on #500
I'll take this on. I think I introduced this bug when I debounced the inputs.

[2019-03-07 07:32] jakearchibald opened #503 "Size report should ignore map files"
I'd still like to generalise this solution, so adding some sort of callback for filtering files would be useful.

[2019-03-07 08:03] jakearchibald commented on #502
Our CI script already provides size diffs, but I'm not against trying something else.

[2019-03-07 15:38] jondavidjohn commented on #502
Cool! You can see an example of what the PR Checks would look like here.

https://github.com/jondavidjohn/squoosh/pull/1

And the type of view available in our app

https://app.packtracker.io/organizations/2/projects/114?branch=packtracker-example-branch

and I can send a PR with the configuration, all you'd need to do is sign up and create a project on https://packtracker.io and set a project tok

[2019-03-07 15:52] jondavidjohn commented on #502
Also, you'll need to grant the app access to the repo under the "GitHub Checks" tab.

[2019-03-08 07:50] jakearchibald opened #509 "Resize in linear RGB"
https://www.nayuki.io/page/srgb-transform-library - these look useful

[2019-03-12 15:30] ilikescience commented on #301
@kosamari @jakearchibald this is a feature I'd love to have. Any way I can help out with the UI/UX?

[2019-03-13 03:29] jakearchibald commented on #509
Shipped

[2019-03-13 03:29] #509 closed

[2019-03-15 19:48] AnthumChris opened #516 "Overlay "Working..." on Updating Image"
**Is your feature request related to a problem? Please describe.**
I'm frustrated that the "working..." status appears in bottom right of screen, hidden in my peripheral vision.

**Describe the solution you'd like**
Would love to stare at the image on the right as it processes and quickly see the "working..." nearby so that I can immediately know when processing is done and the right image is upda

[2019-03-20 17:07] surma commented on #499
Closed via #507

[2019-03-20 17:07] #499 closed

[2019-03-21 16:22] nayuki commented on #509
For reference:
* Commit https://github.com/GoogleChromeLabs/squoosh/pull/510/commits/d9f1190620c8c349419fa9b3ef1c994175852c6a
* Pull request https://github.com/GoogleChromeLabs/squoosh/pull/510

[2019-03-21 17:14] surma opened #520 "Switch to --web target on rust modules"
wasm-bindgen and wasm-pack now support `--web`, which generates much better and modern code. We should update our rust code.

[2019-03-29 17:16] surma opened #530 "SVG scaling bug"
Here’s a fun one: This SVG of the Rust mascot behaves weirdly when being resized with Squoosh. My hunch is it’s gotta do with the viewbox, but @jakearchibald knows SVG much better than I do. PTAL?

SVG:
[rustacean-flat-happy.svg.zip](https://github.com/GoogleChromeLabs/squoosh/files/3023733/rustacean-flat-happy.svg.zip)

![Kapture 2019-03-29 at 17 10 41](https://user-images.githubusercontent.com/2

[2019-04-08 08:40] theJian opened #537 "Nothing happens if user selects the same file"
**Describe the bug**
Nothing happens if user selects the same file.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a file
2. App redirects you to editor view
3. Navigate back by clicking either browser back button or the back button in the app
4. Select the same file

**Expected behavior**
User should be redirected to editor view.

**Version:**
 - OS version: MacOS
 - Browser version

[2019-04-08 16:33] #537 closed

[2019-04-18 04:43] chaostimothy opened #553 "Sqoosh removes all EXIF information"
**Describe the bug**
Uploading a JPG file containing EXIF information (e.g. Drone image) and compressing to the same file format (i.e. JPG) using Sqoosh (on both MozJPEG or Browser JPEG compression) removes all EXIF information.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a drone JPG image containing EXIF data
2. Using Sqoosh, convert it to MozJPG or Browser JPG
3. Save/download
4.

[2019-04-18 05:51] Abourass commented on #465
Can confirm that mergining that branch over the default did not solve windows 10 build issues for myself either.
[code]

[2019-04-18 06:56] jakearchibald commented on #553
This is deliberate right now. Squoosh is about making images as small as they can be, so non-visual data is discarded.

We might consider adding options for this in future, but it isn't our priority right now.

[2019-04-21 08:06] mittalyashu opened #557 "Load image url"
**Is your feature request related to a problem? Please describe.**
In the current version of an application, it only allows us to add local images by drag and drop, or image selector.

But squooshing a remote image will also be helpful.

**Describe the solution you'd like**

Allowing users to paste an image URL, then the image can be downloaded locally as a cache or as a proper file on desktop _(o

[2019-04-21 10:27] jakearchibald commented on #557
Dupe of https://github.com/GoogleChromeLabs/squoosh/issues/330

[2019-04-21 10:27] #557 closed

[2019-04-23 12:12] afanjul commented on #325
+1

[2019-04-23 12:21] jakearchibald commented on #325
We might consider this once https://github.com/shssoichiro/oxipng/issues/79 (or a similar tool) supports it

[2019-04-23 20:44] JoelEinbinder opened #564 "Tslint precommit hook fails"
Tslint is unhappy:
[code]

[code]

This script seems to run on precommit. Maybe it should run on travis?

[2019-04-30 09:09] jagij opened #573 "Vector scaling breaks at higher scaling values"
I want to be able to convert an SVG to a PNG while blowing up the image by a large factor.

I was not expecting the input file to be converted to an bitmap first, before any conversion has been applied. If I blow up the image by a factor of 4, suddenly I get a completely pixelised output. Since SVG is a format that scales, this is quite an unexpected result.

**Does other service/app have this fea

[2019-04-30 09:14] surma commented on #573
You seem to have uncovered a weird bug :D

We do not rasterize SVG. We actually support SVG vector scaling. If you open the Squoosh logo from the home screen, you can rescale it to, let’s say, 2000x2000 and it should look pixel perfect!

<img width="1274" alt="Screenshot 2019-04-30 at 10 11 45" src="https://user-images.githubusercontent.com/234957/56951734-81b16680-6b30-11e9-9607-3e9169e83df6.png"

[2019-04-30 19:40] Kirill486 commented on #292
Hi, everyone)
I see there's a work related to this issue in process. But this issue looks left behind.
So, I wondered is it ok for me to come up with a solution. It still needs to be improved in a few different ways))
https://github.com/GoogleChromeLabs/squoosh/pull/574

[2019-05-04 03:07] drveresh commented on #553
I too recommend(@chaostimothy) this feature for not removing EXIF data.  Technically, it may be a simple option or flag to decide whether to keep or delete EXIF data.  At least please keep the basic(may take < 200 bytes) EXIF data like dates, geolocation, camera name/type etc, because these are used by mobile devices and apps to create photo albums, location-based collection, maps and more.

I hop

[2019-05-04 03:18] jakearchibald commented on #553
If it's as simple as you say it is then please submit a PR.

[2019-05-04 03:25] drveresh opened #576 "Drag and Drop Multiple Photos"
**Is your feature request related to a problem? Please describe.**
No, It is a new feature, to process and optimize multiple photos at https://squoosh.app/

**Describe the solution you'd like**
We need a feature to drag and drop multiple photos

**Does other service/app have this feature?**
Yes, it is like a basic use case that many users have >1 photos to optimize.

[2019-05-04 03:34] drveresh commented on #553
@jakearchibald , I mean, from website/UI, we need a single input(`checkbox[name=deleteExif]`), Exif[true/false], and in the backend, we need to read this single parameter and decide to delete exif data, maybe, `if(deleteExif) { deleteExifData() }`

It is about adding basic and more value for this product.  I would try sending a PR.

[2019-05-04 03:46] jakearchibald commented on #553
Not all input/output configurations support exif, so I don't think it's as simple as you think (where would this option go?). But, I'll happily review any PR you submit.

[2019-05-04 07:16] roygrubb opened #577 "Mobile"
Doesn't work in mobile (iOS, anyway).
fineuploader handles this well, but I don't know how well that library would fit in with your implementation.

[2019-05-04 11:57] jakearchibald commented on #577
Can you describe how it doesn't work?

[2019-05-04 11:58] jakearchibald commented on #576
Dupe of #301

[2019-05-04 11:58] #576 closed

[2019-05-05 07:00] roygrubb commented on #577
Apologies - your question made me go and search for drag and drop on iPad, and I found it was possible. I thought it wasn't.

It's worth mentioning what fine-uploader does on iPad, which I think is more intuitive:
- touch the upload area
- a popup offers: Take Photo or Video / Photo Library / Browse
- touching Photo Library shows the usual iOS panel from which one or more images can be selected, a

[2019-05-05 19:57] kosamari opened #580 "Add "what the app does" in top page"
https://twitter.com/jennschiffer/status/1125125633695191046

[2019-05-09 17:51] glenn-jocher commented on #299
+1
Same issue in MacOS. Vertical images show up horizontal in VOTT. No way to correct.

[2019-05-09 19:36] surma commented on #299
I mean, there _is_ a rotate button.

[2019-05-09 19:50] glenn-jocher commented on #299
Issue seems to be with HEIC to jpg export in Apple ecosystem. Seems like exif tag may be applied twice. Solution is to export to jpg without exif.

[2019-05-10 12:51] Sohieeb commented on #580
Does this issue still available? If so I would like to work on it.

[2019-05-11 00:36] G-bug opened #583 ""caniuse-lite is outdated" during "npm run build""
Browserslist: caniuse-lite is outdated. Please run next command `npm update caniuse-lite browserslist`
SyntaxError: Invalid regular expression: /\codecs\/: \ at end of pattern
    at new RegExp (<anonymous>)
    at module.exports (D:\NodeJs\node_global\node_modules\squoosh\webpack.config.js:175:9)
    at process._tickCallback (internal/process/next_tick.js:68:7)

[2019-05-13 20:35] thibaultmol opened #585 "Show Exiff data"
**Is your feature request related to a problem? Please describe.**
It isn't

**Describe the solution you'd like**
When opening a file, there could be a button somewhere to 'show Exiff data'

**Does other service/app have this feature?**
Websites like this exist http://exif.regex.info/exif.cgi but it isn't HTTPS (I know there are https versions out there, but this is the first one that comes on Goo

[2019-05-17 06:05] karanisverma commented on #311
hey @kosamari  I would love to pick this up!

[2019-05-18 14:30] lucacasonato opened #593 "When JS is disabled no message is displayed"
**Describe the bug**
When opening the page in any browser and disabling JS, the page does not react. It just displays everything like normal but does not respond to any clicks (obviously).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to squoosh
2. Disable JS
3. Reload page

**Expected behavior**
Display a message or screen that JS is needed to use Squoosh.

**Version:**
 - OS w/ versio

[2019-05-18 20:30] jake74 opened #594 "PNG image causes an error message and won't compress to WEBP"
I've created a fairly large PNG (1920x475px) of which the content is mostly transparent/alpha channel. Created in Photoshop and exported as a 24-bit PNG using the 'Save for Web' option.

Uploading to Squoosh.app works ok (drag and drop) and OptiPNG works for reducing the palette, but changing the compression option to WEBP causes the 'working' spinner to twirl for a 20-30 seconds, then an error me

[2019-05-18 20:36] SignpostMarv commented on #594
Same issue on Win10 Version 74.0.3729.157 (Official Build) (64-bit)

Issue only appears to occur when using lossy mode, lossless and lossless w/ slight loss both behave as expected.

w/ console error:

    at wasm-function[211]:26
    at wasm-function[571]:51
    at wasm-function[581]:125
    at wasm-function[585]:187
    at wasm-function[719]:384
    at wasm-function[725]:920
    at wasm-function

[2019-06-01 14:01] SignpostMarv opened #608 "request for umbrella issue to track present/planned/rejected image formats"
**Is your feature request related to a problem? Please describe.**
I (and likely others also) are curious about image format support in squoosh

**Describe the solution you'd like**
1) A pinned umbrella issue/roadmap intended to track:
    * which issues/pull requests/branches are being used for planned support
    * rejected formats, with a summary of their reason and initial issue where appropri

[2019-06-12 09:52] surma commented on #608
Yeah, I’m not opposed. We could also use the GitHub Wiki for this purpose.

@jakearchibald WDYT?

[2019-06-12 09:58] jakearchibald commented on #608
Is https://github.com/GoogleChromeLabs/squoosh/projects/3 the thing we're talking about? I guess we'd need a rejected column.

[2019-06-12 10:01] surma commented on #608
OOoooh! Yes it is. Closing this then.

[2019-06-12 10:01] #608 closed

[2019-06-12 14:30] WORMSS commented on #553
Just to note, there is already the "compressor specific settings" under the quality slider.
With such things as mozJPEG saying "show advanced settings", and WebP having additionally "Presenter transparent data".

That seems like it would be the place to put it. If the compressor allows Exif, it goes there, if it doesn't, then there is no option.

[2019-06-13 12:39] 1valdis commented on #102
This is still an issue. I opened Squoosh and tried to paste, but nothing happened, so I went here, started creating a feature request obviously thinking it's not implemented, and then saw this. I doubt many people tap on some places of the page before trying to paste - and if I just open Squoosh and my first action is pasting, it fails.

[2019-06-14 03:23] Inuyasha-cxk opened #622 "Oversized image prompt Error:memory access out of bounds"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
When i choose an oversized image(7952*5304), get this error message.
processing error (type=mozjpeg) :Error:memory access out of bounds.
Switch other type ca

[2019-06-18 13:09] ICPDeutschland commented on #301
Love the tool, but if you want to optimize all pictures of a website that has grown for some years it is not really practicable.

I can easily download an entire picture folder with 700 pics via FTP, but then I have to save every single picture to optimize it. (Would take days I guess).

So please add a batch feature that opens one picture after the other, optimizes it and saves it to another fold

[2019-06-18 13:12] ZeeCoder commented on #301
I frequently get batches of design related images at my work that are not optimised.
Would be great if I could easily drag and drop the whole thing as is.

[2019-06-21 09:01] hq5544 commented on #299
+1
This issue seems occurs on all my browsers, include chrome safari and firefox.
While on cell phone, like iphone or android phone, images show the right orientation.
It feels so weird.

[2019-06-25 07:10] mathiasbynens opened #637 "Show a message when pasting fails"
#98 added support for `onpaste`. However, sometimes what’s on the clipboard cannot be pasted into Squoosh (e.g. image data copied from Photoshop). In that case, it would be great to detect the failure and show an error message.

[2019-06-28 16:05] SignpostMarv opened #642 "Codec Support Query: Basis Universal"
**Is your feature request related to a problem? Please describe.**
Just noticed ["Basis Universal"](https://github.com/binomialLLC/basis_universal) pop up on [my twitter feed](https://mobile.twitter.com/Lady_Ada_King/status/1144546463365681152)

Was wondering if (in general) image formats that are targeted mostly at WebGL are in or out-of-scope for Squoosh, and (specifically) if this would be some

[2019-06-29 12:54] surma commented on #642
I’ll take a look at this :)

[2019-07-01 20:47] Rich-Harris opened #644 "Use favicon to indicate when work is happening/is done"
**Is your feature request related to a problem? Please describe.**

When dealing with large images, it can take a little while for things to happen. I can either stare at the tab while it's crunching, or switch over to a different tab with a plan to return a bit later, which I will often forget to do for minutes at a time.

**Describe the solution you'd like**

It'd be nice if the favicon changed

[2019-07-02 08:15] jakearchibald commented on #644
Would it be enough to prepend ⏳ to the document title? That would also work for Safari.

[2019-07-02 12:51] Rich-Harris commented on #644
Oh, Safari, you really are the runt of the litter.

Changing the title definitely gets us most of the way there. Personally I tend to have 30+ tabs open so that I can't see titles, only favicons, but that's on me. I'd say that's a decent plan.

[2019-07-02 12:51] Rich-Harris commented on #644
(would be happy to try and rustle up a PR given a nudge in the right direction, btw)

[2019-07-02 13:34] surma commented on #644
Go for it! I think you’d go about it by changing `document.title` in our (pretty huge) `<Compress>` component in the area where we handle the compression jobs and workers.

Let me know if you need more details than that :)

[2019-07-02 13:36] jakearchibald commented on #644
https://github.com/GoogleChromeLabs/squoosh/blob/master/src/components/compress/index.tsx#L55

Unfortunately we currently track loading in three places. One for each side, and another overall "loading" for when we're loading/decoding/processing the image.

I guess you'll want to check all three of these in one of the post-update callbacks, and include the ⏳ in the title if any are true.

[2019-07-02 19:09] rdrahul commented on #637
I want to take this up. But I see that you guys have created a different module for file-drop-element so should I directly do it in that package itself? Also, the approach I am thinking to take is to call the dispatch event anyways when the paste file is failed but passing a null value to the "files" in this case. So, anybody listening to events can configure there a custom error message when they

[2019-07-05 10:24] SignpostMarv opened #647 "small images obscured behind splitter handle"
**Is your feature request related to a problem? Please describe.**
When one drops in an image smaller than the horizontal splitter handle, it's not immediately obvious that the drop operation was successful.

**Describe the solution you'd like**
Vertically offset the image when the image is within some reasonable percentage of the size of the splitter handle.

**Does other service/app have this fe

[2019-07-07 23:33] ragavanrajan commented on #301
Hi Guys, Any idea when can we expect this feature live please.

[2019-07-08 02:48] elaijuh commented on #301
It would be awesome if API could be provided as a service

[2019-07-08 06:48] jakearchibald commented on #301
There's no set date. When this issue is closed, you know it's shipped.

[2019-07-11 14:28] gsGabriel opened #651 "Make web api for squoosh"
Create a service that compresses and returns the compressed image according to the parameters entered

I need that haha

[2019-07-17 11:33] ZeppLu commented on #85
![image](https://user-images.githubusercontent.com/17007549/61372412-a1536200-a8c9-11e9-9269-361d82e4343f.png)
Maybe I'm wrong, but doesn't a 100% quality indicate lossless transform?

[2019-07-17 15:13] jakearchibald commented on #85
It doesn't, it means "run the MozJPEG encoder with a quality level of 100".

[2019-07-17 15:13] jakearchibald commented on #85
(that's how it works in Photoshop etc too)

[2019-07-17 15:36] surma commented on #85
Yeah, even the setting of 100 will just use a higher resolution quantization table for the DCT transform. That part might be _close_ to lossless, but it’s not guaranteed. Before we get to that stage, tho, the codec will:

- Convert RGB to YUV
- Will subsample U&V to half the original resolution

which are all lossy steps.

[2019-07-17 15:41] jakearchibald commented on #85
(I think mozjpeg disables chroma subsampling at qualities > 90)

[2019-07-22 14:51] catastrop opened #659 "Make google analytics optional"

[2019-07-31 08:57] #401 closed

[2019-07-31 13:32] #465 closed

[2019-08-08 13:39] catastrop commented on #659
??

[2019-08-09 14:47] chstdu commented on #332
And what is the difference finally? Searching for the answer always leads me here again and the blog post does not mention squoosh.

[2019-08-09 15:15] surma commented on #332
"Browser WebP" is the WebP encoder provided by the browser, if it provides one at all. For example, "Browser WebP" won't show up in Safari. Chrome's WebP encoder only exposes a quality parameter, nothing else.

"WebP" is our port of libwebp to WebAssembly, exposing most of the option that the library exposes, giving you full control over the encoding.

[2019-08-11 05:56] catastrop commented on #659
Response

[2019-08-11 11:55] jakearchibald commented on #659
Please have patience

[2019-08-19 17:10] tracker1 opened #684 "Publish wasm libraries to npm"
It would be nice to see each of the enc/dec libraries published in npm... perhaps in an @squoosh org.  This way other projects could make use of the output.  Would work to ensure an interface for both node and browser.

This should also include more documentation on how to use each library separately.  Also, publishing a merged library as a single entry point.

Doing the above would allow an easie

[2019-08-19 17:20] surma commented on #684
cc @RReverser Do you have any interest in doing this at some point?

[2019-08-19 21:36] RReverser commented on #684
I actually asked @jakearchibald earlier whether this was considered. I think it could be useful, but wouldn't necessarily assign this to me yet. That said, PRs are welcome and I'd be happy to review :)

[2019-08-21 18:12] gustavopch commented on #280
Nothing yet? :cry:

[2019-08-21 19:00] surma commented on #684
Dupe of #280 Actually

[2019-08-21 19:00] #684 closed

[2019-08-22 22:51] tracker1 commented on #280
Posted a dupe feature request (#684), apologies...  Notes from my dupe.

* Use a `squoosh` org in npm for the codecs
* Publish individually
  * browser: abstraction for browser interface (for use with webpack/browserify/etc build) -- this may require special instructions for use
  * main: abstraction for node (for use with node's wasm usage)
* Publish package with all of the individual packages re

[2019-08-23 08:43] evayde opened #687 "TIF cannot be opened"
**Describe the bug**
Uploading a .TIF results in an error: “Invalid Image”

**To Reproduce**
Steps to reproduce the behavior:
1. Go to squoosh.app
2. Click on upload image
3. Take one of these http://www.fileformat.info/format/tiff/sample/
4. See the error

**Expected behavior**
Expecting this to work same as JPEG and PNG.

**Version:**
 - OS w/ version: iOS 12
 - Browser w/ version Edge Chromium

[2019-09-13 08:27] kasperkamperman opened #695 "Add references to readme"
First this is amazing work. I think it would be good to add the available references to the readme, to give developers a quick start to start with wasm in the browser themselves.

(I tried making a pull request in a separate branch, but I got an authorisation problem).

Addition for readme:

----

# Background information

Presentation of Squoosh and the engineering behind it at Google Dev Summit

[2019-09-15 08:47] kasperkamperman opened #696 "Compile with closure flag results in smaller js"
Is there a reason that mozjpeg was not compiled with the closure flag? It results for me in a JS file that is about 21kb instead of 44kb. I had no problems in running the code.

In build.sh
...
[code]
...

[2019-09-15 09:55] kasperkamperman opened #697 "Help / example running mozjpeg in a worker (comlink)"
I'm trying to understand all the concepts regarding WebWorkers in combination with encoding.

As far as I understand in the example.html in the specific code folder (for example mozjpeg_enc) the encoding doesn't happen in a webworker.

How would I import the "mozjpeg_enc.js" in a worker.js and run that?

I looked for some information on comlink and found an article that shows it with ffmpeg (https

[2019-09-15 14:53] Phroneris commented on #301
A usecase of mine is for Mastodon custom emojis.

I'm a sub-admin of a Mastodon server (instance) and managing many custom emojis.
Our media server isn't necessarily stable, I mean it sometimes get slow, so I'm planning on compressing the size of them to reduce media traffic as much as possible.
Then, I don't want to process about 200 custom emojis one by one manually.

[2019-09-17 15:03] samson132 opened #699 "Transparency on PNG when converted to MozJPEG gets turned to black. Can we change it to white instead?"
**Is your feature request related to a problem? Please describe.**
Many more websites use white as a background than black, converting to WebP is a solution but not currently supported widely.

**Describe the solution you'd like**
Change transparency which is converted into black into white.

**Does other service/app have this feature?**
Not sure

**Additional context**
N/A

[2019-09-18 09:21] andreazorzi opened #700 "Infinite Zoom Problem"
**Describe the bug**
It is possible to zoom in until it reaches infinity, and when it comes up we can no longer zoom out.
Then if you try to click on the - or + button, it becomes NaN

**To Reproduce**
- Zoom in until it reaches infinity
- Then click on the - or + button and it becomes NaN

**Expected behavior**
Perhaps it would be better to set a maximum zoom limit

[2019-09-19 04:39] prguru commented on #553
I´m also missing an option to keep EXIF-data. Any plans to add that important feature for copyright issues?

[2019-09-21 09:43] lithic opened #701 "Make google analytics optional"

[2019-09-24 01:19] aduh95 opened #702 "Feature Request: AVIF support"
**Is your feature request related to a problem? Please describe.**

[AV1 Image File Format](https://aomediacodec.github.io/av1-avif/) is stable for a few months now, I think it would be nice to have it in Squoosh. It's a royalty-free format that claims to be more efficient than previous image compression formats.

**Describe the solution you'd like**

Implement [libavif](https://github.com/AOMedia

[2019-10-01 08:49] surma commented on #301
@Phroneris That sounds like a normal CLI (like OptiPNG or imageoptim) will serve you much better than squoosh. The whole point of Squoosh is that you can visually inspect what your codec settings are doing. For your use case, you can just apply your settings to all the files via CLI.

[2019-10-01 08:50] surma commented on #697
Yeah, this should work. Not sure why it doesn't. Can you put your demo in a Glitch or something?

[2019-10-01 08:51] surma commented on #696
Interesting! I didn't even know about that flag. I should add that to most of your build script.s

[2019-10-01 10:24] Phroneris commented on #301
@surma That must be really true, but I don't know how options I use in Squoosh (for example the number of palette colors) should be translated into exact commands for the existing tools.
I tried reading some source codes of Squoosh and the manual of CLI options of OptiPNG, but I, not a nice programmer, couldn't understand them as commands I should use.
If the process can also be written as a one-l

[2019-10-01 10:30] Lergin opened #703 "SVG doesn't load image tag images"
**Describe the bug**
When loading an SVG image that uses the \<image\> tag to use additional images within the SVG image these do not show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Squoosh
2. Upload an SVG image with the \<image\> tag for example:
[code]
4. The included image does not appear

**Expected behavior**
The included image should be visible in the same way as if the

[2019-10-07 12:47] surma commented on #703
Yeah, we can't read back pixels from a canvas that contains pixels from another origin (cross-origin violation), so this won't ever work. It's WAI.

Data URLs will work, yes :)

[2019-10-07 12:47] #703 closed

[2019-10-14 20:15] tracker1 commented on #280
Would still love to see some traction on this... surprised nothing has been done as of yet.

[2019-10-18 22:04] jashsayani opened #708 "WebP - processing error in Safari"
**Describe the bug**
When I try encoding or decoding using the WebP format in Safari, I see a "Processing error".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://squoosh.app/
2. Click on "Large photo"
3. On the right, pick "WebP" in dropdown menu to compress
4. See "Processing error" shown on bottom of the page

**Version:**
 - OS: macOS Catalina 10.15 (19A602)
 - Browser: Safa

[2019-10-21 10:29] jakearchibald commented on #708
Given this only happens with the large photo, and only affects decoding, I'm 80% sure this is a memory issue.

@surma any thoughts? Do we just need to give wasm more memory?

[2019-10-31 14:21] alfaodin opened #711 "Processing error (type=png): Error: unreachable"
**Describe the bug**
Tried to reduce to a half the size of an image, the image was a png.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag and drop the image
2. Click on OptiPNG
3. Click on Resize
4. Click on presets
5. Click on 50%
6. An Error is shown

**Expected behavior**
Reduce by a half.

**Version:**
 - Windows 10 Pro
 - Versión 78.0.3904.70 (Build oficial) (64 bits)

- Original i

[2019-11-11 23:17] cgibsonmm commented on #299
Is there any progress on this? It feels like this has been going on forever. I really hate building sites that give users the ability to upload images if there is no way to render them to the page correctly

[2019-11-12 02:20] jakearchibald commented on #299
Have you seen the rotate button?

[2019-11-18 15:35] deepnum opened #713 "how to create a p2p file sharing web app using wifi hotspot"

[2019-11-29 12:05] newschapmj1 opened #718 "User guide"
'Don't make me think'

**Describe the solution you'd like**
This is a great tool for non technical users who don't know the details of image compression (like me).

Each menu option should be explained
Alternatively there should be links to be the best guides (but these do not cover every option)
https://www.targetinternet.com/a-complete-guide-to-squoosh-what-is-it-and-how-to-use-it/
https://mediu

[2019-12-05 15:12] ferrisbuellers commented on #699
I'd prefer to be able to specify the background colour for image formats that don't support transparency.

[2019-12-05 15:22] ferrisbuellers commented on #651
How do you envision this web API working?

Are you thinking where you post an image to an api url with query data for compression parameters and have this api return you the compressed image?

If so I believe squoosh runs purely in the browser so a web api like the above might be unlikely or out of the scope of Google's vision for this project.

However, since it's running in JS I guess it could b

[2019-12-12 21:52] aaronth07 opened #719 "Squoosh app is saturating colors"
**Describe the bug**
Whenever I compress an image using the online or offline version of the app, the output image is more saturated. This does show in the preview, and persists regardless of file type or channel setting.

**To Reproduce**
Steps to reproduce the behavior:
1. Compress any image normally.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Versi

[2019-12-12 21:54] aaronth07 commented on #719
Hmm not seeing the changes when uploading, must have been related to the image viewer I was using.

[2019-12-12 21:54] #719 closed

[2020-01-07 15:11] mathiasbynens opened #721 "Codec to consider: JPEG XL"
I searched within this repo and GitHub returned no results, so... here's an issue about the JPEG XL codec :)

More info about this codec: https://jpeg.org/jpegxl/

JS/Wasm demo: https://libwebpjs.appspot.com/jpegxl/

[2020-01-07 15:33] jakearchibald commented on #721
Isn't this really licencey and patenty?

[2020-01-15 21:06] carbonology commented on #711
Been getting this issue a lot when trying to resize, not only with OptiPNG but with MozJPG as well

[2020-02-01 12:49] MHA15 commented on #299
wow!
Still there is no good solution?

[2020-02-01 15:24] surma commented on #299
I can only re-state @jakearchibald’s comment: Have you seen the rotate button?

![Screenshot_01_02_2020__15_21](https://user-images.githubusercontent.com/234957/73594461-8dd6b400-4506-11ea-9a3b-36caf26bbbd5.jpg)

Maybe someone can re-state what the problem is. Everything that has been described in this thread so far is solved by this very rotate button as far as I can tell.

[2020-02-05 09:42] Haprog commented on #299
I haven't tried squoosh in a while but the rotate button seems like a great workaround to the issue, however ideally the image should automatically appear in the "original/correct" orientation since the information is in the file.

I'd like to keep this issue open until it works automatically (though the rotate button is still a nice additional feature to have even if this is fixed).

[2020-02-06 00:31] surma commented on #721
I am working on this now. To be clear, JPEG X**R** is patenty, JPEG X**L** is royalty-free and open source.

[2020-02-06 23:51] mnordine commented on #642
Any update on this?

[2020-02-07 01:31] surma commented on #642
The licenses/IP/patents on these formats are unclear to me, so I can’t really ship the to Squoosh without having a lawyer look at them :-/

[2020-02-07 12:56] mnordine commented on #642
License is here: https://github.com/BinomialLLC/basis_universal/blob/master/LICENSE

Seems ok?

[2020-02-10 00:15] richgel999 commented on #642
Basis Universal uses the Apache 2.0 license. It's a 100% free open source library that may be used for any purpose, including commercial purposes. The authors and Binomial LLC have no patents whatsoever, and we are 100% against software patents. Binomial is officially a member of the Khronos Group. All the formats supported by Basis Universal are documented in the official Khronos Texture Format S

[2020-02-10 00:20] richgel999 commented on #642
The Khronos Texture Format Specification is here:
https://www.khronos.org/opengles/sdk/tools/KTX/file_format_spec/

The transcoder was written using information in this open specification. From a licensing perspective, as long as you aren't creating GPU hardware you frankly don't have anything to worry about whatsoever.

[2020-02-10 00:33] richgel999 commented on #642
For ASTC in particular, our use case falls under the ASTC license:
https://github.com/ARM-software/astc-encoder/blob/master/LICENSE.md

[2020-02-10 00:39] romainguy commented on #642
@surma I can give you more context (my ldap is romainguy@)

[2020-02-10 08:24] pepelsbey commented on #699
Yes please, simple HEX input would be great. Something similar to Photoshop’s Matte option in Save for Web that mixes alpha transparency with the color of choice:

<img width="297" alt="image" src="https://user-images.githubusercontent.com/105274/74132477-b4c47280-4bf7-11ea-9fc2-8e119a7e9b1c.png">

[2020-02-10 08:29] pepelsbey commented on #699
I believe it’s close enough to #347 to be closed as a duplicate.

[2020-02-10 08:44] pepelsbey commented on #316
Yes please, I have to type 26 and then fix 2 to 1 way too often.

[2020-02-10 14:30] felquis commented on #299
In my testing, the Orientation meta alone was not enough to tell me how to proper display the image, the EXIF of one vendor say the image was taken at position 8, but in another vendor the same rotation returned a 6, and as you rotate the smartphone, it won't tell if it is mirrored or not as well. :/ hard to track

[2020-02-10 16:22] Haprog commented on #299
Btw the `image-orientation: from-image;` CSS has now been implemented in Chromium. It will be in the next stable Chrome 81 if that helps. https://caniuse.com/#feat=css-image-orientation

[2020-02-10 16:39] Haprog commented on #299
@felquis If the source data is wrong, then it's a problem with one of the vendors if they incorrectly set the Orientation meta data.

If the image is originally saved in such a way that it is mirrored and there is Orientation meta saved, then the Orientation meta should also tell you if it's mirrored or not (see http://sylvana.net/jpegcrop/exif_orientation.html), but again if the vendor doesn't se

[2020-02-12 18:49] andreban opened #726 "URL for the maskable icon sends a 301 redirect to the home page"
**Describe the bug**
The URL for the maskable icon listed in the Web Manifest is redirecting to https://squoosh.app/

**To Reproduce**
run :

[code]

**Expected behavior**
An Image is returned

**Actual Behaviour**
A 301 redirect to /index.html happens

[code]

[2020-02-27 17:24] kripken commented on #696
I read the optipng Makefile now and had the same idea! Building with `--closure 1` it shrinks the JS from 108K to 46K. I opened #728, if that makes sense, then other codecs might benefit too.

[2020-02-27 17:36] surma opened #729 "Add --closure 1 to all Emscripten projects"

[2020-02-29 12:28] RReverser commented on #237
Just to add one more compressor that isn't listed above: [`PNGWolf`](http://bjoern.hoehrmann.de/pngwolf/). Code on Github: https://github.com/hoehrmann/pngwolf.

[2020-03-02 01:18] goyuix opened #731 "Add support for brunsli"
From their README:

Brunsli is a lossless JPEG repacking library. Brunsli allows for a 22% decrease in file size while allowing the original JPEG to be recovered byte-by-byte.

https://github.com/google/brunsli

[2020-03-02 06:06] jakearchibald commented on #731
This is becoming part of jpegxl, so we're focusing on that instead https://github.com/GoogleChromeLabs/squoosh/pull/723

[2020-03-02 06:06] #731 closed

[2020-03-04 05:28] kasusa commented on #577
it is just not useable.if you have a iphone just try it.
canyou make a app of squoosh?

[2020-03-04 06:32] jakearchibald commented on #577
Can you describe how it isn't usable?

[2020-03-04 11:11] dehghani-mehdi opened #732 "Show used command for compressing images"
Squoosh is a GUI on top of some tools (mozjpeg, ...). in order to use this tools, you should run them and pass some argument, e.g: `optipng input.png -o 3 -out output.png`.

It would be great to show which command do you run (based on user settings) to generate the output.

[2020-03-04 11:12] surma commented on #732
This is not quite feasible, sadly. We try to use the libraries behind those tools and there isn’t always a clear 1:1 mapping from the options we expose to CLI parameters.

[2020-03-04 11:12] #732 closed

[2020-03-06 10:11] OliverJAsh commented on #299
In iOS Safari, these properties actually seem to refer to the Exif dimensions, and it looks like they are considering standarding this behaviour here: https://github.com/whatwg/html/issues/4495#issuecomment-595008157

[2020-03-09 08:47] jakearchibald commented on #577
Closing until further details are provided

[2020-03-09 08:47] #577 closed

[2020-03-09 11:42] Rocinante89 commented on #711
getting it with webp too

[2020-03-10 04:19] seventhmoon opened #733 "Add Support for HEIF / HEIC"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Android and iOS are supporting HEIF / HEIC. It is good if we could have squoosh to support this image format.

**Does other service/app have this feature?**
Android OS, iOS

**Additional context**
https://en.wikipedia.org/wiki/High_Efficiency_Image_File_Format

[2020-03-10 06:35] jakearchibald commented on #733
Unfortunately those formats come with a licence fee, so we can't add them to the app.

[2020-03-10 06:35] #733 closed

[2020-03-12 09:10] ramyrgab commented on #700
I want to take this up

[2020-03-16 23:38] soraryu commented on #711
This is happening more and more.
![image](https://user-images.githubusercontent.com/2693840/76808262-75390980-67e7-11ea-8994-9ce431499a12.png)
@surma?

[2020-03-17 06:14] frank-dspeed commented on #88
maybe you want to also put some fresh comments on https://github.com/microsoft/TypeScript/issues/27957 as they simply ignore it :( when you want to use type checking via typescript .mjs will not get recognized as module