[2020-03-17 06:21] frank-dspeed commented on #88
and maybe you should consider my suggestion to turn all files into .js then marking the package in package.json as type: module and use typescript with checkJs: true flag and use JSDOC annotations you can then still type check while working with nativ modules till they accept .mjs

[2020-03-18 22:25] soraryu opened #735 "Dilation for conversion of transparent PNGs to JPG"
**Is your feature request related to a problem? Please describe.**
A common usecase for Squoosh for me is reducing 3D model textures for web usage, e.g. for use in GLB files.
Commonly, these look like this:
![MeshHolder_0DiffuseMap](https://user-images.githubusercontent.com/2693840/77011235-b22e0900-696b-11ea-9c42-ab83900b0e8e.png)

Now, when converting those to JPEG, transparent areas get replace

[2020-03-20 14:36] surma commented on #735
Oh interesting! Do you know of any library that does this?

[2020-03-23 12:06] surma opened #736 "Transparency removal"
(This is a merge of a couple of issues)

**Is your feature request related to a problem? Please describe.**
Some images have transparency and the transparency is either undesired or the target image format cannot handle transparency. We can give the user more control how these cases are handled.

**Describe the solution you'd like**

Just like we have a section for preprocessing the size of an ima

[2020-03-23 12:06] surma commented on #347
Rolling into #736

[2020-03-23 12:06] #347 closed

[2020-03-23 12:06] surma commented on #699
Rolling into #736

[2020-03-23 12:06] #699 closed

[2020-03-23 12:06] surma commented on #735
Rolling into #736

[2020-03-23 12:06] #735 closed

[2020-03-23 13:40] soraryu commented on #736
Answering your question in #735 : I'm not aware of a web library doing this. Nearly every major DCC application can do this, and there are different approaches (but usually it boilds to to either stretching in 4 or 8 directions around a pixel, similar to the Substance link you posted).

There's a couple other approaches in [Solidify](http://www.flamingpear.com/freebies.html) (A,B,C), but I don't t

[2020-03-25 22:01] soraryu commented on #736
Another reason to implement this better alpha/ background handling:
This output is not what I was expecting.
![image](https://user-images.githubusercontent.com/2693840/77589681-6c81bb00-6eec-11ea-9494-97c7e547b0ac.png)

Source image:
![konstruktion_1](https://user-images.githubusercontent.com/2693840/77589685-70add880-6eec-11ea-85f1-a5ebf69362d4.png)

[2020-03-26 16:53] surma commented on #642
Had a meeting @romainguy, we’ll look into this codec :)

[2020-04-01 20:18] janispritzkau commented on #301
Are there already people working on it? I would be interested to implement batch processing. I had imagined a tab view or list at the right top corner to switch between the imported images and add a extra button to process and download them all at once.

[2020-04-02 17:10] dev-nicolaos opened #739 "Cannot install on Chromium Edge"
**Describe the bug**
PWA installation silently fails in the new Chromium-based version of Microsoft Edge.

**To Reproduce**
Steps to reproduce the behavior:
1. Open https://squoosh.app/ in Microsoft Edge
2. Obersve the install button that appears on the right side of the address bar.
3. Click the button on the right side of the address bar
4. Click the Install button that appears in the prompt
5.

[2020-04-06 10:21] justingolden21 commented on #301
Some quick mockups in MS Paint:

**Home screen**
![image (10) (1)](https://user-images.githubusercontent.com/30274440/78548129-1139ad80-77b5-11ea-8590-116c0d2b2d3f.jpg)

**Edtior**
![image11](https://user-images.githubusercontent.com/30274440/78548132-126ada80-77b5-11ea-8ba6-405beaaf2529.jpg)

Using the [material folder icon](https://material.io/resources/icons/?search=folder&icon=folder&style=bas

[2020-04-06 10:33] jakearchibald commented on #301
Issues with this suggestion:

- It isn't clear what happens when a single file is dropped on an existing edit
- It doesn't seem possible to remove one item from the batch
- Layout is pretty complicated if the items aren't uniform
- 'multiple files' is in the same UI space as demo images, which seems like a bad fit
- It's no longer clear what the size output refers to
- What does 100% refer to when

[2020-04-06 12:17] justingolden21 commented on #301
Thank you for the quick reply. I'll provide some answers, which keep in mind, are just my opinion.

I would say have a toggle switch at the top, and you can switch modes between one file and multiple. If they drag it in single file mode (default, keep default functionality the same for users) then it overrides, if the toggle is on (can be saved in cookies, but not necessary) then add the file

Jus

[2020-04-07 07:13] jakearchibald commented on #301
This seems pretty confusing, and we don't really have space to add extra toggles on mobile.

There's no such thing as 'hovering' on mobile. Also this seems bad ux. The user could go to perform a click-drag, but _pop_ a close button appears under their mouse and the image is gone. This also seems really tricky with small images.

Google Photos smart tiles often crop parts of the image which seems l

[2020-04-07 14:42] kuworking opened #741 "Is it possible to control a little bit the crop process?"
So far it seems that cropping the image (adjusting dimensions) keeps an origin in the center of the image

So if someone wants to crop the bottom of the image, he can't (the top will also be cropped)

Is it like this? Or this is implemented and I haven't found the way?

[2020-04-12 01:43] MuhammadShaban commented on #280
any news?

[2020-04-14 18:02] lefti696 commented on #301
Cant wait for this feature to be implemented in Squoosh app! I think this is the most anticipated feature.

[2020-04-15 03:20] justingolden21 commented on #301
I apologize if it seems I'm undervaluing the problem. I understand it's a lot of work, I'm just trying to contribute my personal opinion on it. Trust me, I know UI/UX is a lot of work.

As for the toggle taking up a lot of room, I really don't think so. They usually look like this, no?
![image](https://user-images.githubusercontent.com/30274440/79294738-c4786580-7e8b-11ea-8e69-29e517717215.png)

Y

[2020-04-16 12:05] RReverser opened #745 "Should we really be optimising for size?"
So far, it seems that we have been optimising all codecs for size rather than speed. While this is understandable in some situations, I'm feeling a bit sceptical about its usefulness for the Squoosh scenario.

Sure, it saves some time when loading Wasm codec for the first time, but arguably user is going to spend way more time actually tweaking params and compressing images, so in the summary they

[2020-04-16 12:37] surma commented on #745
I did a spread sheet when we were originally working on Squoosh back comparing `-Os`, `-Oz`, and `-O3`. IIRC the result was that `-Os` was equally fast as `-O3` (with an occasional slight regression) while being a _tiny_ bit smaller than `-O3`. `-Oz` was unproportionally slower for tiny size savings over `-Os`. So that’s why we ended up using `-Os`.

That being said, I am happy to revisit that dec

[2020-04-16 15:05] RReverser commented on #745
@surma Do you still have that spreadsheet around by any chance? Would love to take a look at least at the previous numbers for now.

[2020-04-16 15:05] RReverser commented on #745
Also, did you test on desktop only or on mobile as well? Difference in compilers likely matters a lot.

[2020-04-16 21:16] RReverser commented on #745
Well this was disappointing given the time it took to collect comprehensive measurements, but at least now we know for sure :) https://docs.google.com/spreadsheets/d/1VpN2fFYh07VbC55_XBZjAp9yK0Kejr3Z3auyE4MDdoY/edit?usp=sharing

<table>
  <tr>
    <th></th>
    <th>Mozjpeg</th>
    <th>OxiPNG #2</th>
    <th>OxiPNG #6</th>
    <th>WebP #4</th>
    <th>WebP #6</th>
  </tr>
  <tr>
    <td>Chrome Des

[2020-04-16 21:16] #745 closed

[2020-04-17 12:48] RReverser opened #747 "Add "seam carving" as a resize method"
@AlexVictoor just published a resizing demo that uses Seam Carving implemented in AssemblyScript: https://github.com/alexvictoor/seam-carving-as

It seems like it should be quite easy to integrate and would make a great addition to Squoosh as an extra resizing method.

[2020-04-17 12:53] jakearchibald commented on #747
Feels like this should be a new 'fit method'. As in, you'd use an existing resize method until the smallest dimension matched the target, then seam-carve down to the target size.

The implementation on that page only resizes horizontally, so we'd need to add the vertical, or just rotate the image back & forth.

[2020-04-19 17:17] mattmischuk commented on #276
It would be beneficial to run multiples of a given asset, I already have to do a `@1x`, `@2x`, and `@3x` version in multiple different formats. Having one CLI to do them all would be beneficial.

[2020-04-30 10:08] romainmenke commented on #430
Maybe also as a query  param? This makes it easy to save a preset as a bookmark, or send a preset to other people.

[2020-05-01 20:31] RReverser opened #754 "Enable LTO for C++ codecs"
Follow-up from discussion at https://github.com/emscripten-core/emscripten/issues/11055 which tried to investigate why switch from Fastcomp to LLVM backend in #750 made MozJPEG larger than before:

[2020-05-05 10:54] #754 closed

[2020-05-15 15:07] cestrian77 opened #758 "PNG resize error"
**Describe the bug**

When trying to re-size a PNG image, I get this error message:

Processing error (type=png): Error: unreachable

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a PNG image
2. Attempt to resize
3. See error

[2020-05-21 18:56] angelicochris commented on #301
Is this ever going to become a thing? Through your web tools we discovered the images on our site are all unoptimized and now have a lot of catching up to do. Doing them one at time just isn't an option. Any solutions we can do while we wait for this feature to be added?

[2020-05-21 19:32] justingolden21 commented on #301
An example of a dynamic grid of photos (for UI concept): https://codepen.io/jensimmons/full/QWjqbJj

@angelicochris Sadly, I have to link to an external tool since Squoosh.app doesn't support this. However, Kraken.io [Kraken.io](https://kraken.io/web-interface) supports this.

[2020-05-23 10:28] ignasblazys commented on #301
Would love to have batch export function. I guess you can use ImageMagick if you have the technical knowledge to do so, but for a designer like me it would be way easier to work with.

[2020-05-27 10:07] surma opened #759 "New codec: sjpeg"
https://github.com/webmproject/sjpeg

[2020-05-27 20:14] dev-nicolaos commented on #739
As of Edge 83 this appears to be fixed.

[2020-05-27 20:14] #739 closed

[2020-05-29 08:22] wving5 commented on #301
maybe we could just add a small feature which can convert current squoosh settings to
equivalent imageMagick comand line options

[2020-05-29 08:56] jakearchibald commented on #301
If we get round to this, it'll be later this year. We're humans with a finite amount of time in the day, with lots of other things to do. This isn't a money-making app 😄

[2020-05-29 11:01] ignasblazys commented on #301
Take your time guys <3

[2020-06-02 06:15] kocheick commented on #299
Not working with Firefox or Epihany (latest version as of today 6/1/20), however chrome (latest version) is fine.
I'm using elementaryOS.
![1](https://user-images.githubusercontent.com/8809180/83486494-468e0f00-a477-11ea-9f55-1f0c5207084e.jpg)

on the left side Firefox, right side is Chrome

[2020-06-18 16:08] ghost opened #762 "[Selenium] Image sizes don't change"
Chrome Version 83.0.4103.97 (Official Build) (64-bit)

Image sizes don't change. That is the size of original image is here to stay.
Please, have a look at the video.

https://yadi.sk/i/jbzBZchNZpdNTg

I did change the images' widths. But in the the result widths and hights are those of the original image.

Well, I used Selenium. But this may be not the problem. But why the width and height didn't

[2020-06-18 16:13] surma commented on #762
My hunch is that no `change` or `input` events are being emitted from the size controls because you are changing the value via Selenium. So the engine doesn’t pick up on the new values.

[2020-06-18 16:27] ghost commented on #762
I can't agree with you.

Please, look at another video: https://yadi.sk/i/mghO4M8sCN_GEA

I put a breakpoint preventing from downloading by Selenium. Then I downloaded the image manually.

First of all. As you can see, there was more than enough time for the engine to change the size.
Secondly, the user was invited to download the image (no spinning placeholder anymore).
Thirdly, I pressed the but

[2020-06-23 11:29] jakearchibald commented on #741
I think there are two ways we can tackle this:

---

We can have a full cropping step that's applied before resize, which allows a number of pixels to be cropped from top/left/bottom/right. There'd be a lot of UI work involved in this, as you'd want to add draggable handles to the image to tweak the cropping. It's a little unclear how this would work with batch processing.

---

We could add top/l

[2020-06-23 13:34] dhpar commented on #573
This seem to happen also when zooming into the image, at least in my phone.

Couldn't inspect the code (since I'm on my phone) so not sure how this is runner in the browser but if an SVG is implemented with the img tag or background-image image (I believe) it rasterizes the SVG, but if an SVG is implemented as xml tags (ie: <SVG ...>...</SVG>) inside HTML or background-image xml tags, the image ke

[2020-06-23 13:40] dhpar commented on #573
Nevermind, now that I inspected code I see that this is all managed through canvas, I have no experience with canvas, I wonder if canvas is rasterizing the svg, though.

[2020-06-23 13:46] dhpar commented on #573
[This article](https://css-tricks.com/when-to-use-svg-vs-when-to-use-canvas/) (had no idea) just made me realize that there is a difference on how an svg is rendered in a canvas.

[2020-06-23 15:11] kuworking commented on #741
With the buttons you could crop from one side, meaning that you could crop several times to achieve the same result as if you had the first option (?)

That being the case, and provided that now there's nothing (forcing users to use another program at least cropping-wise), I'd definitively go for this option (since easy = fast) 🙌🙌

[2020-06-23 15:20] jakearchibald commented on #741
Right now you enable/disable resizing, you can't add multiple resize steps. We don't really have the concept of applying our preprocessors multiple times. That would be a lot of UI work.

[2020-06-23 15:29] kuworking commented on #741
Worst case scenario, you could do it by exporting the cropped image without compressing (I see now that you cannot do it without compressing, but this could be minimal) as many times as you need to crop it before you actually compress it

In my case most of the times I only need a simple adjustment mainly for removing parts of the image, so my 2cents are that a semi-cropping feature to be able to

[2020-06-23 15:31] jakearchibald commented on #741
There are multiple lossless formats

[2020-06-30 17:48] dnnp2011 commented on #711
I'm also getting this error frequently.
Squoosh has been practically useless for PNG images lately.

Here's my console output:

<img width="698" alt="Screen Shot 2020-06-30 at 1 53 22 PM" src="https://user-images.githubusercontent.com/20608595/86160021-2f275d80-bad9-11ea-849c-8c5aed47612b.png">

[2020-07-02 09:32] PaulKinlan opened #766 "Spatial spelt wrong"
https://github.com/GoogleChromeLabs/squoosh/blob/3a5c0aa30cfa7158c36c03d7b5c02fcd38f430af/src/codecs/webp/options.tsx#L273

[2020-07-02 09:35] filiptronicek commented on #766
For reference: https://www.dictionary.com/browse/spatial

[2020-07-02 13:26] jakearchibald commented on #766
Fixed in https://github.com/GoogleChromeLabs/squoosh/pull/768

[2020-07-02 13:26] #766 closed, assigned to nobody

[2020-07-02 14:43] surma opened #770 "Add documentation to OxiPNG codec"
It currently has no README

[2020-07-06 19:40] chriswthomson commented on #726
`icon-large-maskable.png` isn't in `src/assets` (to be copied to the build/public/dist folder). `icon-small.png` is though and I can't see this being used.

[2020-07-07 18:40] RReverser opened #774 "Style typings don't seem to regenerate on Windows"
Posting from https://github.com/GoogleChromeLabs/squoosh/pull/764#issuecomment-654990788 for separate tracking:

[2020-07-08 13:29] RReverser commented on #774
I've just added Windows to Travis config, so you can see TypeScript failures on CI here: https://travis-ci.org/github/GoogleChromeLabs/squoosh/jobs/706156583

[2020-07-23 19:04] hybridherbst commented on #711
This is still happening, a lot.
Easy to reproduce too: add any PNG image, change "Resize" to 50%, see error.
@surma any idea? There's also the more recent #758 with the same problem.

[2020-07-24 09:51] jakearchibald opened #782 ""unreachable""
1. https://squoosh.app/
2. Open "device screen" image.
3. Activate resize.
4. Reduce size by 1px (many other values produce the same effect)
5. Error "mozjpeg unreachable".

This happens with other codecs too.

[2020-07-24 09:52] jakearchibald commented on #711
@hybridherbst that seems like another issue. Filed https://github.com/GoogleChromeLabs/squoosh/issues/782

[2020-07-24 10:21] jakearchibald commented on #782
This was introduced in 68177b7590b08427868f077f4e12656e6d62894e

[2020-07-24 10:26] jakearchibald commented on #782
cc @RReverser - I'm digging into this, but since it's part of the Rust/wasm stuff it might be beyond me

[2020-07-24 10:29] jakearchibald commented on #782
Ok, the issue is in the "Linear RGB" codepath. If that's disabled, it works fine.

[2020-07-24 10:35] jakearchibald commented on #711
No, it isn't another issue, apologies, but I'll continue to investigate it in the other ticket.

[2020-07-24 10:36] jakearchibald commented on #782
Bug reports of this (https://github.com/GoogleChromeLabs/squoosh/issues/711) mention that it only happens when importing PNG images, which suggests to me that it's caused by alpha values other than 255.

[2020-07-24 11:08] jakearchibald commented on #782
I'm no longer sure the bug was introduced by 68177b7, but that's when the wasm was built after the breakage.

[2020-07-24 11:09] jakearchibald commented on #782
The bug appears to be in `|v| (LINEAR_TO_SRGB_LUT[v as usize] * 255.0) as u8`

[2020-07-24 11:29] jakearchibald commented on #782
Oh, ok, the bug only happens with both Premultiply _and_ Linear RGB, so the issue is that `|v, a| (v as f32) * 255.0 / (a as f32).clamp(0.0, 255.0)` is generating something that `|v| (LINEAR_TO_SRGB_LUT[v as usize] * 255.0) as u8` cannot handle. And the problem is when alpha is 0.

[2020-07-24 13:57] #711 closed

[2020-07-24 13:57] #782 closed, assigned to nobody

[2020-07-24 14:44] jakearchibald commented on #711
Thanks to everyone who reported this! It's now fixed.

[2020-07-24 15:50] hybridherbst commented on #711
Thank you! Does this also close #758?

[2020-07-24 15:51] surma commented on #758
This should be fixed now!

[2020-07-24 15:51] #758 closed, assigned to nobody

[2020-07-24 15:51] surma commented on #711
Ah yes, thank you

[2020-07-24 16:10] hybridherbst commented on #736
@surma any news about this one? Been using Squoosh quite a lot lately (awesome tool!) and this is one of the last blockers in using it for "kind of everything occasionally" :)

[2020-07-24 16:11] surma commented on #736
No, no news yet :)

[2020-07-27 06:41] HereChen opened #783 "codecs/mozjpeg_enc/example.html is not avalible (mozjpeg_enc.js generated by emscripten 1.39.20)"
**Describe the bug**
``onRuntimeInitialized`` did not execute in `codecs/mozjpeg_enc/example.html `.

**To Reproduce**
Steps to reproduce the behavior:
1. Install emscripten 1.39.20
2. Execute `./build.sh` in `codecs/mozjpeg_enc`
3. Run `example.html` with webpack-dev-server.

**Expected behavior**
`onRuntimeInitialized` should be excuted after wasm file loaded.

**Version:**
 - OS w/ version: Deb

[2020-07-27 07:32] HereChen commented on #783
The problem can be addressed by two ways:

- modify `mozjpeg_enc.js`

[code]

- modify `example.html`

[code]

[2020-07-28 17:56] #726 closed

[2020-07-30 02:35] #783 closed, assigned to nobody

[2020-07-31 02:25] jkvyff opened #789 "Open to a new logo?"
**Is your feature request related to a problem? Please describe.**
Often if I recommend Squoosh to a friend, they make a comment on the initial logo of the hand how it looks a bit strange as well as having slight graphical errors.
At least it is nicer logo than Tinypng's panda always looking at my soul.

**Describe the solution you'd like**
I can or someone else can make a logo that has a bit more

[2020-07-31 15:22] una commented on #789
Thanks for bringing this up! We're actively looking into updating and rebranding our product, and will have an update for you in the coming months.

[2020-07-31 15:22] #789 closed, assigned to nobody

[2020-08-03 08:29] atjn commented on #702
AVIF support is set to go live in Chromium in 22 days: https://caniuse.com/#feat=avif

I would really like to already support it on my websites, but i don't have any viable tool for running and tweaking the encoder. Hoping Squoosh will add support soon :)

Tracking PR as of now: #722

[2020-08-04 17:03] surma opened #794 "Rebuild all codecs with newest base image"

[2020-08-07 06:44] BuyMyMojo opened #795 "scaling option for preview"
**Is your feature request related to a problem? Please describe.**
An option to change the scaling method in the preview window such as nearest neighbour

**Describe the solution you'd like**
possibly another button next to the scale percent that reveals a drop down menu of the different methods

**Does other service/app have this feature?**
no specifics I can think of

[2020-08-07 09:56] surma commented on #795
We already provide a plethora of scaling methods in the “resize” section :)

![photo_jpg_-_Squoosh_and_Paul_Kinlan_-_Chat](https://user-images.githubusercontent.com/234957/89634021-9ab0d780-d89c-11ea-8375-5fd90bc7e1fb.jpg)

[2020-08-07 10:04] jakearchibald commented on #795
I think the request here is different. It means using nearest neighbour in the preview, regardless of the resize method.

Fwiw, I wanted this originally, but I think browsers struggled with it. Eg I filed https://bugs.chromium.org/p/chromium/issues/detail?id=843615 at the time.

[2020-08-07 10:05] jakearchibald commented on #795
Safari still fails some of those cases, but Chrome seems good now.

[2020-08-07 10:15] BuyMyMojo commented on #795
yeah I'm referring to what Jake here said

[2020-08-10 06:50] jfoz opened #796 "Codec license clarification"
I noticed that Squoosh is being distributed under the Apache 2.0 license (seemingly in entirety?) but also includes codecs compiled from various projects that are often distributed under other licenses. For example, mozjpeg seems to be licensed under IJG, 3-clause BSD, and zlib: https://github.com/mozilla/mozjpeg/blob/master/LICENSE.md

Is it intended that these codecs have been re-licensed as Apa

[2020-08-12 10:18] surma commented on #796
Hey @jfoz,

thanks for filing this, seems like we lost track of the LICENSE files at some point in time. Just to be clear: We are not re-licensing any 3rd party code. I’ll re-add LICENSE files to the codecs soon.

[2020-08-20 09:37] jfoz commented on #796
Thank you @surma

For the time being, would it be possible to clarify how Squoosh contributions to the codecs should be credited when using the wasm codecs directly from Squoosh?

[2020-08-20 17:23] Flyrell commented on #276
I agree with @mattmischuk.

Squoosh is the go-to for me to compress the images to e.g. `jpeg` and `webp`. To do that via CLI, I would need to (at least) install multiple libraries and create some sort of node script to bundle their functionality together and run the needed commands to process the image. Also, I'd want those CLI tools to output images in similar quality to what I'm seeing in Squoos

[2020-08-21 02:24] ChengRui24 opened #799 "Can't handle APNG file"
upload an APNG file, whatever i choose the OxiPNG or Browser PNG, the Output file is not animated

[2020-08-21 11:19] surma commented on #276
We may or may not be thinking about a CLI ;)

[2020-08-21 11:21] surma commented on #799
Yeah, Squoosh has no support for animations. The UI currently very much canvas-based, so animation is already a technical challenge. But to _properly_ support animated formats, our UI would have to change a lot, where we would really need to offer a timeline scrubber and similar things so you could really inspect what is happening.

All in all, we are focusing on static images and don’t plan to ad

[2020-08-21 11:21] #799 closed, assigned to nobody

[2020-08-21 12:46] surma commented on #796
All of Squoosh is under Apache-2.0 The codecs are under their original licenses. I just added `LICENSE.codec.md` to each codec and updated the `README`s in d4f8b7f.

Closing this. If there’s any more questions, feel free to ask.

[2020-08-21 12:46] #796 closed, assigned to nobody

[2020-08-21 16:27] petele opened #801 "standalone (installed) experience broken"
**Describe the bug**
When installed as a desktop PWA, Squoosh launches in a browser tab instead of a standalone window as expected.

**To Reproduce**
Steps to reproduce the behavior:
0. If you have Squoosh installed, skip to step X
1. Go to https://squoosh.app
2. Click the install button in the upper right
3. Close all Squoosh tabs
4. Launch Squoosh from your launcher, or chrome://apps

**Expected

[2020-08-24 06:39] mathiasbynens commented on #702
#722 landed, and so did #791! 🥳  What else is needed to close this issue? UI work?

[2020-08-24 08:04] jakearchibald commented on #702
We're doing an overhaul of Squoosh in terms of build and UI. We're targeting Chrome Dev Summit for launching this and many other exciting features.

[2020-08-24 13:33] jakearchibald commented on #702
Actually, we've had a rethink, we might get this out earlier.

[2020-08-24 13:43] SignpostMarv opened #802 "HDR / wide color gamut support"
**Is your feature request related to a problem? Please describe.**
Upcoming image formats for browsers (avif) will have support HDR /wide color gamut.
CanvasRenderingContext2d currently does not.
This suggests possible issues with regards to HDR support:
* what should happen to the HDR/gamut data when converting to formats that don't support it?
* what should happen to the HDR/gamut data when resi

[2020-08-24 17:36] surma opened #803 "Reconsider if `ImageData` as the return type of decoders is a good idea"
`ImageData` is not a thing in Node. It’s easy to shim, but not sure if we want to stick to it anyway.

cc @RReverser

[2020-08-24 20:22] RReverser commented on #803
What is the alternative? If it's a custom class (like RawImage), then it seems it might as well be an ImageData shim.

[2020-08-25 10:13] samal-rasmussen commented on #280
I have a use case where we let users upload png files from the browser to a server. I would love to be able to run oxipng over it on the client side for some free space saving before sending :)

[2020-08-25 10:54] surma commented on #803
My main gripe with the current approach is that C++ code assumes a global names `ImageData` exists. Having to stick things onto `globalThis` just feels icky. But maybe it is the least terrible solution.

[2020-08-25 12:23] RReverser commented on #803
Leaving for visibility: one more option that might be cleaner than both sticking a class on `globalThis` or exposing custom C++ class, is using an Emscripten preamble (e.g. via `--js-library`) to define custom module-scoped `ImageData` variable only in Node.js, and use global otherwise.

[2020-08-26 09:32] jakearchibald opened #805 "Smaller AVIF wasms"
Right now, both the encoder and the decoder contain both the encoder and decoder.

If I build the encoder with `CONFIG_AV1_DECODER` and `CONFIG_AV1_HIGHBITDEPTH=0` in the AOM build, it knocks around 200k off the wasm.

If I build the decoder with `CONFIG_AV1_ENCODER=0`, it knocks almost 1mb off the wasm.

It complains about missing symbols, so I included `-s ERROR_ON_UNDEFINED_SYMBOLS=0` in the em

[2020-08-26 10:56] surma commented on #805
Surprised that there is apparently some code path that prevents the encoder from being stripped out. Giving this to @RReverser to make a call on this.

[2020-08-26 11:54] RReverser commented on #805
If it indeed works properly even with undefined symbols, it should be fairly trivial to add those options to the corresponding `cmake` invocation in the Makefile. You mentioned you're not very familiar with Make, but those are really just shell commands with Tab indentation.

You sure you don't want to give upstreaming changes a try? :)

[2020-08-26 11:55] jakearchibald commented on #805
Maybe I'm not that familiar with shell commands then 😄. The bit that isn't clear to me is running the build twice with the different options. Right now it only builds AOM once.

[2020-08-26 12:00] RReverser commented on #805
Oh right, I see. Yeah, parameterising Make commands is somewhat more complicated. I'd personally start with a simple copy-paste of https://github.com/GoogleChromeLabs/squoosh/blob/dev/codecs/avif/Makefile#L31-L59 and customizing one copy with your params for the encoder output, and another with params for the decoder output. Then, we can clean it up later, but at least it would work.

But sure, if

[2020-08-26 13:19] jakearchibald commented on #702
Landed in 0934c6c00f6ec7be9f5f4e7593a9a2e2fd83b394!

We've got more work to do here in terms of performance. Also, the codec has 4:2:0 and 4:0:0 modes, but I've disabled them for now because they were chucking out files that couldn't (sometimes) be decoded.

[2020-08-26 13:19] #702 closed

[2020-08-26 13:24] surma opened #807 "AVIF Encoder crashes with this image"
1. Download this image (full resolution): https://unsplash.com/photos/inX5GIDNfAs
2. Use default AVIF encoder settings
3. See it crash.

<details>
GitHub-hosted copy:

![marcos-moraes-inX5GIDNfAs-unsplash (1)](https://user-images.githubusercontent.com/234957/91308808-b6c2dd00-e7a7-11ea-9fbb-47c73097fb7f.jpg)

</details>

[2020-08-26 13:52] jakearchibald opened #808 "Fix AVIF 4:2:2 and 4:0:0"
AVIF supports 4:2:2 and 4:0:0 (grayscale) but the current implementation creates files that can't be decoded, so those options are commented out.

The 4:2:2 output can be decoded by Chrome, but not our decoder.

The 4:0:0 output can't be decoded by either.

It's worth testing the output from the reference encoder & decoder first, because I know AOM has bugs with 4:0:0 at least, so it might not be

[2020-08-26 14:05] jakearchibald commented on #807
It works if you scale it down a bit, so I suspect this is a memory issue.

[2020-08-26 14:08] a1xon commented on #807
index.tsx:479 Error: Encoding error
with this image
![little-john-lPBpz4ePiMc-unsplash](https://user-images.githubusercontent.com/15677531/91314039-656e1a00-e7b6-11ea-90f8-5088adcd3d9e.jpg)

[2020-08-26 14:10] jakearchibald commented on #807
@a1xon thank you!

[2020-08-26 15:16] pmario opened #809 "If image.avif.enabled set to true in FF80 decoding fails"
**Describe the bug**

If `image.avif.enabled` set to `true` in FF80 decoding a compressed image fails

**To Reproduce**

 - Use FF 80 ...
 - about:config - set `image.avif.enabled` -> true
 - select a demo image
 - left side original / right side choose: AVIF

After some time it will fail with an error message produced at **line 14 `builtinDecode`** in: https://github.com/GoogleChromeLabs/squoosh/

[2020-08-26 18:40] nucliweb opened #810 "AVIF size bigger than PNG"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
The AVIF file size is bigger than PNG format.

**To Reproduce**
1. Load this image in Squoosh
![Dctjpeg](https://user-images.githubusercontent.com/1307927/91

[2020-08-26 21:34] RReverser commented on #807
Odd, the `-s ALLOW_MEMORY_GROWTH=1` is used, so OOM shouldn't be a problem. Unless the encoder genuinely exceeds 2GB (the default allowed maximum).

It's spooky if so, but might be worth trying to add `-s MAXIMUM_MEMORY=4GB` here https://github.com/GoogleChromeLabs/squoosh/blob/4768bc17ba7949e569753680eb5b90853d0c1ac3/codecs/avif/Makefile#L25 to up the output to the newly supported limit (https://

[2020-08-27 06:13] jakearchibald commented on #810
This shouldn't be an expectation. Different formats are better at different things. PNG is optimised for low numbers of colours and repeating patterns. WebP's lossless mode is even better - it can get this image down to 1.66k.

[2020-08-27 06:13] #810 closed, assigned to nobody

[2020-08-27 06:20] jakearchibald commented on #809
Thanks for the report. This might be a bug in Firefox's experimental implementation where decoding via `<img>` works fine (which is how our feature detect works), but decoding via `createImageBitmap` fails (which is how we actually get the pixels out of the image).

I'll dig in, and create a bug against Firefox if needed.

[2020-08-27 11:06] samal-rasmussen commented on #280
Ah the codecs are all already available as separate projects right here in the repo:
https://github.com/GoogleChromeLabs/squoosh/tree/dev/codecs

The oxipng one also has a package.json and seems almost ready to just upload to npm. Should be able to just copy/paste into your own project for now:
https://github.com/GoogleChromeLabs/squoosh/tree/dev/codecs/oxipng/pkg

Example usage right here:
https:

[2020-08-27 11:46] jakearchibald opened #811 "Fix maskable icons"
https://squoosh.app/icon-large-maskable.png is a 404. Chrome webapks now support maskable icons, so we should get this right.

[2020-08-27 16:59] glennhartmann commented on #811
I think this was a false alarm, actually (sorry).

First, due to copy/paste error, I mentioned https://squoosh.app/icon-large-maskable.png, but it should actually have been https://squoosh.app/assets/icon-large-maskable.png.

Second, I believe this was fixed recently in https://github.com/GoogleChromeLabs/squoosh/commit/63f607a3ead0052b4908134cedcb3f912bceab54, but I may not have seen the change o

[2020-08-27 17:01] jakearchibald commented on #811
No worries!

[2020-08-27 17:01] #811 closed, assigned to nobody

[2020-08-27 20:03] atjn commented on #809
This is fixed in Firefox 81, check out [this bug thread](https://bugzilla.mozilla.org/show_bug.cgi?id=1443863#c19).

...although they weren't quite sure how they fixed it. If anyone can explain exactly what goes wrong in FF80, i think they would be interested in hearing about it, just so they can make sure it's not the symptom of a larger unsolved issue in Firefox.

[2020-08-27 20:24] atjn commented on #807
I am able to encode the image provided by surma without issue.

However, while trying to encode several different images, my page has crashed with `SBOX_FATAL_MEMORY_EXCEEDED`.
I am not able to isolate any particular scenario that always crashes the page, but it happens more often on larger images with higher quality settings. Definetely seems like a memory issue to me.

This is in Chrome 85.0.418

[2020-08-27 21:45] jakearchibald commented on #809
Firefox's AVIF support is extremely alpha right now, and isn't expected to work well (it doesn't support alpha for instance), so I'm going to close this.

We might consider fixes to work around Firefox issues if they're still there once the flag is enabled by default.

In the meantime, issues should be filed against Firefox.

[2020-08-27 21:45] #809 closed, assigned to jakearchibald

[2020-08-28 01:50] patricksebastien opened #814 "Sharpen"
There's a smooth option (blur), but no sharpen.
Possible to add this important feature anytime soon?

[2020-08-28 04:04] jakearchibald commented on #814
Blur only exists as part of mozjpeg right now and I don't think it's very useful.

Sharpening can be useful, so we'll keep this on the backlog, but I don't think we'll be doing this in the short term.

[2020-08-28 22:26] loilo opened #815 "Fit images into viewport initially"
**Is your feature request related to a problem? Please describe.**
I regularly use Squoosh with pictures way larger than my screen. When dropping such a picture in the app, I'm often alienated by the 100% scale it has which exposes a small clipping of the image in great detail. For me, this default scale is usually not helpful.

**Describe the solution you'd like**
What I would consider helpful wo

[2020-08-29 09:40] gtsiolis commented on #358
This has been added in https://github.com/GoogleChromeLabs/squoosh/pull/764. Let's close this! /cc @surma

UPDATE: Just run into https://github.com/GoogleChromeLabs/squoosh/pull/452. @benfredwells do you think it's still relevant?  If that is adding the PWA install prompt as seen in https://github.com/GoogleChromeLabs/squoosh/pull/452#issuecomment-461457210 I'd say yes. WDYT?

/cc @jakearchibald b

[2020-08-29 10:43] GregBoss opened #816 ""Browser JPEG" preset issue"
"Browser JPEG" preset gives us an excellent balance of quality and compression, but unfortunately it makes the images "Baseline", even if uploaded file was "Progressive". I guess we should make "Progressive" images for the Web, as a best practise.

[2020-08-31 06:40] jakearchibald commented on #816
Browser JPEG uses the JPEG encoder built into the browser. Therefore, it's different from browser to browser, and we have no control over it.

MozJPEG generally produces much higher quality files for the size, and offers more configuration.

[2020-08-31 06:40] #816 closed, assigned to nobody

[2020-09-01 20:44] HugoCortell commented on #301
Good luck guys! I really look forward to this!

[2020-09-05 10:41] jakearchibald opened #819 "Reduce palette - alpha only"
WebP and JPEG-XL encode alpha data 'losslessly'. I'm not 100% sure with JPEG-XL, but WebP's compression benefits from palette reduction.

It'd be good to add a toggle to palette reduction that makes it only act on the alpha channel of the image.

[2020-09-08 11:06] RReverser commented on #807
Yeah if it's OOM then the only thing we can do is increase to a 4GB limit and hope that the upstream encoder gets better optimisations over time.

[2020-09-09 15:00] villesau opened #822 "Add fit method that adds empty space without sacrificing aspect ratio"
**Is your feature request related to a problem? Please describe.**
let's say you have 1000px wide and 500px tall image. Now i'd like to resize it to 250x250px. Currently I have two options: To squeeze it horizontally, or cut it horizontally. Both are pretty suboptimal.

**Describe the solution you'd like**
What i'd like is to keep the aspect ration of the original image so that it becomes 250x125.

[2020-09-11 08:53] jakearchibald commented on #822
What colour would the new pixels be? Transparent?

[2020-09-11 11:19] villesau commented on #822
@jakearchibald I imagined this with transparent background, but it could also stretch the color from outermost pixels. e.g if the topmost pixels are white, remaining space could be filled with white. If the topmost pixels are transparent, remaining pixels would be transparent. It would probably make sense to pick the color from corner pixels since they are least likely to have the actual content I

[2020-09-11 11:41] jakearchibald commented on #822
Would you be happy with 1 if there was another processor that allowed you to set the background with any value? As that is useful in other cases too.

[2020-09-11 11:52] villesau commented on #822
@jakearchibald for me personally, option 1 would be completely fine since logos often have transparent background. And if there were a way to set background for the picture, then it would achieve the desired flexibility as well which is good.

On the other hand, I got excited of Squoosh because of the simplicity: It does very well almost everything one needs for simple resizing and conversion task

[2020-09-11 12:00] villesau commented on #822
BTW, might be worth to consider removing the squeezing resize altogether in favour of aspect ratio keeping one. I'm not sure if there are any real use cases for functionality like that? If so, you probably really know what you are doing and use some more powerful image manipulation software anyways. Otherwise it's most likely mistake.

Cropping resize is more understandable. Many pics have space a

[2020-09-11 12:52] Calinou opened #824 "Allow using the middle mouse button to pan the image in addition to the left mouse button"
**Is your feature request related to a problem? Please describe.**

I can only pan with by holding down the left mouse button, but I'm used to the middle mouse button in other applications.

**Describe the solution you'd like**

Allow using the middle mouse button to pan the image *in addition to* the left mouse button.
In addition, it would be nice to allow using the right mouse button as well (w

[2020-09-11 13:14] jakearchibald commented on #822
I don't think resizing without aspect ratio adds much complexity. It certainly doesn't add code. Resizing without aspect ratio is handy if the image you're resizing is anamorphic, such as a DVD video frame.

We might drop the "cover" option in favour of a proper cropping tool.

[2020-09-13 17:42] cctse commented on #721
I found a cool project, https://github.com/imager-io/imager，it's really impressive in some cases

[2020-09-14 03:56] cctse opened #826 "Uncaught (in promise) RuntimeError: abort(CompileError: WebAssembly.instantiate(): ..."
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. open https://squoosh.app/
2. drop an image, not work; select format, not work
3. open debug then see the RuntimeError

**Expected behavior**

**Version:**
 - OS w/ version: Mac 10.15.6 (19G2021)
 - Browser w/ version [e.g. Chrome 85.0.4183.102]

[2020-09-14 08:27] surma commented on #826
I can’t reproduce that at all :(

Can you try using Squoosh in incognito mode?

[2020-09-14 12:46] cctse commented on #826
it work well on Firefox Developer Edition.  chrome and safari both run into err after I update squoosh to latest version last night. I'm not sure if this error is caused by the update or my poor network.

squoosh app also didn't work, attachment is the app log
[squoosh.app-1600085662274.log](https://github.com/GoogleChromeLabs/squoosh/files/5218461/squoosh.app-1600085662274.log)

[2020-09-15 10:08] #805 closed, assigned to RReverser

[2020-09-27 12:27] wis commented on #419
if you fix this, can you please add an option for removing metadata.

[2020-09-27 14:21] surma commented on #419
Gonna close this in favor of #553

[2020-09-27 14:21] #419 closed

[2020-10-05 00:39] onlyanegg commented on #311
I wasn't aware that you could drag something to a bookmarklet. Does anyone have an example?

[2020-10-05 07:39] seguri commented on #311
@onlyanegg the first one that comes to my mind but I have not tested is evernote:

- https://evernote.com/features/webclipper
- https://gist.github.com/lindseycholmes/2856004
- http://iosbookmarklets.com/evernote-bookmarklet-for-ipad/

[2020-10-07 11:05] aaronth07 commented on #687
Same issue.

[2020-10-07 11:09] jakearchibald commented on #687
Right now we only support whatever the browser supports, plus WebP & AVIF, so it's kinda expected that this doesn't work. We might one day add support for TIFF.

[2020-10-07 12:42] jakearchibald opened #831 "AVIF: Expose additional options"
From https://github.com/AOMediaCodec/libavif/blob/master/apps/avifenc.c#L100

- `aq-mode` - allows the quantisation to change between segments in various ways.
- `sharpness` - as you'd imagine
- `enable-chroma-deltaq` - reduce chroma quality at 4:4:4 (actually, I don't know if it's just 4:4:4)

From Wan-Teh Chang:

---

Note that this requires building libavif with a recent version of
libaom, as o

[2020-10-16 21:31] RReverser opened #833 "OxiPNG: Try building libdeflate with UNALIGNED_ACCESS_IS_FAST"
Noticed this on Twitter which claims that building libdeflate with `UNALIGNED_ACCESS_IS_FAST` on appropriate targets like Wasm gives another 20% speed up: https://twitter.com/Algunenano/status/1317098341377900550

Might be interesting to try it out, so creating this as a tracking issue for myself (or whoever else wants to do it).

[2020-10-22 18:24] donmccurdy opened #834 "[CLI] Consider displaying a warning when output format(s) not specified"
**Describe the bug**

When running the CLI without specifying an output target, the command hangs for a bit and appears to do some work, but finally exits without output. After checking the current directory and the directory of the input file I was able to convince myself that I'd missed something, and then realized I'd need to specify additional options to get output, but it'd be useful to have

[2020-10-30 09:17] fabiorug opened #836 "Jpeg xl new version"
I clicked report a buf from the squoosh.app

https://gitlab.com/wg1/jpeg-xl/-/commit/4d70bd58fbcb758b61446aba447fedd9177a00c9
It has as far I understood from the code native experimental WASM support even for Ubuntu 20.04
**I would like if this commit will get added to Squoosh**
*if you have permission from the original author*

[2020-10-30 10:48] surma commented on #836
We are actively working on JPEG-XL.

[2020-10-30 10:48] #836 closed

[2020-11-06 09:25] dtugend opened #842 "squoosh can not be under Apache 2.0 license as long as it uses imagequant (GPL3)"
The imagequant library used is under GPL3.

Squuosh is very likely to be considered a derviative work as defined by GPL3.

**[However, GPLv3 software cannot be included in Apache projects.](http://www.apache.org/licenses/GPL-compatibility.html)**

[2020-11-07 10:35] BurgundyWillow opened #843 "Reopening Feature Request #301 - Request for Batch File Uploads to Squoosh.ai for optimising multiple Images"
**Is your feature request related to a problem? Please describe.**
The feature request is related to #301 , and since it has been 2 years since the issue request was opened, I opened a new request referencing that. I am sorry if that is not as per forum rules. I have never opened an issue before.

**Describe the solution you'd like**
There need not be any major UI changes. the drag and drop can li

[2020-11-07 16:37] surma commented on #843
We are working on batch processing, as said in #301.

[2020-11-07 16:37] #843 closed, assigned to nobody

[2020-11-12 15:57] surma commented on #842
Thank you. Please contact external-opensource-licensing@google.com if you would like to discuss.

[2020-11-12 15:57] #842 closed, assigned to nobody

[2020-11-12 16:44] dtugend commented on #842
Thank you for your reply. To me this sounds like Google / you are hiding behind your legal team instead of doing the right thing and fixing the issue. We all know it's difficult to enforce GPL3 legally, even though the right thing would be to aknowledge the problem and remove the library or replace it with something else or obtain a proper different license from the original authors.

[2020-11-12 18:27] dtugend commented on #842
I asked the author what he thinks.

Seems it's fine with him.

The main problem is the way squoosh is displayed on GitHub, which is somewhat misleading, since one might think it applies to whole project, since the codecs are stored in same repo (e.g. not as package / submodule).
![grafik](https://user-images.githubusercontent.com/3610128/98980561-08644380-251d-11eb-8e9e-f764786f145b.png)

Since it

[2020-11-17 06:06] zyyoo commented on #651
I hope it supports API access and can quickly compress images

[2020-11-20 09:23] jakearchibald opened #852 "Use correct origin trial on live build"
We need to use a different header on live than dev. Make this happen.

[2020-11-20 10:53] jakearchibald opened #854 "WebP2 decoder fails on some images"
1. Open the Squoosh logo in squoosh.
1. Encode a lossless WP2 (either by setting the quality to 100 in `dev` or checking lossless in `wp2-options`). Works fine.
1. Reduce palette. Fails to decode!

It's possible that the encoder is producing a bad file in this case, I guess.

@surma @RReverser who wants to take this?

[2020-11-20 12:21] jakearchibald commented on #854
Huh, this does not happen with all images.

[2020-11-20 14:36] jakearchibald opened #855 "The spinner keeps on spinning if decoding fails"
It shouldn't.

[2020-11-20 16:12] #855 closed, assigned to jakearchibald

[2020-11-20 16:59] RReverser opened #856 "Watch .wasm and .d.ts files in Rollup build"
.wasm and .d.ts generated by, for example, wasm-pack, don't seem to trigger rebuilds at the moment.

[2020-11-23 10:45] jakearchibald commented on #854
Yeah, the problem seems to be in our decoder.

[squoosh.wp2.zip](https://github.com/GoogleChromeLabs/squoosh/files/5582330/squoosh.wp2.zip)

[2020-11-23 12:31] RReverser commented on #854
Let's see if this gets fixed when we update the WP2?

[2020-11-23 12:49] surma commented on #854
The decoder returns `WP2_STATUS_BITSTREAM_ERROR`, so I am assuming that @RReverser is right that an update of the library is likely to fix this.

[2020-11-24 04:52] magicdawn commented on #280
here is addon package copy of mozjpeg (c++ code copy from squoosh), can be used in node / electron
https://github.com/magicdawn/node-mozjpeg

[2020-11-24 12:10] nonobio opened #860 ""Copy image" from compressed side preview does'nt copy the real compressed image."
Hello :)

**Describe the bug**
"Copy image" from compressed side preview does'nt copy the real compressed image.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an image
2. Compress it with settings
3. Right click on compressed side preview
4. "Copy image"
5. Paste image somewhere, for instance a new mail in Gmail
6. The file copied and pasted seems to be a png file bigger than the orig

[2020-12-01 09:44] mathe42 opened #862 "feat: copy cli command"
**Is your feature request related to a problem? Please describe.**
I want to apply some config to multiple images. So I want to try it out in sqoosh and then apply to 20 or more images,

**Describe the solution you'd like**
I don't need a browser solution. Just a button "copy cli command" wich copy the current config as a command that I can run in a terminal would be nice. I can then add it in my

[2020-12-02 21:20] paperboyo commented on #426
😱 Nobody expected the Spanish Inquisition! 😱

It looks like Firefox’s `gfx.color_management.mode` affects the saved files (and how they look in the browser too, but that part is predictable). All is well with the default setting of `2`. But as this setting is a [very bad thing](https://bugzilla.mozilla.org/show_bug.cgi?id=455077), with a proper setting of `1` colours are well muted (well, on my wi

[2020-12-03 04:06] WorfKlingon opened #867 "npm ERR! missing script: start"
I clone the repository
version: 58a6abffbb3e908deb2804119246c34c3948742b
Follow the instructions:

but when i do;

I have this error:

the log is here:
[2020-12-03T03_59_23_140Z-debug.log](https://github.com/GoogleChromeLabs/squoosh/files/5633604/2020-12-03T03_59_23_140Z-debug.log)

[2020-12-03 08:23] jakearchibald commented on #867
If you're wanting to develop the site locally, it's `npm run dev`

[2020-12-03 08:23] #867 closed, assigned to nobody

[2020-12-03 10:09] BuyMyMojo opened #868 "Support for the FLIF codec"
Is it possible to integrate the FLIF codec [https://flif.info/](https://flif.info/)

This is the graph they supplied on their website:
![image](https://user-images.githubusercontent.com/46948241/100995415-d8eca800-35ab-11eb-841a-85b65c48fc45.png)

[2020-12-03 10:13] surma commented on #868
FLIF is merged into and superseded by JPEG-XL. [This talk](https://www.youtube.com/watch?v=t63DBrQCUWc) has a lot of interesting info.

[2020-12-03 10:13] #868 closed, assigned to nobody

[2020-12-03 11:53] BuyMyMojo commented on #868
I'll give it a watch then, thanks!

[2020-12-03 13:13] BuyMyMojo opened #869 "[JPEX XL] Processing error: RuntimeError: abort(undefined). Build with -s ASSERTIONS=1 for more info."
**Describe the bug**
The following error happens whenever I try to convert a PNG to JPEG XL for both lossless and default settings
`Processing error: RuntimeError: abort(undefined). Build with -s ASSERTIONS=1 for more info.`
and in chromes console:
`Compress-e7cd1676.js:3935 Uncaught (in promise) RuntimeError: abort(undefined). Build with -s ASSERTIONS=1 for more info.
    at K (http://192.168.128

[2020-12-03 13:42] BuyMyMojo commented on #869
After rebulding with `-s ASSERTIONS=1` it worked.. I think it might just have been a build error?

[2020-12-03 13:43] BuyMyMojo commented on #869
it works with some settings like effort 3 but when effort is 6 it fails for example

[2020-12-03 16:20] argyleink opened #870 "[new homepage] mega blob reactions to clicks and drops"
be nice if the big blob reacted when a user blob was dropped on top, show some UI feedback that the bits were received

[2020-12-03 16:22] argyleink opened #871 "[new homepage] samples images need focus/hover styles"

[2020-12-03 18:46] surma commented on #869
The JXL encoder is still under development (which is why it’s marked as “unstable”). Some of the effort settings currently crash.

[2020-12-03 20:23] BuyMyMojo commented on #869
As long as it's known 👍👍👍

[2020-12-05 10:13] WorfKlingon commented on #867
thanks, its' work
But i can't convert any jpg image to avif image. I have 'processing error: Error: Encoding error' display in the browser
where can found error log messages, please?

or can run dev with optional tags to see what happend

[2020-12-05 11:23] #852 closed, assigned to jakearchibald

[2020-12-05 12:12] jakearchibald opened #873 "WebP quality broken in `dev` branch"
Since WebP was update, the quality has gone really bad. I haven't dug into it, but maybe they changed how their quality setting works and we didn't update UI/bindings to cater for it?

[2020-12-05 12:15] jakearchibald commented on #873
It's happening in both the simd version and the regular version.

[2020-12-05 13:00] WorfKlingon opened #874 "The sources of encoder was still updated before compiling"
Fot example, i want to test the latest source git of AVIF encoder. Do the squoosh script do that when i rebuilt squoosh project?

[2020-12-05 13:35] RReverser commented on #873
I haven't heard of any changes here, but maybe? Can you send them an email?

[2020-12-05 13:37] jakearchibald commented on #873
What do you want in the email, just a link to this issue?

[2020-12-05 14:57] jakearchibald commented on #874
No. The build file is at https://github.com/GoogleChromeLabs/squoosh/blob/dev/codecs/avif/Makefile#L1. Note that you need both AVIF and AOM.

Last time I tried to update AOM to a later git commit, the quality was pretty broken.

Good luck!

[2020-12-05 14:57] #874 closed, assigned to nobody

[2020-12-05 15:57] RReverser commented on #873
I guess yeah, you can just ask on our existing email thread with WebP folks if there were any changes to the quality param / value. I'm pretty sure I didn't change anything on the binding side that would affect it, so it must be an upstream change.

[2020-12-05 18:57] WorfKlingon commented on #874
is it easy to have a branch that get the latests commit from encoder to compile it and test it?

[2020-12-05 19:17] RReverser commented on #873
(just came to the computer) Oh yeah, it does look pretty bad in terms of details in comparison with prod. I still don't see anything in https://github.com/GoogleChromeLabs/squoosh/pull/851 that would explain it, aside from the version bump - the only quality changes were in WebP2 (speed -> effort).

However, if this becomes time-sensitive and no solution is found, we can simply revert the WebP1 pa

[2020-12-05 19:19] RReverser commented on #873
Actually, as one more alternative, we can try to build against my fork with SIMD patches - https://github.com/RReverser/libwebp/commits/emscripten-simd - that branch contains Emscripten SIMD fixes on top of the version we used before (1.1.0) while the one in #851 uses upstream version with those fixes merged on top of master.

[2020-12-05 19:21] RReverser commented on #873
I'm tempted to jump in, but it's a weekend, gotta try and keep work separate 😅 I'll be back on Tuesday if nobody fixes it before.

[2020-12-05 23:58] surma commented on #874
For AVIF, all you need to do is change the commit hash in the line that @jakearchibald linked to.
All other codecs follow a similar pattern.

[2020-12-06 00:07] WorfKlingon commented on #874
thanks :-) I will try now

[2020-12-06 00:23] WorfKlingon commented on #867
In my opinion it's usefull to include your remark in the readme.md to run locally the server for testing

[2020-12-06 00:36] surma commented on #867
We haven’t actually updated the README for since our v2 work. You are kinda using a work-in-progress right now :D

[2020-12-06 00:48] WorfKlingon commented on #867
Yes I have see that with your new big upgrade version. ;-)
Very beautifull UI 👍

[2020-12-06 01:37] WorfKlingon commented on #874
Following the recommendations of @jakearchibald , i do theses updates in the makefile (on local):

[code]
Doing that I try to synchronize both sources with git masters
Is it right?

Another question: where can i found the libavif dll and the aomenc.exe used by the local server?

[2020-12-06 12:42] surma commented on #874
Yes, now you only need to run `npm run build` in the codec folder (make sure you have Docker set up).

All image compression happens in the browser via WebAssembly. The site is fully static and has no server components.

[2020-12-07 10:58] jakearchibald commented on #873
I've done some bisecting, and 990018f is where it goes bad.

[2020-12-07 11:35] #873 closed, assigned to RReverser

[2020-12-07 23:48] RReverser commented on #873
Yes, that's what I meant by an upstream change (and, correspondingly, fix suggested in https://github.com/GoogleChromeLabs/squoosh/issues/873#issuecomment-739339565 which would revert it).

[2020-12-08 08:24] jakearchibald commented on #860
Unfortunately this isn't possible for a few reasons:

- Browsers will use PNG when copying an image to clipboard via right-click menus.
- Clipboard APIs will [sanitise](https://w3c.github.io/clipboard-apis/#dom-clipboard-write) input data. In practice this means converting images to PNG.
- The other side needs to support the format in the clipboard, and I believe most apps will look for PNG or ano

[2020-12-08 08:24] #860 closed, assigned to nobody

[2020-12-08 09:42] nonobio commented on #860
Thans a lot for your clear explanations :)

[2020-12-08 12:47] imerfanahmed opened #879 "Need Bulk Compression"
Clearly Squoosh is a  wonderfull Project,
But it hasnt any bulk optimization feature,
The clear points are
1.Need user-customized settings for default operation, and then bulk compression output.

[2020-12-08 13:05] surma commented on #879
Working on that. Also duplicate of #301

[2020-12-08 13:05] #879 closed, assigned to nobody

[2020-12-08 17:57] surma opened #881 "[CLI] Share more code between PWA and CLI"
See #875, but there is more that can be shared.

[2020-12-08 18:19] surma opened #882 "[CLI] Consolidate rollup plugins between PWA and CLI"

[2020-12-09 10:18] surma opened #884 "[CLI] Add support for SVG input"

[2020-12-09 10:18] surma opened #885 "[CLI] Add support for HQX scaling algorithm"

[2020-12-09 21:00] fernap3 commented on #884
I'd like to +1 this and just drop a use case here.

We ship a web app with the ability for clients to customize whether or not it serves SVG or PNG icons. This means we ship SVG and PNG versions of the same icons; so the use case for us is to generate the PNG versions at build time from the SVGs.

[2020-12-09 21:08] fernap3 opened #893 "[CLI] Unhandled error when specifying an input file that doesn't exist"
**Describe the bug**
If I call `squoosh-cli` specifying an input file that doesn't exist, I get an unhandled error.  This is not a huge deal but a small UX issue I think.

**To Reproduce**

Run `squoosh-cli` with an input file that doesn't exist:

[code]

**Expected behavior**
I expect the CLI to return a nonzero error code and print a nice console message telling the user that their input file do

[2020-12-09 21:29] fernap3 commented on #893
I just tested with one valid input file, and one nonexistent input file.  This case also crashes the app (I think `dispatchJob` is probably throwing). I think in this case I would expect the tool to print out a list of invalid filenames on startup, then decode/encode what it can.

[2020-12-09 21:53] fernap3 commented on #893
I have a fix for this in a local branch; happy to open a PR if I can get access.

![image](https://user-images.githubusercontent.com/1057057/101692995-023f8500-3a3f-11eb-8114-820352665031.png)

[2020-12-09 22:38] floogulinc opened #895 "Homepage text logo uses deprecated svg font"
The logo with text (https://github.com/GoogleChromeLabs/squoosh/blob/dev/src/shared/prerendered-app/Intro/imgs/logo-with-text.svg) uses the svg `<font>` tag to define the `GoogleSans-Bold` font for the "squoosh" text.

This feature is [deprecated/obsolete](https://caniuse.com/mdn-svg_elements_font) and unsupported in most browsers, leading to inconsistent display of the logo:

| Chrome Windows | C

[2020-12-09 23:48] mnordine commented on #642
Any update on this?

[2020-12-10 05:51] donmccurdy opened #898 "[CLI] No effect from --optimizer-butteraugli-target flag."
**Describe the bug**

When running WebP compression with the CLI, I'm getting identical output (and pretty aggressive compression) regardless of the chosen `--optimizer-butteraugli-target` flag. I'm currently using that flag as my main way of tuning quality, and it seemed to work OK in v0.3.1, but in v0.6.0 it has no effect in my tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Input:

[2020-12-10 07:54] ganoipho6 opened #900 "[CLI] Add better usage documentation in README (and link to it from CLI)"
**Is your feature request related to a problem? Please describe.**
I use Squoosh image compression very often. It helps me optimize quality with the most reasonable amount of usage. I am trying to apply it to my image directory but the lines of CLI code seem beyond my usability. I inserted the URL even changed or set my directory path but it is not working !!

**Describe the solution you'd like**

[2020-12-10 08:49] tmjoen opened #901 "[CLI] Crop/extract area"
First of all, thanks for this excellent project and for creating a CLI version!

Currently I've always prefered to do my image processing on my own server instead of offloading it to another service. For this I've used libvips/sharp-cli which has been a much better experience than ImageMagick/GraphicsMagick.

The BIG drawback with libvips/sharp-cli is the enormous compilation steps. To get webp/mo

[2020-12-10 09:51] adrienpicard commented on #900
Can't seem to make it work either, using npx or after installing the package. I do get results but the file isn't saved on disk. I've tried with both the suffix and output directory options with no success.

[code]

[2020-12-10 09:55] ganoipho6 commented on #900
I have also tried and had problems like yours. The test.jpg file is not available. I try to replace it with an image link taken from the website or the link to the image in a folder on my hard drive, it not work.

[2020-12-10 10:07] adrienpicard commented on #900
Ok so you must specify an encoder for it to work. These should work:

`npx @squoosh/cli --mozjpeg {} test.jpg`
`npx @squoosh/cli --mozjpeg {quality:80} test.jpg`

@surma Would be great to add the MozJPEG option that's missing in the ReadMe 😌

[2020-12-10 10:15] ganoipho6 commented on #900
@adrienpicard

How can I use it with multiple photos in one folder?

I am trying to run it with lots of files, have you tested successfully with a multi-image folder?

[2020-12-10 10:21] adrienpicard commented on #900
@ganoipho6 yes just use a wildcard this works fine `npx @squoosh/cli --mozjpeg {} ./*.jpg`

[2020-12-10 10:31] ganoipho6 commented on #900
@adrienpicard
![image](https://user-images.githubusercontent.com/15613348/101759991-ddb1de80-3b0c-11eb-88d3-59dc1d88d0a2.png)

I have tried with my directory. It doesn't seem to be working. I was thinking that I would have to find a way to make a list of filenames and then create a bash script file that looks like this. https://stackoverflow.com/questions/7290758/bash-script-read-all-the-files-in-

[2020-12-10 10:31] jakearchibald commented on #895
I'm not seeing the failure you're seeing in macOS. What version of Chrome are you using?

[2020-12-10 10:32] jakearchibald commented on #895
I see the issue in Firefox though. Will fix. Thanks.

[2020-12-10 10:44] #895 closed, assigned to nobody

[2020-12-10 10:59] surma commented on #301
We shipped the [CLI](https://github.com/GoogleChromeLabs/squoosh/tree/dev/cli), which allows to process batches of images!

[2020-12-10 10:59] #301 closed

[2020-12-10 10:59] #862 closed, assigned to nobody

[2020-12-10 10:59] surma commented on #862
Shipped!

[2020-12-10 11:01] surma commented on #285
All these images load now 🎉

[2020-12-10 11:01] #285 closed

[2020-12-10 11:02] #826 closed, assigned to nobody

[2020-12-10 11:03] #803 closed, assigned to nobody

[2020-12-10 11:04] surma commented on #774
Can we close this?

[2020-12-10 11:04] #770 closed, assigned to RReverser

[2020-12-10 11:04] #759 closed, assigned to nobody

[2020-12-10 11:04] #729 closed

[2020-12-10 11:04] surma commented on #721
Shipped!

[2020-12-10 11:04] #721 closed

[2020-12-10 11:05] surma commented on #708
This bug is still reproducible, btw o_O

[2020-12-10 11:05] surma commented on #708
cc @RReverser

[2020-12-10 11:06] #697 closed

[2020-12-10 11:06] surma commented on #696
Shipped!

[2020-12-10 11:06] #696 closed

[2020-12-10 11:06] surma commented on #651
We have a [CLI](https://github.com/GoogleChromeLabs/squoosh/tree/dev/cli) now!

[2020-12-10 11:06] #651 closed

[2020-12-10 11:08] surma commented on #594
This seems to work fine in v2 :)

[2020-12-10 11:08] #594 closed

[2020-12-10 11:08] #520 closed

[2020-12-10 11:08] #502 closed

[2020-12-10 11:09] #500 closed

[2020-12-10 11:09] #425 closed

[2020-12-10 11:10] #417 closed

[2020-12-10 11:11] #391 closed

[2020-12-10 11:11] #364 closed

[2020-12-10 11:11] #358 closed

[2020-12-10 11:11] #341 closed

[2020-12-10 11:12] surma commented on #325
I don’t think we will support animations any time soon for either WebP, AVIF or JPEG-XL.

[2020-12-10 11:12] #325 closed

[2020-12-10 11:14] surma commented on #258
Did we fix this in v2?

[2020-12-10 11:15] surma commented on #237
I think we are all quite happy with Oxi :D

[2020-12-10 11:15] #237 closed

[2020-12-10 11:15] #231 closed

[2020-12-10 11:15] #223 closed

[2020-12-10 11:15] #224 closed

[2020-12-10 11:16] #194 closed

[2020-12-10 11:16] surma commented on #186
We could still do this 🤔

[2020-12-10 11:16] #186 closed

[2020-12-10 11:16] #159 closed

[2020-12-10 11:16] #157 closed

[2020-12-10 11:17] surma commented on #126
Can we close this?

[2020-12-10 11:17] #64 closed

[2020-12-10 11:18] surma commented on #10
Gifs are mostly used for animations nowadays (even though they shouldn’t), so we probably won’t add special codecs for it.

[2020-12-10 11:18] #10 closed

[2020-12-10 11:19] surma commented on #854
This is still happening fyi

[2020-12-10 11:32] ignasblazys commented on #301
Woop woop!!

On Thu, 10 Dec 2020, 12:59 Surma, <notifications@github.com> wrote:

[2020-12-10 11:45] jimbo2150 opened #902 "[UI] Left-Right Comparison"
Currently the comparison at the bottom shows the difference between the left or right compression output to the original image file size.

I request a toggle be added to switch the comparison and show the difference between the left and right side. I often want to see the differences between two compression formats rather than the each side and the original.

[2020-12-10 11:46] jakearchibald commented on #7
AdvanceComp is still better than oxi in some cases. I'd like to keep this open. Or is the plan to close it but keep it in the "codecs support" project?

[2020-12-10 11:46] jakearchibald commented on #126
Yeah fuck it

[2020-12-10 11:46] #126 closed

[2020-12-10 11:58] mathe42 commented on #862
Nice! Love it :D

[2020-12-10 12:06] jakearchibald opened #903 "iOS scrolling issue"
https://twitter.com/pdgago/status/1337004833342169089

[2020-12-10 12:42] staabm opened #904 "Firefox Nightly: Invalid image error"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
the website/tool is un-usable on firefox

**To Reproduce**
Steps to reproduce the behavior:
1. open https://squoosh.app in Firefox Nigthly

->
![grafik](http

[2020-12-10 13:04] surma commented on #642
Yeah, I briefly looked into this, but didn’t get too far. We had higher-priority features. I still want to do this tho. Happy for someone else to tackle this, btw. Squoosh v2 is significantly easier to contribute to.

[2020-12-10 13:06] surma commented on #898
`--optimizer-butteraugli-target` is only in effect when you use the auto-optimizer. Use `--webp "auto"`.

Definitely something where the docs need to improve :) And the CLI should probably warn if you set the butteraugli target and it won’t be used.

[2020-12-10 13:07] surma commented on #901
We have a better crop feature in the works, that will also get ported to the CLI. So #soon :)

[2020-12-10 13:09] surma commented on #900
@ganoipho6 I think there is currently trouble with the CLI on Windows. @RReverser reported something similar. We’ll look into it!

[2020-12-10 13:10] surma commented on #900
And regarding flags: Yes we need better documentation, but the main use-case for now is to use the “Copy CLI command” button in the web app to generate the flags for you.

![photo_jpg_-_Squoosh](https://user-images.githubusercontent.com/234957/101776640-26f03700-3ae9-11eb-8688-20cffe463b0a.png)

[2020-12-10 13:16] RReverser commented on #774
Probably, yeah.

[2020-12-10 13:16] #774 closed, assigned to developit

[2020-12-10 13:18] RReverser commented on #708
I don't see it on the same photo 🤔

[2020-12-10 13:19] RReverser commented on #708
Ah, is it Safari-specific? Unfortunately I don't have access to a Safari I could test on, but I might try via Browserstack at some point.

[2020-12-10 13:22] #893 closed, assigned to nobody

[2020-12-10 13:22] surma commented on #708
Yeah it’s only Safari for some reason

[2020-12-10 14:11] rphsoftware opened #905 "Scrollwheel zooming is uncapped and zooming in too far breaks the panning."
**Describe the bug**
After zooming in really quickly with a "fast scroll" feature or an unlockable scroll wheel on the mouse, the zoom percentage can become infinite and make the image unpannable.

**To Reproduce**
Steps to reproduce the behavior:
1. Load any image
2. Scroll up a lot

**Expected behavior**
The zooming should be limited

**Version:**
 - OS w/ version: Arch Linux rolling
 - Browser

[2020-12-10 14:34] ghost commented on #869
On pixel4a / brave browser

![Screenshot_20201210-092839](https://user-images.githubusercontent.com/1514731/101785548-e681c080-3aca-11eb-9347-622258241b28.png)

[2020-12-10 14:37] Phroneris commented on #301
Me (https://github.com/GoogleChromeLabs/squoosh/issues/301#issuecomment-536972982):

Google Chrome Labs:

![sqoosh_command-tooltip](https://user-images.githubusercontent.com/9891867/101785502-2cc53700-3b40-11eb-8c0d-450b65898177.png)

Me: **SUPER.**

[2020-12-10 15:23] RReverser commented on #708
Very interesting. Is there something in the console?

[2020-12-10 16:15] jonsneyers commented on #346
+1 on having a keyboard button (or I guess an easy to tap button on mobile) to toggle between the two images. If you want to very carefully compare two images, that's the best way (avoids the slider from interfering with your motion detection).

A button to temporarily show the original would also be nice, to make it easier to do 3-way comparisons between codec1, codec2 and original.

[2020-12-10 16:34] justingolden21 commented on #301
Awesome news, thank you for listening to me and others and beginning to implement this : )

[2020-12-10 19:19] rodsotdia opened #907 "[CLI] Different results between CLI and Web"
I used the CLI to output a `jpg` using `--mozjpeg` and `--webp`, but using the **same options** given on the tool based on the web, the output given to me is different.

Output on the web:
mozjpeg -> 92.4kb
webp -> 51.6kb

Output using the CLI:
mozjpeg -> 84.9kb
webp -> 13.2kb

Also, CLI affects the space color of the image and gives a bad compression, resulting in a worst processed image, compari

[2020-12-10 19:29] Avi98 commented on #644
Hi, is it still open can I work on this?

[2020-12-10 19:34] donmccurdy commented on #898
Thanks! Yep, that's my mistake, and makes perfect sense.

[2020-12-10 22:52] donmccurdy commented on #898
Hm, I'm still not sure I'm getting expected results though. For a couple different target distances...

[code]

...the output is unchanged, and pretty noticeably lower quality than the original. Maybe one of my options isn't getting passed through correctly here?

[2020-12-11 00:08] RReverser commented on #708
(FWIW this is one of those cases where Sentry integration can help us a lot in future)

[2020-12-11 01:35] surma commented on #907
Oh interesting! YOu are right that has probably to do with colorspaces. On the web we rely on canvas to convert to sRGB, on the CLI I just take what the decoder gives me.

[2020-12-11 01:36] surma commented on #898
hm, yeah something is going wrong here

[2020-12-11 02:33] rodsotdia commented on #907
@surma Probably is something with the decoder, the results are different and distinguishable between each version (web and CLI).

[2020-12-13 00:05] sprabowo opened #909 "[CLI] webp and avif is not running on gitlab ci"
**Describe the bug**
when script's running squoosh-cli in gitlab. it won't execute webp and avif.

**To Reproduce**
Steps to reproduce the behavior:
1. running script: `npm i -g @squoosh/cli && squoosh-cli ./public/images/homebanner.jpg --webp --avif  -d ./build/images/`
2. See squoosh-cli log result

**Expected behavior**
it should generate webp and avif like in figure 2

**Version:**
 - CLI squo

[2020-12-13 13:24] surma commented on #909
You need to pass individual images to the CLI, not a folder. So changing this to
[code]

should fix it.

Please re-open if it doesn’t, tho :)

[2020-12-13 13:25] surma commented on #909
(I misread what you had written. I have deleted my comment)

[2020-12-13 13:26] surma commented on #909
Can you do me a favor and try running it with `--webp '{}' --avif '{}'` and see if that fixes it?

[2020-12-13 21:25] sprabowo commented on #909
Thanks for your response @surma,
I've tried your tricks but it still doesn't work for gitlab. here i attach my insight:

run on gitlab [still **doesn't work**]
![image](https://user-images.githubusercontent.com/11748183/102024269-a587f580-3dc3-11eb-8a0c-e3dff73dfdc1.png)

run on github action [**work**]
![image](https://user-images.githubusercontent.com/11748183/102024290-bf293d00-3dc3-11eb-9699-3

[2020-12-13 22:06] surma commented on #909
Weiiiird. What version of Node is running on gitlab CI?

[2020-12-13 23:33] sprabowo commented on #909
i used image node/12.20.0 on gitlab-ci.yml. Before i was trying node/latest, node/alpine but still the same result. It couldn't generate webp and avif.

[2020-12-14 00:32] surma commented on #909
I can't really help you debug gitlab, tho :( Maybe it's worth running your CI in a docker container?

[2020-12-14 00:42] sprabowo commented on #909
No probs. thanks for response again. maybe i'll close this issue. will come back if there's any issue.

i've just tested in multiple CI provider to ensure it works everywhere. for my project i'd choose provider that compatible only

[2020-12-14 00:42] #909 closed, assigned to nobody

[2020-12-15 12:04] #346 closed

[2020-12-17 07:32] rahulshyokand opened #915 "[Feature Request] Possibility to Remove Background of an Image"
**Is your feature request related to a problem? Please describe.**
While Resizing an image sometimes it's great to have the background removed and get the image converted to a transparent png image.

**Describe the solution you'd like**
The Background of the file removal can make the image size even smaller and will add a new feature to the project.

**Does other services/app have this feature?**

[2020-12-17 08:15] sobujbd commented on #276
[Squoosh CLI](https://github.com/GoogleChromeLabs/squoosh/tree/dev/cli) have been proudly disclosed! Thanks for releasing **Squoosh CLI**.

[2020-12-17 13:13] sobujbd opened #916 "[CLI] Batch image compression."
I'm trying compress all of image in a folder at once.

So, I've execute this command,
[code]

After that **Squoosh** start compressing the folder images. It's nicely showing 1.2.3.4.5.6..../17 - image decoding...
But in few seconds, it's gives error and stack on decoding screen.

[code]

---
 - Squoosh CLI version: 0.5.0
 - OS w/ version: Windows 8
 - Node version: v12.18.2
 - npm version: 6.14.9

[2020-12-17 17:00] surma commented on #915
Duplicate of #736

[2020-12-17 17:00] #915 closed, assigned to nobody

[2020-12-17 17:02] surma commented on #916
Yeah, I have heard that the CLI is currently causing problems on Windows. I’ll look into this.

[2020-12-18 15:16] fernap3 commented on #884
Design question: should it be a goal to be able to take an input SVG and vector-resize to any arbitrarily-sized raster format like PNG?  Or would having a new "SVG" decoder return a bitmap at the intrinsic height and width of the SVG be a suitable initial goal?

Also, I see there are a couple NPM modules that will rasterize SVG. Are there any license concerns specific to this project that are wort

[2020-12-18 16:03] surma commented on #884
Just like the web app, resizing should happen _before_ rasterization.

Re licensing: Anything that is Apache-2.0 or MIT should be no problem. Other licenses _might_ work, but will be look at on a case-by-case basis.

[2020-12-20 10:27] letitz commented on #907
I get particularly bad results trying to compress an image to webp using the CLI. Online the result is fine, but offline it does not seem the encoder options are being respected. I get potato quality regardless of the options I pass to the CLI. Tried copy/pasting the CLI from the webapp too, to no avail.

[2020-12-21 15:01] jadsongmatos opened #919 "Runtime Error"
some images do not load. does anyone know how i can solve this ?

![image](https://user-images.githubusercontent.com/50336793/102801045-76f5b600-4393-11eb-8c96-43f27d2dc4bc.png)

[code]

[2020-12-22 01:13] surma commented on #919
Can you attach one of these images?

[2020-12-22 12:48] jadsongmatos commented on #919
I can't attach here over 10mb

I will post the image link on google drive

https://drive.google.com/file/d/1PVTK2lWGNoK3kKdXcSkMiHxnJc8DxJg0/view?usp=sharing

[2020-12-22 12:55] surma commented on #919
Ah it’s a big image. Yeah, that is most likely the cause. Technically, there is nothing keeping us from handing ~150MB of RGBA data, but I know that big images currently cause issues.

[2020-12-22 14:33] surma commented on #919
(Side question: Does it succeed with codecs other than JXL as output? JXL is still somewhat unstable)

[2020-12-22 14:52] jadsongmatos commented on #919
mozJPEG, WEBP, JPG Browser and PNG Browser works

With AVIF being this error
[code]

When I was testing other formats this error happened with this image
![image](https://user-images.githubusercontent.com/50336793/102899695-17a6ad00-444a-11eb-80af-58eb0b93c994.png)

OxiPNG in this configuration takes hours to load
with an i5 8500 CPU
and a Radeon R5 430

[code]

[2020-12-22 16:36] wokalek-work commented on #916
Same for me
[code]

Windows 10.
Node v14.15.1
Squoosh CLI version: 0.6.0

[2020-12-22 16:48] surma commented on #919
So yeah, OxiPNG being slow on a 7159 x 4742‬ image is expected. If you use the PWA, it will use threads for OxiPNG. The CLI doesn’t do that yet. But PNG is a horrible format for big images anyway.

Overall the issue here is actually not the size of the image in general, but only in the context of JPEG-XL. And that codec is still unstable. I am going to close this as there is not much to do on our

[2020-12-22 16:48] #919 closed, assigned to nobody

[2020-12-22 16:56] Slender1808 commented on #919
this 37 MB image with wp2 was about 11 MB

[2020-12-25 22:35] kudlav opened #920 "Drag&drop doesn't work with new version"
**Describe the bug**
I was using previous version and it worked fine. Then i switched to new version using Reload snackbar option and with this version I cannot use drag&drop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://squoosh.app/ when using old version
2. Click on Reload option
3. Drag and drop image
4. See error

[code]

**Expected behavior**
Open editor with dropped im

[2020-12-25 23:03] Kosmostars7403 opened #921 "Resize fit method - contain doesn't work in cli."
When I do that in CLI:

[code]
it stretches my image, not crop.

[2020-12-26 06:26] DetachHead opened #922 "[CLI] wrong version published to npm"
**Describe the bug**
[the version on npm](https://www.npmjs.com/package/@squoosh/cli/v/0.6.0) is listed as 0.6.0, but it's actually 0.5.0
![image](https://user-images.githubusercontent.com/57028336/103146534-b1e25a00-4796-11eb-9293-7f476ef922f8.png)

**To Reproduce**
Steps to reproduce the behavior:
1. `npm i -g @squoosh/cli@0.6.0`
2. `squoosh-cli --version`

**Expected behavior**
outputs `0.6.0`

[2020-12-26 14:23] randoomx8 opened #924 "[CLI] I have no idea what I am doing."
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
No matter what command, I use, it prints out `RuntimeError: abort(RuntimeError: abort(Error: ENOENT: no such file or directory, open 'C:\Users\WorkPC\AppData

[2020-12-27 02:44] DetachHead commented on #924
it seems the CLI doesn't currently support passing a whole folder. however if you're using bash, you can append `*` to the path to expand the contents of the directory before it runs the command so it passes all the files individually, though this will fail if there are spaces in any of the filenames.

alternatively you can use my fork which does have this functionality. https://github.com/DetachH

[2020-12-27 03:23] DetachHead commented on #916
this seems to be caused by passing`./*` in directories with directories in them, not windows-specific (though i don't think `./*` even expands on windows. see #923)

[2020-12-27 03:38] DetachHead opened #925 "[CLI] hangs after processing one image for each thread when passing more files than cpu cores"
**Describe the bug**
if you pass in more files than your computer has CPU cores, it will process one file in each thread, then hang.
![image](https://user-images.githubusercontent.com/57028336/103163301-317c3180-4848-11eb-8152-7b54e3729daa.png)

**To Reproduce**

Steps to reproduce the behavior:
1. navigate to a folder with more images than your CPU's cores (in my case 8, but reproduced on two dif

[2020-12-29 01:08] fernap3 commented on #884
Just brain dumping some progress here.  I was able to implement an SVG decoder using Puppeteer. But I'm not sure if it's going to be acceptable to make users incur the Chromium download just to use the CLI. Maybe we could conditionally download if we detect SVG input.  So this may not be the best solution, but it was quick to implement and also means SVG rasterization happens the exact same way th

[2020-12-29 16:20] surma commented on #884
Yeah, using Puppeteer is not going to be an acceptable solution tbh :D

So Chromium uses [Skia] for painting. Skia has been ported to WebAssembly in the [CanvasKit] project. I wonder if that has a way to paint SVGs?

[Skia]: https://skia.org
[CanvasKit]: https://skia.org/user/modules/canvaskit

[2020-12-31 08:00] aizuyan opened #928 "cli mode, mozjpeg changed direction in some picture"
decode and encode the below picture, the result change the direction of the original picture
`squoosh-cli ~/js/bit-img/dist/nk2.jpg  --mozjpeg`

![nk2](https://user-images.githubusercontent.com/6612863/103400515-5e01b780-4b80-11eb-90df-991c972212ea.jpg)

original pic and result pic:
![截屏2020-12-31 下午3 59 30](https://user-images.githubusercontent.com/6612863/103400736-34955b80-4b81-11eb-9249-909eec

[2021-01-03 03:33] braebo commented on #916
Same issue here on MacOS

[2021-01-03 11:38] surma commented on #916
@FractalHQ how are you calling the CLI? MacOS works well for me.

[2021-01-03 17:00] braebo commented on #916
@surma I had neglected to specify the filetype after the wildcard!  It works now (albiet only locally with `squoosh-cli`, @npx seems to encounter the aforementioned issue regardless).

While the cli always stops responding after 16/22 images, it seems to output all of the new images successfully.

![squoosh](https://user-images.githubusercontent.com/55504972/103484228-174bd180-4dbb-11eb-948f-81168

[2021-01-05 14:26] #925 closed, assigned to nobody

[2021-01-05 15:21] surma commented on #907
Yup, can confirm and reproduce. Looking into this.

[2021-01-05 15:25] surma commented on #928
This is most likely because the original picture is _actually_ sideways but contains EXIF data that prompts most UIs to display it in a rotated fashion. We currently ignore and strip EXIF data and — with compression being the main focus of Squoosh — have no intention of changing that.

Gonna close this. Please feel free to reopen if you disagree or think there’s a different underlying cause.

[2021-01-05 15:25] #928 closed, assigned to nobody

[2021-01-05 16:35] surma commented on #907
I figured out the potato quality on WebP. Seems like I bundled an old version of the WebP Wasm binary by accident. I fixed that and published `@squoosh/cli@0.6.1`.

I still see some minor file size difference, even when I use a PNG source file, which is very surprising to me. I’ll look at that another time.

[2021-01-05 17:34] rodsotdia commented on #907
@surma Thanks for look into this. What about the color space with both formats?

[2021-01-06 00:16] surma commented on #907
@rodsotdia From what I can tell, the MozJPEG decoder does indeed decode to sRGB. Do you see color issues?

[2021-01-06 11:03] surma commented on #922
Published v0.6.1 :)

[2021-01-06 11:03] #922 closed, assigned to nobody

[2021-01-06 11:04] surma commented on #916
@FractalHQ All of that should be solved with v0.6.1

@sobujbd Can you test if v0.6.1 works on Windows now?

[2021-01-06 11:05] surma commented on #924
This is fixed in v0.6.1 :)

[2021-01-06 11:05] #924 closed, assigned to nobody

[2021-01-06 12:53] sobujbd commented on #916
@surma I confirm that the version **v0.6.1** of **@squoosh/cli** working good on my WinPC. I got very smooth results on batch images compressing by using Squoosh CLI. :heart:

Now @FractalHQ can make sure it works well on MacOS!

Off-topic : Here what is standing by **Squoosh** words? How would it be if the command name renamed from `squoosh-cli` to just `squoosh` ?

[2021-01-06 13:51] surma commented on #916
Well, we also wanted to have a library at some point. And I wanted to have a `@squoosh` namespace on npm, so making `@squoosh/cli` install as just `squoosh` seemed confusing.

I’m gonna close this as I know this works on MacOS :D

[2021-01-06 13:51] #916 closed, assigned to nobody

[2021-01-06 13:51] surma commented on #900
I published v0.6.1 which fixes the behavior on Windows.

Leaving this issue open as a reminder to write better documentation.

[2021-01-08 00:53] donmccurdy commented on #907
I'm having the same quality issues on v0.6.1 (possible duplicate of https://github.com/GoogleChromeLabs/squoosh/issues/898). Output size is the same (and very aggressively compressed) regardless of the chosen value of `--optimizer-butteraugli-target`.

[2021-01-08 03:39] rodsotdia commented on #907
@surma Yes, I think the color space is different:
![image](https://user-images.githubusercontent.com/58403142/103971599-ee1ead00-51cf-11eb-847e-2c949d09d4e1.png)
Left: Original
Center: Processed through app.
Right: Processed through cli.

The original is a jpeg processed to mozjpeg. I'm using the following parameters in both app and cli:
[code]

[2021-01-11 08:14] BuyMyMojo commented on #869
I just went through all levels of effort for lossless Jpeg XL with one of the same example image and it worked so fixed for lossless but had a couple errors so half way there I guess

[2021-01-12 16:19] RReverser commented on #869
This is most likely OOM issue and something that needs to be fixed in JPEG XL itself. They already brought memory usage down significantly, but likely there's more work to be done to fit into mobile device memory constraints.

[2021-01-13 08:14] FrankKai commented on #826
Chrome can't work，but **Firefox** works well.

[2021-01-13 13:16] #833 closed, assigned to RReverser

[2021-01-13 19:52] SUPERCILEX opened #932 "Hardware accelerated encoding/decoding/compression?"
Processing lots of files is pretty slow right now, so it'd be awesome to have hardware acceleration support.

[2021-01-14 07:06] jakearchibald commented on #932
Which formats are you talking about, and which forms of hardware acceleration?

[2021-01-14 07:34] SUPERCILEX commented on #932
I just googled "hardware accelerated jpg compress" before filing this issue, saw some results, and assumed you could use the gpu to do some of the processing. :) If this issue doesn't make sense, feel free to close it.

I was only able to find HA encoding for jpgs, so not sure if it's worth the trouble:
- JPEG: https://developer.nvidia.com/nvjpeg
- AV1 decoding only: https://developer.nvidia.com/n

[2021-01-14 09:44] #932 closed, assigned to nobody

[2021-01-14 09:50] jakearchibald commented on #932
We've been adding things like multithreading and SIMD to our codecs as they become available to web assembly, which is a form of hardware acceleration I guess.

However, when it comes to hardware encoders, that often restricts you to the particular encoder that's on the chipset. For instance, the h264 hardware encoder on my Macbook is fast, but it seems to produce inferior results compared to the

[2021-01-14 14:57] alexander-akait opened #934 "Make Node.js API"
**Is your feature request related to a problem? Please describe.**

`squoosh` has CLI, so I think it is possible to implement Node.js API

**Describe the solution you'd like**

Adding Node.js API

**Does other service/app have this feature?**

For example - `imagemin` have CLI and Node.js API

**Additional context**

The Node.js API will allow `squoosh` to be used in other tools, for example I am

[2021-01-14 15:30] surma commented on #934
Yup, at some point I want to re-factor the CLI to have a proper separation between a `libsquoosh` and the cli

[2021-01-14 15:38] alexander-akait commented on #934
Yep, it will be great, this would take image optimization to a new level, hoping it will come in the near future, `squoosh` is super

[2021-01-14 18:55] SUPERCILEX commented on #932
Makes sense, thanks for explaining!

[2021-01-19 09:59] wojtekmaj commented on #807
Is there anything the community could help with to push the fix forward?

[2021-01-19 12:55] surma commented on #807
@wojtekmaj If you can reproduce the bug, you could try adding `-s MAXIMUM_MEMORY=4GB` to the AVIF Makefile and rebuild the codec, as @RReverser outlined. If that fixes the bug, we’d be happy to merge that PR.

[2021-01-22 10:36] rin3s opened #946 "Reduce palette not working"
**Describe the bug**
When attempting to use the **reduce palette** feature (on the online version at least), you get an error: "Processing error: ReferenceError: __dirname is not defined"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://squoosh.app/
2. Use one of the existing images.
3. Try to use reduce palette.
4. See error.

**Expected behavior**
To be able to use the reduce

[2021-01-22 11:03] surma commented on #946
I can’t reproduce this in Chrome on MacOS. @RReverser can you give this a try?

[2021-01-22 11:18] rin3s commented on #946
Had a colleague test on Chrome on MacOS, and she was getting the same error, and another colleague with Windows 10 and Chrome as well.

This was still working yesterday, but it stopped working after refreshing the page today after getting an "Update is available" notification.
![squoosh_error](https://user-images.githubusercontent.com/38850585/105484549-cb9a9280-5cab-11eb-8480-2e2ca0b06d4a.jpg)

[2021-01-22 11:29] jakearchibald commented on #946
I can recreate this. I'm going to roll back live.

[2021-01-22 11:32] jakearchibald commented on #946
Live is rolling back to 5d0c856. Assigning to @RReverser since it was the codec rebuild that seemed to cause this.

[2021-01-22 11:32] jakearchibald commented on #946
@rin3s thanks for reporting this! The fix (well, rollback) should be live in a few minutes.

[2021-01-22 12:09] rin3s commented on #946
@jakearchibald Awesome.
Live is working now again, thanks!

[2021-01-22 12:32] RReverser commented on #946
That's very strange, but yeah, I can see something relevant in the diff on #935:

[code]

I wonder what the actual underlying change was that caused this.

[2021-01-22 12:39] RReverser commented on #946
Logging shows that `ENVIRONMENT=worker` is set correctly for `imagequant.js`, so maybe this is an Emscripten issue and it still uses `__dirname` when it shouldn't?

[2021-01-22 12:43] RReverser commented on #946
OH MY GOD @surma 😂

https://github.com/GoogleChromeLabs/squoosh/blob/6117c9dd267e800e93f7435c0acb93e5b344a221/codecs/imagequant/Makefile#L14-L43

I somehow missed this in review of #875 too 😂

For each file, it compiles twice - first with correct environment, and second one that overwrites it with `ENVIRONMENT=node`.

[2021-01-22 12:45] RReverser commented on #946
We probably should add some sort of CI task that makes sure any output files are newer than Makefiles, to ensure that codecs are always rebuilt and tested with the latest Makefile changes.

[2021-01-22 12:48] RReverser commented on #946
Fixed in https://github.com/GoogleChromeLabs/squoosh/pull/947.

[2021-01-22 13:13] #946 closed, assigned to RReverser

[2021-01-22 14:05] jakearchibald opened #948 "Investigate issue with Rollup not updating hashes"
A couple of updates didn't work for me, where the browser was trying to load wasm that no longer existed on the server. The service worker had updated, so there wasn't a problem there.

I'm pretty sure it's because Rollup isn't updating the hash of some JS, even though it's now referencing a new wasm URL.

In the meantime I've removed the far-future cache headers 8e8b75684d234cdba6d2764948e9220b4b

[2021-01-22 21:39] rootext opened #950 "Please add ability to disable antialiasing (checkbox)"
**Is your feature request related to a problem? Please describe.**
Squoosh is a great tool but it is almost impossible to compare tiny images because of antialiasing (for zoom 500% and higher)

**Describe the solution you'd like**
Add ability to disable antialiasing (checkbox)

**Does other service/app have this feature?**
I don't know

**Additional context**
With antialiasing enabled
![image](htt

[2021-01-25 07:11] jakearchibald commented on #950
What are you looking to compare? We went with interpolation by default as that's how browsers will render the image when scaled.

Not against adding an option for this, just want to hear more about the use-case.

[2021-01-25 12:36] surma commented on #920
I can’t reproduce this on current stable with Firefox. Can you recheck that the issue is still there for you? And if so, please re-open.

[2021-01-25 12:36] #920 closed, assigned to nobody

[2021-01-25 12:36] surma commented on #921
True, I didn’t implement `fitMethod` for the CLI. We are re-working the crop UI right now, so I won’t fix this right now, but once we have landed the new crop.

[2021-01-25 12:36] #921 closed, assigned to nobody

[2021-01-25 13:21] rootext commented on #950
I am looking to compare original image with optimized one on the right side. I want to  clearly see all optimization artifacts.
Yes, browser also uses interpolation but I will not scale an image 500% on a wep page. Usually it's 1:1 for small ui images.

[2021-01-25 16:08] jakearchibald commented on #948
@surma Ugh I'm not sure what to do about this.

It's part of https://github.com/rollup/rollup/issues/3415, and it's happening in the off-main-thread plugin.

OMT uses `import.meta.ROLLUP_FILE_URL_referenceId`, but Rollup doesn't consider that when calculating the hash of the containing chunk. We work around this [in our asset plugin](https://github.com/GoogleChromeLabs/squoosh/blob/dev/lib/url-plu

[2021-01-25 16:43] jakearchibald commented on #950
Yeah, that's fair. Thanks for the clarification.

[2021-01-25 19:34] kudlav commented on #920
As I cannot start with old version I cannot follow the steps now.

[2021-01-26 05:59] jakearchibald commented on #920
So it's working fine now?

[2021-01-26 08:00] LookRain opened #951 "Add Apple touch icon for PWA icon"
**Is your feature request related to a problem? Please describe.**
On iOS safari, if user adds Squoosh to Home Screen to install it as a PWA, the icon of the App on Home Screen is a screenshot, which doesn't look very nice

![IMG_0207](https://user-images.githubusercontent.com/11829847/105816449-47b81180-5fef-11eb-8e80-6820bedf7919.jpg)

**Describe the solution you'd like**

Since iOS doesn't take

[2021-01-26 08:07] kudlav commented on #920
Yes, it's fine. I was upgrading some minor version using Reload snackbar button and it works fine.

[2021-01-28 15:58] myakura commented on #950
Yes. I was using squoosh to optimize a 32x32 PNG favicon the other day and thought it'd be cool to have such option too. (I set `image-rendering: pixelated` to the canvas via devtools to disable it.)

[2021-02-04 06:00] devin87 opened #953 "Processing error: RuntimeError: abort(CompileError: WebAssembly.instantiate(): expected 150533 bytes, fell off end @+975). Build with -s ASSERTIONS=1 for more info."
**Describe the bug**
Processing error: RuntimeError: abort(CompileError: WebAssembly.instantiate(): expected 150533 bytes, fell off end @+975). Build with -s ASSERTIONS=1 for more info.

**To Reproduce**
Every time

**Version:**
 Microsoft Edge 88.0.705.56

[2021-02-04 09:29] devin87 commented on #953
After deleting the pwa application, reinstallation is normal.

[2021-02-04 09:29] #953 closed, assigned to nobody

[2021-02-05 13:59] breakdancingcat opened #955 "[CLI] Increment suffix when using -s"
**Is your feature request related to a problem? Please describe.**
When testing compression options, I want to run Squoosh multiple times to compare images from my desktop. Squoosh currently overwrites the original file.

**Describe the solution you'd like**
Add an increment to the file name (+i) when using -s with no parameters

**Does other service/app have this feature?**
Default behavior when

[2021-02-06 17:42] nealmcb commented on #900
Note that the main README doesn't even point to the CLI readme, which is at
* https://github.com/GoogleChromeLabs/squoosh/tree/dev/cli

[2021-02-06 17:46] nealmcb commented on #332
A good place to start would be to provide some very basic documentation, as also noted in #900.

You can't even see in the README or the GUI what formats are supported, to say nothing of what the options are. You can click on the format selection to see a list of formats, but can't copy-paste from there.

Even just linking to the other READMEs in the repo would help a lot.

* https://github.com/Go

[2021-02-06 19:10] steren opened #956 "RuntimeError: abort(SyntaxError: JSON5: invalid character 'w' at 1:1)"
I ran `$ npx @squoosh/cli --webp wordpress-lighthouse.png wordpress-sources.png lighthouse-score-improve.png `

I got:

[code]

[2021-02-06 19:19] surma commented on #900
What do you think this link in [the README](https://github.com/GoogleChromeLabs/squoosh/blob/dc40f84a6533043a2ea5eb49ea4475fc30c9605a/README.md#cli) does?

![squoosh_README_md_at_dev_·_GoogleChromeLabs_squoosh](https://user-images.githubusercontent.com/234957/107127759-3bb23680-68b0-11eb-927e-acbc5e0207db.png)

[2021-02-06 19:32] nealmcb commented on #900
Oops - sorry! Thanks for that @surma. I didn't go back to check all the links, and had assumed that one probably went to an announcement of some sort ,rather than documentation.

It still seems worthwhile to pull out some more documentation into the top-level readme, but for now, at least a search of the issues will lead to some pretty quick hints for folks.

[2021-02-07 10:58] surma commented on #900
As I say [a couple comments back](https://github.com/GoogleChromeLabs/squoosh/issues/900#issuecomment-755310143):

This is definitely a short-coming of the CLI (and mostly due to cutting corners by me to make the deadline).

[2021-02-07 16:40] surma commented on #956
`--webp` takes a JSON parameter to configure the encoder, that’s why it’s trying to decode the first file name using JSON5. If you use `--webp '{}'`, it should work.

For now I’d recommend using the [web app](https://squoosh.app) to generate the CLI invocation, until we get around to extend the documentation (as outlined in #900). Closing this in favor of #900

[2021-02-07 16:40] #956 closed, assigned to nobody

[2021-02-15 12:31] tomByrer commented on #934
& deno compat importing also please :)

[2021-02-15 12:45] tomByrer commented on #950
Ah cool thanks; I was wondering if that or `crisp-edges` would work.

Suggested PNG test images: http://www.schaik.com/pngsuite/pngsuite_siz_png.html

My test case: I find that AVIF tends to wash out colors (always adds luminance to brighter parts).

Alternate use cases: testing if more aggressive compression can be used if the various [`image-rendering`](https://developer.mozilla.org/en-US/docs/W

[2021-02-15 19:52] laukstein opened #958 "AVIF compression performance (takes minutes)"
In https://squoosh.app/editor it takes a long minutes till AVIF compression finishes, please make it respond quickly.

[2021-02-15 20:03] surma commented on #958
Which browser are you using? The AVIF encoder is notoriously slow, so there is not much we can do. But in Chrome we can at least use WebAssembly Threads to make it faster.

[2021-02-15 20:25] laukstein commented on #958
Latest Chrome on up to date Windows 10.

[2021-02-16 16:35] heddn commented on #583
Still occurs even today.

[2021-02-16 19:04] surma commented on #583
Pretty sure @RReverser has been building on Windows successfully for a while now. So if you are seeing this issue, something else is going on and we need more data than what OP provided.

[2021-02-16 21:39] RReverser commented on #583
@surma Not only me - we have Windows on CI: https://github.com/GoogleChromeLabs/squoosh/runs/1880175212

[2021-02-17 06:09] Hahlh opened #959 "[CLI] Png, WebP to Avif - BindingError: Cannot pass non-string to std::string"
**Describe the bug**
Using squoosh-cli and trying to convert a png / webp to avif. I tried to alter the input options like passing the file name as a string, but to no avail. Converting from png to webp works without errors with the same input options pattern that is described below.

The command starts sucessfully (apparently successful decoding), but throws an error directly after starting the e

[2021-02-21 15:57] tomByrer opened #960 "AVIF consistantly shifts colors"
**Describe the bug**
The default demo images (& others I've seen) always lighten colors when compressed to AVIF, at least with defaults.

**To Reproduce**
Load image
leave original on 1 side to A/B
encode other side to AVIF with defaults (I haven't tried other options)
Slide the handy A/B slider to see color shift.

**Expected behavior**
No mass color shifts for entire image

**Version:**
Firefox

[2021-02-21 16:00] tomByrer opened #961 "WiKi FAQ need to be updated for CLI"
**Before you start**
https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ

Should be: https://github.com/GoogleChromeLabs/squoosh/tree/dev/cli

[2021-02-21 18:33] surma commented on #960
I’m not sure I’d describe that as a “color shift”, only a severe loss of texture. Everything looks smooth and gets blurred, which probably causes a slight change of color. This is mostly due to the default settings. If you increase the “Min Quality” to 30, it will look a lot better.

![Screen Shot 2021-02-21 at 18 30 33](https://user-images.githubusercontent.com/234957/108634752-fa568500-7472-11eb

[2021-02-21 18:34] surma commented on #961
Thanks. Forgot we had that. Fixed.

[2021-02-21 18:34] #961 closed, assigned to nobody

[2021-02-21 23:55] tomByrer commented on #960
@surma, can you please reopen?  I've tested this issue on a few other images, AVIF definitely shifts colors every time somewhere beyond a texturing problem (though I do see what you mean with that image).  The colors in the examples below are solid & are obviously changed by AVIF globally. (min quality 35).

Let me know if you have an image test suite you want me to run; I'm building a collection

[2021-02-22 00:16] tomByrer commented on #960
I tried to think of some more soild-color examples; I hope you don't mind. ;)
In both cases, the grays got darker, some of the brights got brighter (eg Jake's Yellow lost the Orange tint.)

Seems to me Jake's Green is not affected.
If I were to take a guess, if Red < 50%, then Red is reduced, if > 50%, then Red is increased more.
(BTW, I changed title to better fit the issue. & sorry for big image

[2021-02-22 00:32] tomByrer commented on #934
@alexander-akait in the meanwhile, you can use `exec` or it's asyc sister.  Actually might be better to always run CLI this way (after adding `commander` or `yargs`) for a CLI if one uses the same pattern often.
[code]

[2021-02-22 00:34] tomByrer commented on #955
You could create your own suffix programmatically; [example[(https://github.com/GoogleChromeLabs/squoosh/issues/934#issuecomment-782964138)

[2021-02-22 00:41] jimbo2150 commented on #960
What browser are you using?

[2021-02-22 03:00] tomByrer commented on #960
Thanks for asking.  Above is from Firefox Dev, same effect in Vivaldi, & same in CLI; eg here is source:
![codepen io-2021-02-15](https://user-images.githubusercontent.com/1308419/108650760-ecf6c600-7485-11eb-894e-4d0abcd8c85c.png)

& output from CLI, rounds 5, optimizer-butteraugli-target 1.1 (had to rename to `.png` to trick GH uploader, let me know if you need .zip)

![codepen io-2021-02-15 r5b

[2021-02-22 04:03] tomByrer commented on #902
Tried the UI lately?
I don't think they added the exact UI features you wanted, but you can slide the A/B.  Also you can clone the configuration to the other side (tiny arrow near the top of the config tab).

Or are you asking for an image diff?

[2021-02-22 07:06] tomByrer commented on #960
Some more clues; it is a color space translation issue maybe?
cavif option: `--color=rgb` — encode using RGB color space instead of YCbCr color space. Makes color closer to lossless, but makes files larger & 5x larger for the 1 file I tested.  :`(

I don't see an [option for `avifenc`](https://github.com/AOMediaCodec/libavif/blob/6a2c5ea56cbe16ea2a9fdfbd3490d7993f1323f9/apps/avifenc.c#L49) to turn

[2021-02-22 10:41] surma commented on #960
That’s _wild_, I can’t reproduce that in Chrome or Firefox locally. What operating system are you on?

(also why are the webfonts from my blog not loading in your screenshot? 🤔 )

![Screen Shot 2021-02-22 at 10 40 47](https://user-images.githubusercontent.com/234957/108697220-7ba52a80-74fa-11eb-90ba-4b5128fe66e4.png)
![Screen Shot 2021-02-22 at 10 39 10](https://user-images.githubusercontent.com/2

[2021-02-22 11:16] jimbo2150 commented on #960
As I suspected. There are reports of Firefox not reproducing the proper colors. I've seen some variant of this happen with a few different images.

It has been reported and is likely to do with the browser and not Squoosh:
https://bugzilla.mozilla.org/show_bug.cgi?id=1634741

I have not seen this happen in Chrome. I believe Vivaldi is based on Chromium, so maybe they are making custom changes to i

[2021-02-22 12:53] tomByrer commented on #960
Windows Surma, maybe?

Jim, Let me test on my other machine that has Manjaro & Chrome Canary this evening.

[2021-02-22 13:02] surma commented on #960
@tomByrer This only happens with AVIF, yeah? None of the other image formats?

[2021-02-22 14:06] tomByrer commented on #960
AVIF in Windows yes so far is what jumped out to me.  I'll do deeper eyedrop testing in other formats on same setup.

Another Win10 machine, Chrome Canary 90, still some color shifting but not as drastic as Firefox on my first machine.  Using an [browser color picker](https://chrome.google.com/webstore/detail/colorpick-eyedropper/ohcpnigalekghcmgcdcenkpelffpdolg/related?hl=en) to ensure my eyes ar

[2021-02-22 18:07] #898 closed, assigned to surma

[2021-02-23 01:02] spayton commented on #959
I got the same error when using auto as stated in help text.  On win10 it needed single quotes, ie change it to 'auto'

Regarding your side note, it's because the command is ambiguous, --avif has an optional config which follows after the --avif flag, it is using your <file> as that config.  You can explicitly terminate the option input with a double hyphen, as follows

`npx @squoosh/cli --avif --

[2021-02-23 02:11] Hahlh commented on #959
Hey @spayton!

Thanks for jumping in.

Unfortunately wrapping it in single quotes didn't help and it still produced the same error.

But using -- instead of auto did!

[2021-02-23 09:32] spayton commented on #959
Hi, yeah, sorry, I think I was a bit premature then, I carried on playing with it, and whilst adding the single quotes stopped the error it wasn't doing a full auto run.  After a bit more playing it seems it's just the --avif target that's bust, which was the only one I was initially trying.  Using plain auto unquoted works fine for the other targets.  So, I'd say that this is still a problem.

[2021-02-23 11:26] Hahlh commented on #959
Yes, it is still a problem, but successful conversion can be done if auto is avoided and -- is added.
But I should probably not close this, if the problem persists, that's right.

Reopening.

[2021-02-23 11:35] spayton commented on #959
I can see why there is an auto option, but in practice I did better than auto by balancing the quality and size myself.  Not a complaint, it does say auto is experimental - I probably need to play with it some more though and use the butteraugli.

[2021-02-23 12:48] surma commented on #959
A human will always outperform automatic optimization. `auto` is for quick’n’dirty batch use-cases where you want to make sure you do the bare minimum :D

[2021-02-23 13:19] spayton commented on #959
Auto seemed to be mostly disregarding any quality matching and just giving the smallest filesize, the quality result was way off anybody's mark.  Probably a problem somewhere, or maybe that the built in auto parameters could be chosen better.  I was npx'ing the cli, it reported being v0.6.1, rather than building the current dev branch, so maybe there's fixes to be had.

I noticed there is no 'verb

[2021-02-23 13:23] surma commented on #959
Yeah, there was a pretty severe bug with auto optimizer. Fun fact: It only worked reliably with bright images :D

I just published `@squoosh/cli@0.6.2` that fixes that issue and the `Cannot pass non-string to std::string` issue. Can you give it a try?

[2021-02-23 13:52] spayton commented on #959
Sure, 0.6.2 is much better, here's the difference.

Source image for all tests

![t2b](https://user-images.githubusercontent.com/4949575/108851954-ecbd0e80-75dc-11eb-81cd-721c213c3037.png)

0.6.1 using --mozjpeg auto

![t2b-0 6 1-auto](https://user-images.githubusercontent.com/4949575/108852135-1bd38000-75dd-11eb-8353-7a17b032c1c5.jpg)

0.6.2 using -- mozjpeg auto

![t2b-0 6 2-auto](https://user-i

[2021-02-23 14:59] surma commented on #959
Gonna close this then.

If you want to provide more context on the `-h` and `-V` issue, because those are working fine for me. (Don’t mind the v0.6.3, I just did another publish because `-V` for 0.6.2 printed 0.6.0 lol 🤦 )

![Screen Shot 2021-02-23 at 14 59 00](https://user-images.githubusercontent.com/234957/108861967-b33dd080-75e7-11eb-828a-155825011e26.png)

[2021-02-23 14:59] #959 closed, assigned to nobody

[2021-02-23 15:30] spayton commented on #959
on win10 x64, with node 12.20.0, this the tail end of

`npx @squoosh/cli@0.6.2 -V`

![image](https://user-images.githubusercontent.com/4949575/108866199-e1251400-75eb-11eb-9ce8-cd12f45fa9ca.png)

[2021-02-23 16:30] surma commented on #959
Ah Windows, a constant source of joy 🙄

This seems like a path issue. I’ll look into it.

[2021-02-23 18:30] spayton commented on #959
Ha, I know what you mean.  I also run node under nvm (4 windows), that dynamic duo can be doubly joyful.

Some more info, The previous ver 0.6.1 works fine when run like this

![image](https://user-images.githubusercontent.com/4949575/108889297-22292280-7604-11eb-84cd-3b169f718c80.png)

but then trying this:

`npx @squoosh/cli@0.6.1 -V`

 fails just like above

so it seems more likely its a proble

[2021-02-24 13:53] jakearchibald commented on #960
@tomByrer do you see it with AVIF's lossless compressor?

[2021-03-02 13:49] trych commented on #958
I have the same issue. So just to be clear, even in Chrome, with a large image an default settings (effort: 2) it is expected for it to take minutes, because the AVIF codec itself is just that slow. Correct?

Edit: It has been running for more than half an hour now. I have no frame of reference, how long it is supposed to take, but this seems highly unlikely to me. Is there any way for me to check

[2021-03-02 14:59] surma commented on #958
@trych That’s an interesting find! Half an hour is definitely too long for any reasonable sioze.

Is it possible to provide an image and the CLI invocation that you used?

[2021-03-02 15:14] trych commented on #958
Certainly.
[Image that I used](https://hannahbohnen.de/media/pages/placeholder/0038b07d42-1614682860/tank_schaum.jpg)

And the CLI invocation:

[code]

(in the UI it's basically just setting the Format to AVIF, the size to 25% and leaving everything else at its defaults).

[2021-03-02 15:17] trych commented on #958
Also regarding compression strategies, a quick side question: In cases like this with a huge source image, is it generally recommended to do the compression from the source whenever possible? Or would it make more sense to first reduce the image in resolution with little compression and then do the final compression from this smaller sized image?

[2021-03-02 15:36] surma commented on #958
The resize operation in Squoosh runs _before_ compression, so that’s already happening automatically.

[2021-03-02 15:51] trych commented on #958
Ah, okay. I thought that maybe resizing was part of the compression step itself, so that maybe the codec could better predict how to visually translate a large source area to a smaller target area while using the current compression settings.

But if the resizing happens before the compression then there is definitely something going wrong, if the AVIF compression takes forever in this case.

[2021-03-02 16:21] jakearchibald commented on #958
I think this is a bug. Investigating…

[2021-03-02 16:34] jakearchibald commented on #958
Yeah, this is a bug.

1. Open red panda image
2. Resize width to 1500
3. Select AVIF

It never seems to finish. However, if I alter the source so it always uses the single threaded encoder, it finishes in around 10 seconds. So yeah, this is a bug in our multi-threaded path.

The issue also impacts Firefox, but it doesn't impact Safari (because it doesn't support multi-threaded wasm).

@RReverser d

[2021-03-02 17:27] surma commented on #958
Interesting! Yeah happy to disable the multi-threaded encoder until @RReverser or me can take a look why the multithreaded encoder is misbehaving.

[2021-03-02 17:31] jakearchibald commented on #958
Cool, I'll sort that out tomorrow.

[2021-03-02 17:36] RReverser commented on #958
Very interesting. I can take a look tomorrow, yeah.

[2021-03-03 12:05] jakearchibald commented on #958
I've removed the multithreaded AVIF encoder from live (7f6ee3204f05689a6df8befd9c87bb4570b4a161) while @RReverser investigates.

Thanks for reporting @laukstein @trych! Things should be faster now, and will get even faster once @RReverser tracks down the multithread issue.

[2021-03-03 13:02] RReverser commented on #958
Interesting, I guess out resizing output throws the codec on a slow path somehow.

It's definitely faster without resizing - e.g. for red panda image it takes 15s without threads and 10s with threads on my machine.

[2021-03-03 13:19] jakearchibald commented on #958
Whoa, you're right, if you switch to "Browser high quality" resizing (which doesn't use our wasm resizer), it works.

[2021-03-03 13:22] jakearchibald commented on #958
No resize, but "reduce palette", AVIF seems problematic too. It eventually fails with "memory access out of bounds".

[2021-03-03 13:41] jakearchibald commented on #958
This isn't due to wasm vs not wasm. Some images cause the bug, some images don't. But it's super weird that two very similar same-size versions of the red panda behave differently.

It's definitely down to the pixel data itself.

[2021-03-03 19:37] RReverser commented on #958
Just to provide an update here: I found the underlying issue and working on a proper fix.

[2021-03-05 23:37] myakura opened #966 "another sw-bridge is broken down"
**Describe the bug**
It loads v1 assets and shells but fails updating to v2.

**To Reproduce**
Steps to reproduce the behavior:
1. Be (un)lucky enough to have a pretty old copy of v1
2. Go to squoosh.app
3. Open DevTools and look at the error message in the console

**Expected behavior**
It should show a popup to upgrade to the v2 version

**Version:**
 - OS w/ version: macOS 10
 - Browser w/ vers

[2021-03-06 08:58] jakearchibald commented on #966
Can you give me the service worker registration details? What's the URL and scope?

[2021-03-07 21:24] illycz opened #967 "[CLI] hierarchical output"
**Describe the solution you'd like**
If I'm select images within glob and subfolders, I'm expect, that final output to respect the input hierarchy.

Thanks

[2021-03-07 21:27] illycz commented on #967
Ideally, If I'm not specify output, the newly generated images would overwrite the original ones.

[2021-03-07 22:34] surma commented on #967
I am hesitant to make the CLI destructive by default. But maintaining folder structure sounds reasonable.

[2021-03-10 05:08] lx1054331851 opened #968 "squoosh-cli resize error on windows"
[code]

With the resize option as up there, error occurred :
[code]

When I remove the resize option, the program run successfully.
[code]
[code]

But when I run cli on mac os, I have not meet the problem!

[2021-03-10 05:21] lx1054331851 commented on #968
Another error:  WebAssembly.Memory(): could not allocate memory

[code]

[2021-03-10 14:31] jakearchibald commented on #966
ping! Happy to take a look at this, but I need some clues

[2021-03-10 15:03] myakura commented on #966
oops. I deleted the cache the other day... so sorry for that.

[2021-03-10 19:15] shuding opened #971 "Squoosh CLI incorrectly handles grayscale PNGs"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
Squoosh CLI doubles the image and changed the hue for grayscale PNGs:

<img src="https://user-images.githubusercontent.com/3676859/110683391-ebaff200-8216-11

[2021-03-10 21:44] developit commented on #971
As per @RReverser: this is likely caused by the Rust-based PNG decoder, which we don't use in the browser version of Squoosh (matches up with the bug description).  We are configuring a greyscale-to-RGB transform, but it doesn't seem to be functioning as the decoding code expects:
https://github.com/GoogleChromeLabs/squoosh/blob/ef77da9e96db1f58a122717919f74ded9b988d7b/codecs/png/src/lib.rs#L45-L4

[2021-03-11 16:10] #971 closed, assigned to nobody

[2021-03-12 03:50] ianzhuo opened #973 "[CLI] Batch Conversion fail"
Hi,
there seems some path issue when batch conversion on windows 10.

![image](https://user-images.githubusercontent.com/1394735/110889181-a845a880-8328-11eb-9b0b-4430c903f9c0.png)

[2021-03-12 12:38] #966 closed, assigned to nobody

[2021-03-13 18:47] getsetbro opened #974 "App update notification on top of save button"
A few days ago the notice to update the app was on top of the button to save the current squoosh. I closed it and saved my image hoping to be able to update the app after saving. I couldn't find a button to upgrade. I reopened the app and didn't see the notice again. I uninstalled and reinstalled the app in order to have the latest version.

[2021-03-14 11:10] jonasgoddeeris opened #975 "UX issue - double click on download triggers 2 save windows"
**Describe the bug**
ANNOYING - UX, FOR HEAVY USERS

2 SAVE WINDOWS when clicking to fast, please be FORGIVING for this 'user error'

**To Reproduce**
Steps to reproduce the behavior:

Click on 'SAVE BUTTON - (when "in a flow" and double-tapping)

**Expected behavior**
Only one "save" window appears

**Version:**
 - OS = MacOSX CATELINA 10.15.7
 - Version 89.0.4389.82 (Official Build) (x86_64)

[2021-03-14 15:21] surma commented on #975
I actually can’t reproduce this at all. When I double-click the Download button I get a single download prompt.

[2021-03-16 12:03] dpschen commented on #967
This would be nice as an additional option.

[2021-03-16 21:37] davidedc opened #976 "Squoosh site suggests --quant "maxNumColors" parameter, while it should be --quant "numColors""
**Describe the bug**
When copying the CLI command from the Squoosh site, it suggests --quant "maxNumColors" parameter, while it should be --quant "_numColors_"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Squoosh website, pick a test image
2. Select any compressor option
3. Toggle the "reduce palette" toggle
4. Reduce the palette to, say, 54 colors
5. Copy the CLI command by clickin

[2021-03-17 03:48] gijswijs opened #977 "Png decode throws errors."
The following bug report shouldn't get high priority, since I don't see a practical application where this would lead to a problem. But it seems to me that the png decoding provided by the codec doesn't work.

Squoosh prefers to use the builtin decoder of the browser to decode the image. If the browser doesn't support the image format it uses the decoder from its own codecs. You can see this in th

[2021-03-17 10:02] surma commented on #977
We have decoders for both [PNG](https://github.com/GoogleChromeLabs/squoosh/tree/dev/codecs/png/pkg) and [JPEG](https://github.com/GoogleChromeLabs/squoosh/tree/dev/codecs/mozjpeg/dec) because we need them for the [Squoosh CLI](https://github.com/GoogleChromeLabs/squoosh/tree/dev/cli).

So yes, those are for Node (although I would have thought that the PNG decoder works in the browser, but we have

[2021-03-17 10:02] #977 closed, assigned to nobody

[2021-03-19 00:42] tasty0tomato opened #978 "Since python2 is not developed anymore, stable version 1.12.0 maybe needs update?"
**Is your feature request related to a problem? Please describe.**
The version 1.12.0 use old node-gyp which needs python2, but the branch dev does not need it, so I think maybe it is time to release a new version which do not need python2.

**Describe the solution you'd like**
 maybe it is time to release a new version which do not need python2.

[2021-03-19 11:19] surma commented on #978
We don’t use node-gyp or python2, but maybe one of our dependencies does? Not sure.

[2021-03-19 13:39] tasty0tomato commented on #978
https://github.com/GoogleChromeLabs/squoosh/blob/4768bc17ba7949e569753680eb5b90853d0c1ac3/package-lock.json#L9686

Sorry, I do not know how to copy the other lines.

[2021-03-19 15:03] surma commented on #978
Yes, that’s the <code>package-<strong>lock</strong>.json</code>. But it’s not in the `package.json`, meaning it must be one of our dependencies that depends on node-gyp. Taking a closer look at `package-lock.json`, it seem’s that it’s `node-sass` depending on `node-gyp`.

The most recent [`node-sass@5`](https://npm.im/node-sass) depends on a newer node-gyp which supports Python 3. W should probabl

[2021-03-20 07:31] tasty0tomato commented on #978
It seems that the dev branch does not use node-gyp any more, so this is also why I am looking for a new stable release.

By the way, you are really handsome!

[2021-03-22 20:01] RReverser opened #980 "Resizer transforms opaque images into partially transparent"
Apparently one of the reasons for #958 that explains why it happened on Resized images but not original ones is that our Resizer transforms fully opaque image of red panda into one with non-255 alpha values under some params (e.g. resizing to width=1500 in that issue), and transparent images take a different codepath in AVIF.

While AVIF multithreading will be fixed separately, I wonder if this is

[2021-03-22 20:13] RReverser commented on #980
~~(This needs verification that this is indeed what's happening and the issue is not in our AVIF wrapping code.)~~

Checked by storing as PNG, yeah, resized image has a lot of 254 values in alpha channel.

[2021-03-23 13:12] RReverser commented on #958
This should be properly fixed now, multithreaded AVIF is live again.

[2021-03-23 13:12] #958 closed, assigned to nobody

[2021-03-27 19:36] kasperkamperman commented on #950
Another use case:
I'm using Squoosh to teach about image compression. I wanted do demonstrate and make a practicum around the loss of color and precision with certain formats.
Since I'm in a gaming course I thought it was good to show it with some pixel art. But with interpolation on,
the original doesn't look anymore like the "real" original (like viewed in Photoshop zoomed in the same level).

I

[2021-03-29 05:45] tomByrer commented on #978
Or, use just the `sass` package which is built on dart & doesn't need any building.  the Dart-Sass is actually the canonical version, node-sass typically lags behind in features, but is slightly faster due to written in C.

I switched VideoJS over to dart-sass since I hated building on Windows.

[2021-03-29 05:48] tomByrer commented on #934
My above code doesn't work when launched in Window's git-bash, but this one does!  Just have to use npm & not have good error reporting:
https://gist.github.com/tomByrer/f6510da9f971a815b9b91d2964d00647

[2021-03-29 05:54] tomByrer commented on #884
Sharp translates SVG-to-___ just fine:
https://techsparx.com/nodejs/graphics/svg-to-png.html
API is very easy also, gives me the dot-notation-fuzzies of when I used jQuerry
https://sharp.pixelplumbing.com/api-constructor

[2021-03-29 07:03] rgarrigue opened #982 "CLI globalThis is not defined"
**Describe the bug**

Followed the cli/README.md, got an error stack straight away running `squoosh-cli` & `npx ...`. Couldn't find any further instruction live "use this node version" to fix it.

**To Reproduce**

1. Install node 11.15.0 through NVM
2. `npm i -g squoosh-cli`
3. `squoosh-cli -h`
4. See error

**Expected behavior**

Something else than an error stack !

**Version:**
 - OS w/ versio

[2021-03-29 07:20] rgarrigue commented on #982
Tried other Node versions. Worked with Node 15. I wish there was a word about it in the CLI's README.md

[2021-03-29 10:50] surma commented on #982
`globalThis` has been supported since Node 12. Node 11 is not a LTS release. Node 10 is a LTS release, but reaches end-of-life in 1 month(!). Most recent stable is Node 15. I think it’s reasonable to expect that our users have at least v12.

[2021-03-29 10:50] #982 closed, assigned to nobody

[2021-03-29 13:21] fernap3 commented on #884
Thanks for the resource @tomByrer! I'll take a look

[2021-03-31 03:49] tomByrer commented on #960
I'm not sure how to turn it on?

I'm still working on this; made a script to build test images, then a few more to compress a listing of images, then going through & hand-clipping the images in browsers, then running a diff program.
Also testing [turning off image-smoothing](https://www.ghacks.net/2013/03/11/disable-firefoxs-image-smoothing-algorithm/).

[2021-03-31 08:38] jakearchibald commented on #960
Via the "lossless" checkbox

![Screenshot_20210331-093757](https://user-images.githubusercontent.com/93594/113115972-e38b1700-9204-11eb-9061-a2d909e2bc8d.png)

[2021-03-31 12:58] nape-max opened #983 "[CLI] Unsupported format error: Not stopped CLI"
![image](https://user-images.githubusercontent.com/61621369/113147824-dc323080-9239-11eb-9679-9e4d08ba2e37.png)

**Describe the bug**
I tried to use this CLI for convert few JPG images to AVIF. When this find Image that maybe broken, he shows error and continue infinity 'Decode' operation that never stopped.

Steps to reproduce the behavior:
1. Find any file (txt, or archive e t.c.)
2. Rename it t

[2021-03-31 22:26] tomByrer commented on #960
Thanks!
Sorry I was not clear; I meant for CLI; I [don't see it there](https://github.com/GoogleChromeLabs/squoosh/blob/dev/cli/src/codecs.js#L269).

[2021-04-01 12:42] tomByrer commented on #960
First AVIF Lossless test: yes, in Firefox there is no color shifting, but filesize is **larger** than original.  (I did reload Squoosh, so should be latest.)

Lossy, original on right:
![squoosh-avif-lossy-jake](https://user-images.githubusercontent.com/1308419/113292840-a6815c00-92ba-11eb-98de-dfc218375e1a.png)

Lossless, no color shifting:
![squoosh-avif-lossless-jake](https://user-images.github

[2021-04-01 12:45] tomByrer opened #984 "Be able to tell more easily when codec INCREASES filesize"
**Is your feature request related to a problem? Please describe.**
Tricky to tell at a glance when the filesize is increased by a codec.

**Describe the solution you'd like**
A more distinct `+` symbol, italics, &/or different color of larger values

**Additional context**
discovery: https://github.com/GoogleChromeLabs/squoosh/issues/960#issuecomment-811880408

Thanks for your work & consideration

[2021-04-01 15:12] jakearchibald commented on #960
What about in Chrome?

[2021-04-01 21:07] tomByrer commented on #950
Seems according to [CSS-Tricks ](https://css-tricks.com/almanac/properties/i/image-rendering/)(updated 2020-08) that `crisp-edges` & `pixelated` may act differently in Firefox vs Chrome.

@kasperkamperman I'm looking up how [AVIF may shift colors](https://github.com/GoogleChromeLabs/squoosh/issues/960#issuecomment-811880408).  I also made some test images; let you know once the repo goes public.

[2021-04-02 03:30] tomByrer commented on #960
Good question!  Better in Win10 Chrome 91.0.4465.2 (Official Build) canary (64-bit)
gray & orange: no change
green: Orig rgb(52, 157, 132)  |  AVIF rgb(52, 157, 131)
yellow: Orig rgb(250, 225, 113)  |  AVIF rgb(249, 225, 111)
![image](https://user-images.githubusercontent.com/1308419/113377332-a2485380-9339-11eb-9843-5b28e7616a83.png)

I'll test vs [kornelski/cavif-rs](https://github.com/kornelski

[2021-04-03 01:22] Giacomo411 commented on #968
Can you try using this for the resize:
`--resize {"enabled":true,"width":2048,"height":1365,"method":'lanczos3',"fitMethod":'stretch',"premultiply":true,"linearRGB":true}`

[2021-04-12 13:37] surma opened #986 "Investigate raster image to vector conversion"
- [Potrace](http://potrace.sourceforge.net/) (what Inkscape uses)
- [ImageTracerJS](https://github.com/jankovicsandras/imagetracerjs)
- [AutoTrace](https://github.com/autotrace/autotrace)

[2021-04-15 13:48] Frank12-12 commented on #968
Same issue here. Removing all single Quotes before the options and then replacing all double quotes by single quotes worked for me.

[2021-04-15 16:08] tongyuantongyu commented on #831
Here's a suggestion: I'd like to see `denoise-noise-level` option being exposed.

From https://github.com/AOMediaCodec/libavif/commit/1809baa9ef3d6b31a12976166e36534504deb88c almost all options in libaom can be set through libavif, if built with libaom v3.0.0 or above.

Among these options, `denoise-noise-level` is a really interesting one. AV1 codec has a feature called 'grain synthesis', which u

[2021-04-15 20:11] JNavas2 commented on #782
I'm still seeing this error on Android when I try to resize images taken with the camera.

![Screenshot_20210415-130927](https://user-images.githubusercontent.com/14850792/114932098-f3e9e700-9deb-11eb-86bc-b4dd9ef5790b.png)

[2021-04-15 20:12] JNavas2 commented on #711
I'm still seeing this error on Android when I try to resize images taken with the camera.

![Screenshot_20210415-130927](https://user-images.githubusercontent.com/14850792/114932098-f3e9e700-9deb-11eb-86bc-b4dd9ef5790b.png)

[2021-04-16 00:27] RReverser commented on #782
@JNavas2 `unreachable` is a generic Wasm failure might have a lot of potential causes. It's best if you open a new issue with specific repro steps.

[2021-04-16 05:05] jakearchibald commented on #831
This is a good suggestion! I'll take a look

[2021-04-16 13:08] jakearchibald commented on #831
PR https://github.com/GoogleChromeLabs/squoosh/pull/987
Demo https://deploy-preview-987--squoosh.netlify.app/

[2021-04-16 16:13] JNavas2 opened #988 "Resize consistently causes Processing error: RuntimeError: unreachable"
**Describe the bug**
Resize consistently (100%) causes:

**To Reproduce**
1. Open squoosh.app in Android Chrome.
2. Open first sample image.
3. Expand lower control.
4. Turn on Resize

**Expected behavior**
Resizing of image.

**Version:**
Chrome 89.0.4389.105
Device model: Google Pixel 4a 5G (bramble)
Android version: 11 (RQ2A.210405.005)
Carrier: T-Mobile USA

**Is your issue related to the qual

[2021-04-16 16:14] JNavas2 commented on #782
New Issue #988

[2021-04-16 17:27] JNavas2 commented on #988
YouTube failed to process original video.
**New [YouTube video demonstrating the problem](https://youtu.be/5p28kl6dCTg)**

[2021-04-17 04:55] tongyuantongyu commented on #831
This looks great! I forgot to mention that denoise-noise-level should only apply to color sub-image, but you figured that out.

[2021-04-17 18:04] surma opened #989 "Add seam carving (“content-aware resizing”)"
For example: https://github.com/lovasoa/seamcarving

[2021-04-18 07:24] jakearchibald commented on #831
Haha yeah, after creating some invalid AVIFs 😀

[2021-04-19 08:23] atjn commented on #983
This is a pretty big issue for my use case, because squoosh is part of a larger automated workflow which has proper error handling if a file conversion fails, but now it just doesn't work because it thinks the process is still going.

[2021-04-19 09:42] atjn opened #990 "[LIB/CLI] Butteraugli uses too much memory"
First of all, thanks for making this awesome tool!

**Describe the bug**
When using "auto" to minify a sufficiently complex image, the butteraugli encode step will use more memory than is available, and will fail with a `memory acces out of bounds` error.
It also won't properly exit the process, as described in #983.

This can be reproduced with any image, but it seems like it has to not only be a

[2021-04-19 10:42] surma commented on #990
Thanks for the repro steps. I’ll take a look at this.

[2021-04-21 02:22] atjn commented on #907
I am also experiencing problems where WebP images are dismissed as invalid in the CLI, but are decoded correctly in the browser. It sounds pretty reasonable to me that it is because the CLI relies on a different decoder, so I haven't spend much more time on it. Let me know if you want a complete bug report with sample images.

[2021-04-22 15:33] atjn commented on #934
@surma I need this badly enough that I'm willing to yank the source code and manually frankenstein it into my project. If you are up for it, I would much rather spend that time making a PR here that adds an official `@squoosh/api` package.

I'm not too worried that I will implement it differently from what you have in mind, since it's all experimental, so you can always redesign it when you have t

[2021-04-22 16:37] surreum commented on #990
The same story if you make operations with a folder of images:
$ squoosh-cli --mozjpeg '{quality: 75}' *   return
`(node:42444) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 uncaughtException listeners added to [process]. Use emitter.setMaxListeners() to increase limit
(Use `node --trace-warnings ...` to show where the warning was created)
Worker error:  RangeError [E

[2021-04-22 19:53] atjn commented on #990
@surreum that seems like a different issue. I'd suggest opening a new issue with more details.

[2021-04-22 23:06] surma commented on #934
@atjn That’d be amazing. Happy to review a PR!

[2021-04-25 09:21] lx1054331851 opened #992 "npm run build ERROR"
[code]

ubuntu20.04 run squoosh error.

[2021-04-25 09:27] surma commented on #992
Yeah, we don’t support Node 10 ([Node 10 reaches end of life in 5 days!](https://nodejs.org/en/about/releases/)) . Please manually update to _at least_ LTS (Node 14+) or use `nvm`, as we have a [`.nvmrc`](/GoogleChromeLabs/squoosh/blob/dev/.nvmrc) committed to the repo.

[2021-04-25 09:27] #992 closed, assigned to nobody

[2021-04-26 17:55] PaulKinlan opened #993 "Squoosh CLI incorrectly rotates images on resize"
When resizing an image whose EXIF indicates the image is rotated (a portrait photo from a phone for example) the image is resized incorrectly with the CLI. The CLI resizes along the wrong dimensions with the width and heigh correct, but the image is -90deg away from expected orientation.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a selfie with a Pixel or any other device that will

[2021-04-26 19:12] surma commented on #993
I did not know that we supported EXIF in the web version! That must be included for free in `createImageBitmap()`. I am convinced that used to _not_ be the case. I’ll see if MozJPEG exposes that data!

[2021-04-27 14:46] robhawkes commented on #968
This fixed the memory error for me too — specifically, swapping double and single quotes.

[2021-04-28 07:11] tomdav999 opened #994 "squoosh.app displays incorrect filesize"
**Describe the bug**
squoosh displays incorrect filesize, it's very annoying when comparing filesize to other online compressor utilities which display correct filesize

**To Reproduce**
go to: https://squoosh.app/
add a file
download the result
downloaded filesize is different than indicated in browser

**Expected behavior**
downloaded filesize is same as indicated in browser

**Version:**
tested

[2021-04-28 09:08] jakearchibald commented on #994
https://web.archive.org/web/20150324153922/https://pacoup.com/2009/05/26/kb-kb-kib-whats-up-with-that/

If this isn't the issue you're seeing, please provide more data, such as an example.

[2021-04-28 09:08] #994 closed, assigned to nobody

[2021-04-28 09:43] tomdav999 commented on #994
Ah yes, my aging eyes can't see the subtle lowercase k which is hard to differentiate from uppercase K in the font that you guys use.  So you are right, but is it really standard practice to display filesizes in kB?  I mean, every Windows computer shows filesizes in KB.  Note your WebP folks compare in KB not kB?

https://developers.google.com/speed/webp/docs/webp_study

Is it really best practice

[2021-04-28 10:01] tomdav999 commented on #994
Just for grins I went to my google drive.  Go figure, filesizes are displayed in KB.  I went to my goggle pixel 3, filesizes are in kB.  Oh the humanity!

Could you guys at least provide the option to display sizes in KB?

[2021-04-28 14:33] #980 closed, assigned to surma

[2021-04-28 15:49] tasty0tomato commented on #978
I am so so sorry, I cannot understand because I am not familiar with _Dart-Sass_

[2021-04-28 16:36] jakearchibald commented on #978
huh, we're not using sass at all, as far as I'm aware. I wonder what's using it.

[2021-04-29 14:10] arthurgubaidullin opened #996 "The mobile app is throwing error with AVIF codec."
**Describe the bug**
Installed application throws error "Processing error: RuntimeError: memory access out of bounds" on my Nokia 7 plus after selecting an image and changing the codec to AVIF. Sometimes this does not affect image processing and result.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'start app screen'
2. Click on 'add image'
3. Select image
4. Change codec to 'AVIF'
4

[2021-04-29 14:26] jakearchibald commented on #996
Is this happening with all of the demo images, or only some?

[2021-04-29 14:28] surma commented on #996
Yeah I can’t reproduce this on my phone with any of the example images or my own images. Can you provide a picture that causes this error for you?

[2021-04-29 14:33] jakearchibald commented on #996
I think this is a follow-up from Twitter https://twitter.com/maybeArthurG/status/1387758504686018563.

In the screenshot the origin al 7mb which makes me think it's biiiig, so likely a genuine out of memory issue. Nokia 7 has either 4/6gb ram.

[2021-04-29 15:08] arthurgubaidullin commented on #996
No, but with demo image it throws another error.

![Screenshot_20210429-195557](https://user-images.githubusercontent.com/522932/116572355-56cb9a00-a925-11eb-9e14-f282fd2ac7ef.png)

Any images cause an error.

Yes.

Another error appears on the small file. :)

![Screenshot_20210429-195332](https://user-images.githubusercontent.com/522932/116572339-529f7c80-a925-11eb-9261-c6465c29c67b.png)

[2021-04-29 15:20] jakearchibald commented on #996
Are you saying that every demo image fails to encode, although the error differs?

Do you also get an error with this image:

![638283338](https://user-images.githubusercontent.com/93594/116575663-c3836c00-a906-11eb-8b04-5e22e229f57e.png)

[2021-04-29 15:22] arthurgubaidullin commented on #996
I tried to reproduce it on second phone, also a Nokia 7 Plus, I succeeded - I also get an error: "abort(undefined)".

Also on the demo image I got another error message.
![Screenshot (29 апр  2021 г  20_14_03)](https://user-images.githubusercontent.com/522932/116575805-6dbfbb80-a928-11eb-85e0-2f002973d6f9.jpg)

[2021-04-29 15:28] arthurgubaidullin commented on #996
Yes, I am getting different error messages.

Once there was no error with this image, the second time there was an error: "Encoding error".

[2021-05-02 18:21] spayton opened #998 "[CLI] Add scale support"
I suggest adding a 'scale' command to the cli.

Commonly, users have the need to generate scaled versions of images, by way of an size multiplier.  Often processing image sets into many scaled image sets, through scripts.  In this case the output dimensions are not known, the user just wants x2, x0.5 etc

Currently we have a 'resize' method which requires the target width/height.  It could be used

[2021-05-04 07:00] ngvtuan opened #999 "Is there a way to run the build folder without setup a localhost?"
I have tried to run the build folder by click on the index.html file and I have gotten the FILE_NOT_FOUND errors. Is there any way to run the build folder without setup a local host?

<img width="1440" alt="Screen Shot 2021-05-04 at 1 59 07 PM" src="https://user-images.githubusercontent.com/10944387/116969754-fcde2200-ace0-11eb-8533-97d7a0ec1405.png">

[2021-05-04 09:25] surma commented on #999
No, you need a proper HTTP server. Something as straightforward as `npx superstatic build` should work.

[2021-05-04 09:25] #999 closed, assigned to nobody

[2021-05-04 09:58] jakearchibald commented on #999
After building, `npx serve --config ../serve.json build` will serve with the correct headers

[2021-05-04 11:46] atjn commented on #934
@surma there you go, hope you like it!

[2021-05-05 00:31] pascalandy commented on #993
Same here with a picture I took with my iphone :-/

[2021-05-06 06:10] tomByrer opened #1005 "Question: AVIF compression settings for lossless?"
Good news!  Squoosh.app is the only AVIF encoder that I can find with [truly lossless](https://github.com/lovell/sharp/issues/2696)!
How do you do this? (settings, or don't compress & just use HEIF container?)

TIA

[2021-05-06 07:52] jakearchibald commented on #1005
Here's where we interact with avif https://github.com/GoogleChromeLabs/squoosh/blob/dev/codecs/avif/enc/avif_enc.cpp. The lossless settings are in there.

[2021-05-06 07:52] #1005 closed, assigned to nobody

[2021-05-06 09:27] illycz commented on #967
Anything new about that? Thanks

[2021-05-07 04:25] eclipzzze commented on #831
What do you mean by "sub-image"? I try to use "-a denoise-noise-level=50" with libaom 3.0.0 but I get "ERROR: Failed to encode image: Invalid codec-specific option"?

[2021-05-07 05:00] #831 closed, assigned to nobody

[2021-05-07 05:00] jakearchibald commented on #831
Closing this, as these changes shipped

[2021-05-08 18:35] Yash-Singh1 opened #1009 "[CLI] Add man page"
NPM makes it simple to add man pages: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#man

[2021-05-09 12:29] andystevenson opened #1010 "squoosh-cli bus-errors on mac M1 mac book pro"
running squoosh-cli on M1 (Apple Silicon) bus errors when trying to compress any jpeg file (I haven't tried it on other formats)

**To Reproduce**
Steps to reproduce the behavior:
1. npm i -g @squoosh/cli
2. squoosh-cli --mozjpeg auto 1.jpg
3. After a few seconds....
4. zsh: bus error  squoosh-cli --mozjpeg auto 1.jp
<img width="596" alt="image" src="https://user-images.githubusercontent.com/19896

[2021-05-11 21:04] illycz opened #1012 "[CLI] Limit the number of decoded images in memory"
I'm trying edit folder with approx 200 images within `npx @squoosh/cli --mozjpeg '{"quality":80}' -d . ./*.jpg` and get memory error:
`1.54MBRangeError: WebAssembly.Memory(): could not allocate memory
    at /Users/illy/.npm/npx/83877/lib/nodemodules/@squoosh/cli/build/index.js:7:176011
    at instantiateEmscriptenWasm (/Users/illy/.npm/npx/83877/lib/nodemodules/@squoosh/cli/build/index.js:7:15353

[2021-05-11 21:05] illycz commented on #1012
Few images working as expected...

[2021-05-13 12:57] user69nice commented on #1012
Had the same error popping up on CLI WebAssembly.Memory(): could not allocate memory at...

Thought maybe it's my setup/system but after trying it on Windows and Linux and also updating everything possible the error was still popping up.

Squoosh stops after trying to decode about 50 to 60 images and leaves terminal blinking.

Can provide logs and more specific information if necessary but the err

[2021-05-13 13:50] jakearchibald opened #1015 "wasm-bindgen-rayon broke a few codecs"
Seems that `importScripts` is broken on:

- WebPv2
- AVIF
- JPEG-XL

I guess it's the c++ codecs that use threads.

I've rolled live back.

[2021-05-13 14:13] RReverser commented on #1015
Working on this, seems to be an issue with how dynamic import works with full URL that Emscripten uses instead of AMD ID Rollup normally emits.

[2021-05-13 16:14] #1015 closed, assigned to RReverser

[2021-05-13 16:15] RReverser commented on #1012
CLI should probably limit parallel execution by number of cores. /cc @surma

[2021-05-14 08:57] a-was commented on #1012
Same here.
It looks like squoosh firstly loads all images to memory and then starts processing them. I tried to squoosh about 300 images, but had to do it partially, about 30 images at a time.
My suggestion is squoosh should load and process images one by one (maybe more, by 3 or 5?)

[2021-05-19 11:23] #934 closed, assigned to nobody

[2021-05-20 07:36] kosamari opened #1020 "Contribution Pairing (express your interest!)"
Hello👋  Squoosh team want to try new thing, and looking for our input 🐤

# About
One of the goal for Squoosh this year is to _actively_ onboard more contributors to the project. We don't want to leave issue as "PR welcome", but instead would like to work closely with individuals to land a 1st pull request to get started.

**If you would like to work on a small issue in Squoosh by pairing with team

[2021-05-20 12:48] atjn opened #1022 "[LIB] LibSquoosh pollutes all error messages in a project"
**Describe the bug**
If you have `@squoosh/lib` imported in your node project in any way, it will inject the contents of `index.js:24` into every single error message you get, even errors that don't have anything to do with Squoosh. This means you now have to scroll through ~800 lines of random text if you want to see anything in your terminal from before the error occurred. This is a huge pain to

[2021-05-21 13:08] surma commented on #989
Lol @RReverser already opened this one ages ago in #747

[2021-05-21 13:08] #989 closed, assigned to nobody

[2021-05-21 13:08] surma commented on #747
Also: https://github.com/lovasoa/seamcarving

[2021-05-21 13:11] #288 closed

[2021-05-21 14:12] jakearchibald commented on #986
We'd need to make it clear that this is a bitmap trace rather than "SVG output". Otherwise, if you load an SVG and select SVG output, it might not be clear that it's doing a round trip through a bitmap.

[2021-05-21 14:24] surma commented on #986
Yeah. Could also just hide this when the input is a vector image?

[2021-05-21 14:45] jakearchibald commented on #986
Maybe. Although maybe there are times what you might want to do the round trip.

SVG with lots of gradients -> Bitmap -> Reduce palette -> Trace to SVG

[2021-05-21 14:52] surma commented on #986
Oh yeah, good point.

[2021-05-24 11:49] jakearchibald opened #1026 "Make use of SIMD"
SIMD was disabled in https://github.com/GoogleChromeLabs/squoosh/pull/1025.

We should fix it when the new format gets a little more stable.

[2021-05-24 12:02] surma commented on #1026
It is (now) stable 😅  We just need to recompile our codecs with a recent Emscripten. Upgrading the Emscripten in our build image is blocked on a subsequent bug that @RReverser is working on.

[2021-05-24 13:02] surma commented on #1022
Did some digging and when I disable all codecs in libsquoosh, it goes away. This makes me think that Emscripten’s glue code monkey-patches `Error` somehow, maybe to polyfill C++ Exceptions via JS Exceptions.

[code]

[2021-05-24 13:21] surma commented on #1022
Confirmed. Filed a bug on emscripten

https://github.com/emscripten-core/emscripten/issues/14270

[2021-05-24 15:26] jakearchibald opened #1028 "Change use of abortable for doAbortable"
Right now you kinda have to call `assertSignal`, and then `abortable`. A function that does both would be better.

I did some of this in https://github.com/GoogleChromeLabs/squoosh/pull/954, but a full solution would also allow the abort steps to be async.

[2021-05-24 15:49] jakearchibald commented on #1028
I've updated my implementation in https://github.com/whatwg/dom/issues/946#issuecomment-845906896 to be more like what we should probably use here.

[2021-05-24 23:19] surma commented on #1022
Need to rebuild all codecs (or at least their Node builds) with `-s NODEJS_CATCH_EXIT=0 -s NODEJS_CATCH_REJECTION=0`, which should fix this.

[2021-05-24 23:20] surma commented on #1022
Will have to wait until #1027 lands or we’ll end up in conflict hell :D

[2021-05-25 06:36] atjn commented on #1022
Awesome! Thanks for giving this a closer look :)

[2021-05-25 13:29] #644 closed

[2021-05-25 15:50] AshreneRoy commented on #1020
Hi 👋 , I'm interested in contributing to web app/CLI, I have experience with js/ts and would love to pick backend issues.

[2021-05-25 19:49] dogayuksel commented on #1020
Hey! I am interested in getting my hands dirty with codecs/Wasm part.

[2021-05-27 13:50] surma opened #1032 "“Copy settings to other side” ignores “advanced” expand/collapsed state"
1. Open image
2. Select AVIF (or any other codec with “advanced options”
3. Expand advanced options and change some of them
4. Click “copy settings to other side”
5. Advanced section on other side is _not_ expanded (but settings are indeed copied)

[2021-05-27 13:55] jakearchibald commented on #1032
Yeah, right now we copy over the codec settings, not the UI state.

It might make more sense to use UI state throughout the app, and only convert to codec settings at the last moment (in the worker).

[2021-05-28 11:15] NoamRa commented on #1020
Hi, I'd love to lend a hand. Originally came here to look into animation support (gif / webp / other-> webp). I have experience with JS, TS, HTML, and CSS, but don't mind digging into codecs/Wasm in order to make things happen. ✨

[2021-05-28 14:51] SettingDust opened #1033 "[LibSquoosh] URL invalid"
**Describe the bug**
Use the github action to compress images. It's says can'tt find the wasm files. But there is in repo.
[code]

**Expected behavior**
Compress

**Version:**
 - OS w/ version: ubuntu-18.04 in docker. Host is ubuntu-20.04 in docker.
 - Node version: May be 14.17.0. There isn't detail in action log.
 - npm version: May be 6.14.13.

[2021-05-28 15:12] surma commented on #1033
Can you add how you are invoking the CLI? Your error log is not showing that.

[2021-05-28 15:18] SettingDust commented on #1033
It's not cli. It's called by js.
https://github.com/SettingDust/image-compress-action/blob/main/src/main.ts#L25

[2021-05-28 16:31] surma commented on #1033
Can you give me a reproduction case then? The error gives me very little to go on, sadly.

[2021-05-29 02:18] SettingDust opened #1034 "[LibSquoosh] Wrong main entry"
https://github.com/GoogleChromeLabs/squoosh/blob/dev/libsquoosh/package.json#L6
Should be `build/index.js`.

Error on Windows.
[code]

[2021-05-29 03:39] SettingDust commented on #1033
Gotcha. It's caused by ncc
https://github.com/SettingDust/squoosh-test
After I add the ncc to compile the project, the error appearing.
[code]

[2021-05-31 12:30] axelf opened #1036 "Images are larger after optimization by using the cli tool"
**Describe the bug**
Images are larger than before after running the cli

**To Reproduce**
Steps to reproduce the behavior:
1. `npx @squoosh/cli --oxipng '{}' ./original/img/*.png -d ./optimized/img`
2. enter

**Expected behavior**
All images should at least have the same size like before but not larger. Is there any reason for this behavior?

**Version:**
 - OS w/ version: 10.15.7
 - Node version

[2021-06-01 10:44] surma commented on #1036
If you compress an image with the default codec options (`{}`), they can get bigger. It’s just like when you take a hugely compressed JPEG into Photoshop and re-save it as a JPEG with the quality slider set to 100. The image will get bigger.

[2021-06-01 10:44] #1036 closed, assigned to nobody

[2021-06-01 13:37] jakearchibald commented on #1036
I don't have much experience with the CLI, but does a "no overwrite if bigger" setting make sense?

[2021-06-01 14:03] surma commented on #1036
@jakearchibald Yeah, that could make sense. It’s the default behavior for the auto-optimizer already.

[2021-06-02 15:22] Draghmar commented on #967
I really would like to get hierarchical output because that would make batch compression so much easier. :)

[2021-06-02 15:41] alexander-akait commented on #1034
@surma Sorry for ping. Can you look at this? We have the same problem. Problem here https://github.com/GoogleChromeLabs/squoosh/blob/dev/libsquoosh/package.json#L6, it should be relative path, i.e. `"./build/index.js"` otherwise package is not working in `Node.js`, it is blocker to get support `Squoosh` https://github.com/webpack-contrib/image-minimizer-webpack-plugin/pull/206

[2021-06-02 16:07] RReverser commented on #794
I think we can close this 😅

[2021-06-02 16:07] #794 closed, assigned to surma, RReverser

[2021-06-02 16:11] RReverser commented on #807
We've had some AVIF updates since. I've rechecked and, at least on a laptop and on default settings, the images above compress successfully now.

It's still possible for AVIF or any other codec to run out of memory on even larger images, but I think we can close this issue for now.

[2021-06-02 16:11] #807 closed, assigned to surma, RReverser

[2021-06-02 16:11] RReverser commented on #1034
Do you want to make a PR? Should be a quick change.

[2021-06-02 16:33] surma opened #1040 "Don’t download all codecs"
We already delay downloading til the user actually loads an image, but with codecs getting bigger, we might want to allow the user to download individual codecs.

There’s a bit of UI work to be done here (can we add download buttons to the codec drop down?) and we prob. need to think about how to handle missing codecs when offline to generate meaningful error messages here.

[2021-06-02 16:37] surma commented on #967
Yeah, we got this on the roadmap :)

[2021-06-03 05:46] atjn commented on #1034
I believe `./build/index.js` is the correct way to do it, but only because that's how I have seen other packages do it. I don't think anyone has ever documented what the best/correct solution is.

I wouldn't mind adding a PR for this, but since no one has provided a valid test case, I can't test if it actually solves the problem. I just did a quick test implementation on Node 14.17 on Windows, and

[2021-06-03 05:54] tomByrer commented on #960
I built a script to [screenshot in Puppeteer](https://github.com/test-images/puppeteer-image-tester) & a [literal image-diff](https://github.com/test-images/compare-image-files) to help find color shifts.

Tests ran May31 on latest versions of Canary & Firefox Dev.
[Source PNGs](https://test-images.github.io/png/202105/202105.html) were ran though an updated Squoosh  about that time.

AVIF lossles

[2021-06-03 09:39] alexander-akait commented on #1034
@RReverser done https://github.com/GoogleChromeLabs/squoosh/pull/1041

[2021-06-03 10:18] #1034 closed, assigned to nobody

[2021-06-04 13:59] axelf opened #1043 "Batch processing is hanging"
**Describe the bug**
Batch processing via cli is not working. The process of converting images is endless.

**Version:**
 - OS w/ version: macOS 10.15.7
 - Node version: 14.17.0
 - npm version: 6.4.1

![Bildschirmfoto 2021-06-04 um 15 56 54](https://user-images.githubusercontent.com/1690324/120812676-7fab0480-c54d-11eb-9628-595ac3feff2e.png)

[2021-06-04 14:46] surma commented on #1043
Are there any errors being logged? Because there was a bug with errors making the CLI break that I only recently fixed.

[2021-06-04 22:35] rayriffy commented on #1043
After a lot of image processing, I've seen a pattern that `squoosh` cli cannot handle a very large batch no more than 30 files when maximum listener, or memory is reached. I wonder is it possible to separate decoding, and encoding image into one async worker and throttle them into a queue would solve this issue.

![image](https://user-images.githubusercontent.com/22584594/120869033-639c7700-c5d0-1

[2021-06-05 11:08] axelf commented on #1043
@surma how can i see the error log? I only see the processing of all the images but the process will never be finished.

[2021-06-06 22:28] ericfortis opened #1045 "Feature: -o, --output-file <filename>"
**Is your feature request related to a problem? Please describe.**
No, it's an enhancement.

**Describe the solution you'd like**
An option such as `--output-file <filename>`

**Does other service/app have this feature?**
Yes, `tar`, `ffmpeg`, and `magick` have options or ways to specify the output filename.

**Additional context**
This [blog post](https://blog.uidrafter.com/engineering/convert-to

[2021-06-08 12:02] surma commented on #1045
(Sorry for the accidental close)

I see where you are coming from, but a couple things are not quite clear to me: How do you envision this flag to behave when there are multiple input files or multiple formats specified?

[2021-06-08 16:43] ericfortis commented on #1045
Hi Surma,

I'd ignore the `--output-files` flag. In pseudocode:
[code]

[2021-06-09 02:50] feross opened #1047 "Enable navigationPreload in the service worker"
Hey folks! I've been looking at the Squoosh service worker code as an inspiration as I've been building [Wormhole](https://wormhole.app). Thanks for open sourcing this – it's quite helpful!

One question – is there a reason why you haven't enabled the [`navigationPreload`](https://developers.google.com/web/updates/2017/02/navigation-preload) option? I've found that it causes extra network requests

[2021-06-09 03:04] suiyuex opened #1048 "Memory leak when going from compress screen to home screen"
I don't know this is whether or not a bug
once start compress image process will greatly improve memory usage

any solution can reduce memoery usage or not?

as you can see I just opened the [website](https://squoosh.app/)
the tab take about 30mb of memory
![image](https://user-images.githubusercontent.com/51814639/121308091-3d116f80-c933-11eb-923f-e6346fa12301.png)
When I upload a image about 1.8

[2021-06-09 05:18] jakearchibald commented on #1047
Navigation preload is only useful if you need content from the network as part of a navigation.

For instance, an app like Twitter may do a navigation preload of the main timeline JSON, so that request can start even while the service worker is still spinning up.

With Squoosh we don't need any network data as part of our render - it's entirely cached, so there's nothing to preload as part of navi

[2021-06-09 05:18] #1047 closed, assigned to nobody

[2021-06-09 11:17] #1022 closed, assigned to surma

[2021-06-09 11:17] surma opened #1049 "Add `--closure 1` back into `cpp.Dockerfile`"
... once it doesn’t break Emscripten anymore

[2021-06-09 11:30] surma opened #1050 "Remove CFLAGS from AVIF Makefile"
... once we have a blessed libavif/libaom combination where the build works without this setting.

https://github.com/GoogleChromeLabs/squoosh/blob/9a37cc795965e713bb20d8bc30ff0b95aa1a8b9a/codecs/avif/Makefile#L13-L14

[2021-06-09 23:06] iamstr commented on #1020
Hi  , I'm interested in contributing to this amazing project, I have experience working  with HTML/CSS/JS

[2021-06-09 23:21] feross commented on #1047
@jakearchibald Thanks for the response!

Can you actually select which requests get preloaded with navigation preload? It seemed to me like the API was all-or-nothing. Of course, you can avoid using the `preloadResponse ` but won't the HTTP requests be made anyway?

[2021-06-11 01:15] suiyuex commented on #1048
Can anyone explain? thank

[2021-06-11 09:40] ctataru commented on #1020
Hi!
I'm a full stack developer with experience in NodeJS, TS, and React.
I'd love to participate to the CLI, and wouldn't mind giving a hand on the webapp as well :)

[2021-06-11 12:34] alex-drocks opened #1051 "@libSquoosh - small typo in readme example"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
Small typo in readme:
In the example code, it is written `preprocessOptions:{//...}`
[code]

 I think it should be an equal sign. Otherwise the const declara

[2021-06-11 12:37] alex-drocks commented on #1051
EDIT: noticed the same declaration in the `const encodeOptions:` example. Am I missing a new NodeJS feature for this type of const declarations?

[2021-06-11 13:14] alex-drocks opened #1052 "@libSquoosh - package.json entry point wrong on Windows computer"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
`Error: Cannot find module 'C:\build\index.js'. Please verify that the package.json has a valid "main" entry`

the current package.json file entry point is l

[2021-06-11 13:22] surma commented on #1051
No, those are indeed typos (or maybe copy/paste left-overs from TS experiments). Wanna open a PR to fix ’em?

[2021-06-11 13:23] surma commented on #1052
This is [already fixed](https://github.com/GoogleChromeLabs/squoosh/blob/dev/libsquoosh/package.json) on `dev`, but we haven’t re-published libsquoosh as we need to fix a bug with Butteraugli first. Should be fixed soon!

[2021-06-11 13:23] #1052 closed, assigned to nobody

[2021-06-11 13:24] alex-drocks commented on #1051
I'm a Github noob but I could try the pull request.. would be a first.

[2021-06-11 15:25] #1051 closed, assigned to nobody

[2021-06-11 19:25] WesCook commented on #998
It would definitely make Squoosh more useful for batch processing.  There's many cases where I have a defined width, but not height.  eg. `"width": 1920, "height": "scale"`

[2021-06-12 00:46] andyf0x commented on #1020
Hi there, I would be interested in helping with this project, I have experience with NodeJS, JS, and TS.

[2021-06-12 09:03] spayton commented on #998
Yes, that's another need.  So for that I assume you'd want to set the width and the height be calculated to maintain aspect ratio?

[2021-06-12 14:10] WesCook commented on #998
Yes, that's right.  It's something I use ImageMagick for right now.  Squoosh probably doesn't want to add all of those advanced features, but scaling seems important if there's a resize function.

[2021-06-14 10:57] surma commented on #998
This already works today. If you only specify one of `width` or `height`, the other one will be calculated, preserving aspect ratio. Scaling using percentages/factors is something I’d like to add as well, tho.

[2021-06-14 21:02] WesCook commented on #998
Okay thanks, that's good to know.  I must have missed it when checking CLI flags.

[2021-06-15 07:18] jakearchibald commented on #1048
Do you mean closing the tab, or going back to the home screen?

[2021-06-15 07:30] suiyuex commented on #1048
@jakearchibald sorry, i am not clearly described, close the editor is close the image editor
this here
![image](https://user-images.githubusercontent.com/51814639/122011168-67a96f80-cdee-11eb-90f7-36133813a7ac.png)

and i want to know the memory usage is normal? thanks.

[2021-06-15 07:47] jakearchibald commented on #1048
I can recreate this by:

1. Go to squoosh.app
2. Open the red panda image
3. Click the X to go back to the homescreen
4. GOTO 2

GPU memory usage increases by 100-200mb each time.

It doesn't happen when just changing compression settings, so I suspect it's related to the creation of `<canvas>`. It could be our bug, or Chromium.

[2021-06-15 07:58] suiyuex commented on #1048
Thanks for solving my doubts

[2021-06-15 08:05] jakearchibald commented on #1048
I couldn't recreate the issue in a simple reduced way (https://static-misc-3.glitch.me/canvas-memory-test/), so my gut feeling is the memory leak is our fault rather than chrome's.

[2021-06-15 09:01] suiyuex commented on #1048
the 3 step is go back to the homescreen or go back to the page root route? im confused

[2021-06-15 09:02] jakearchibald commented on #1048
"Click the X" (the one in the top-left of your screenshot)

I'm tracking down memory leaks now…

[2021-06-15 09:34] jakearchibald commented on #1048
PR https://github.com/GoogleChromeLabs/squoosh/pull/1054

[2021-06-15 09:45] #1048 closed, assigned to jakearchibald

[2021-06-15 09:49] jakearchibald commented on #1048
Thanks for filing this issue! It identifed issues in both Squoosh and Chrome.

[2021-06-15 10:05] suiyuex commented on #1048
I also learned a lot

[2021-06-15 12:46] jakearchibald commented on #1047
Nah, but you can set a header to go along with the request. That means the server can return something different for nav-preload requests. I guess it could return an empty response in places where you know you won't use the response.

[2021-06-16 07:42] trm217 commented on #1010
Perhaps this issue has the same underlying problem as this [issue](https://github.com/vercel/next.js/issues/24421) opened on the next.js repository.
Running next.js with arm native Node Version 16 causes segmentation faults when trying to compress images using the squoosh library.

[2021-06-16 08:41] trm217 opened #1056 "Segmentation fault when running Squoosh with Node 16 (ARM)"
**Describe the bug**
Squoosh causes a segmentation fault when compressing images when using Node V16 (ARM build).

**To Reproduce**
Steps to reproduce the behavior:
1. Install Node 16 (ARM native version) on an ARM device. (The error will not occur with non ARM versions of node)
2. Clone this [repository](https://github.com/trm217/reproduce-squoosh-segmentation-fault-on-arm) that contains a simple

[2021-06-16 16:17] surma commented on #1043
I just published `@squoosh/cli` v0.7.1 which fixes the error handling and should fix this issue.

I’ll close this bug, but please re-open if it’s still breaking for you!

[2021-06-16 16:18] surma commented on #1033
I just published `@squoosh/lib` v0.3.0 which fixes a lot of things. Can you try again with this new version?

[2021-06-16 16:19] surma commented on #1056
I just published `@squoosh/lib` v0.3.0 which has a rebuild of all our codecs. I just tested it on my M1 with Node 16 and it worked. Can you give it another try?

I’ll close this bug, but please re-open if it’s still breaking for you!

[2021-06-16 16:19] surma commented on #1010
I just published `@squoosh/lib` v0.3.0 which has a rebuild of all our codecs. I just tested it on my M1 with Node 16 and it worked. Can you give it another try?

I’ll close this bug, but please re-open if it’s still breaking for you!

[2021-06-16 16:19] #1010 closed, assigned to nobody

[2021-06-16 16:23] surma commented on #990
Just tested with CLI v0.7.1. The error persists, although I just see a `bus error`. I’ll have to investigate deeper into Butteraugli.

[2021-06-16 16:25] surma commented on #1012
This might very well be a problem. Your solution sounds good, in that we should not decode everything, and then compress everything, but stagger it a bit.

If anyone wants to take up this issue, the CLI is now a lot simple to contribute to (thanks @atjn!).

[2021-06-16 16:27] trm217 commented on #1056
@surma The reproduction I shared still throws an error for me: `zsh: bus error  node index.js` (after upgrading to v0.3.1)

[2021-06-16 16:27] surma commented on #968
I just published `@squoosh/cli` v0.7.1 which has a lot of fixes. Can you give it another try?

I’ll close this bug, but please re-open if it’s still breaking for you!

[2021-06-16 16:27] #968 closed, assigned to nobody

[2021-06-16 16:27] surma commented on #983
I just published `@squoosh/cli` v0.7.1 which should fix this! Can you give it another try?

I’ll close this bug, but please re-open if it’s still breaking for you!

[2021-06-16 16:27] surma commented on #973
I just published `@squoosh/cli` v0.7.1 which should fix this. Can you give it another try?

I’ll close this bug, but please re-open if it’s still breaking for you!

[2021-06-16 16:28] surma commented on #1022
I just published `@squoosh/lib` v0.3.0 which contains the fix for this!

[2021-06-16 20:26] atjn commented on #1022
Thanks! I've been using a locally build package this past week :)

[2021-06-16 20:34] atjn commented on #983
I just tried to re-run `@squoosh/cli` v0.7.1 on a folder with known bad images, and it still breaks and hangs as described above. Let me know if you need more details.

[2021-06-16 20:50] atjn commented on #1012
In case it helps anyone get started, I do this exact thing in my project and it eliminated many of the weird bugs I was encountering with Squoosh. I use [tiny-async-pool](https://www.npmjs.com/package/tiny-async-pool) for the heavy lifting, and can recommend it, but I don't know if @surma is okay with adding another dependency.

I wrote this script to decide how many images should be processed sim

[2021-06-16 20:57] atjn commented on #990
I'm guessing you only see the bus error because of the new flags `NODEJS_CATCH_EXIT=0` and/or `NODEJS_CATCH_REJECTION=0` (#1042)

[2021-06-17 01:51] ianzhuo commented on #973
@surma
Thanks for your help.
However, after upgrading to 0.7.1 still encounter error as below. 😢

## CMD
[code]

[code]

## 2021-06-17T01_33_13_040Z-debug.log result
[code]

[2021-06-17 10:38] surma commented on #973
`-V` is not a valid flag. Can you try if your actual conversion works or if it still fails?

[2021-06-17 15:10] ianzhuo commented on #973
It doesn't seem to work.

[code]

[2021-06-17 15:57] surma commented on #973
Okay interesting. I wonder if this is Windows related, because I can’t reproduce this.

[2021-06-17 21:57] datacorruption opened #1057 "squoosh-cli no longer converts from png to avif on Ubuntu or MacOS since yesterday ( June 16 2021 )"
**Description**
squoosh-cli no longer converts from png to avif on Ubuntu or MacOS since yesterday (June 16, 2021)

`squoosh-cli --resize '{"enabled":true,"width":706,"height":1442,"method":"lanczos3","fitMethod":"stretch","premultiply":true,"linearRGB":true}' --avif '{"cqLevel":33,"cqAlphaLevel":-1,"denoiseLevel":0,"tileColsLog2":0,"tileRowsLog2":0,"speed":6,"subsample":1,"chromaDeltaQ":false,"sh

[2021-06-18 13:34] surma commented on #973
Looking into this, ti seems the wildcards are not working in Windows.

@samdutton is working on adding globs, so this will hopefully get solved through his work!

[2021-06-18 13:35] surma commented on #1012
Async pool seems small and good enough. Not sure if it’s necessary, but whoever takes this on, is welcome to use it.

[2021-06-18 17:02] ergunsh opened #1059 "Add supported node versions to @squoosh/cli and @squoosh/lib readmes"
**Describe the bug**
Currently, when I try to run the cli in different node versions, different kind of errors are occurring related to imports.

As far as I understand, support for named exports came to Node at v14.13.0 ([Release notes](https://nodejs.org/en/blog/release/v14.13.0/)) and we need it. For example, when I run in v14.0.0, I get this error:
[code]

I guess there are two possible things

[2021-06-18 17:05] surma commented on #1059
Yeah, we support all Node version since LTS (so 12, 14, 16), but we do expect the most recent of those respective major releases. Happy to take a PR to update the README accordingly.

(also cheekily cc’ing @atjn if he has opinions on this)

[2021-06-18 17:10] atjn opened #1060 "[lib] New feature: Signal if an image is lossless or lossy"
I have a use case where I need to know if an input image is compressed with a lossy or lossless algorithm. Figuring this out is easy for codecs like png and jpg which only support one type, but it's not that simple when I want to test a webp or jxl image.
Ideally, I would be able to get this information directly from Squoosh.

I have build a draft implementation in Squoosh, and it seems relatively

[2021-06-18 17:22] atjn commented on #1059
My thought process when releasing this was simply that for an _experimental_ program, it was okay to remove support for Node versions that have active security vulnerabilities, and that can very easily be updated to a new version, especially because it gave us some nice perks to be able to use the new import syntax.

I completely agree it should be documented somewhere, in the docs and/or in `pack

[2021-06-18 18:02] surma commented on #1059
Yeah I was trying to remember if `engines` in `package.json` would generate a warning. This SGTM! PRs appreciated :)

[2021-06-18 18:11] atjn commented on #1059
Cool, I'll make a PR for the `package.json` thing. Ideally, the docs should be updated based on what is set in `package.json`. I'm not sure if there are plans for a system that facilitates that.

[2021-06-18 18:53] alexander-akait commented on #10
@surma `gifsicle` will be used not only for animation, it is still used on legacy sites and will be good to compress them too, also animation gifs can be compressed too

[2021-06-19 09:28] SimonGolms opened #1062 "[CLI] suffix is append as prefix to output files"
**Before you start**
Please take a look at the [FAQ](https://github.com/GoogleChromeLabs/squoosh/wiki/FAQ) as well as the already opened issues! If nothing fits your problem, go ahead and fill out the following template:

**Describe the bug**
When I run the cli package with the latest version 0.7.1 with the suffix command it is appended to the start of the filename.

**To Reproduce**
Steps to repr

[2021-06-19 12:44] nathnolt opened #1064 "Center Image after typing in the zoom value"
**Is your feature request related to a problem? Please describe.**
When you change the zoom value by typing something in (using the keyboard), the image moves (pans) off of the screen (out of view). (right bottom)

**Describe the solution you'd like**
If the image would get centered (panned to the center of the screen) when the zoom value is changed, by typing, or even better: if the mouse is over

[2021-06-19 13:25] #1062 closed, assigned to nobody

[2021-06-19 13:27] surma commented on #1064
Before I start: The image is always clamped to the border of the viewport, so while it might be invisible, it is _at worst_ just outside so panning into all directions a bit should get the image back into view.

That being said, it is bad UX what’s happening right now. I think the main mistake here is updating the view _while_ the user is typing. So when a user wants to type in “200”, after pressi

[2021-06-19 15:22] Tchoupinax opened #1065 "Node.js - abort(RangeError: WebAssembly.instantiate(): Out of memory: wasm memory)"
Hello 👋

I met this error when I try to process serveral image in parallel :

[code]

I used this code

[code]

Several information about this issue :
- although this issue is thrown, once I have catch it, the image seems to be processed anyway.
- although this code was under a classic `try/catch`, the error crashed Node.js process. I had to use this code to really catch the error :
[code]
Then, w

[2021-06-20 13:00] SettingDust commented on #1033
Same with 0.3.1

[code]

[2021-06-20 20:42] Nick-Mazuk commented on #1065
I can confirm that I'm getting the same error message with very similar code.

- Node v16
- macOS 11.4
- Intel MacBook Pro
- @squoosh/lib 0.3.1

[2021-06-21 07:50] axelf commented on #1043
Hi,

@surma
it is still not working. The same behaviour. Single files are working but a whole folder with subfolders is not working.
![Bildschirmfoto 2021-06-21 um 09 46 06](https://user-images.githubusercontent.com/1690324/122726179-0cf09780-d276-11eb-91c5-4cb27318e289.png)

[2021-06-21 11:58] #1059 closed, assigned to nobody

[2021-06-21 13:36] den1a commented on #1043
Hi.
I have a similar problem.

![Clip2net_210621155752](https://user-images.githubusercontent.com/45651923/122770716-65dc2200-d2ae-11eb-8832-234e32d3a802.png)

Here is a photo for an example.
https://disk.yandex.ru/i/ziCmVyUsZqQLog

squoosh-cli -V
0.6.4

[2021-06-21 13:54] nathnolt commented on #1064
I feel like a debounced ```input``` would be more responsive, but either ```change``` and listening to enter would also work.

[2021-06-21 14:10] surma commented on #1043
@den1a can you do me a favor and re-run that with v0.7.1?

[2021-06-21 16:53] Laesx opened #1068 "[squoosh.app] Super high resolution (10k+?) files fail to decode."
Seems like super high res or really big filesize images fail to decode, I did some light testing and it seems it only happened with 10k+ resolution files.

Windows 10
Firefox 89.0.1

The one that failed first is this image specifically:
https://files.catbox.moe/34z1m7.png

[2021-06-21 18:42] surma commented on #1068
Yeah, that’s quite possible. We decode into `ImageData` using a Canvas object, which I think is size limited. I am not sure there is much we can do, except for decoding it ourselves via Wasm, but even there I worry that decoding into a ~700MB raw RGBA buffer will cause problems.

[2021-06-21 18:47] den1a commented on #1043
There are problems in the new version :)

![line](https://user-images.githubusercontent.com/45651923/122812146-fd0a9f00-d2d9-11eb-903a-a81fc6018974.png)

Windows 7

node -v
13.14.0

squoosh-cli -V
0.7.1

[2021-06-21 18:54] surma commented on #1043
Yeah, your node version is unsupported. We only support

https://github.com/GoogleChromeLabs/squoosh/blob/dbb31a1addd420423c2be7199bbdee8299aa24eb/cli/package.json#L23

(Future releases of the Squoosh CLI will emit a warning, we just merged #1061.)

[2021-06-21 20:02] Laesx commented on #1068
Oh welp, that's a real shame. I tested in a chromium browser (edge) and it did manage to decode it, but had a really hard time encoding it and crashed the page multiple times so yeah I get where you're coming from in that it would cause problems, I will close this issue then.

[2021-06-21 20:02] #1068 closed, assigned to nobody

[2021-06-22 00:18] xfalcox commented on #988
I'm seeing this quite frequently in Android, while it works fine on Chrome/Linux, Firefox/Linux and Safari/iOS.

[2021-06-22 11:15] den1a commented on #1043
I had to upgrade from Windows 7 to Windows 10 :)
Unfortunately the problem remained.

![console](https://user-images.githubusercontent.com/45651923/122914917-d6914600-d363-11eb-952f-177602fc6755.png)

Windows 10

node -v
16.3.0

squoosh-cli -V
0.7.1

[2021-06-22 11:16] surma commented on #1043
Thank you! I’ll investigate. My hunch is that this is related to Windows.

[2021-06-23 01:17] xfalcox commented on #988
Disabling both "Linear RGB" and "Premultiply Alpha Channel" 'fixes' it so it should be related to

https://github.com/GoogleChromeLabs/squoosh/blob/dev/codecs/resize/src/lib.rs#L83-L96

[2021-06-23 07:26] den1a commented on #1043
Launched docker, but the problem remained
https://hub.docker.com/_/node/

![Clip2net_2021-06-23_09_42_34](https://user-images.githubusercontent.com/45651923/123053816-f597e280-d40c-11eb-9298-89f1a07fa2f1.png)

Debian 10

node -v
16.3.0

squoosh-cli
0.7.1

Here is a photo for an example.
![000045340_allcms_p_l](https://user-images.githubusercontent.com/45651923/123054275-617a4b00-d40d-11eb-86a2-d9e

[2021-06-23 09:40] surma commented on #988
@xfalcox Can you share an image that crashes for you and some details about browser + phone specs?

[2021-06-23 12:44] marvinhagemeister opened #1070 "Trim transparent pixels"
**Is your feature request related to a problem? Please describe.**

When I receive product shots from the design team they often contain lots of whitespace in the form of transparent pixels around the item. I need a way to remove that transparency and change the image dimensions to fit the actual content of the image.

**Describe the solution you'd like**

Trim transparent pixels around the conten

[2021-06-23 13:10] surma commented on #1070
Merging into #736 :)

[2021-06-23 13:11] surma commented on #1070
Actually no, this is specifically about cropping. Leaving this open!

[2021-06-23 16:35] JNavas2 commented on #988
@surma

I provided that information when I opened this Issue, including a video.
Here's another video I just made: [Squoosh Processing error: RuntimeError: unreachable](https://youtu.be/dm6WGFk1o0A)
**_100% reproducible. Crashes with the provided sample image_**
Device model: Google Pixel 4a 5G (bramble)
Android version: 11 (RQ3A.210605.005)

[2021-06-23 16:41] surma commented on #988
@JNavas2 I know you did. I was asking @xfalcox.

[2021-06-23 17:29] xfalcox commented on #988
The image is
![PXL_20210621_184219988](https://user-images.githubusercontent.com/1385470/123141591-ea55ae80-d42e-11eb-9ec4-46c18a3f1350.jpg)

My phone is the Pixel 3A XL on Android 12 Beta running Chrome 91.0.4472.101.

Since squoosh.app resize function is broken at the moment (`Signature Mismatch`) I'm reproducing the problem on my app where I re-use the `resize` codec directly.

[2021-06-23 22:29] nohe427 commented on #988
**Some notes and observations I made triaging this**

I tried reproducing this on my pixel 5 today and if I wait for the image to process before I uncheck "Linear RGB" and "Premultiply Alpha Channel", I do not see this error. I can continue clicking on If I quickly click resize -> and then uncheck either linear rgb or premultiply alpha channel, I see this Signature Mismatch error.

* When I inspec

[2021-06-24 11:56] surma commented on #988
Thanks for digging into this, @nohe427!

This is very curious. I might be getting ahead of ourselves, but it could be a bug in Chrome/Wasm! When DevTools is open, V8 disables the Wasm’s optimizing compiler so that you can step through your code. With DevTools closed, the optimizing compiler is active and will generated optimized (i.e. different) machine code).

Can you elaborate a bit more on this

[2021-06-24 16:13] nohe427 commented on #988
@surma

Yeah, when I discovered that opening devtools seemed to fix everything I thought I must've been doing something wrong. Good to know that tidbit about WASM optimizing compiler being disabled.

**How I tested**
I didn't do any sort of elegant debugging when testing this, but rather I just used `web_sys::console::log_1` from the `web-sys` crate. This allowed me to send messages straight to th

[2021-06-24 22:25] nohe427 commented on #988
@surma - Is there a way to individually turn on and off the WASM optimizations within DevTools in order to chase this down? Is there a larger amount of optimizations that occur with WASM like [there are with C](https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html)?

[2021-06-25 09:03] jcao219 commented on #1043
I am able to reproduce @den1a 's issue (hanging on Decoding) on Windows. Problem even persists on WSL. Investigating

Edit: I think the culprit is this line here: https://github.com/GoogleChromeLabs/squoosh/blob/149ebf5a67966cbc3a406e693f6973bc9877891a/codecs/mozjpeg/dec/mozjpeg_dec.cpp#L28

With that line, I'm seeing an error "Unsupported color conversion request"

When I remove that line and reb

[2021-06-25 12:45] surma commented on #988
This is some great sleuthing work, @nohe427! Thank you.

This one is super interesting. Does the log also go weird when DevTools is open?

If so, I increasingly suspect a V8 bug here rather than a Rust bug, and we should probably try and build a simple reproduction case that we can give to the V8 folks. What I think would be useful next steps here is to take out the .wasm and .js file _with_ your

[2021-06-25 22:54] nohe427 commented on #988
@surma

Nope. The log only goes haywire if DevTools is closed. Once DevTools is open, I cannot get the crazy logging.

It sort of makes sense, but I think I need to interrupt processing to reproduce it effectively. Let me try to explain this case a little more:

The problem that I am having is that I think the `AbortController` that exists within this project is at least partially at fault as well

[2021-06-25 23:10] JNavas2 commented on #988
@nohe427
I'm not seeing that work-around behavior here.

1. Launch Squoosh.
2. Open 1st (leftmost) sample image.
3. Wait for processing to stop.
4. Expand lower control.
5. Touch Resize.

_Immediate_ error (_before_ any processing).

[2021-06-26 08:00] jcao219 commented on #983
I'm only 50% sure, as I've only tested with the supplied image, but I think my PR #1075 may fix this hanging issue.

[2021-06-26 08:19] jrmyio opened #1076 "No quality for png (oxipng)?"
I am testing this library to replace imagemin, however I cannot find a quality setting for `oxipng` and `level` does not seem to effect the image size. In the issues I found that `oxipng` replaced `optipng` which may have had a quality setting?

What would be the way to actually compress a PNG?

I did some testing with `quant`'s `numColors ` and this works:
[code]
but I am not sure if this is the

[2021-06-26 08:33] jrmyio opened #1077 "Typescript types for @squoosh/lib"
I am trying to use `Typescript `to use `@squoosh/lib` but getting the usual error when no types are available:
[code]

Are there are no types included for this library or could I doing something wrong?

Currently using
[code]
as a workaround.

[2021-06-26 09:46] surma commented on #1076
PNG is lossless, so it doesn’t have a “quality”. `level` is indeed the amount of effort the compressor should put it into make the image smaller. So if you set `level` to `3`, you’ll get the smallest PNG that OxiPNG can produce at the cost of increased compression time. That being said, for some images `level` does indeed not make a difference. Does imagemin produce smaller images than OxiPNG?

[2021-06-26 09:47] surma commented on #1077
Yeah, we don’t have full types for libSquoosh yet, only for some of the files. It’s an incremental migration that @ergunsh is working on :)

[2021-06-26 20:58] nohe427 commented on #988
Hi @JNavas2

Yeah, I noticed that from your YouTube video. The challenge I am having is that I only have access to Pixel 5 devices right now so cannot validate the behavior that you are seeing on my device unfortunately. Are you also unable to reproduce the issue with Chrome DevTools open on your device?

[2021-06-27 01:17] JNavas2 commented on #988
@nohe427
What exactly would you like me to try?
Do you mean [Remote debug Android devices](https://developer.chrome.com/docs/devtools/remote-debugging/)?

[2021-06-27 01:53] nohe427 commented on #988
@JNavas2 - yup, exactly. Does it also crash for you when doing remote debugging? Surma indicated that web assembly optimization gets disabled when devtools is open and it would be a good indicator that we're on the right path here. I'd ask that you open squoosh first, start inspecting, then go through the normal flow to generate a crash. Does that sound okay?

[2021-06-27 02:05] JNavas2 commented on #988
@nohe427
I'll see if I can get to that tomorrow.
In the meantime, I disabled all available WebAssembly flags (as in the attached images), and that did not help.

![webassembly_flags](https://user-images.githubusercontent.com/14850792/123550665-7b74a000-d723-11eb-8a93-f39952fef028.png)

[2021-06-27 02:27] jcao219 commented on #1012
Another good option for controlling the amount of concurrrency when dealing with lots of tasks as promises would be https://www.npmjs.com/package/p-map

[2021-06-27 07:22] jrmyio commented on #1076
What makes PNG itself be lossless? That's related to the compression library (or coded) you are using. In this case squoosh uses a **lossless** compression library, but there are also **lossy** PNG compression libraries.

Yep I am using `imagemin-pngquant` (https://pngquant.org/).

Using the test image from their site and using it on squoosh.app results in an image slightly higher in size (`75kb`)

[2021-06-27 09:19] jakearchibald commented on #1076
In pngquant, the colour reduction is a preprocessing step. Squoosh uses the same library that pngquant uses to reduce the colours.

I don't think we should make this a png-only thing, as it's useful for other lossless codecs too, like WebP and JXL.

[2021-06-27 15:33] JNavas2 commented on #988
@nohe427
I confirm that with Remote Debugging on my PC, the Squoosh error did **not** occur.

[2021-06-27 22:59] jcao219 commented on #1065
I'm able to reproduce the same error message with the following minimal code:

[code]

However, the problem doesn't occur if I reuse the ImagePool:

[code]

Alternatively, if reuse of the ImagePool is not possible, I can fix the issue by passing in a limited amount of workers:

[code]

Do either of those two workarounds might apply to you, @Nick-Mazuk  and @Tchoupinax?

Meanwhile, I can dig deeper

[2021-06-28 02:04] loctran016 commented on #1065
There is an example code here: #1053 which is working. May be you guy can have a look at it.

[2021-06-28 20:37] nohe427 commented on #988
@JNavas2 - Thank you!

[2021-06-28 20:51] surma commented on #1056
Interesting. You seem to have found a v8 bug with WebAssembly on M1 here.

Your test case works fine if we disable the optimizing compiler: `node --no-wasm-tier-up ./index.js`

I’ll see if I can get this reduced further to forward to the v8 team.

[2021-06-28 21:43] surma commented on #1056
Another fun thing: It also doesn’t crash (for me) if I restrict v8’s thread pool size to < 4: `node --v8-pool-size=3 ./index.js`

[2021-06-28 22:16] surma commented on #1056
So it seems to be an upgrade issue. If I disable either the baseline compiler or the optimizing compiler, everything works fine. If I wait like 500ms before invoking the webp encoder, everything works fine. It seems that the Wasm module starts running with the output from the baseline compiler but then switches over to the output of the opimizing compiler and that makes it fail. The issue also hap

[2021-06-28 22:38] trm217 commented on #1056
Sounds interesting! Unfortunately my knowledge of WASM is fairly limited 😅
Thanks for looking into it! 🙏🏻
What kind of a smaller reproduction would you need?

[2021-06-29 11:04] surma commented on #1056
Talked to the v8 team. It is likely that this bug has been fixed a couple of days ago, and the fix should be included as of v8 9.3.

I checked the nightlies of Node 17, which is still based on v8 9.1, so we’ll have to wait a couple of days until I can check that this is indeed fixed.

Until then, I’m trying to figure out if there is a user-land workaround. I know that waiting ~100ms between Wasm i

[2021-06-29 19:30] jcao219 commented on #990
Maybe this might help with debugging: I recompiled the visdif module with `-g2` and `-s ASSERTIONS=1` and got this stack trace:

[code]

Edit: I investigated that error above (misaligned block of memory) and it appears it might be due to some compiler bug. When I recompiled with `-O0`, the assertion error disappeared, and I was left with:

[code]

[2021-06-29 23:59] yldoofYBRIK opened #1079 "Module not found: Can't resolve 'worker_threads' - libsquoosh"
I am trying to use squoosh/lib in my react app but I am getting the following error

[code]

has anyone else been running into this issue?

[2021-06-30 01:57] gavinharris-dev commented on #904
Having the same issue in Firefox too:

MacOS 11.4

Firefox: 89.0.2 (64-bit)
Chrome: Version 91.0.4472.114 (Official Build) (x86_64)

Tried the 'Large Photo' and 'Artwork'.

Error in Console:

main-app.2ef4b.js:1:79310
11:42:53.593 Uncaught (in promise) ChunkLoadError: Loading chunk 0 failed.
(error: https://squoosh.app/sw-bridge.953aa.js)
    e https://squoosh.app/:1
    Bt https://squoosh.app/mai

[2021-06-30 10:29] surma commented on #1079
What is your Node version?

[2021-06-30 11:57] jakearchibald commented on #904
Hm, I can't reproduce this, and I'm on the same version of Firefox & OSX.

Do you have any extensions installed or flags enabled that might be causing this?

[2021-06-30 12:00] jakearchibald commented on #904
@gavinharris-dev ah, you're stuck on an old broken version. It should fix itself if you close all squoosh tabs, then open it again.

[2021-06-30 17:06] yldoofYBRIK commented on #1079
14.17.1

[2021-06-30 17:26] surma commented on #1079
Just to be clear: libsquoosh doesn’t run in the browser (yet). You can’t use it with React. It’s a Node library.

[2021-06-30 18:03] Abromeit commented on #1043
The other day i converted 2500 jpeg images to avif without running into this issue.
Today i started another run with 2000 additional images (taken from the same website).
– Had several _"Unsupported color conversion request"_ messages and **decoding** seemingly stopped at file 303.  Hm…

After poking around for some time with exiftool, imagick and photoshop i tried this (fish shell, sorry):
[code]

[2021-06-30 19:07] yldoofYBRIK commented on #1079
I'm a little confused about how squoosh.app works in browser then if libsquoosh doesn't run in browser (yet).

[2021-06-30 19:34] surma commented on #1079
Yeah, I can see that. We wrote squoosh.app, then we wrote a Squoosh CLI. Both completely independent and separate (although they _do_ share the Wasm code). @atjn then extracted libsquoosh from the CLI, so that other build tools like Webpack, rollup etc could potentially make use of the image compression capabilities without having to shell out.

Squoosh the PWA remains independent, tho. The main r

[2021-06-30 22:56] atjn commented on #983
@jcao219 I just tested your PR, and I would say it fixes this problem. It still isn't optimal; it can take tens of seconds for the process to terminate after an error occurred, and there are still edge cases where the encoders themselves hang, but the main issue is fixed IMO.

[2021-06-30 23:39] atjn commented on #1060
Should I interpret your silence as a "no" to this, or more of a "we don't have time right now"?

[2021-07-01 08:46] den1a commented on #1043
Up to this point, I used a timeout to skip such images and wrote them to the database as problematic files. After finding @Abromeit, I decided to check the color scheme. And indeed all the problematic photos have a CMYK scheme

[2021-07-01 10:11] #316 closed

[2021-07-01 10:15] jakearchibald commented on #1060
@surma can you take a look at this?

I'm worried this isn't as straightforward as it seems, as the definition of "lossy" vs "lossless" is really vague. If you're using a PNG, but it's been reduced to 16 colours, is that a lossy image or a lossless image?

Also, it's possible to create a JPEG that's pixel-identical to the original, which means "lossless" by pretty much any definition of that term.

[2021-07-01 10:24] gavinharris-dev commented on #904
Nice one @jakearchibald! Tested in a Private window and it works.

I had to Unregister the Service Worker on both Firefox and Chrome to force the app to download the updated code (on my non-private window).

Love your work! 🙏

[2021-07-01 13:18] kosamari commented on #884
Housekeeping Note (ignore me !) : we consider this may be complex and long-running project. We may need to break down tasks more.

[2021-07-01 13:19] kosamari opened #1083 "[CLI] Make it run in Deno"
make our CLI (currently distributed as npm package) run on Deno

[2021-07-01 13:21] kosamari opened #1084 "[CLI] Make it run on the web"
Run command from Web interface
TODO: needs more detail on implementation

[2021-07-01 13:31] kosamari commented on #986
Note: listing codec & UI label because this will be a shared feature  (I know it is not exactly a codec :)

[2021-07-01 13:35] kosamari opened #1085 "[CLI] Mirror output folder structure"

[2021-07-01 13:37] kosamari opened #1086 "Add End to End test on Web App"
Note: we consider this a significant task. Issue may need to be broken down to smaller tasks

[2021-07-01 13:38] kosamari opened #1087 "Add `image-rendering: pixelated` toggle"
TODO: catch up with @argyleink on UI placement

[2021-07-01 13:40] kosamari opened #1088 "Add SVGOMG capabilities"
Note: we consider this a major task. Issue may need to be broken down to smaller tasks.

[2021-07-01 13:40] kosamari opened #1089 "Add ravif integration with multithreading"

[2021-07-01 13:41] kosamari opened #1090 "Make codec build scripts work with and without docker"

[2021-07-01 13:45] kosamari commented on #218
<img width="637" alt="Screen Shot 2021-07-01 at 9 44 56 AM" src="https://user-images.githubusercontent.com/4581495/124134648-0bcb2180-da51-11eb-9757-3896b6e0aec6.png">

We shall discuss design options with @argyleink before experiment

[2021-07-01 13:50] kosamari commented on #244
Note: follow up with @argyleink about better way to display image title outside of tab title.

[2021-07-01 13:51] kosamari commented on #15
@developit @jakearchibald this issue seems old. can we close it?

[2021-07-01 13:52] kosamari commented on #149
Closing this because it is a pinch-zoom component

[2021-07-01 13:52] #149 closed

[2021-07-01 13:53] jakearchibald commented on #15
Yep!